Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

fix: Add LL-029 - ALWAYS verify date before reporting
  rag_knowledge/lessons_learned/ll_029_always_verify_date.md
Due: none

feat: Enhance RAG verification and add permanent autonomous mandate
  rag_knowledge/lessons_learned/ll_permanent_autonomous_mandate.md
  scripts/ingest_lesson.py
  scripts/query_rag.py
  scripts/verify_against_lessons.py
  tests/test_lessons_compliance.py
Due: smoke-tests

feat: Add verification tests for config enum validation (LL_033) (#625)
  .pre-commit-config.yaml
  rag_knowledge/lessons_learned/ll_033_config_enum_validation.md
  scripts/validate_config_enums.py
  tests/test_config_schema_validation.py
Due: validate-yaml-strict, smoke-tests

fix: Crypto momentum filter + Extreme Fear override (#632)
  .github/FORCE_CRYPTO
  .github/workflows/force-crypto-trade.yml
  .github/workflows/weekend-crypto-trading.yml
  data/system_state.json
Due: validate-yaml-strict

trade: world-class crypto v3.0 [skip ci]
  data/trades_2025-12-14.json
Due: none

fix: Add crypto order fill verification (LL-034) (#634)
  .github/workflows/force-crypto-trade.yml
  .github/workflows/weekend-crypto-trading.yml
  rag_knowledge/lessons_learned/ll_034_crypto_order_fill_verification.md
Due: validate-yaml-strict

cleanup: Remove placeholder sentiment sources + add LL-034 prevention (#635)
  .claude/skills/youtube-analyzer/SKILL.md
  .env.example
  .pre-commit-config.yaml
  docs/linkedin-collector-usage.md
  docs/tiktok-sentiment-collector.md
  docs/unified_sentiment.md
  examples/tiktok_sentiment_example.py
  examples/unified_sentiment_example.py
  rag_knowledge/lessons_learned/ll_034_placeholder_code_antipattern.md
  scripts/detect_placeholders.py
  scripts/generate_rag_wiki.py
  src/rag/collectors/__init__.py
  src/rag/collectors/linkedin_collector.py
  src/rag/collectors/orchestrator.py
  src/rag/collectors/tiktok_collector.py
  src/utils/unified_sentiment.py
  tests/test_no_placeholder_code.py
  tests/test_tiktok_collector.py
  wiki/RAG-Knowledge-Base.md
Due: test-crypto-imports, validate-yaml-strict, smoke-tests

chore: Add core dumps to gitignore
  .gitignore
Due: none

trade: world-class crypto v3.0 [skip ci]
  data/trades_2025-12-15.json
Due: none

fix: complete Alpaca SDK migration (P0 - ll_025 prevention) (#636)
  .pre-commit-config.yaml
  requirements-minimal.txt
  scripts/check_alpaca_status.py
  scripts/check_positions.py
  scripts/verify_trades.py
Due: validate-yaml-strict, smoke-tests

feat: add workflow contract tests (P0 - ll_025 prevention) (#637)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  tests/test_workflow_contracts.py
Due: validate-yaml-strict, smoke-tests

feat: Crypto strategy v4.0 - trend-aware (only buy above 50-day MA) (#638)
  .github/workflows/force-crypto-trade.yml
  .github/workflows/weekend-crypto-trading.yml
Due: validate-yaml-strict

trade: crypto v4.0 (trend-aware) [skip ci]
  data/trades_2025-12-15.json
Due: none

feat: add enhanced Python syntax validation (P0 - ll_024 prevention) (#639)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  tests/test_syntax_validation.py
Due: validate-yaml-strict, smoke-tests

feat(verification): Add comprehensive multi-layered verification system (#630)
  .github/workflows/comprehensive-verification.yml
  .github/workflows/daily-verification-monitor.yml
  docs/VERIFICATION_SYSTEM.md
  rag_knowledge/lessons_learned/ll_033_comprehensive_verification_system_dec14.md
  scripts/pre_merge_gate.py
  src/verification/__init__.py
  src/verification/ml_anomaly_detector.py
  src/verification/rag_verification_gate.py
  tests/test_syntax_verification.py
  tests/test_verification_system.py
Due: validate-yaml-strict, smoke-tests

feat: Add comprehensive code health verification system (#640)
  .github/workflows/weekly-code-audit.yml
  rag_knowledge/code_audits/audit_20251215.json
  scripts/weekly_code_health_audit.py
  tests/test_feature_completeness.py
Due: validate-yaml-strict, smoke-tests

feat: Add LL-033 lesson + verification tests (#633)
  rag_knowledge/lessons_learned/ll_033_negative_momentum_buying_dec14.md
  tests/test_crypto_trade_verification.py
Due: smoke-tests

fix: Improve code health audit accuracy (#641)
  docs/archive/PHASE2_IMPLEMENTATION_SUMMARY.md
  docs/archive/RAG_TRADING_INTEGRATION.md
  docs/archive/RL_ARCHITECTURE_SIMPLIFIED.md
  docs/archive/RL_INTEGRATION_GUIDE.md
  docs/archive/RL_OPTIMIZATIONS_COMPLETE.md
  docs/archive/UNUSED_FILE_DETECTION.md
  docs/archive/WORLD_CLASS_AI_TRADING_GAP_ANALYSIS.md
  docs/archive/north-star-improvements-summary.md
  docs/archive/ops-runbook.md
  docs/archive/optimized-allocation-guide.md
  docs/archive/rss_newsletter_setup.md
  docs/archive/scaling-roadmap-v2.md
  docs/archive/trading-bot-roadmap.md
  rag_knowledge/code_audits/audit_20251215.json
  scripts/weekly_code_health_audit.py
Due: smoke-tests

feat: Add comprehensive quantum physics and quantum trading resources to RAG system
  config/quantum_physics_trading_resources.yaml
  data/rag/in_memory_store.json
  rag_knowledge/quantum/README.md
  rag_knowledge/quantum/ingestion_summary.json
  rag_knowledge/quantum/qaoa_portfolio_optimization.md
  rag_knowledge/quantum/quantum_finance_overview.md
  rag_knowledge/quantum/quantum_trading_quick_start.md
  scripts/ingest_quantum_resources.py
Due: validate-yaml-strict, smoke-tests

docs: Add quantum resources deployment summary
  rag_knowledge/quantum/DEPLOYMENT_SUMMARY.md
Due: none

Add quantum physics and trading resources to RAG system (#647)
  config/quantum_physics_trading_resources.yaml
  data/rag/in_memory_store.json
  rag_knowledge/quantum/DEPLOYMENT_SUMMARY.md
  rag_knowledge/quantum/README.md
  rag_knowledge/quantum/ingestion_summary.json
  rag_knowledge/quantum/qaoa_portfolio_optimization.md
  rag_knowledge/quantum/quantum_finance_overview.md
  rag_knowledge/quantum/quantum_trading_quick_start.md
  scripts/ingest_quantum_resources.py
Due: validate-yaml-strict, smoke-tests

feat: Add crypto take-profit monitor (+5% TP, -7% SL)
  .github/workflows/crypto-take-profit.yml
Due: validate-yaml-strict

feat: Crypto Strategy v4.1 - RSI momentum confirmation (#649)
  .github/workflows/force-crypto-trade.yml
  .github/workflows/weekend-crypto-trading.yml
  crypto_analysis_dec_15_2025.md
Due: validate-yaml-strict

feat: Add LL-040 lesson learned and v4.1 strategy tests (#650)
  rag_knowledge/lessons_learned/ll_040_catching_falling_knives_dec15.md
  tests/integration/test_crypto_strategy_v41.py
Due: smoke-tests

feat: Enable LangSmith tracing in trading workflows (#653)
  .github/workflows/combined-trading.yml
Due: validate-yaml-strict

feat: Complete verification system + ML pipeline + RAG indexer (#652)
  .github/workflows/ci.yml
  .github/workflows/monitor-trade-skips.yml
  RSI_OPTIMIZER_README.md
  data/rag/lessons_indexing_stats.json
  data/rag/lessons_learned_index.json
  data/rag/tfidf_vectorizer.pkl
  docs/trade-skip-monitoring.md
  scripts/BACKTEST_README.md
  scripts/backtest_crypto_strategy.py
  scripts/check_consecutive_skips.py
  scripts/index_lessons_learned.py
  scripts/pre_merge_gate.py
  scripts/test_backtest_syntax.sh
  scripts/train_rsi_model.py
  src/ml/rsi_optimizer.py
  src/rag/lessons_indexer.py
  src/rag/lessons_search.py
Due: test-crypto-imports, validate-yaml-strict, smoke-tests

fix: Stop pyramid buying & add honest metrics (#654)
  .claude/hooks/inject_trading_context.sh
  .claude/hooks/load_trading_state.sh
  docs/HONEST_EDGE_ASSESSMENT.md
  scripts/honest_edge_test.py
  src/strategies/crypto_strategy.py
  src/strategies/simple_edge_strategy.py
  src/utils/fear_greed_index.py
Due: test-crypto-imports, smoke-tests

test: Add safeguards to prevent pyramid buying mistakes (#655)
  .github/workflows/strategy-sanity-gate.yml
  rag_knowledge/lessons_learned/ll_020_pyramid_buying_fear_destroyed_96_dec15.md
  tests/test_strategy_sanity.py
Due: validate-yaml-strict, smoke-tests

Consolidate LangSmith to Single Project (#657)
  .env.example
  .github/workflows/adk-ci.yml
  .github/workflows/agent-pr-handler.yml
  .github/workflows/autonomous-issue-resolution.yml
  .github/workflows/backtest-gate.yml
  .github/workflows/bogleheads-ingestion.yml
  .github/workflows/bogleheads-learning.yml
  .github/workflows/daily-trading.yml
  .github/workflows/dashboard-auto-update.yml
  .github/workflows/data-hygiene.yml
  .github/workflows/model-training.yml
  .github/workflows/rl-training-continuous.yml
  .github/workflows/weekend-crypto-trading.yml
  src/utils/langsmith_wrapper.py
Due: validate-yaml-strict, smoke-tests

feat: add automated health monitoring and alerts (P1) (#660)
  .github/workflows/daily-trading.yml
  .github/workflows/health-alert.yml
  scripts/health_monitor.py
Due: validate-yaml-strict, smoke-tests

fix: Remove duplicate --system flag, keep LangSmith config (#662)
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

trade: crypto v4.1 (trend+momentum) [skip ci]
  data/trades_2025-12-15.json
Due: none

fix: Critical workflow bugs blocking all trading
  .github/workflows/combined-trading.yml
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

feat: Complete ML learning loop - RAG verification pipeline (#667)
  .claude/commands/capture-learning.md
  .claude/hooks/capture_session_learnings.sh
  data/backtest_scenarios/scenarios_20251215_160106.json
  data/ml/anomaly_training_queue.json
  data/system_state.json
  src/backtesting/lesson_to_backtest.py
  src/ml/anomaly_to_training_bridge.py
  src/verification/data_freshness_gate.py
  src/verification/failure_to_lesson_pipeline.py
  src/verification/ml_confidence_gate.py
  src/verification/pre_trade_rag_check.py
  tests/test_lesson_backtests.py
Due: smoke-tests

fix: All workflow bugs (options + equities)
  .ai_proof_of_fix.md
  rag_knowledge/lessons_learned/ll_035_failed_to_use_rag_dec15.md
  src/strategies/options_iv_signal.py
Due: smoke-tests

perf: Optimize trading parameters based on CTO analysis
  data/system_state.json
  src/orchestrator/main.py
  src/risk/risk_manager.py
Due: smoke-tests

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
