Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

docs: update progress log with Dec 9 session (#376)
  claude-progress.txt
Due: none

fix(sentiment): reduce noise in trading signals (#377)
  src/agents/rl_agent.py
  src/utils/unified_sentiment.py
Due: smoke-tests

fix(lint): remove unused import and sort imports (#378)
  src/signals/__init__.py
  tests/test_kalshi_oracle.py
Due: smoke-tests

feat(options): enable theta automation and accelerate share accumulation (#380)
  .env.example
  src/orchestration/elite_orchestrator.py
  src/strategies/options_accumulation_strategy.py
  tests/test_metrics_sanity.py
Due: smoke-tests

feat(dashboard): add world-class unified trading dashboard (#381)
  dashboard/README.md
  dashboard/main.py
  scripts/run_dashboard.sh
Due: none

fix(risk): address real gaps in trading system (#382)
  claude-progress.txt
  src/backtesting/backtest_engine.py
  src/core/alpaca_trader.py
  src/risk/trade_gateway.py
  src/strategies/mean_reversion_strategy.py
  src/utils/market_hours.py
Due: smoke-tests

fix: unblock trading pipeline + enable Tradier failover (#383)
  docs/BROKER_FAILOVER.md
  examples/broker_failover_demo.py
  scripts/autonomous_trader.py
  src/execution/alpaca_executor.py
  src/orchestrator/main.py
  src/risk/position_manager.py
  src/strategies/legacy_momentum.py
Due: test-crypto-imports, smoke-tests

feat: Research-backed psychology integration for LLM trading (#384)
  src/agents/debate_agents.py
  src/agents/signal_agent.py
  src/coaching/mental_toughness_coach.py
  src/coaching/reflexion_loop.py
  src/core/multi_llm_analysis.py
  src/orchestrator/main.py
Due: smoke-tests

fix(lint): fix all pre-existing lint errors (#386)
  examples/broker_failover_demo.py
  src/agents/debate_agents.py
  src/coaching/mental_toughness_coach.py
  src/execution/alpaca_executor.py
Due: smoke-tests

feat: add stock lending income tracking module (#388)
  scripts/check_lending_income.py
  src/income/__init__.py
  src/income/stock_lending.py
Due: smoke-tests

fix(lint): fix remaining lint errors (#389)
  src/orchestrator/main.py
  src/risk/trade_gateway.py
  src/signals/__init__.py
  tests/test_metrics_sanity.py
Due: smoke-tests

docs: add quant hedge fund research and action items (#390)
  docs/quant-hedge-fund-research.md
  docs/quant-research-action-items.md
Due: none

fix(lint): fix final import sorting issues (#391)
  src/agents/debate_agents.py
  src/income/__init__.py
  tests/test_kalshi_oracle.py
Due: smoke-tests

style: auto-format 17 files with ruff (#392)
  dashboard/main.py
  examples/broker_failover_demo.py
  scripts/autonomous_trader.py
  scripts/check_lending_income.py
  src/agents/debate_agents.py
  src/agents/signal_agent.py
  src/backtesting/backtest_engine.py
  src/coaching/mental_toughness_coach.py
  src/coaching/reflexion_loop.py
  src/core/multi_llm_analysis.py
  src/income/stock_lending.py
  src/orchestration/elite_orchestrator.py
  src/signals/kalshi_oracle.py
  src/strategies/core_strategy.py
  src/utils/unified_sentiment.py
  tests/test_kalshi_oracle.py
  tests/test_metrics_sanity.py
Due: test-crypto-imports, smoke-tests

fix(tests): add skip_market_hours_check flag for test resilience (#393)
  src/risk/trade_gateway.py
  tests/test_trade_gateway.py
Due: smoke-tests

feat(resilience): enable broker failover in daily trading (#394)
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

fix(honesty): correct day counter and remove misleading metrics (#395)
  .claude/hooks/inject_trading_context.sh
  data/system_state.json
Due: none

fix(crypto): enable 24/7 weekend trading with 4x daily executions (#396)
  .github/workflows/weekend-crypto-trading.yml
  scripts/check_duplicate_execution.py
  src/strategies/crypto_strategy.py
Due: test-crypto-imports, validate-yaml-strict, smoke-tests

feat(roadmap): implement honest trading strategy pivot (#397)
  .github/workflows/daily-trading.yml
  README.md
  docs/trading-bot-roadmap.md
  scripts/backtest_historic.py
  src/agents/crypto_weekend_agent.py
  src/utils/unified_sentiment.py
Due: validate-yaml-strict, smoke-tests

feat(rag): add comprehensive options trading knowledge base (#398)
  rag_knowledge/chunks/advanced_options_income_strategies_2025.json
  rag_knowledge/chunks/mcmillan_options_strategic_investment_2025.json
  rag_knowledge/chunks/options_alpha_education_2025.json
  rag_knowledge/chunks/tastytrade_options_education_2025.json
  rag_knowledge/knowledge_index.json
  rag_knowledge/youtube/insights/options_education_sources.json
Due: none

feat(crypto): integrate CryptoWeekendAgent for mean-reversion (#401)
  data/backtests/historic_validation.json
  data/system_state.json
  scripts/autonomous_trader.py
Due: test-crypto-imports, smoke-tests

feat(mcp): integrate Microsoft Learn MCP Server (#402)
  .claude/MCP_SETUP_INSTRUCTIONS.md
  .claude/mcp_config.json
Due: none

feat(options): world-class options trading system with RAG integration (#403)
  OPTIONS_EXECUTOR_SUMMARY.md
  RAG_DELIVERABLES.txt
  RAG_INTEGRATION_SUMMARY.md
  data/backtests/options_backtest_6month.json
  data/backtests/options_backtest_summary.md
  docs/RAG_TRADING_INTEGRATION.md
  docs/options_iv_signal_generator_usage.md
  reports/options_evaluation_report_2025-12-10.json
  scripts/autonomous_trader.py
  scripts/run_options_backtest.py
  scripts/test_rag_integration.py
  src/agents/execution_agent.py
  src/analytics/options_profit_planner.py
  src/signals/options_iv_signal_generator.py
  src/trading/options_executor.py
  src/trading/rag_trade_advisor.py
  tests/test_rag_trade_advisor.py
Due: test-crypto-imports, smoke-tests

docs: reinforce autonomous PR management in CLAUDE.md (#404)
  .claude/CLAUDE.md
Due: none

docs: reinforce full agentic PR control in permanent memory (#405)
  .claude/CLAUDE.md
Due: none

fix(strategy): widen exit thresholds to improve Sharpe ratios (#407)
  src/strategies/core_strategy.py
  src/strategies/growth_strategy.py
Due: smoke-tests

chore: update backtest validation results (#409)
  data/backtests/historic_validation.json
Due: none

fix: reset last_updated to enable trading execution
  data/system_state.json
Due: none

feat(rl): enable DiscoRL and add training on closed trades (#413)
  src/agents/rl_agent.py
  src/orchestrator/main.py
Due: smoke-tests

feat: add LLM architecture notes (Carlos Perez critique) (#414)
  rag_knowledge/chunks/lessons_learned_2025.json
  rag_knowledge/knowledge_index.json
  src/backtesting/backtest_engine.py
  src/strategies/growth_strategy.py
Due: smoke-tests

fix: handle timezone-naive datetime in duplicate check
  scripts/check_duplicate_execution.py
Due: smoke-tests

docs(CLAUDE.md): reinforce PR autonomy directive (#416)
  .claude/CLAUDE.md
Due: none

feat(agents): integrate Claude Agent SDK with 1M context windows (#417)
  config/sandbox_config.json
  docs/agent-sdk-integration.md
  src/agent_framework/__init__.py
  src/agent_framework/agent_sdk_config.py
  src/agent_framework/context_engine.py
Due: smoke-tests

docs: reinforce full agentic control for PR management (#418)
  .claude/CLAUDE.md
Due: none

feat(options): integrate OptionsIVSignalGenerator + OptionsExecutor (#420)
  src/orchestrator/main.py
Due: smoke-tests

feat(options): add automated options trading workflow (#419)
  .claude/CLAUDE.md
  .github/workflows/options-trading.yml
  scripts/execute_options_trade.py
Due: validate-yaml-strict, smoke-tests

fix(trading): tighten signal thresholds and modernize CLAUDE.md (#421)
  .claude/CLAUDE.md
  docs/trading-thresholds.md
  src/strategies/legacy_momentum.py
Due: smoke-tests

feat(options): add world-class options trading infrastructure (#422)
  docs/VIX_MONITOR_QUICKSTART.md
  docs/VIX_MONITOR_SYSTEM.md
  docs/options_backtest_engine.md
  docs/vix_monitor_usage.md
  examples/iv_analysis_demo.py
  examples/vix_monitor_integration.py
  rag_knowledge/options/cboe_market_structure.md
  rag_knowledge/options/cboe_metadata.json
  rag_knowledge/options/cboe_options_strategies.md
  rag_knowledge/options/cboe_volatility_indices.md
  rag_knowledge/options/cboe_volatility_products.md
  rag_knowledge/options/natenberg_metadata.json
  rag_knowledge/options/natenberg_options_bible.md
  scripts/run_options_backtest.py
  src/backtesting/__init__.py
  src/backtesting/options_backtest.py
  src/options/README.md
  src/options/__init__.py
  src/options/iv_data_integration.py
  src/options/vix_monitor.py
  tests/test_iv_integration.py
  tests/test_options_backtest.py
  tests/test_vix_monitor.py
Due: smoke-tests

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
