Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-workflow-secrets:
  name: Validate Workflow Secrets (Zero Tolerance)
  entry: python3 scripts/validate_workflow_secrets.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

detect-dead-code:
  name: Dead Code Detector
  entry: python3 scripts/detect_dead_code.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

verify-strategy-integration:
  name: Verify Strategy Integration (ll_012 Prevention)
  entry: python3 scripts/verify_strategy_integration.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-config-enums:
  name: Validate Config Enum Values (ll_033 Prevention)
  entry: python3 scripts/validate_config_enums.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-trading-script-syntax:
  name: Validate Critical Trading Scripts Syntax (ll_024 Prevention)
  ...

weekend-crypto-workflow-check:
  name: Weekend Crypto Workflow Validation
  entry: python3 -c "import yaml; f=open('.github/workflows/weekend-crypto-trading.yml'); d=yaml.safe_load(f); assert 'PYTHONPATH' in str(d), 'Missing PYTHONPATH'; assert 'CRYPTO_FORCE_TRADE' in str(d), 'Missing CRYPTO_FORCE_TRADE'"
  language: system
  ...

chore: System hygiene - Monte Carlo, JSON fix, branch cleanup (#2450)
  .claude/prd.json
  data/system_state.json
  scripts/backtest/bull_put_spread_backtester.py
  scripts/generate_daily_blog_post.py
  src/backtest/__init__.py
  src/backtest/monte_carlo.py
  tests/test_monte_carlo.py
  tests/test_risk_metrics.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

fix(tests): Fix CI test failures for monte_carlo and risk_metrics (#2453)
  src/backtest/monte_carlo.py
  src/backtest/risk_metrics.py
  tests/test_monte_carlo.py
  tests/test_risk_metrics.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#2455)
  data/system_state.json
Due: verify-strategy-integration

chore: Pre-market data sync [auto] (#2456)
  data/heartbeat.json
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2457)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2459)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2461)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2463)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2464)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2465)
  data/system_state.json
Due: verify-strategy-integration

chore(data): Update system state sync timestamp (#2468)
  data/system_state.json
Due: verify-strategy-integration

fix(trading): Implement LL-268 prevention items to unblock trading (#2469)
  rag_knowledge/lessons_learned/ll_268_iron_condor_execution_failure_jan19.md
  scripts/close_excess_spreads.py
  scripts/iron_condor_trader.py
  tests/test_iron_condor_validation.py
Due: smoke-tests, detect-dead-code

chore(data): Update system state sync timestamp (#2473)
  data/system_state.json
Due: verify-strategy-integration

fix(trading): Add --symbol argument to iron_condor_trader.py argparse (#2475)
  scripts/iron_condor_trader.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#2476)
  data/system_state.json
Due: verify-strategy-integration

fix(trading): Add workflow to close orphan SPY puts (#2478)
  .github/workflows/close-orphan-spy-puts.yml
  scripts/close_orphan_spy_puts.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix(trading): DISABLE SmartDCA stock buying - IRON CONDORS ONLY (#2480)
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix(trading): Improve RAG blocking logic - skip resolved lessons (#2481)
  scripts/iron_condor_trader.py
Due: smoke-tests, detect-dead-code

chore(ralph): Update prd.json iteration to 139 (#2482)
  .claude/prd.json
Due: none

🚨 CRISIS: Trigger trading to close SOFI position (#2472)
  TRIGGER_TRADE.md
  rag_knowledge/lessons_learned/ll_213_trading_system_fixes_jan15.md
  rag_knowledge/lessons_learned/ll_242_adversarial_audit_strategy_mismatch_jan19.md
  rag_knowledge/lessons_learned/ll_244_adversarial_audit_findings_jan19.md
  rag_knowledge/lessons_learned/ll_246_position_count_not_enforced_jan19.md
  rag_knowledge/lessons_learned/ll_247_sofi_pdt_crisis_jan20.md
  rag_knowledge/lessons_learned/ll_268_iron_condor_execution_failure_jan19.md
Due: none

🚨 FIX: Downgrade obsolete CRITICAL lessons blocking all trades (#2483)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2484)
  data/system_state.json
Due: verify-strategy-integration

docs(rag): Record LL-276 - Day 2 crisis, no CALL legs in iron condor (#2488)
  rag_knowledge/lessons_learned/ll_276_day2_crisis_no_call_legs_jan21.md
Due: none

chore: Sync Alpaca paper account status [auto] (#2490)
  data/system_state.json
Due: verify-strategy-integration

🛡️ PREVENT: Add SPY-only validation to bypass workflows (LL-273) (#2492)
  .github/workflows/emergency-close-options.yml
  .github/workflows/emergency-simple-trade.yml
  tests/test_claudemd_compliance.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

chore(data): Update system state sync timestamp (#2493)
  data/system_state.json
Due: verify-strategy-integration

chore(data): Update system state sync timestamp (#2495)
  data/system_state.json
Due: verify-strategy-integration

Merge claude/rag-without-vectors-F839F into main - fix LL-272 strategy violations (#2497)
  .github/workflows/daily-voo-dca.yml
  .github/workflows/emergency-simple-trade.yml
  data/system_state.json
  rag_knowledge/lessons_learned/ll_272_strategy_violation_crisis_jan21.md
  scripts/liquidate_non_compliant_positions.py
  tests/test_risk_metrics.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2498)
  data/system_state.json
Due: verify-strategy-integration

chore(ralph): Update prd.json iteration to 140 - RAG success patterns (#2499)
  .claude/prd.json
  data/system_state.json
  src/utils/ticker_whitelist.py
  tests/test_ticker_whitelist.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2500)
  data/system_state.json
Due: verify-strategy-integration

chore(data): Update system state sync timestamp (#2501)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2502)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2503)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2504)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2506)
  data/system_state.json
Due: verify-strategy-integration

fix(iron_condor): Count only OPTIONS, not SPY shares in position limit (#2508)
  scripts/iron_condor_trader.py
Due: smoke-tests, detect-dead-code

feat(strategy): Update North Star to $100/day AFTER-TAX profit (PERMANENT) (#2507)
  .claude/CLAUDE.md
  .github/workflows/daily-trading.yml
  rag_knowledge/lessons_learned/LL-272_SOFI_Position_Blocked_Trading_Jan21.md
  rag_knowledge/lessons_learned/LL-273_CTO_Failure_Stale_Data_Jan21.md
  scripts/assert_spy_only_positions.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

chore: Sync dashboard data [auto]
  data/system_state.json
Due: verify-strategy-integration

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$
