Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-workflow-secrets:
  name: Validate Workflow Secrets (Zero Tolerance)
  entry: python3 scripts/validate_workflow_secrets.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

detect-dead-code:
  name: Dead Code Detector
  entry: python3 scripts/detect_dead_code.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

verify-strategy-integration:
  name: Verify Strategy Integration (ll_012 Prevention)
  entry: python3 scripts/verify_strategy_integration.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-config-enums:
  name: Validate Config Enum Values (ll_033 Prevention)
  entry: python3 scripts/validate_config_enums.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-trading-script-syntax:
  name: Validate Critical Trading Scripts Syntax (ll_024 Prevention)
  ...

weekend-crypto-workflow-check:
  name: Weekend Crypto Workflow Validation
  entry: python3 -c "import yaml; f=open('.github/workflows/weekend-crypto-trading.yml'); d=yaml.safe_load(f); assert 'PYTHONPATH' in str(d), 'Missing PYTHONPATH'; assert 'CRYPTO_FORCE_TRADE' in str(d), 'Missing CRYPTO_FORCE_TRADE'"
  language: system
  ...

chore(data): Update system state timestamps from session
  data/system_state.json
Due: verify-strategy-integration

chore(rag): Add LL-231 failure analysis - $5K vs $100K account
  rag_knowledge/lessons_learned/ll_231_5k_vs_100k_failure_analysis_jan19.md
Due: none

chore(data): Update system state timestamps from session start
  data/system_state.json
Due: verify-strategy-integration

feat(security): Add MCP security layer based on arXiv:2506.19676 (#2115)
  data/rag/evaluations/mcp_security_survey_arxiv_jan19.json
  data/rag/lessons/ll_222_mcp_security_audit_jan19.json
  src/utils/security.py
  tests/test_security.py
Due: smoke-tests, detect-dead-code

chore(data): Sync system state metadata (#2128)
  data/system_state.json
Due: verify-strategy-integration

fix: Create missing directories for Phil Town ingestion
  data/system_state.json
  data/youtube_cache/.gitkeep
  rag_knowledge/blogs/.gitkeep
  rag_knowledge/lessons_learned/auto_sync_failed_jan19_3.md
Due: verify-strategy-integration

feat(alerts): Add notification steps to critical workflows (#2052)
  .github/workflows/execute-credit-spread.yml
  .github/workflows/sync-alpaca-status.yml
  .github/workflows/trading-health-monitor.yml
  data/system_state.json
Due: validate-yaml-strict, validate-workflow-secrets, verify-strategy-integration

chore: Sync dashboard data [auto]
  data/system_state.json
Due: verify-strategy-integration

fix: Enforce 5% position limit per CLAUDE.md mandate
  src/risk/risk_manager.py
  tests/test_risk_manager.py
Due: smoke-tests, detect-dead-code

feat: Add notification workflow for critical failures
  .github/workflows/notify-failure.yml
  data/system_state.json
Due: validate-yaml-strict, validate-workflow-secrets, verify-strategy-integration

fix(critical): Enforce 5% position limit across all modules (#2054, #2033) (#2135)
  .github/workflows/close-put-position.yml
  src/risk/risk_manager.py
  src/risk/trade_gateway.py
  src/safety/mandatory_trade_gate.py
  tests/test_mandatory_trade_gate.py
  tests/test_risk_manager.py
  tests/test_trade_gateway.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: Use GetCalendarRequest for Alpaca calendar API
  .github/workflows/execute-credit-spread.yml
  .secrets.baseline
Due: validate-yaml-strict, validate-workflow-secrets

feat(blog): Sync RAG lessons to blog for Jan 18-19
  .claude/prd.json
  docs/_posts/2026-01-18-lessons-learned.md
  docs/_posts/2026-01-19-lessons-learned.md
Due: none

chore: Sync Alpaca paper account status [auto] (#2139)
  data/system_state.json
Due: verify-strategy-integration

chore(data): Update system state timestamps from session start (#2142)
  data/system_state.json
Due: verify-strategy-integration

fix: Add missing pre-commit hook validation scripts
  scripts/validate_workflow_secrets.py
  scripts/validate_yaml_before_commit.sh
Due: smoke-tests, detect-dead-code

chore: Pre-market data sync [auto] (#2144)
  data/heartbeat.json
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2145)
  data/system_state.json
Due: verify-strategy-integration

fix(critical): Add US market holiday detection to trading context hook (#2148)
  .claude/hooks/inject_trading_context.sh
Due: none

fix(hooks): Check meta.last_updated for data freshness (#2150)
  .claude/hooks/inject_trading_context.sh
  data/system_state.json
Due: verify-strategy-integration

fix(ci): Make workflow commit steps fault-tolerant (#2149)
  .github/workflows/execute-credit-spread.yml
  .github/workflows/notify-alert.yml
  .github/workflows/phil-town-ingestion.yml
  .github/workflows/sync-system-state.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Sync Alpaca paper account status [auto] (#2152)
  data/system_state.json
Due: verify-strategy-integration

chore(data): Update system state sync timestamp (#2153)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2154)
  data/system_state.json
Due: verify-strategy-integration

fix(security): Critical adversarial audit fixes (Jan 19, 2026) (#2157)
  src/execution/alpaca_executor.py
  src/safety/mandatory_trade_gate.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#2158)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2159)
  data/system_state.json
Due: verify-strategy-integration

refactor(config): Centralize ALLOWED_TICKERS (Jan 19, 2026) (#2161)
  src/core/trading_constants.py
  src/risk/pre_trade_checklist.py
  src/risk/trade_gateway.py
  src/safety/mandatory_trade_gate.py
  src/trading/options_executor.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#2164)
  data/system_state.json
Due: verify-strategy-integration

docs(rag): Add LL-242 adversarial audit findings (#2163)
  data/system_state.json
  rag_knowledge/lessons_learned/ll_241_holiday_hallucination_jan19.md
  rag_knowledge/lessons_learned/ll_242_adversarial_audit_strategy_mismatch_jan19.md
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2166)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2168)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2169)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2170)
  data/system_state.json
Due: verify-strategy-integration

chore(data): Update system state sync timestamp (#2171)
  data/system_state.json
Due: verify-strategy-integration

fix: Enforce 5% per-position limit BEFORE trade execution (#2167)
  .github/workflows/execute-credit-spread.yml
  rag_knowledge/lessons_learned/ll_232_5pct_position_limit_enforcement_jan19.md
  rag_knowledge/lessons_learned/ll_233_5pct_limit_script_bypass_jan19.md
  rag_knowledge/lessons_learned/ll_234_position_size_hardcoded_violations_jan19.md
  scripts/execute_credit_spread.py
  scripts/iron_condor_trader.py
  scripts/rule_one_trader.py
  scripts/simple_daily_trader.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: Resolve merge conflict - keep stop-loss step and updated failure alert (#2172)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2173)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2174)
  data/system_state.json
Due: verify-strategy-integration

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$
