Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

fix: RAG crash fixes + IV data integration + cleanup (#847)
  docs/r-and-d-phase.md
  feature_list.json
  run_log.txt
  src/orchestrator/main.py
  src/rag/lessons_learned_rag.py
  src/rag/sentiment_store.py
  src/rag/vector_db/retriever.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

fix: Dialogflow webhook + Anti-lying protocols (#846)
  .claude/rules/MANDATORY_RULES.md
  .github/workflows/switch-agent-to-flow.yml
  data/performance_log.json
  data/system_state.json
  data/trades_2025-12-23.json
  rag_knowledge/lessons_learned/ll_058_stale_data_lying_incident_dec23.md
Due: validate-yaml-strict, validate-workflow-secrets, verify-strategy-integration

fix: Add dates to GitHub Pages Featured Lessons section
  docs/index.md
Due: none

fix: Resolve 68% LangSmith trace error rate - 7 bugs (#849)
  .github/workflows/daily-trading.yml
  src/observability/langsmith_tracer.py
  src/observability/orchestrator_hooks.py
  src/orchestrator/gates.py
  src/utils/langsmith_wrapper.py
  verify_langsmith.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

docs: Add Lesson #058 - LangSmith 68% trace error rate (Dec 23)
  docs/_lessons/ll_058_langsmith_trace_errors_dec23.md
Due: none

docs: Add Lesson #058 - LangSmith 68% trace error rate (Dec 23)
  rag_knowledge/lessons_learned/ll_058_langsmith_trace_errors_dec23.md
Due: none

refactor: Remove unused broker integrations (Tradier, IBKR, Kalshi) (#851)
  .env.example
  scripts/autonomous_trader.py
  scripts/execute_options_trade.py
  src/brokers/__init__.py
  src/brokers/ibkr_client.py
  src/brokers/kalshi_client.py
  src/brokers/multi_broker.py
  src/brokers/tradier_client.py
  src/rag/collectors/fred_collector.py
Due: test-crypto-imports, smoke-tests, detect-dead-code, verify-strategy-integration, validate-trading-script-syntax

feat: Implement real FRED API integration for Treasury yields (#852)
  .env.example
  src/rag/collectors/fred_collector.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

feat: Implement BATS budget-aware model selector (#853)
  rag_knowledge/lessons_learned/ll_025_bats_budget_framework.md
  src/agents/base_agent.py
  src/agents/bogleheads_agent.py
  src/agents/gamma_exposure_agent.py
  src/core/config.py
  src/utils/model_selector.py
Due: smoke-tests, detect-dead-code

fix: Resolve all pre-existing ruff lint and format errors (#854)
  scripts/generate_daily_blog_post.py
  scripts/generate_world_class_dashboard_enhanced.py
  scripts/ingest_options_youtube.py
  scripts/ingest_phil_town_youtube.py
  scripts/rag_chat.py
  scripts/system_health_check.py
  scripts/vectorize_rag_knowledge.py
  src/agents/dialogflow_webhook.py
  src/orchestration/adaptive_orchestrator.py
  src/orchestration/context_engine.py
  src/orchestrator/main.py
  src/rag/collectors/fred_collector.py
  src/rag/sentiment_store.py
  src/rag/vector_db/retriever.py
  src/strategies/legacy_momentum.py
  verify_langsmith.py
Due: test-crypto-imports, test-dashboard-metrics, test-dashboard-output, smoke-tests, detect-dead-code

feat: Add live FRED Treasury yields to daily blog posts (#856)
  .github/workflows/daily-blog-post.yml
  scripts/generate_daily_blog_post.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: Resolve remaining CI failures (#855)
  scripts/run_core_strategy_reference_backtest.py
  src/rag/collectors/__init__.py
  src/risk/trade_gateway.py
  tests/test_trade_gateway.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

fix: Additional lint cleanup for CI compliance (#857)
  mcp/servers/alpaca_wrapper.py
  mcp/servers/bogleheads_server.py
  mcp/servers/langsmith_server.py
  scripts/autonomous_trader.py
  scripts/generate_daily_blog_post.py
Due: test-crypto-imports, smoke-tests, detect-dead-code, verify-strategy-integration, validate-trading-script-syntax

feat: Make yfinance optional with graceful fallbacks (#859)
  src/core/regime_detection.py
  src/data/iv_data_provider.py
  src/options/vix_monitor.py
  src/risk/position_manager.py
  src/risk/vix_circuit_breaker.py
  src/strategies/legacy_momentum.py
  src/strategies/rule_one_options.py
  src/utils/benchmark_comparison.py
  src/utils/earnings_calendar.py
  src/utils/iv_analyzer.py
  src/utils/market_data.py
  src/utils/news_sentiment.py
  src/utils/regime_detector.py
  src/utils/yfinance_wrapper.py
Due: smoke-tests, detect-dead-code

fix: Add GitHub Pages deployment workflow (#860)
  .github/workflows/deploy-pages.yml
  docs/Gemfile
Due: validate-yaml-strict, validate-workflow-secrets

feat: Add Phil Town RAG completeness enforcement
  .github/workflows/enforce-phil-town-completeness.yml
  .github/workflows/phil-town-ingestion.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Add missing holidays dependency to pyproject.toml
  pyproject.toml
Due: none

feat: Add documentation validation CI workflow
  .github/workflows/validate-documentation.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Remove dead code and add CI dead code detection (#861)
  .github/workflows/ci.yml
  mcp/client.py
  mcp/servers/metatrader.py
  mcp/servers/tradovate.py
  mcp/skills/__init__.py
  scripts/detect_dead_code.py
  src/agent_framework/__init__.py
  src/agent_framework_stubs.py
  src/agents/approval_agent.py
  src/agents/dialogflow_webhook.py
  src/agents/notification_agent.py
  src/agents/openthinker_agent.py
  src/agents/workflow_agent.py
  src/analytics/daily_performance_tracker.py
  src/coaching/__init__.py
  src/core/regime_detection.py
  src/execution/__init__.py
  src/langchain_agents/__init__.py
  src/langchain_agents/analyst.py
  src/ml/__init__.py
  src/observability/dashboard.py
  src/observability/orchestrator_hooks.py
  src/orchestrator/agents.py
  src/orchestrator/main.py
  src/orchestrator/sre_monitor.py
  src/safety/__init__.py
  src/safety/failover_system.py
  src/strategies/core_strategy.py
  src/trading/__init__.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: Resolve langchain/deepagents dependency conflict
  poetry.lock
  pyproject.toml
Due: none

docs: Fix stale references after dead code cleanup (#862)
  .claude/CLAUDE.md
  docs/profit-optimization.md
Due: none

feat: Add agent health check CI and ADK tracking
  .github/workflows/agent-health-check.yml
  rag_knowledge/lessons_learned/ll_068_google_adk_month3_priority.md
Due: validate-yaml-strict, validate-workflow-secrets

feat: Add operational continuity system
  .claude/CLAUDE.md
  .claude/hooks/inject_trading_context.sh
  scripts/operational_health_check.py
Due: smoke-tests, detect-dead-code

feat: Add feedback collector for reinforcement learning (#863)
  .claude/hooks/capture_feedback.sh
  .claude/settings.json
  .gitignore
Due: none

fix: Comprehensive GitHub Pages validation and import fixes
  .github/workflows/ci.yml
  .github/workflows/deploy-pages.yml
  docs/index.md
  mcp/client.py
  scripts/detect_dead_code.py
  scripts/operational_health_check.py
  scripts/validate_github_pages_links.py
  src/agent_framework_stubs.py
  src/agents/macro_agent.py
  src/orchestrator/main.py
  tests/test_github_pages_links.py
  tests/test_workflow_integrity.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: Improve workflow reliability for 100% operational guarantee (#866)
  .github/workflows/daily-blog-post.yml
  .github/workflows/enforce-phil-town-completeness.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Add missing CoreStrategy module for CI (#867)
  src/strategies/core_strategy.py
Due: smoke-tests, detect-dead-code

fix: Replace poetry with pip in CI workflows (#868)
  .github/workflows/ci.yml
Due: validate-yaml-strict, validate-workflow-secrets

feat: Enhance GitHub Pages SEO and transparency (#870)
  docs/_config.yml
  docs/index.md
Due: validate-yaml-strict

feat: Add SEO discoverability and LLM agent optimization (#872)
  AGENTS.md
  README.md
Due: none

feat: Add parallel ticker processing (ADK pattern) + CI fix (#869)
  .github/workflows/ci.yml
  src/orchestrator/main.py
  src/orchestrator/parallel_processor.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

feat: Implement budget tracker and skill validation system (#871)
  .claude/skills/bogleheads_learner/SKILL.md
  .claude/skills/budget_tracker/SKILL.md
  .claude/skills/deep_research/SKILL.md
  .claude/skills/text_analyzer/SKILL.md
  .claude/skills/youtube-analyzer/SKILL.md
  .github/workflows/ci.yml
  scripts/validate_skills.py
  src/utils/budget_tracker.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: Sort imports in orchestrator/main.py (ruff I001) (#873)
  src/orchestrator/main.py
Due: smoke-tests, detect-dead-code

docs: Add lesson learned #070 - acknowledge user feedback
  rag_knowledge/lessons_learned/ll_070_acknowledge_user_feedback.md
Due: none

fix: Update tests to match actual implementation (#874)
  tests/test_fred_collector.py
  tests/test_trade_gateway.py
Due: smoke-tests, detect-dead-code

fix: Remove unused imports and fix formatting in test_fred_collector.py (#876)
  tests/test_fred_collector.py
Due: smoke-tests, detect-dead-code

fix: Remove broken imports and resolve rule conflicts (#875)
  .claude/rules/MANDATORY_RULES.md
  scripts/detect_dead_code.py
  src/agents/debate_agents.py
  src/agents/macro_agent.py
  src/agents/rl_agent.py
  src/agents/rl_weight_updater.py
  src/analytics/__init__.py
  src/core/introspective_council.py
  src/execution/alpaca_executor.py
  src/orchestration/adaptive_orchestrator.py
  src/orchestration/elite_orchestrator.py
  src/orchestrator/main.py
  src/signals/options_signal_enhancer.py
Due: smoke-tests, detect-dead-code

fix: Add mandatory feedback acknowledgment rule + session reminder (#877)
  .claude/hooks/load_trading_state.sh
  .claude/rules/MANDATORY_RULES.md
  data/feedback/feedback_2025-12-24.jsonl
  data/feedback/stats.json
Due: none

chore: Update feedback stats (3 positive ratings) (#878)
  data/feedback/feedback_2025-12-24.jsonl
  data/feedback/stats.json
Due: none
