Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

chore: Sync Alpaca state [auto]
  data/TRADING_HALTED
  data/north_star_weekly_history.json
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
Due: verify-strategy-integration

chore: daily reconciliation [auto]
  data/reports/reconciliation_2026-06-12.json
Due: none

chore: daily reconciliation [auto]
  data/reports/reconciliation_2026-06-15.json
Due: none

chore: daily reconciliation [auto]
  data/reports/reconciliation_2026-06-16.json
Due: none

docs(ops): persist PR hygiene session directives (#4132)
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  rag_knowledge/lessons_learned/ll_20260617_pr_hygiene_dependabot_ci.md
Due: none

chore: daily reconciliation [auto]
  data/reports/reconciliation_2026-06-17.json
Due: none

docs(directives): add dynamic credentials lookup policy and job-site-login skill
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: none

fix(ci): isolate trade gateway halt state in tests (#4134)
  src/risk/trade_gateway.py
  tests/conftest.py
  tests/test_ml_feedback_loop.py
Due: smoke-tests, detect-dead-code

docs(rag): record CI halt isolation lesson (#4135)
  rag_knowledge/lessons_learned/LL-315_CI_Halt_State_Test_Isolation_Jun17.md
Due: none

reconcile: fold unpaired singleton option fills into cohort and all-time stats, resolve Daily reconciler and unit tests (#4133)
  data/TRADING_HALTED
  data/reports/reconciliation_2026-06-18.json
  data/runtime/edge_rehabilitation_plan.json
  data/system_state.json
  data/trades.json
  models/ml/trade_confidence_model.json
  scripts/reconcile_broker_vs_paired.py
  scripts/sync_closed_positions.py
  scripts/update_ml_from_trades.py
  tests/unit/test_update_ml_from_trades.py
  uv.lock
Due: smoke-tests, detect-dead-code, verify-strategy-integration

fix(reconcile): restrict mock test symbols to pytest, fixing non-SPY option/stock trade inclusion on main
  data/reports/reconciliation_2026-06-18.json
  scripts/reconcile_broker_vs_paired.py
Due: smoke-tests, detect-dead-code

docs(rag): record reconciler mock test isolation lesson
  rag_knowledge/lessons_learned/LL-316_Reconciler_Mock_Test_Isolation_Jun17.md
Due: none

test(ci): seed __init__.py files in temp repo to isolate packages
  tests/test_ci_runner_e2e.py
Due: smoke-tests, detect-dead-code
