Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

fix(orchestrator): Disable dormant RL filter to reduce complexity (#1384)
  src/orchestrator/main.py
Due: smoke-tests, detect-dead-code

chore: Update SESSION_START_CHECKLIST.md - resolve stale deferred item (#1387)
  .claude/SESSION_START_CHECKLIST.md
Due: none

fix(ci): Handle no-changes case in weekend-learning workflow (#1389)
  .github/workflows/weekend-learning.yml
Due: validate-yaml-strict, validate-workflow-secrets

security: Add SSL verification, rate limiting, and webhook auth (#1390)
  requirements.txt
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

refactor(orchestrator): Extract OptionsStrategyCoordinator and SessionManager
  src/orchestrator/__init__.py
  src/orchestrator/main.py
  src/orchestrator/options_coordinator.py
  src/orchestrator/session_manager.py
Due: smoke-tests, detect-dead-code

docs(rag): Add wheel strategy criticism research (ll_129)
  rag_knowledge/lessons_learned/ll_129_wheel_strategy_criticism_research_jan10.md
Due: none

feat(rag): Upgrade to 2026 best practices for Vertex AI RAG (#1395)
  src/rag/vertex_rag.py
  tests/test_vertex_rag_comprehensive.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

feat(weekend): Learning pipeline update - Run #14
  data/blog_cache/phil_town_articles.json
  data/vector_db/vectorized_files.json
  data/youtube_cache/options_videos.json
  data/youtube_cache/processed_videos.json
Due: none

fix(audit): Critical fixes from comprehensive code audit (#1394)
  .github/workflows/daily-trading.yml
  src/learning/rlhf_storage.py
  src/risk/trade_gateway.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

chore: Update system state timestamps from session sync (#1397)
  data/system_state.json
Due: verify-strategy-integration

chore: Auto-sync system state timestamps (#1399)
  data/system_state.json
Due: verify-strategy-integration

chore: Remove LangSmith from secrets reminder hook (#1400)
  .claude/hooks/github_secrets_reminder.sh
Due: none

feat(hygiene): Add retention policy for JSON file cleanup (#1401)
  scripts/cleanup_old_files.py
Due: smoke-tests, detect-dead-code

feat(ci): Add JSON file cleanup to weekend-learning workflow (#1402)
  .github/workflows/weekend-learning.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Auto-sync system state timestamps (#1403)
  data/system_state.json
Due: verify-strategy-integration

feat(weekend): Learning pipeline update - Jan 11 2026 (#1404)
  data/blog_cache/phil_town_articles.json
  data/vector_db/vectorized_files.json
  data/youtube_cache/options_videos.json
  data/youtube_cache/processed_videos.json
Due: none

fix: Update tests for ChromaDB removal and message format changes
  tests/test_dialogflow_webhook.py
  tests/test_options_risk_monitor.py
  tests/test_rag_enforcer.py
Due: smoke-tests, detect-dead-code

fix(tests): Update test to match security-hardened error message (#1405)
  tests/test_dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

fix(dialogflow): Use word boundary matching for trade query detection (#1406)
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

test(dialogflow): Add regression tests for word boundary matching (#1407)
  tests/test_dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

docs(rag): Add investment strategy review lesson #130 (#1408)
  rag_knowledge/lessons_learned/ll_130_investment_strategy_review_jan11.md
Due: none

docs: Sync lessons to GitHub Pages (#1409)
  docs/_lessons/ci_failure_blocked_trading.md
  docs/_lessons/ll_011_facts_benchmark_factuality_ceiling.md
  docs/_lessons/ll_025_bats_budget_framework.md
  docs/_lessons/ll_026_text_feature_engineering.md
  docs/_lessons/ll_027_gemini_deep_research.md
  docs/_lessons/ll_028_unified_domain_model.md
  docs/_lessons/ll_029_always_verify_date.md
  docs/_lessons/ll_029_hicra_rl_credit_assignment.md
  docs/_lessons/ll_030_langsmith_deep_agent_observability.md
  docs/_lessons/ll_031_procedural_memory_trading_skills.md
  docs/_lessons/ll_043_medallion_architecture_unused_code.md
  docs/_lessons/ll_068_google_adk_month3_priority.md
  docs/_lessons/ll_070_acknowledge_user_feedback.md
  docs/_lessons/ll_077_never_claim_verified_credentials_broken.md
  docs/_lessons/ll_078_system_lying_trust_crisis.md
  docs/_lessons/ll_129_execute_trades_not_analyze_jan10.md
  docs/_lessons/ll_129_wheel_strategy_criticism_research_jan10.md
  docs/_lessons/ll_130_investment_strategy_review_jan11.md
  docs/_lessons/ll_anomaly_momentum_rejection_spike_20260106_161236.md
  docs/_lessons/ll_autonomous_commands.md
  docs/_lessons/ll_permanent_autonomous_mandate.md
  docs/_lessons/over_engineering_trading_system.md
  docs/_lessons/the_one_thing_trading.md
Due: none

docs(rag): Add self-healing gap lesson #131 (#1410)
  rag_knowledge/lessons_learned/ll_131_self_healing_gap_blog_sync_jan11.md
Due: none

docs: Sync lessons to GitHub Pages (#1411)
  docs/_lessons/ll_131_self_healing_gap_blog_sync_jan11.md
Due: none

fix(rag): Record account balances to RAG - CEO directive Jan 11 (#1413)
  .github/workflows/daily-trading.yml
  data/system_state.json
  docs/_lessons/ll_130_account_rag_recording_jan11.md
  rag_knowledge/account_history/.gitkeep
  rag_knowledge/lessons_learned/ll_130_account_rag_recording_failure_jan11.md
  scripts/record_account_to_rag.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration

feat(trading): Implement credit spread strategy - 2026 best practices (#1414)
  data/system_state.json
  scripts/credit_spread_trader.py
  tests/test_credit_spread_trader.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

docs: Sync lessons to GitHub Pages (#1415)
  docs/_lessons/ll_130_account_rag_recording_failure_jan11.md
Due: none

fix(lint): Use any() for trade query detection (SIM110) (#1416)
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

docs: Update blog for Sunday Jan 11, 2026 with weekend lessons
  docs/index.md
Due: none

fix(rag): Add actionable 2026 trading rules - CRISIS FIX (#1418)
  rag_knowledge/trading_rules_2026.md
Due: none

fix(rag): Add recency boost - Dec 2025 incidents now deprioritized (#1419)
  src/rag/lessons_learned_rag.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

docs(rag): Add lesson #132 - RAG crisis (stuck on Dec 2025) (#1420)
  rag_knowledge/lessons_learned/ll_132_rag_stuck_on_old_content_jan11.md
Due: none

docs: Sync lessons to GitHub Pages (#1421)
  docs/_lessons/ll_132_rag_stuck_on_old_content_jan11.md
Due: none

fix(lint): Remove unused target_exp variable (F841) (#1417)
  scripts/credit_spread_trader.py
  src/rag/lessons_search.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

fix: Repair broken lesson frontmatter causing empty titles on blog
  docs/_lessons/ll_075_api_credential_validation_jan03.md
  docs/_lessons/ll_080_dialogflow_trade_query_fix_jan05.md
  docs/_lessons/ll_090_vertex_ai_sandbox_limitation_jan06.md
  docs/_lessons/ll_109_bidirectional_rag_learning_jan07.md
  docs/_lessons/ll_autonomous_commands.md
Due: none

docs(rag): Add lesson #133 - Lying by claiming fix without verification (#1422)
  rag_knowledge/lessons_learned/ll_133_lying_claimed_fix_without_verification_jan11.md
Due: none

docs: Sync lessons to GitHub Pages (#1423)
  docs/_lessons/ll_075_api_credential_validation_jan03.md
  docs/_lessons/ll_080_dialogflow_trade_query_fix_jan05.md
  docs/_lessons/ll_090_vertex_ai_sandbox_limitation_jan06.md
  docs/_lessons/ll_109_bidirectional_rag_learning_jan07.md
  docs/_lessons/ll_133_lying_claimed_fix_without_verification_jan11.md
  docs/_lessons/ll_autonomous_commands.md
Due: none

fix(rag): Vertex AI corpus cleanup - ACTUAL fix for Dec 2025 content (#1424)
  .github/workflows/cleanup-vertex-rag.yml
  rag_knowledge/lessons_learned/ll_134_rag_architecture_misunderstanding_jan11.md
  scripts/cleanup_vertex_rag.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

docs: Sync lessons to GitHub Pages (#1425)
  docs/_lessons/ll_134_rag_architecture_misunderstanding_jan11.md
Due: none

fix(tests): Update tests for ChromaDB removal and credit validation (#1426)
  scripts/credit_spread_trader.py
  tests/test_rag_enforcer.py
Due: smoke-tests, detect-dead-code
