Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

fix(tests): Use dynamic expiration date in options executor test
  tests/test_options_executor_smoke.py
Due: smoke-tests, detect-dead-code

fix(workflow): Use PR-based approach for daily blog post
  .github/workflows/daily-blog-post.yml
Due: validate-yaml-strict, validate-workflow-secrets

feat(blog): Sync RAG lessons to blog for Jan 12, 16-18
  docs/_posts/2026-01-12-lessons-learned.md
  docs/_posts/2026-01-16-lessons-learned.md
  docs/_posts/2026-01-17-lessons-learned.md
  docs/_posts/2026-01-18-lessons-learned.md
Due: none

feat(workflow): Add Phase 6 to weekend learning - sync lessons to blog (#2066)
  .github/workflows/weekend-learning.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix(ci): Add allowed contexts for past-tense actions in anti-manual check (#2067)
  scripts/check_anti_manual_violations.py
Due: smoke-tests, detect-dead-code

chore(data): Update system_state.json sync metadata (#2068)
  data/system_state.json
Due: verify-strategy-integration

chore(data): Update system_state.json sync metadata (#2069)
  data/system_state.json
Due: verify-strategy-integration

feat(weekend): Add Dev.to publishing to weekend learning pipeline (#2071)
  .github/workflows/weekend-learning.yml
  scripts/publish_weekend_devto.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

feat(blog): Add Dev.to publishing to sync_rag_to_blog.py (#2072)
  scripts/sync_rag_to_blog.py
Due: smoke-tests, detect-dead-code

feat(blog): Rewrite Dev.to publisher for engaging human-interest content (#2078)
  scripts/publish_weekend_devto.py
Due: smoke-tests, detect-dead-code

chore(data): Sync system state metadata (#2080)
  data/system_state.json
Due: verify-strategy-integration

feat(blog): Transform boring mechanical posts into engaging human-readable content (#2083)
  docs/_posts/2026-01-12-lessons-learned.md
  docs/_posts/2026-01-13-lessons-learned.md
  docs/_posts/2026-01-14-lessons-learned.md
  docs/_posts/2026-01-15-lessons-learned.md
  docs/_posts/2026-01-16-lessons-learned.md
  docs/_posts/2026-01-17-lessons-learned.md
  docs/_posts/2026-01-18-lessons-learned.md
  scripts/sync_rag_to_blog.py
Due: smoke-tests, detect-dead-code

chore(data): Sync system state metadata (#2084)
  data/system_state.json
Due: verify-strategy-integration

feat(blog): Add update support for existing Dev.to posts (#2086)
  scripts/publish_weekend_devto.py
  scripts/update_devto_post.py
Due: smoke-tests, detect-dead-code

feat(blog): Add vulnerable storytelling to Dev.to posts (#2088)
  scripts/publish_weekend_devto.py
Due: smoke-tests, detect-dead-code

fix: Display informative win rate message when no closed trades (#2087)
  scripts/generate_world_class_dashboard_enhanced.py
  tests/test_sync_rag_to_blog.py
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests, detect-dead-code

feat: Auto-sync closed positions for accurate win rate tracking (#2089)
  .github/workflows/daily-trading.yml
  .github/workflows/update-progress-dashboard.yml
  data/trades.json
  scripts/sync_closed_positions.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: Correct data validation in staleness_guard.py (#2091)
  src/utils/staleness_guard.py
Due: smoke-tests, detect-dead-code

fix: Use get_alpaca_credentials() across all scripts (#2092)
  scripts/cancel_stale_orders.py
  scripts/fetch_100k_trade_history.py
  scripts/fix_653_spread.py
  scripts/verify_stops_in_place.py
  scripts/verify_trade_execution.py
  src/utils/calendar_validation.py
Due: smoke-tests, detect-dead-code

chore(data): Sync system state metadata (#2090)
  data/system_state.json
Due: verify-strategy-integration

fix: Replace ambiguous variable name 'l' in sync_rag_to_blog.py (#2093)
  scripts/sync_rag_to_blog.py
Due: smoke-tests, detect-dead-code

fix(lint): Replace ambiguous variable 'l' with 'lesson' in sync_rag_to_blog.py
  scripts/sync_rag_to_blog.py
Due: smoke-tests, detect-dead-code

chore(data): Update system state timestamps from session start (#2094)
  data/system_state.json
Due: verify-strategy-integration

chore(data): Update system state timestamps from session start (#2098)
  data/system_state.json
Due: verify-strategy-integration

chore(data): Update system state timestamps from session start
  data/system_state.json
Due: verify-strategy-integration

chore(data): Update system state timestamps from session start (#2100)
  data/system_state.json
Due: verify-strategy-integration

fix(data): Remove duplicate orphan_660 trade from trades.json (#2102)
  data/trades.json
Due: none

chore: Sync dashboard data [auto]
  data/system_state.json
Due: verify-strategy-integration

chore(rag): Add auto-generated sync failure lessons
  rag_knowledge/lessons_learned/auto_sync_failed_jan19.md
  rag_knowledge/lessons_learned/auto_sync_failed_jan19_2.md
Due: none

docs(rag): Log MoT evaluation - FLUFF for our system
  data/rag_lessons.md
Due: none

docs(rag): Log MoT evaluation - FLUFF for our system (#2107)
  data/rag_lessons.md
Due: none

chore(data): Update system state timestamps from session start (#2108)
  data/system_state.json
Due: verify-strategy-integration

fix(tests): Skip MCP governance tests when pydantic unavailable (#2106)
  rag_knowledge/lessons_learned/ll_241_credit_spread_exit_strategies_jan19.md
  tests/test_mcp_governance.py
Due: smoke-tests, detect-dead-code

docs(rag): Add LL-241, LL-242 weekend learning lessons
  rag_knowledge/lessons_learned/ll_242_position_sizing_kelly_criterion_jan19.md
Due: none
