Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

chore: Sync Alpaca state [auto]
  data/TRADING_HALTED
  data/north_star_weekly_history.json
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  docs/data/public_status.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: verify-strategy-integration

[codex] add ATH breakout signal (#3903)
  AGENTS.md
  scripts/agent_handoff_gate.py
  scripts/agent_workflow_toolkit.py
  scripts/box_workspace_mirror.py
  scripts/build_north_star_blocker_report.py
  scripts/update_ai_credit_stress_signal.py
  src/analytics/browser_automation_pilot.py
  src/risk/risk_manager.py
  src/safety/trading_policy_drift.py
  src/signals/__init__.py
  src/signals/ath_breakout_signal.py
  tests/test_ath_breakout_signal.py
Due: smoke-tests, detect-dead-code

chore: format Claude PRD state
  .claude/prd.json
Due: none

docs: record PR verification lesson
  rag_knowledge/lessons_learned/ll_341_pr_merge_requires_main_verification_may03.md
Due: none

fix: route OpenRouter price updates through PR (#3928)
  .github/workflows/openrouter-price-monitor.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: tolerate Actions PR permission limits (#3929)
  .github/workflows/openrouter-price-monitor.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: prefer freshest public status snapshot (#3931)
  docs/data/public_status.json
  scripts/build_public_status.py
  scripts/ic_simple.py
  src/risk/trade_gateway.py
  tests/test_build_public_status.py
  tests/test_trade_gateway.py
  tests/unit/test_ic_simple.py
Due: smoke-tests, detect-dead-code

chore: refresh public status after automation (#3932)
  docs/data/public_status.json
  scripts/backtest/bull_put_spread_backtester.py
  scripts/backtest_gate.py
  scripts/build_north_star_blocker_report.py
  scripts/build_public_status.py
  scripts/daily_verification.py
  scripts/ic_simple.py
  scripts/iron_condor_scanner.py
  scripts/iron_condor_trader.py
  scripts/manage_iron_condor_positions.py
  scripts/post_market_analysis.py
  scripts/record_account_to_rag.py
  scripts/research_strategies.py
  scripts/sync_closed_positions.py
  scripts/trade_journal.py
  src/analytics/ai_credit_stress_signal.py
  src/analytics/perplexity_trading_intel.py
  src/analytics/perplexity_utilization_audit.py
  src/analytics/trade_setup_audit.py
  src/llm/mirascope_client.py
  src/observability/llm_observability.py
  src/orchestration/daggr_workflow.py
  src/safety/behavioral_guard.py
  src/safety/north_star_congruence.py
  src/safety/north_star_guard.py
  src/safety/north_star_operating_plan.py
  src/safety/regime_entry_gate.py
  src/utils/regime_detector.py
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: smoke-tests, detect-dead-code

fix: stage pre-market public surfaces (#3933)
  .github/workflows/pre-market-sync.yml
  docs/data/public_status.json
  tests/test_workflow_contracts.py
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

chore: refresh public status after pre-market fix (#3934)
  docs/data/public_status.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: none

fix: ignore untracked scorecard for public status (#3935)
  docs/data/public_status.json
  scripts/build_public_status.py
  tests/test_build_public_status.py
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: smoke-tests, detect-dead-code
