Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

feat: Add automated trading verification script
  scripts/verify_trading_success.py
Due: smoke-tests, detect-dead-code

feat: Add quantum finance resources to RAG
  rag_knowledge/knowledge_index.json
  rag_knowledge/quantum/quantum_finance_blogs.json
  rag_knowledge/quantum/quantum_finance_books.json
  rag_knowledge/quantum/quantum_finance_papers.json
  rag_knowledge/quantum/quantum_finance_resources.md
  rag_knowledge/quantum/quantum_finance_youtube.json
Due: none

docs: add deep research on quantum finance, AI tools, and cutting-edge ML (#676)
  docs/ai-tools-research-2025.md
  docs/cutting-edge-ai-ml-trading-2024-2025.md
Due: none

feat: Add integration tests (Phase 1) (#675)
  .github/workflows/ci.yml
  .gitignore
  scripts/autonomous_trader.py
  scripts/verify_pl_sanity.py
  tests/integration/test_trading_pipeline.py
Due: test-crypto-imports, validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-trading-script-syntax

feat: Add ML learning loop integration (#672)
  .github/workflows/comprehensive-verification.yml
  rag_knowledge/lessons_learned/ll_041_comprehensive_regression_tests_dec15.md
  scripts/mandatory_rag_check.py
  src/verification/ml_learning_loop_integration.py
  tests/test_lessons_learned_regression.py
  tests/test_ml_learning_loop_integration.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

🚀 Enhanced Dashboard Full Suite: Weekly/Monthly Rollups + Alerts + CI (#671)
  .ai_proof_of_fix_FINAL.md
  .dashboard_enhancements_summary.md
  .enhanced_dashboard_summary.md
  .github/workflows/update-enhanced-dashboard.yml
  scripts/category_alerts.py
  scripts/enhanced_performance_tracker.py
  scripts/generate_dashboard_with_graphs.py
  wiki/Progress-Dashboard.md
  wiki/graphs/allocation_pie.png
  wiki/graphs/category_pl_bars.png
  wiki/graphs/category_pl_time_series.png
  wiki/graphs/pl_time_series.png
Due: validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code

feat: Implement complete RAG/ML pipeline with all 5 sentiment sources (#673)
  .env.example
  data/rag/lessons_learned.json
  src/utils/linkedin_sentiment.py
  src/utils/news_sentiment.py
  src/utils/reddit_sentiment.py
  src/utils/tiktok_sentiment.py
  src/utils/unified_sentiment.py
  tests/test_youtube_sentiment.py
Due: smoke-tests, detect-dead-code

fix: Funnel Activity showing 0 orders instead of actual trade count (#679)
  scripts/generate_world_class_dashboard_enhanced.py
  wiki/AI-Dashboard.md
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests, detect-dead-code

feat: Add automated code hygiene prevention (ll_042)
  .github/workflows/code-hygiene.yml
  .pre-commit-config.yaml
  rag_knowledge/lessons_learned/ll_042_code_hygiene_automated_prevention_dec15.md
  scripts/verify_code_hygiene.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

🔒 Deploy 4-Layer Protection System for Operational Reliability (#680)
  .cleanup_complete.md
  .github/workflows/breaking-change-monitor.yml
  .github/workflows/pre-merge-gate.yml
  .merge_operation_complete.md
  ANSWER_QUANTUM_FOR_RELIABILITY.md
  DEPLOYMENT_GUIDE.md
  PRIORITY_ORDER.md
  READY_TO_DEPLOY.md
  docs/IMPLEMENTATION_PLAN_RELIABILITY.md
  docs/QUANTUM_CLOUD_RESEARCH_DEC_2025.md
  docs/RELIABILITY_PROTECTION_SYSTEM.md
  scripts/detect_breaking_changes.py
  scripts/pre_merge_verification_gate.py
  scripts/setup_datadog.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

feat: Options-first strategy pivot + documentation cleanup (Dec 15) (#685)
  README.md
  claude-progress.txt
  config/portfolio_allocation.yaml
  dashboard.md
  data/system_state.json
  rag_knowledge/lessons_learned/ll_043_crypto_removed_simplify_dec15.md
  rag_knowledge/lessons_learned/ll_044_documentation_hygiene_mandate_dec15.md
  scripts/check_doc_freshness.py
  scripts/daily_pnl_attribution.py
Due: validate-yaml-strict, smoke-tests, detect-dead-code, verify-strategy-integration

feat: Profit reinvestment strategy (hybrid T-bills + options) (#686)
  README.md
  config/portfolio_allocation.yaml
  rag_knowledge/lessons_learned/ll_045_verification_systems_prevent_mistakes_dec15.md
  scripts/session_start_gate.py
Due: validate-yaml-strict, smoke-tests, detect-dead-code

feat: add tax optimization strategy and wash sale tracking (#687)
  config/portfolio_allocation.yaml
Due: validate-yaml-strict

docs: add tax-aware trading mandate (LL_046) (#688)
  rag_knowledge/lessons_learned/ll_046_tax_aware_trading_mandate_dec15.md
Due: none

docs: comprehensive dashboard update with all tracking (#689)
  dashboard.md
Due: none

feat: Add RAG/ML-powered verification pipeline (#690)
  .github/workflows/rag-regression-check.yml
  scripts/pre_commit_rag_check.py
  src/ml/regression_detector.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

docs: simplify dashboard for humans and AI agents (#691)
  dashboard.md
Due: none

fix: add chromadb and lancedb to minimal requirements for CI (#692)
  requirements-minimal.txt
Due: none

docs: add LL_047 RAG dual database cleanup needed (#693)
  rag_knowledge/lessons_learned/ll_047_rag_dual_database_cleanup_dec15.md
Due: none

feat: add daily health alert - THE ONE THING for reliability (#694)
  reports/health_2025-12-15.json
  scripts/daily_health_alert.py
Due: smoke-tests, detect-dead-code

feat: Add E2E pipeline verification tests for RAG/ML system (#695)
  .github/workflows/comprehensive-verification.yml
  rag_knowledge/lessons_learned/ll_047_e2e_pipeline_verification_dec15.md
  tests/test_pattern_recurrence_integration.py
  tests/test_pipeline_verification_e2e.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

feat: add go-live readiness system with phased capital deployment (#697)
  config/capital_deployment.json
  config/go_live_checklist.json
  rag_knowledge/lessons_learned/ll_048_go_live_readiness_system_dec15.md
  reports/milestones_2025-12-15.json
  reports/readiness_2025-12-15.json
  scripts/go_live_readiness.py
  scripts/milestone_alerts.py
Due: smoke-tests, detect-dead-code, validate-config-enums

chore: Remove unused Medallion Architecture
  data/bronze/.gitkeep
  data/bronze/alpaca/.gitkeep
  data/bronze/polygon/.gitkeep
  data/bronze/raw_ohlcv/.gitkeep
  data/gold/.gitkeep
  data/gold/feature_store/.gitkeep
  data/gold/ml_ready/.gitkeep
  data/gold/training_sets/.gitkeep
  data/silver/.gitkeep
  data/silver/features/.gitkeep
  data/silver/sentiment/.gitkeep
  data/silver/validated/.gitkeep
  rag_knowledge/decisions/2025-12-15_remove_medallion_architecture.md
  src/medallion/__init__.py
  src/medallion/bronze.py
  src/medallion/gold.py
  src/medallion/integration.py
  src/medallion/pipeline.py
  src/medallion/silver.py
  src/ml/medallion_trainer.py
Due: smoke-tests, detect-dead-code

feat: ML-powered verification system for dead code prevention
  rag_knowledge/decisions/2025-12-15_ml_verification_system.md
  rag_knowledge/lessons_learned/ll_043_medallion_architecture_unused_code.md
  scripts/analyze_import_usage.py
  scripts/detect_dead_code.py
  src/verification/ml_lessons_learned_pipeline.py
Due: smoke-tests, detect-dead-code

docs: verification system completion summary (#700)
  VERIFICATION_SYSTEM_COMPLETE.md
Due: none

Claude/daily revenue tracking f2j bj (#701)
  .github/workflows/crypto-take-profit.yml
  .github/workflows/daily-trading.yml
  .github/workflows/force-crypto-trade.yml
  .github/workflows/test-crypto-imports.yml
  .github/workflows/weekend-crypto-trading.yml
  rag_knowledge/lessons_learned/ll_049_config_workflow_sync_failure_dec16.md
  scripts/autonomous_trader.py
  scripts/backtest_crypto_strategy.py
  scripts/detect_forbidden_patterns.py
  scripts/test_crypto_imports.py
  scripts/verify_config_workflow_sync.py
  src/agents/crypto_weekend_agent.py
  src/strategies/crypto_strategy.py
  tests/integration/test_crypto_strategy_v41.py
  tests/test_crypto_trade_verification.py
  tests/test_crypto_trading_no_rag.py
Due: test-crypto-imports, validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-trading-script-syntax, weekend-crypto-workflow-check

fix: options automation silent failures - NOW WORKS IN CI (#703)
  .github/workflows/daily-trading.yml
  scripts/execute_options_trade.py
  src/analytics/options_profit_planner.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: round options limit price to 2 decimal places (#705)
  scripts/execute_options_trade.py
Due: smoke-tests, detect-dead-code

fix: add smaller underlyings for options (PLTR, SOFI) (#706)
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: relax trend filter + add more tickers for options (#707)
  .github/workflows/daily-trading.yml
  scripts/execute_options_trade.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: add quick trade workflow (no backtests) (#709)
  .github/workflows/quick-trade.yml
  reports/daily-earnings-investigation-2025-12-16.md
  scripts/emergency_trade_execution.sh
Due: validate-yaml-strict, validate-workflow-secrets

fix: use abs() for options exit qty to prevent negative quantity error (#710)
  src/orchestrator/main.py
Due: smoke-tests, detect-dead-code

fix: operational integrity - options failures now visible (#713)
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: add missing timedelta import in langsmith_tracer (#712)
  src/observability/langsmith_tracer.py
Due: smoke-tests, detect-dead-code

fix: add crypto key to VALID_SYMBOLS and BASELINES attribute (#714)
  src/ml/anomaly_detector.py
  src/verification/ml_anomaly_detector.py
Due: smoke-tests, detect-dead-code

fix: LangSmith tracing works with both LANGSMITH_* and LANGCHAIN_* env vars
  .github/workflows/pre-merge-gate.yml
  data/system_state.json
  scripts/verify_langsmith.py
  src/utils/langsmith_wrapper.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration
