Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

fix(options): Critical fix - Phil Town CSP was never executing trades (#LL-124)
  rag_knowledge/lessons_learned/ll_124_phil_town_csp_not_executing_jan09.md
  scripts/rule_one_trader.py
  src/orchestrator/main.py
Due: smoke-tests, detect-dead-code

refactor: Remove LangSmith/LangChain - 1578 lines deleted (#1346)
  .claude/CLAUDE.md
  .claude/skills/langsmith_monitor/SKILL.md
  .claude/skills/langsmith_monitor/scripts/langsmith_monitor.py
  requirements.txt
  src/observability/__init__.py
  src/observability/langsmith_tracer.py
  src/observability/trade_sync.py
  src/utils/langsmith_wrapper.py
  src/utils/logging_config.py
  src/utils/news_sentiment.py
Due: smoke-tests, detect-dead-code

feat(ci): Add workflow to update Alpaca API secrets (#1347)
  .github/workflows/update-alpaca-secrets.yml
  scripts/update_alpaca_secrets.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

docs(ll-126): Document Alpaca credentials invalid issue (#1348)
  rag_knowledge/lessons_learned/ll_126_alpaca_credentials_invalid_jan09.md
Due: none

docs(claude): Add LangSmith ML directive to CLAUDE.md (#1335)
  .claude/CLAUDE.md
Due: none

fix(critical): Stop-loss + learning + security (#1351)
  .github/workflows/weekend-learning.yml
  data/system_state.json
  rag_knowledge/lessons_learned/ll_124_secret_exposure_incident_jan09.md
  rag_knowledge/lessons_learned/ll_125_critical_fixes_jan09.md
  requirements.txt
  scripts/fix_paper_trading.sh
  src/risk/trade_gateway.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration

fix(lint): Format long lines in trade_gateway.py (#1352)
  src/risk/trade_gateway.py
Due: smoke-tests, detect-dead-code

fix(lint): Fix F541 and F401 ruff errors (#1353)
  scripts/pre_market_health_check.py
  scripts/test_alpaca_credentials_local.py
  src/observability/trade_sync.py
  tests/test_introspective_council.py
Due: smoke-tests, detect-dead-code

feat: Add true self-healing with CEO notifications
  .github/workflows/daily-trading.yml
  scripts/credential_health_check.py
  scripts/notify_ceo.py
  scripts/self_heal_data.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

chore(data): Update system state timestamp (#1354)
  data/system_state.json
Due: verify-strategy-integration

ci: Add auto-format workflow (#1355)
  .github/workflows/auto-format.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix(data): Clear stale position data after paper account reset (#1356)
  data/system_state.json
  rag_knowledge/lessons_learned/ll_125_stale_position_data_jan09.md
Due: verify-strategy-integration

fix(ci): Handle special characters in lesson titles (#1357)
  .github/workflows/publish-lessons.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix(trading): Return success when no positions to protect (#1358)
  scripts/set_trailing_stops.py
Due: smoke-tests, detect-dead-code

fix(trading): Fix trailing stops script failing when positions skipped (#1359)
  scripts/set_trailing_stops.py
Due: smoke-tests, detect-dead-code

fix(dead-code): Remove orphaned LangSmith imports (#1360)
  rag_knowledge/lessons_learned/ll_126_critical_position_review_jan09.md
  rag_knowledge/lessons_learned/ll_127_langsmith_removal_dead_code_jan09.md
  src/execution/alpaca_executor.py
  src/orchestrator/gates.py
  src/orchestrator/main.py
  src/risk/trade_gateway.py
Due: smoke-tests, detect-dead-code

docs(trust): Add comprehensive trust audit and trading trigger (#1361)
  TRIGGER_TRADE.md
  docs/index.md
  rag_knowledge/lessons_learned/ll_127_trust_audit_comprehensive_jan09.md
Due: none

fix(ci): Fix octal number parsing bug in publish-lessons workflow (#1362)
  .github/workflows/publish-lessons.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix(ci): Use PR workflow for blog sync (#1363)
  .github/workflows/publish-lessons.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix(dead-code): Remove orphaned LangSmith imports (#1360)
  .claude/CLAUDE.md
  .github/workflows/daily-trading.yml
  docs/index.md
  mcp/registry.json
  mcp/servers/langsmith_server.py
  scripts/verify_langsmith.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix(dead-code): Remove LangSmith dead code from source files
  src/execution/alpaca_executor.py
  src/observability/__init__.py
  src/observability/trade_sync.py
  src/orchestrator/gates.py
  src/orchestrator/main.py
  src/risk/trade_gateway.py
  src/utils/error_monitoring.py
  src/utils/logging_config.py
Due: smoke-tests, detect-dead-code

feat(weekend): Learning pipeline update 20878845607
  data/blog_cache/phil_town_articles.json
  data/vector_db/vectorized_files.json
  data/youtube_cache/options_videos.json
  data/youtube_cache/processed_videos.json
Due: none

chore: Resolve merge conflict in docs/index.md
  docs/index.md
Due: none

chore: Auto-heal data for Day 74/90
  data/system_state.json
  docs/index.md
Due: verify-strategy-integration

fix(dead-code): Remove dead LangChain code (#1365)
  src/agents/macro_agent.py
  src/orchestration/adaptive_orchestrator.py
  src/orchestration/elite_orchestrator.py
  src/orchestration/shared_types.py
  src/orchestrator/main.py
Due: smoke-tests, detect-dead-code

fix: Remove undefined trace_context and add _trace_gate stub (LangSmith cleanup)
  src/orchestrator/gates.py
  src/utils/error_monitoring.py
Due: smoke-tests, detect-dead-code

fix(dead-code): Remove commented-out code and misleading comments (#1366)
  data/system_state.json
  src/orchestration/adaptive_orchestrator.py
  src/orchestration/elite_orchestrator.py
  src/orchestration/mcp_trading.py
  src/orchestrator/failure_isolation.py
  src/orchestrator/main.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

docs: Trust audit, options research, trade execution monitor (#1367)
  .github/workflows/verify-trade-execution.yml
  docs/progress_dashboard.md
  rag_knowledge/lessons_learned/ll_128_trust_audit_jan10_comprehensive.md
  rag_knowledge/research/top_options_strategies_2026.md
  scripts/verify_trade_execution.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

docs: Add CEO Trust Audit directives to CLAUDE.md (#1369)
  .claude/CLAUDE.md
Due: none

fix(lint): Remove unused OrderSide import (#1370)
  scripts/verify_trade_execution.py
Due: smoke-tests, detect-dead-code

docs: Weekend research - Small account options strategies (ll_129)
  rag_knowledge/lessons_learned/ll_129_small_account_options_strategies_jan10.md
Due: none

docs: Add CEO trust audit answers and DiffCoT research (#1371)
  rag_knowledge/lessons_learned/ll_129_ceo_trust_audit_answers_jan10.md
Due: none

docs: Sync lessons to GitHub Pages (#1373)
  docs/_lessons/ll_129_small_account_options_strategies_jan10.md
Due: none

docs: Sync lessons to GitHub Pages
  docs/_lessons/ll_129_ceo_trust_audit_answers_jan10.md
Due: none

fix(backtest): Enable slippage model, fix misleading win rate, add bidirectional learning (#1377)
  rag_knowledge/lessons_learned/ll_129_backtest_eval_bugs_jan10.md
  scripts/run_backtest_matrix.py
  src/analytics/live_vs_backtest_tracker.py
Due: smoke-tests, detect-dead-code

docs: Sync lessons to GitHub Pages (#1378)
  docs/_lessons/ll_129_backtest_eval_bugs_jan10.md
Due: none

fix(tests): Resolve 5 failing CI tests (#1380)
  src/core/introspective_council.py
  tests/test_dialogflow_webhook.py
  tests/test_introspective_council.py
  tests/test_options_risk_monitor.py
Due: smoke-tests, detect-dead-code

fix(ci): Add API keys to weekend-learning workflow (#1381)
  .claude/hooks/github_secrets_reminder.sh
  .github/workflows/weekend-learning.yml
Due: validate-yaml-strict, validate-workflow-secrets

docs: Add LL-129 Execute Trades Not Analyze (#1382)
  rag_knowledge/lessons_learned/ll_129_execute_trades_not_analyze_jan10.md
Due: none
