Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests

.pre-commit-config.yaml:

# Pre-commit hooks for code quality (2025 standards)
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Ruff - Fast Python linter and formatter (replaces black, flake8, isort)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.2.0'
    hooks:
      - id: mypy
        args: ["--config-file", "mypy.ini"]
        additional_dependencies: [types-requests, types-PyYAML]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(data/|reports/)
      - id: end-of-file-fixer
        exclude: ^(data/|reports/)
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags but still validate syntax strictly
      - id: check-json
        exclude: ^(data/|\.vscode/)
      - id: check-toml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: debug-statements

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        args:
          [
            '-ll',
            '-ii',
            '--skip',
            'B101,B310,B113,B602,B603,B404,B614,B324,B301,B314',
          ]
        exclude: ^tests/|.pc-venv/

  # Keep the custom hygiene script if needed, but ensure it works
  - repo: local
    hooks:
      - id: file-organization
        name: Check File Organization
        entry: python3 .claude/skills/precommit_hygiene/scripts/precommit_hygiene.py check_file_organization
        language: system
        pass_filenames: false
        verbose: true

      - id: test-crypto-imports
        name: Test Crypto Trading Imports (No RAG)
        entry: bash scripts/pre_commit_test_crypto_imports.sh
        language: system
        types: [python]
        files: '(src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py)'
        pass_filenames: false

      - id: test-dashboard-metrics
        name: Test Dashboard Metrics Completeness
        entry: python3 tests/test_dashboard_metrics.py
        language: system
        types: [python]
        files: '(scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py)'
        pass_filenames: false
        verbose: true

      - id: validate-yaml-strict
        name: Strict YAML Validation
        entry: bash scripts/validate_yaml_before_commit.sh
        language: python
        additional_dependencies: [pyyaml]
        types: [yaml]
        pass_filenames: false
        verbose: true

      - id: test-dashboard-output
        name: Test Dashboard Output Completeness
        entry: python3 tests/test_dashboard_output.py
        language: system
        types: [python]
        files: '(scripts/generate.*dashboard.*\.py)'
        pass_filenames: false
        verbose: true

      - id: smoke-tests
        name: Smoke Tests - Critical Path Verification
        entry: python3 tests/test_smoke.py
        language: python
        additional_dependencies: [numpy, pyyaml]
        types: [python]
        files: '(scripts/|src/|tests/)'
        pass_filenames: false
        verbose: true
        stages: [pre-commit]

docs: Add GitHub PAT agentic control to CLAUDE.md
  .claude/CLAUDE.md
Due: none

refactor: Prompt engineering + repository hygiene cleanup (#458)
  .claude/CLAUDE.md
Due: none

docs: add GitHub API instructions to CLAUDE.md for PR automation
  .claude/CLAUDE.md
Due: none

feat(risk): add ATR-based exit manager for position management (#466)
  src/risk/atr_exit_manager.py
Due: smoke-tests

merge: Resolve merge conflicts from main (#459)
  .claude/mcp_config.json
  src/backtesting/backtest_engine.py
Due: smoke-tests

fix: Critical trading fixes - position tracking, workflow failures, execution monitoring (#468)
  .claude/CLAUDE.md
Due: none

fix(ci): Resolve all CI failures and merge conflicts (#471)
  docs/CONTRIBUTING.md
  src/agents/rl_transformer.py
  src/backtesting/backtest_engine.py
Due: smoke-tests

docs: add CEO reinforcement about full agentic PR control (#470)
  .claude/CLAUDE.md
Due: none

feat: production hardening - execution costs, ensemble strategies, stress testing (#473)
  .github/workflows/pre-deploy-stress-test.yml
  docs/roadmap-to-100-day.md
  scripts/validate_stress_test.py
  src/backtesting/backtest_engine.py
  src/backtesting/backtest_results.py
  src/backtesting/cost_validator.py
  src/execution/alpaca_executor.py
  src/execution/cost_tracker.py
  src/risk/capital_scaler.py
  src/risk/slippage_model.py
  src/strategies/mean_reversion_strategy.py
  src/strategies/regime_detector.py
  src/strategies/strategy_ensemble.py
Due: validate-yaml-strict, smoke-tests

feat: integrate mental toughness + RAG into live trading
  scripts/enable_ml_pipeline.sh
  src/orchestrator/main.py
Due: smoke-tests

docs: add GitHub PAT instructions for autonomous PR management
  .claude/CLAUDE.md
Due: none

fix(strategy): disable losing Treasury/REIT, lower equity thresholds (#475)
  .env.example
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

feat: add simple ETF accumulator strategy (CTO/CFO decision) (#477)
  .github/workflows/etf-accumulator.yml
  scripts/simple_etf_accumulator.py
Due: validate-yaml-strict, smoke-tests

docs(rag): add lesson ll_008 - strategic pivot to ETF accumulation (#478)
  rag_knowledge/chunks/lessons_learned_2025.json
Due: none

feat(rag): add Benjamin Graham - The Intelligent Investor (#480)
  rag_knowledge/chunks/benjamin_graham_intelligent_investor_2025.json
Due: none

feat: YouTube Analyzer skill with RAG integration (#479)
  .claude/CLAUDE.md
Due: none

feat(rag): add continuous learning + tail risk hedging (#481)
  .github/workflows/daily-rag-enhancement.yml
  rag_knowledge/chunks/tail_risk_hedging_2025.json
Due: validate-yaml-strict

feat(rag): add tax, volatility, and statistical arbitrage knowledge (#482)
  rag_knowledge/chunks/statistical_arbitrage_options_2025.json
  rag_knowledge/chunks/tax_optimization_options_2025.json
  rag_knowledge/chunks/volatility_forecasting_2025.json
  rag_knowledge/knowledge_index.json
Due: none

chore: add curl GitHub API method to permanent memory (#483)
  .claude/CLAUDE.md
Due: none

feat: Options income strategy improvements for $100/day target
  .claude/CLAUDE.md
  .claude/skills/position_sizer/scripts/position_sizer.py
  src/risk/kelly.py
  src/risk/options_risk_monitor.py
  src/risk/spread_margin.py
  src/strategies/iron_condor_strategy.py
Due: smoke-tests

feat: Add comprehensive treasury trading enhancements (#485)
  .claude/CLAUDE.md
Due: none

fix: restore IV percentile filter and relaxed options criteria (#492)
  rag_knowledge/chunks/lessons_learned_2025.json
  scripts/execute_options_trade.py
Due: smoke-tests

fix(gates): disable over-restrictive trading gates blocking all trades
  src/strategies/core_strategy.py
  src/strategies/growth_strategy.py
Due: smoke-tests

chore: update backtest validation results
  data/backtests/historic_validation.json
Due: none

feat(risk): implement trailing stop manager + analysis response (#495)
  .claude/CLAUDE.md
  docs/trading_system_analysis_response.md
  feature_list.json
  src/risk/trailing_stop_manager.py
Due: smoke-tests

docs: Add gates and limits analysis report (#497)
  reports/gates_limits_analysis_2025-12-11.md
Due: none

docs: add CEO reinforcements Dec 9-11 on full agentic PR control (#496)
  .claude/CLAUDE.md
Due: none

fix: add promotion gate override to unblock trading (#498)
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

feat: add trend filter and stop loss to fix negative Sharpe (#499)
  scripts/execute_options_trade.py
Due: smoke-tests

docs: reinforce GitHub PAT instruction in permanent memory (#501)
  .claude/CLAUDE.md
Due: none

feat(ml): enable RL retraining and RAG features for continuous learning (#503)
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

test: add comprehensive verification system to prevent trading gaps (#504)
  .github/workflows/trading-health-monitor.yml
  scripts/check_execution_gap.py
  scripts/validate_workflows.py
  tests/test_trading_execution_integrity.py
Due: validate-yaml-strict, smoke-tests

fix(kalshi): correct signal target logic and test mocking (#505)
  src/signals/kalshi_oracle.py
  tests/test_kalshi_oracle.py
Due: smoke-tests

fix(risk): tighten exit thresholds for faster position closes (#506)
  src/risk/position_manager.py
Due: smoke-tests

feat: add verification framework, lessons learned RAG, and safety improvements
  .claude/CLAUDE.md
  .github/workflows/backtest-gate.yml
  scripts/ci_backtest_gate.py
  src/ml/shap_analyzer.py
  src/rag/lessons_learned_rag.py
  src/research/alpha_ic_analysis.py
  src/safety/pre_trade_hook.py
  src/safety/verification_framework.py
Due: test-crypto-imports, validate-yaml-strict, smoke-tests

feat: Add minimal viable trading system (#508)
  .env.example
  docs/MINIMAL_TRADING_SYSTEM.md
  scripts/run_minimal_trader.py
  src/orchestrator/minimal_trader.py
Due: smoke-tests

feat: Add verification framework and lessons learned for over-engineering prevention (#509)
  .claude/CLAUDE.md
  claude-progress.txt
  rag_knowledge/knowledge_index.json
  rag_knowledge/lessons_learned/over_engineering_trading_system.md
  scripts/verify_system_simplicity.py
Due: smoke-tests

fix(ci): add mandatory pre-merge gate after Dec 11 syntax error incident
  .claude/CLAUDE.md
  .github/workflows/ci.yml
  rag_knowledge/lessons_learned/ll_009_ci_syntax_failure_dec11.md
  scripts/pre_merge_gate.py
Due: validate-yaml-strict, smoke-tests
