Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

style: Fix SIM103 lint error in circuit_breaker.py (#2226)
  src/resilience/circuit_breaker.py
Due: smoke-tests, detect-dead-code

test: Update ticker requirement assertion to match SPY-only strategy (CLAUDE.md Jan 19) (#2227)
  tests/test_pre_trade_checklist.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#2228)
  data/system_state.json
Due: verify-strategy-integration

fix(test): Update test_position_size_valid to use SPY per CLAUDE.md (#2230)
  src/agents/dialogflow_webhook.py
  src/execution/alpaca_executor.py
  src/utils/finnhub_client.py
  tests/test_mcp_governance.py
Due: smoke-tests, detect-dead-code

fix(test): Update test_position_size_valid to use SPY per CLAUDE.md (#2232)
  data/system_state.json
Due: verify-strategy-integration

fix(ci): Fix test and self-healing monitor failures (#2233)
  scripts/self_healing_check.py
Due: smoke-tests, detect-dead-code

fix(compliance): Fix MAX_DAILY_LOSS_PCT inconsistency (LL-250) (#2234)
  scripts/rule_one_trader.py
  scripts/simple_daily_trader.py
  src/risk/trade_gateway.py
  src/validators/rule_one_validator.py
Due: smoke-tests, detect-dead-code

chore(data): Update system state sync timestamp (#2237)
  data/system_state.json
Due: verify-strategy-integration

fix(resilience): Fix __exit__ to return None instead of hardcoded False (#2239)
  src/resilience/retry.py
Due: smoke-tests, detect-dead-code

fix(structure): Add missing __init__.py files and deprecation notice (LL-251) (#2241)
  src/analytics/__init__.py
  src/utils/__init__.py
  src/utils/retry_decorator.py
Due: smoke-tests, detect-dead-code

fix(compliance): Update options_executor to SPY ONLY
  src/trading/options_executor.py
Due: smoke-tests, detect-dead-code

fix(compliance): Update trade_gateway to SPY ONLY
  src/risk/trade_gateway.py
Due: smoke-tests, detect-dead-code

fix(compliance): Update mandatory_trade_gate to SPY ONLY
  src/safety/mandatory_trade_gate.py
Due: smoke-tests, detect-dead-code

fix(compliance): Update rule_one_validator to SPY ONLY
  src/validators/rule_one_validator.py
Due: smoke-tests, detect-dead-code

fix(compliance): Update ticker whitelist validator to SPY ONLY
  scripts/validate_ticker_whitelist.py
Due: smoke-tests, detect-dead-code

fix(compliance): Update execute_credit_spread to SPY ONLY
  scripts/execute_credit_spread.py
Due: smoke-tests, detect-dead-code

fix(compliance): Update pre_trade_checklist to SPY ONLY
  src/risk/pre_trade_checklist.py
Due: smoke-tests, detect-dead-code

fix(compliance): Update scripts/pre_trade_checklist to SPY ONLY
  scripts/pre_trade_checklist.py
Due: smoke-tests, detect-dead-code

fix(compliance): Update simple_daily_trader to SPY ONLY
  scripts/simple_daily_trader.py
Due: smoke-tests, detect-dead-code

fix(compliance): Update guaranteed_trader to SPY ONLY
  scripts/guaranteed_trader.py
Due: smoke-tests, detect-dead-code

fix(compliance): Update directive_compliance_check to SPY ONLY
  scripts/directive_compliance_check.py
Due: smoke-tests, detect-dead-code

chore(data): Update system state sync timestamp (#2246)
  data/system_state.json
Due: verify-strategy-integration

chore(data): Update system state sync and iteration metadata (#2248)
  .claude/prd.json
  data/system_state.json
Due: verify-strategy-integration

chore(data): Update system state sync timestamp (#2250)
  data/system_state.json
Due: verify-strategy-integration

feat(backtest): Add bull put spread backtester engine
  scripts/backtest/bull_put_spread_backtester.py
Due: smoke-tests, detect-dead-code

feat(backtest): Add parameter sweep optimizer
  scripts/backtest/parameter_sweep.py
Due: smoke-tests, detect-dead-code

feat(backtest): Add RAG ingestion for backtest lessons
  scripts/backtest/ingest_backtest_to_rag.py
Due: smoke-tests, detect-dead-code

feat(backtest): Add market hours checker
  scripts/backtest/check_market_hours.py
Due: smoke-tests, detect-dead-code

feat(ci): Add off-market backtesting workflow
  .github/workflows/off-market-backtest.yml
Due: validate-yaml-strict, validate-workflow-secrets

docs(backtest): Add README for backtesting system
  scripts/backtest/README.md
Due: none

fix(compliance): Add spread limit enforcement to pre-trade checklist (#2253)
  docs/index.md
  scripts/pre_trade_checklist.py
Due: smoke-tests, detect-dead-code

fix(ci): Use correct Alpaca secret names (ALPACA_PAPER_TRADING_5K_*)
  .github/workflows/off-market-backtest.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore(backtest): Add off-market backtest results (Jan 20, 2026) (#2255)
  data/backtests/backtest_lessons_20260120_115822.json
  data/backtests/backtest_results_20260120_115822.json
  data/backtests/backtest_summary_20260120_115822.json
  data/rag_staging/rag_ready_lessons_20260120_115825.md
Due: none

chore(data): Update system state sync timestamp (#2256)
  data/system_state.json
Due: verify-strategy-integration

fix(ci): Auto-create and merge PRs for backtest results
  .github/workflows/off-market-backtest.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix(backtest): Fix parameter validation to generate valid combinations
  scripts/backtest/parameter_sweep.py
Due: smoke-tests, detect-dead-code

feat(seo): Add JSON-LD schema for AI agent discoverability (#2257)
  data/system_state.json
  docs/_includes/schema-website.html
  docs/_layouts/home.html
  docs/_layouts/post.html
  scripts/publish_weekend_devto.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration
