Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

feat: Add GARCH volatility forecasting to parametric VaR (#881)
  requirements.txt
  src/risk/var_metrics.py
Due: smoke-tests, detect-dead-code

feat: Wire rule discovery systems into trading decisions (#882)
  models/ml/rl_filter_weights.json
  src/agents/rl_agent.py
  src/orchestrator/gates.py
  src/orchestrator/main.py
Due: smoke-tests, detect-dead-code

fix: Security improvements - crypto removal and prompt injection defense (#883)
  src/core/alpaca_trader.py
  src/core/config.py
  src/orchestrator/gates.py
  src/utils/security.py
  tests/test_security.py
Due: smoke-tests, detect-dead-code

feat: Add Claude operational accountability logging (#885)
  data/claude_ops/session_2025-12-25.json
Due: none

feat: Persistent feedback learning system + security/lint fixes (#884)
  .claude/CLAUDE.md
  .claude/REFERENCE.md
  .claude/commands/diary.md
  .claude/commands/reflect.md
  .claude/hooks/capture_feedback.sh
  .claude/hooks/load_trading_state.sh
  src/orchestrator/gates.py
  src/orchestrator/main.py
  src/utils/security.py
  tests/test_security.py
Due: smoke-tests, detect-dead-code

feat: Security + Memory Feedback Loop Integration (#886)
  src/orchestrator/gates.py
  src/orchestrator/main.py
  src/utils/security.py
  tests/test_security.py
Due: smoke-tests, detect-dead-code

fix: Remove duplicate class definitions and unused imports (#887)
  src/orchestrator/gates.py
  tests/test_security.py
Due: smoke-tests, detect-dead-code

feat: Add LLM reasoning protocols to agent prompts (#888)
  src/agents/execution_agent.py
  src/agents/meta_agent.py
  src/agents/research_agent.py
  src/agents/risk_agent.py
  src/agents/signal_agent.py
Due: smoke-tests, detect-dead-code

feat: Autonomous feedback learning loop (#889)
  .claude/hooks/capture_feedback.sh
  scripts/auto_reflect.py
  src/learning/__init__.py
  src/learning/feedback_processor.py
  src/learning/feedback_weighted_rag.py
  src/learning/rl_feedback_connector.py
  verify_connection.py
Due: smoke-tests, detect-dead-code

fix: Resolve lint and format issues on main (#893)
  scripts/auto_reflect.py
  src/learning/__init__.py
  src/learning/feedback_processor.py
  src/learning/rl_feedback_connector.py
  src/orchestrator/gates.py
  src/utils/security.py
  tests/test_security.py
Due: smoke-tests, detect-dead-code

feat: Add session-start feedback learning hook (#892)
  .claude/hooks/process_pending_feedback.sh
  .claude/settings.json
  src/learning/feedback_learner.py
Due: smoke-tests, detect-dead-code

feat: Self-healing orchestrator with auto-halt and adaptive thresholds (#894)
  .github/workflows/weekend-learning.yml
  src/orchestration/self_healing.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: Agent Health Check with cached dependencies (#896)
  .github/workflows/agent-health-check.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Use correct StrategyRegistry method list_all() (#897)
  .github/workflows/agent-health-check.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Use correct risk module references (#898)
  .github/workflows/agent-health-check.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Replace non-existent SentimentAgent with SignalAgent (#899)
  .github/workflows/agent-health-check.yml
Due: validate-yaml-strict, validate-workflow-secrets

feat: Add operational safeguards with backup and staleness hooks (#900)
  .claude/hooks/backup_critical_state.sh
  .claude/hooks/staleness_circuit_breaker.sh
  .claude/settings.json
  .github/workflows/trading-health-monitor.yml
  .gitignore
Due: validate-yaml-strict, validate-workflow-secrets

fix: Resolve CI lint and workflow integrity failures (#901)
  src/orchestration/self_healing.py
  tests/test_workflow_integrity.py
Due: smoke-tests, detect-dead-code

feat: Add critical reliability guards to prevent silent failures (#902)
  requirements-minimal.txt
  scripts/ingest_phil_town_youtube.py
  src/orchestrator/main.py
  src/utils/heartbeat.py
  src/utils/output_verifier.py
  src/utils/staleness_guard.py
Due: smoke-tests, detect-dead-code

fix: Format and lint fixes for CI (#903)
  scripts/ingest_phil_town_youtube.py
  src/orchestrator/main.py
  src/utils/heartbeat.py
  src/utils/staleness_guard.py
Due: smoke-tests, detect-dead-code

fix: Fix strategy registry check in agent health workflow (#904)
  .github/workflows/agent-health-check.yml
Due: validate-yaml-strict, validate-workflow-secrets

feat: Add automatic Alpaca state sync to prevent stale data (#905)
  .claude/hooks/staleness_circuit_breaker.sh
  .github/workflows/pre-market-sync.yml
  data/system_state.json
  scripts/sync_alpaca_state.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration

fix: Pin langchain dependencies to prevent version conflicts (#907)
  requirements-minimal.txt
Due: none

fix: Use version range for langchain-core (>=0.3.78,<1.0.0) (#909)
  requirements-minimal.txt
Due: none

fix: Format sync_alpaca_state.py (#910)
  scripts/sync_alpaca_state.py
Due: smoke-tests, detect-dead-code

feat: Implement GeminiDeepResearch for pre-trade market analysis
  .claude/skills/deep_research/SKILL.md
  src/ml/__init__.py
  src/ml/gemini_deep_research.py
Due: smoke-tests, detect-dead-code

style: Fix ruff formatting in gemini_deep_research.py
  src/ml/gemini_deep_research.py
Due: smoke-tests, detect-dead-code

docs: Store YouTube analysis rejecting NotebookLM integration
  rag_knowledge/youtube/insights/gemini_notebooklm_analysis_20251228.md
Due: none

fix: Security tests - update regex patterns and guard telemetry (#912)
  src/orchestrator/gates.py
  src/utils/security.py
Due: smoke-tests, detect-dead-code

refactor: Remove dead RLHF/feedback infrastructure (-1,805 lines) (#913)
  .claude/hooks/capture_feedback.sh
  .claude/hooks/process_pending_feedback.sh
  scripts/auto_reflect.py
  src/learning/__init__.py
  src/learning/feedback_learner.py
  src/learning/feedback_processor.py
  src/learning/feedback_weighted_rag.py
  src/learning/rl_feedback_connector.py
  src/learning/thompson_sampler.py
  src/orchestration/self_healing.py
Due: smoke-tests, detect-dead-code

fix: Security tests - guard telemetry and fix assertions (#914)
  src/orchestrator/gates.py
  tests/test_security.py
Due: smoke-tests, detect-dead-code

fix: Make feedback hook fully autonomous - no human review needed (#915)
  .claude/hooks/capture_feedback.sh
Due: none

docs: Add permanent session-learned directives
  .claude/CLAUDE.md
Due: none

chore: Auto-sync system state from Alpaca
  data/system_state.json
Due: verify-strategy-integration

chore: Update feedback hook timeout and stats (#916)
  .claude/settings.json
  data/feedback/stats.json
Due: none

fix: Update CLAUDE.md command to use existing health check script (#917)
  .claude/CLAUDE.md
Due: none

chore: Auto-sync system state from Alpaca (#927)
  data/system_state.json
Due: verify-strategy-integration
