Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-workflow-secrets:
  name: Validate Workflow Secrets (Zero Tolerance)
  entry: python3 scripts/validate_workflow_secrets.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

detect-dead-code:
  name: Dead Code Detector
  entry: python3 scripts/detect_dead_code.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

verify-strategy-integration:
  name: Verify Strategy Integration (ll_012 Prevention)
  entry: python3 scripts/verify_strategy_integration.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-config-enums:
  name: Validate Config Enum Values (ll_033 Prevention)
  entry: python3 scripts/validate_config_enums.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-trading-script-syntax:
  name: Validate Critical Trading Scripts Syntax (ll_024 Prevention)
  ...

weekend-crypto-workflow-check:
  name: Weekend Crypto Workflow Validation
  entry: python3 -c "import yaml; f=open('.github/workflows/weekend-crypto-trading.yml'); d=yaml.safe_load(f); assert 'PYTHONPATH' in str(d), 'Missing PYTHONPATH'; assert 'CRYPTO_FORCE_TRADE' in str(d), 'Missing CRYPTO_FORCE_TRADE'"
  language: system
  ...

docs(rag): Record lesson ll_171 - Phil Town Rule #1 Violated (#1622)
  rag_knowledge/lessons_learned/ll_171.md
Due: none

fix(risk): Prevent duplicate short positions - Rule #1 (#1623)
  .github/workflows/emergency-protection.yml
  rag_knowledge/lessons_learned/ll_169_prevent_duplicate_short_positions_jan13.md
  scripts/cancel_and_protect.py
  scripts/simple_daily_trader.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

EMERGENCY: Close losing put positions - Rule #1 protection (#1624)
  .github/workflows/close-put-position.yml
  TRIGGER_TRADE.md
Due: validate-yaml-strict, validate-workflow-secrets

fix(dialogflow): Conversational answers for direct P/L questions (#1626)
  src/agents/dialogflow_webhook.py
  tests/test_dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

fix(rag): Remove duplicate entry and add tech debt audit lesson (#1627)
  data/rag/lessons_learned.json
Due: none

chore(cleanup): Fix critical bugs and remove technical debt (#1628)
  .claude/commands/advise.md
  .claude/commands/capture-learning.md
  .claude/commands/create-pr.md
  .claude/commands/diary.md
  .claude/commands/reflect.md
  rag_knowledge/lessons_learned/ll_170_prevent_duplicate_short_positions_jan13.md
  rag_knowledge/lessons_learned/ll_171_phil_town_rule_violation_jan13.md
  scripts/create_and_merge_pr.py
  scripts/set_put_stop_loss.py
  src/safety/mandatory_trade_gate.py
Due: smoke-tests, detect-dead-code

chore: Add session memory files (#1629)
  data/memory/claims/claims_20260113_164927_999d6141.json
  data/memory/lessons/lessons_20260113_164927_13170503.json
  data/memory/trades/trades_20260113_164927_7653c237.json
Due: none

fix(data): Update stale system state (#1630)
  data/performance_log.json
  data/system_state.json
Due: verify-strategy-integration

chore(tech-debt): DRY refactor, fix broken links, add tests (#1631)
  README.md
  src/utils/tool_definitions.py
  tests/test_mandatory_trade_gate.py
Due: smoke-tests, detect-dead-code

fix(risk): Zero-tolerance circuit breaker - Phil Town Rule #1 (#1632)
  src/risk/trade_gateway.py
Due: smoke-tests, detect-dead-code

feat(blog): Add auto-blog generator for daily learnings (#1633)
  .claude/hooks/auto_blog_generator.sh
  .claude/settings.json
  docs/_posts/2026-01-13-day-74-rule-1-violation.md
  scripts/auto_blog_post.py
Due: smoke-tests, detect-dead-code

chore(cleanup): Fix misnamed lesson files and remove temp docs (#1635)
  TRIGGER_TRADE.md
  rag_knowledge/lessons_learned/ll_172_prevent_duplicate_short_positions_jan13.md
  rag_knowledge/lessons_learned/ll_173_technical_debt_audit_jan13.md
Due: none

docs(rag): Record LL-174 - Repeated Rule #1 violation (#1637)
  rag_knowledge/lessons_learned/ll_174_rule1_violation_jan13_session2.md
Due: none

feat: Add Alpaca status sync workflow (#1636)
  .github/workflows/sync-alpaca-status.yml
  tests/test_mandatory_trade_gate.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix(data): Update system_state with current Alpaca positions (#1638)
  data/system_state.json
Due: verify-strategy-integration

fix: Use PR workflow for sync to comply with branch protection (#1639)
  .github/workflows/sync-alpaca-status.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix(dialogflow): Show daily_change for today questions, not total P/L (#1640)
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

fix(risk): Enforce Rule #1 on short puts and prevent duplicates (#1643)
  .claude/CLAUDE.md
  rag_knowledge/lessons_learned/ll_175_trade_gateway_rule1_fix_jan13.md
  src/risk/trade_gateway.py
Due: smoke-tests, detect-dead-code

chore(data): Add trades backup from RAG sync (#1644)
  data/trades_backup.json
Due: none

test: Fix sandbox compatibility and Rule #1 test isolation (#1645)
  tests/test_cancel_stale_orders.py
  tests/test_session_manager.py
  tests/test_trade_gateway.py
Due: smoke-tests, detect-dead-code

lesson(ll_176): PDT protection blocks same-day put closing (#1646)
  rag_knowledge/lessons_learned/ll_176_pdt_protection_blocks_trade_jan13.md
Due: none

chore: Sync Alpaca paper account status [auto] (#1647)
  data/system_state.json
Due: verify-strategy-integration

feat: Add scheduled workflow to close put tomorrow (#1648)
  .github/workflows/scheduled-close-put.yml
Due: validate-yaml-strict, validate-workflow-secrets

feat(security): Add critical operational security improvements (#1650)
  src/execution/alpaca_executor.py
  src/risk/trade_gateway.py
  src/utils/api_circuit_breaker.py
  src/utils/heartbeat.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#1651)
  data/system_state.json
Due: verify-strategy-integration

fix(cleanup): Critical bug fixes and technical debt removal (#1652)
  docs/_posts/2025-11-01-day-1-starting-ai-trading-journey.md
  docs/_posts/2026-01-06-day-67-switching-to-5k-account.md
  docs/_posts/2026-01-12-technical-debt-cleanup.md
  docs/_posts/2026-01-13-day-74-rule-1-violation.md
  docs/_posts/2026-01-13-day-74-spy-to-sofi-emergency-fix.md
  docs/lessons.md
  docs/reports.md
  rag_knowledge/lessons_learned/ll_151_advanced_rag_techniques_assessment_jan13.md
  rag_knowledge/lessons_learned/ll_159_safe_dead_code_cleanup_jan13.md
  rag_knowledge/lessons_learned/ll_167_comprehensive_tech_debt_audit_jan13.md
  rag_knowledge/lessons_learned/ll_169.md
  rag_knowledge/lessons_learned/ll_173_technical_debt_audit_jan13.md
  scripts/auto_blog_post.py
  scripts/autonomous_trader.py
  src/execution/alpaca_executor.py
Due: test-crypto-imports, smoke-tests, detect-dead-code, verify-strategy-integration, validate-trading-script-syntax

docs(rag): Record LL-175 - Stop repeating failures without checking logs (#1653)
  rag_knowledge/lessons_learned/ll_175_stop_repeating_failures_jan13.md
Due: none

fix(workflow): Use close_position() API instead of submit_order for options (#1654)
  .github/workflows/close-put-position.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix(cleanup): Remove broken dashboard script and fix test (#1655)
  .github/workflows/daily-trading.yml
  scripts/generate_progress_dashboard.py
  tests/test_github_pages_links.py
Due: validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code

fix(webhook): Read today_trades key correctly from state (#1657)
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

docs(rag): Record codebase audit lessons learned (ll_177) (#1656)
  rag_knowledge/lessons_learned/ll_177_codebase_audit_jan13.md
Due: none

feat(quality): Comprehensive system improvements - Jan 2026 research (#1658)
  rag_knowledge/lessons_learned/ll_143_investment_strategy_audit_jan12.md
  rag_knowledge/lessons_learned/ll_144_stale_order_threshold_fix_jan12.md
  rag_knowledge/lessons_learned/ll_155_technical_debt_audit_jan13.md
  rag_knowledge/lessons_learned/ll_157_dialogflow_analytical_query_routing_jan13.md
  rag_knowledge/lessons_learned/ll_158_day74_emergency_fix_jan13.md
  rag_knowledge/lessons_learned/ll_161_zero_options_buying_power_root_cause_jan13.md
  rag_knowledge/lessons_learned/ll_162_rag_system_analysis_jan13.md
  tests/test_alpaca_trader_smoke.py
  tests/test_lessons_learned_rag_smoke.py
  tests/test_options_executor_smoke.py
  tests/test_vertex_rag_smoke.py
Due: smoke-tests, detect-dead-code

fix: Operational integrity - hook, workflow, and mandatory gate fixes (#1659)
  .claude/hooks/inject_trading_context.sh
  .github/workflows/sync-alpaca-status.yml
  src/safety/mandatory_trade_gate.py
  tests/test_mandatory_trade_gate.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

docs(rag): Record lesson about hook data mismatch causing hallucinations (#1660)
  data/rag/lessons_learned.json
Due: none

chore: Sync Alpaca paper account status [auto] (#1661)
  data/system_state.json
Due: verify-strategy-integration

fix(data): Sync system_state.json with actual Alpaca data (#1662)
  data/system_state.json
Due: verify-strategy-integration

docs(rag): Record CEO Q&A session lessons (LL-178) (#1663)
  rag_knowledge/lessons_learned/ll_178_ceo_qa_session_jan13.md
Due: none

refactor: Remove 1,611 lines of dead code (RAG + orchestrator) (#1664)
  src/orchestrator/main.py
  src/rag/enforcer.py
  src/rag/memory_persistence.py
  src/rag/memr3_router.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

chore: Remove 2 unnecessary documentation files (#1666)
  .claude/MCP_SETUP_INSTRUCTIONS.md
  .claude/SESSION_START_CHECKLIST.md
Due: none

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$
