Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags but still validate syntax strictly
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--ignore=E203,E501,W503,E402']
        exclude: .pc-venv/

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.7
    hooks:
      - id: bandit
        args: ['-ll', '-ii', '--skip', 'B310,B113,B602,B603,B404']
        exclude: ^tests/|.pc-venv/

  # Keep the custom hygiene script if needed, but ensure it works
  - repo: local
    hooks:
      - id: file-organization
        name: Check File Organization
        entry: python3 .claude/skills/precommit_hygiene/scripts/precommit_hygiene.py check_file_organization
        language: system
        pass_filenames: false
        verbose: true

      - id: test-crypto-imports
        name: Test Crypto Trading Imports (No RAG)
        entry: bash scripts/pre_commit_test_crypto_imports.sh
        language: system
        types: [python]
        files: '(src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py)'
        pass_filenames: false

      - id: test-dashboard-metrics
        name: Test Dashboard Metrics Completeness
        entry: python3 tests/test_dashboard_metrics.py
        language: system
        types: [python]
        files: '(scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py)'
        pass_filenames: false
        verbose: true

      - id: validate-yaml-strict
        name: Strict YAML Validation
        entry: bash scripts/validate_yaml_before_commit.sh
        language: system
        types: [yaml]
        pass_filenames: false
        verbose: true

      - id: test-dashboard-output
        name: Test Dashboard Output Completeness
        entry: python3 tests/test_dashboard_output.py
        language: system
        types: [python]
        files: '(scripts/generate.*dashboard.*\.py)'
        pass_filenames: false
        verbose: true

chore: satisfy ruff lint warnings
  tests/data_quality/test_outliers.py
  tests/data_quality/test_splits.py
  tests/utils/test_self_healing.py
Due: none

chore: silence ruff optional warnings
  src/utils/retry_utils.py
  src/utils/security.py
  src/utils/self_healing.py
  src/utils/sentiment_loader.py
  src/utils/signal_decay_monitor.py
  src/utils/tax_optimization.py
  src/utils/trade_attribution.py
  src/utils/unified_sentiment.py
Due: none

chore: align lint config
  tests/data_quality/test_outliers.py
Due: none

chore: quiet lint in claude skills
  .claude/skills/bogleheads_learner/scripts/bogleheads_learner.py
  .claude/skills/financial_data_fetcher/scripts/fetch_data.py
Due: none

ci: add manual trigger and fix data fetch + tests
  .github/workflows/ci.yml
  scripts/autonomous_trader.py
  src/day_trading_support/orchestrator.py
  src/deepagents_integration/adapter.py
  src/deepagents_integration/agents.py
  src/deepagents_integration/bridge.py
  src/deepagents_integration/tools.py
  src/orchestrator/main.py
  src/rag/collectors/fred_collector.py
  src/rag/collectors/tiktok_collector.py
  src/research/alpha/__init__.py
  src/research/alpha/features.py
  src/research/baselines/__init__.py
  src/research/factors/__init__.py
  src/research/factors/cross_sectional.py
  src/research/labeling/__init__.py
  src/research/portfolio/__init__.py
  src/research/portfolio/risk_parity.py
  src/strategies/reit_strategy.py
  src/utils/market_data.py
  tests/data_quality/test_gaps.py
  tests/data_quality/test_outliers.py
  tests/data_quality/test_splits.py
  tests/data_quality/test_survivorship_bias.py
  tests/data_quality/test_timezone.py
  tests/test_fred_collector.py
  tests/test_market_data_alpaca.py
  tests/test_sentiment_integration.py
  tests/test_staleness.py
Due: test-crypto-imports, validate-yaml-strict

chore: ignore agent_context and generated artifacts
  .gitignore
  scripts/autonomous_trader.py
  src/deepagents_integration/adapter.py
  src/deepagents_integration/agents.py
  src/deepagents_integration/bridge.py
  src/deepagents_integration/tools.py
  src/research/baselines/__init__.py
  src/research/labeling/__init__.py
  src/strategies/reit_strategy.py
Due: test-crypto-imports

fix: export FredCollector alias
  .pre-commit-config.yaml
  src/rag/collectors/__init__.py
Due: test-crypto-imports, validate-yaml-strict

chore: relax ruff UP035/UP045 until strategies migrated
  pyproject.toml
Due: none

chore: temporarily ignore UP007/B905 in ruff
  pyproject.toml
Due: none

fix: pin xai-sdk <1.5 to resolve packaging conflict
  pyproject.toml
Due: none

deps: align streamlit and pin xai-sdk<1.5 to avoid packaging clash
  pyproject.toml
Due: none

chore: widen python support to 3.11 for CI
  pyproject.toml
Due: none

ci: declare python range for poetry (3.9-3.11)
  pyproject.toml
Due: none

deps: move xai-sdk to optional extra to unblock py3.11 CI
  pyproject.toml
Due: none

chore: drop xai-sdk dependency to unblock CI
  pyproject.toml
Due: none
