Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags but still validate syntax strictly
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--ignore=E203,E501,W503,E402']
        exclude: .pc-venv/

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.7
    hooks:
      - id: bandit
        args: ['-ll', '-ii', '--skip', 'B310,B113,B602,B603,B404']
        exclude: ^tests/|.pc-venv/

  # Keep the custom hygiene script if needed, but ensure it works
  - repo: local
    hooks:
      - id: file-organization
        name: Check File Organization
        entry: python3 .claude/skills/precommit_hygiene/scripts/precommit_hygiene.py check_file_organization
        language: system
        pass_filenames: false
        verbose: true

      - id: test-crypto-imports
        name: Test Crypto Trading Imports (No RAG)
        entry: bash scripts/pre_commit_test_crypto_imports.sh
        language: system
        types: [python]
        files: '(src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py)'
        pass_filenames: false

      - id: test-dashboard-metrics
        name: Test Dashboard Metrics Completeness
        entry: python3 tests/test_dashboard_metrics.py
        language: system
        types: [python]
        files: '(scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py)'
        pass_filenames: false
        verbose: true

      - id: validate-yaml-strict
        name: Strict YAML Validation
        entry: bash scripts/validate_yaml_before_commit.sh
        language: system
        types: [yaml]
        pass_filenames: false
        verbose: true

      - id: test-dashboard-output
        name: Test Dashboard Output Completeness
        entry: python3 tests/test_dashboard_output.py
        language: system
        types: [python]
        files: '(scripts/generate.*dashboard.*\.py)'
        pass_filenames: false
        verbose: true

docs: Add North Star $100/day gap analysis and roadmap
  claude-progress.txt
  plan.md
Due: none

fix: Relax options scanner thresholds to find more opportunities
  src/strategies/rule_one_options.py
Due: none

docs: Add Week 1 progress report with critical findings
  docs/WEEK1_PROGRESS.md
Due: none

test: Run backtest matrix across 3 market regimes
  data/backtests/latest_summary.json
  data/backtests/matrix_core_dca/bull_run_2024/report.md
  data/backtests/matrix_core_dca/bull_run_2024/summary.json
  data/backtests/matrix_core_dca/covid_whiplash_2020/report.md
  data/backtests/matrix_core_dca/covid_whiplash_2020/summary.json
  data/backtests/matrix_core_dca/inflation_shock_2022/report.md
  data/backtests/matrix_core_dca/inflation_shock_2022/summary.json
Due: none

analytics: add profit target tracker and report cli
  README.md
  scripts/generate_profit_target_report.py
  src/analytics/profit_target_tracker.py
  tests/analytics/test_profit_target_tracker.py
Due: none

feat: Add 4 improvements for path to $100/day
  config/asset_tiers.yaml
  dashboard/path_to_100_dashboard.py
  src/risk/hedging.py
  src/strategies/ipo_scanner.py
Due: validate-yaml-strict

feat: add strategy registry and options report
  README.md
  config/strategies.yaml
  data/backtests/options_theta_daily_pl.csv
  docs/options-profit-roadmap.md
  reports/options_theta_strategy.md
  scripts/report_options_theta.py
  scripts/run_options_live_sim.py
  scripts/run_strategy_pipeline.py
  src/pipeline/strategy_registry.py
  tests/test_strategy_registry.py
Due: validate-yaml-strict

feat: Implement comprehensive improvements for cd /workspace && git commit -m "feat: Implement comprehensive improvements for $100/day North Star target
  .github/workflows/ci.yml
  docs/iteration-roadmap.md
  docs/north-star-improvements-summary.md
  docs/ops-runbook.md
  scripts/run_core_strategy_reference_backtest.py
  scripts/strategy_inventory.py
  src/backtesting/backtest_engine.py
  src/backtesting/backtest_results.py
  src/risk/portfolio_risk_layer.py
  src/strategies/core_strategy_frozen.py
  src/strategies/strategy_registry.py
  src/target_model.py
Due: validate-yaml-strict

feat: Add cd /workspace && git commit -m "feat: Add $100/day target model and strategy pipeline infrastructure
  README.md
  docs/ops/RUNBOOK.md
  docs/target-model-and-strategy-pipeline.md
  reports/branch_strategy_analysis.txt
  scripts/analyze_branches_and_strategies.py
  scripts/generate_target_model_report.py
  scripts/update_backtest_metrics.py
  src/analytics/target_model.py
  src/strategies/strategy_registry.py
Due: none

docs: Add comprehensive implementation summary
  reports/implementation_summary_2025-12-03.md
Due: none

feat: Add $100/day target infrastructure and canonical strategy pipeline
  .github/workflows/strategy-validation.yml
  docs/roadmap.md
  docs/runbook.md
  scripts/inspect_strategies.py
  scripts/run_core_backtest.py
  src/backtesting/__init__.py
  src/backtesting/target_integration.py
  src/risk/__init__.py
  src/risk/target_aligned_sizing.py
  src/strategies/__init__.py
  src/strategies/registry.py
  src/targets/__init__.py
  src/targets/capital_model.py
  src/targets/daily_target.py
  src/targets/progress_tracker.py
Due: validate-yaml-strict

docs: Add options strategy roadmap for $100/day income target
  docs/OPTIONS_STRATEGY_ROADMAP.md
Due: none

feat: Add comprehensive bonds trading capabilities
  config/backtest_scenarios.yaml
  scripts/bond_data_ingester.py
  src/agents/bond_yield_agent.py
  src/risk/bond_risk.py
  tests/test_bonds_trading.py
Due: validate-yaml-strict

feat: Add options strategy improvements for $100/day income goal
  src/risk/margin_monitor.py
  src/strategies/credit_spreads.py
  src/strategies/wheel_strategy.py
  src/utils/earnings_calendar.py
Due: none

feat: Add comprehensive treasury trading enhancements
  claude-progress.txt
  config/portfolio_allocation.yaml
  scripts/tbill_ladder.py
  scripts/treasury_steepener_signal.py
  src/core/config.py
  src/strategies/treasury_ladder_strategy.py
Due: validate-yaml-strict

style: Format data_contracts.py
  src/research/data_contracts.py
Due: none

Apply formatting fixes
  scripts/autonomous_trader.py
  scripts/generate_telemetry_report.py
  src/agent_framework/auditor.py
  src/agents/execution_agent.py
  src/analytics/options_profit_planner.py
  src/orchestrator/main.py
Due: test-crypto-imports

docs: Add GEMINI.md with core directives
  GEMINI.md
Due: none

feat(agent): Implement MacroeconomicAgent and initial integration
  src/agents/macro_agent.py
  src/orchestrator/main.py
  src/strategies/treasury_ladder_strategy.py
  tests/test_macro_agent.py
Due: none

Modernize type hints and update exports
  src/backtesting/__init__.py
  src/backtesting/walk_forward.py
  src/pipeline/strategy_registry.py
Due: none
