Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

chore: Sync Alpaca state [auto]
  data/TRADING_HALTED
  data/north_star_weekly_history.json
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
Due: verify-strategy-integration

fix: recognize protective option buy limits (#4179)
  data/reports/continuation_2026-07-03.md
  data/reports/reconciliation_2026-07-03.json
  data/system_state.json
  data/verification_reports.json
  scripts/verify_stops_in_place.py
  tests/test_verify_stops_in_place.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

Add deep research ML RAG trading gate (#4180)
  data/reports/deep_research_ml_rag_2026-07-03.json
  data/reports/deep_research_ml_rag_2026-07-03.md
  rag_knowledge/lessons_learned/deep_research_ml_rag_20260703.md
  scripts/deep_research_ml_rag.py
  scripts/research_strategies.py
  tests/test_deep_research_ml_rag.py
  tests/test_research_and_analysis.py
Due: smoke-tests, detect-dead-code

feat: CEO-approved validation package — 200% stop + 25% take-profit (#4177)
  .claude/CLAUDE.md
  .claude/rules/risk-management.md
  .claude/rules/trading.md
  data/runtime/proposals/validation_hypothesis_200pct_stop.json
  data/runtime/strategy_validation_hypothesis.json
  data/strategy_params.json
  scripts/ic_simple.py
  src/core/trading_profiles.py
  tests/test_high_roi_trading_loop.py
  tests/test_ic_exit_fixes.py
  tests/test_iron_condor_guardian.py
  tests/test_manage_iron_condor_positions.py
  tests/test_options_risk_monitor.py
  tests/test_trading_profiles.py
  tests/test_validation_hypothesis_compliance.py
Due: smoke-tests, detect-dead-code

chore: daily reconciliation [auto]
  data/reports/reconciliation_2026-07-03.json
Due: none

fix: make closed-position sync import repo modules (#4181)
  scripts/sync_closed_positions.py
Due: smoke-tests, detect-dead-code

docs: record pr hygiene reconciliation blocker (#4182)
  rag_knowledge/lessons_learned/ll_20260703_pr_hygiene_reconciliation_blocker.md
Due: none

fix: expose reconciliation consumption diagnostics (#4184)
  .thumbgate/drafts/money-faster-20260704.md
  data/reports/reconciliation_2026-07-04.json
  rag_knowledge/lessons_learned/ll_20260704_reconciliation_partial_consumption.md
  scripts/reconcile_broker_vs_paired.py
  tests/unit/test_reconciliation.py
Due: smoke-tests, detect-dead-code

style: apply self-heal lint fixes (#4185)
  scripts/build_itstoday_submission.py
  scripts/ci/ai_pr_review.py
  scripts/close_positions.py
  scripts/daily_verification.py
  scripts/deep_research_ml_rag.py
  scripts/generate_alpaca_snapshot.py
  scripts/high_roi_trading_loop.py
  scripts/historical_learning_backfill.py
  scripts/ic_simple.py
  scripts/iron_condor_guardian.py
  scripts/iron_condor_scanner.py
  scripts/iron_condor_trader.py
  scripts/optimize_win_rate.py
  scripts/reconcile_broker_vs_paired.py
  scripts/simple_daily_trader.py
  scripts/sync_closed_positions.py
  scripts/update_ml_from_trades.py
  scripts/update_north_star_operating_plan.py
  scripts/validate_thursday_gate.py
  src/agents/execution_agent.py
  src/resilience/audit_graph.py
  src/risk/trade_gateway.py
  src/safety/crisis_monitor.py
  src/safety/north_star_guard.py
  src/safety/north_star_operating_plan.py
  src/utils/order_intent.py
Due: smoke-tests, detect-dead-code
