Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-black, python-flake8, python-mypy, workflow-security

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: file-organization
        name: Check File Organization (Auto-Fix)
        entry: python3 .claude/skills/precommit_hygiene/scripts/precommit_hygiene.py check_file_organization --fix
        language: system
        pass_filenames: false

      - id: python-black
        name: Python Black Formatting
        entry: black
        language: system
        types: [python]

      - id: python-flake8
        name: Python Flake8 Linting
        entry: flake8
        language: system
        types: [python]
        args: [--max-line-length=100, --ignore=E203,W503]

      - id: python-mypy
        name: Python Type Checking
        entry: mypy
        language: system
        types: [python]
        args: [--ignore-missing-imports]

      - id: detect-secrets
        name: Detect Secrets (Entropy Analysis)
        entry: detect-secrets-hook
        language: system
        args: ['--baseline', '.secrets.baseline']
        pass_filenames: true

      - id: workflow-security
        name: Check Workflow Security
        entry: python3 .claude/skills/precommit_hygiene/scripts/precommit_hygiene.py check_workflow_security
        language: system
        types: [yaml]
        files: '\.github/workflows/.*\.ya?ml$'

feat: Add LangSmith integration and test script
  scripts/test_langsmith.py
  src/utils/langsmith_wrapper.py
Due: python-black, python-flake8, python-mypy

fix: Integrate LangSmith wrapper into MultiLLMAnalyzer
  src/core/multi_llm_analysis.py
Due: python-black, python-flake8, python-mypy

fix: Complete LangSmith wrapper integration in MultiLLMAnalyzer
  src/core/multi_llm_analysis.py
Due: python-black, python-flake8, python-mypy

feat: Add continuous training monitor with Claude Skills & Vertex MCP
  scripts/monitor_training_and_update_dashboard.py
  scripts/setup_training_monitor_launchd.sh
Due: python-black, python-flake8, python-mypy

fix: Complete LangSmith integration across all OpenAI clients
  scripts/test_langsmith.py
  src/strategies/ipo_strategy.py
  src/utils/news_sentiment.py
Due: python-black, python-flake8, python-mypy

docs: Add LangSmith integration verification guide
  docs/LANGSMITH_INTEGRATION.md
Due: none

feat: Add LangSmith monitoring with Claude Skills & MCP integration
  .claude/skills/langsmith_monitor/SKILL.md
  .claude/skills/langsmith_monitor/scripts/langsmith_monitor.py
  mcp/registry.json
  mcp/servers/langsmith_server.py
  scripts/monitor_training_and_update_dashboard.py
Due: python-black, python-flake8, python-mypy

feat: Complete autonomous system setup with zero manual work
  docs/AUTONOMOUS_SYSTEM_GUIDE.md
  scripts/rl_training_orchestrator.py
  scripts/setup_autonomous_system.sh
Due: python-black, python-flake8, python-mypy

fix: Simplify LangSmith integration and add dashboard guide
  docs/WHAT_YOU_WILL_SEE.md
  scripts/rl_training_orchestrator.py
Due: python-black, python-flake8, python-mypy

feat: Enhance Progress Dashboard with system health and activity monitoring
  wiki/Progress-Dashboard.md
Due: none

feat: Add comprehensive system health and activity sections to dashboard
  scripts/generate_progress_dashboard.py
  wiki/Progress-Dashboard.md
Due: python-black, python-flake8, python-mypy

feat: Add direct links to LangSmith and Vertex AI project dashboards
  scripts/generate_progress_dashboard.py
  wiki/Progress-Dashboard.md
Due: python-black, python-flake8, python-mypy

feat: Update LangSmith links with specific project ID
  scripts/generate_progress_dashboard.py
  wiki/Progress-Dashboard.md
Due: python-black, python-flake8, python-mypy

feat: Add External Dashboards section with LangSmith project ID
  scripts/generate_progress_dashboard.py
  wiki/Progress-Dashboard.md
Due: python-black, python-flake8, python-mypy

docs: Add comprehensive RL system status report
  docs/RL_SYSTEM_STATUS_REPORT.md
Due: none

docs: Add world-class RL system improvement recommendations
  docs/WORLD_CLASS_RL_IMPROVEMENTS.md
Due: none

fix: Fix CI workflow failures
  .github/workflows/model-training.yml
  .github/workflows/staleness-monitor.yml
Due: workflow-security

feat: Implement world-class RL optimizations (Phase 1)
  src/agents/reinforcement_learning.py
  src/agents/reinforcement_learning_optimized.py
  src/ml/ensemble_rl.py
  src/ml/market_regime_detector.py
  src/ml/online_learner.py
  src/ml/reward_functions.py
  src/ml/trainer.py
Due: python-black, python-flake8, python-mypy

Fix security violation: Replace api_key[:10] with mask_api_key() in test_langsmith.py
  .claude/hooks/pre-commit
  .github/codeql/codeql-config.yml
  .pre-commit-config.yaml
  scripts/test_langsmith.py
Due: python-black, python-flake8, python-mypy

feat: Complete Phase 2 RL optimizations (position sizing + hyperparameter optimization)
  docs/RL_OPTIMIZATIONS_COMPLETE.md
  src/ml/hyperparameter_optimizer.py
  src/ml/position_sizing_rl.py
  src/ml/trainer.py
Due: python-black, python-flake8, python-mypy
