Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags but still validate syntax strictly
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--ignore=E203,E501,W503,E402']
        exclude: .pc-venv/

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.7
    hooks:
      - id: bandit
        args: ['-ll', '-ii', '--skip', 'B310,B113,B602,B603,B404']
        exclude: ^tests/|.pc-venv/

  # Keep the custom hygiene script if needed, but ensure it works
  - repo: local
    hooks:
      - id: file-organization
        name: Check File Organization
        entry: python3 .claude/skills/precommit_hygiene/scripts/precommit_hygiene.py check_file_organization
        language: system
        pass_filenames: false
        verbose: true

      - id: test-crypto-imports
        name: Test Crypto Trading Imports (No RAG)
        entry: bash scripts/pre_commit_test_crypto_imports.sh
        language: system
        types: [python]
        files: '(src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py)'
        pass_filenames: false

      - id: test-dashboard-metrics
        name: Test Dashboard Metrics Completeness
        entry: python3 tests/test_dashboard_metrics.py
        language: system
        types: [python]
        files: '(scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py)'
        pass_filenames: false
        verbose: true

      - id: validate-yaml-strict
        name: Strict YAML Validation
        entry: bash scripts/validate_yaml_before_commit.sh
        language: system
        types: [yaml]
        pass_filenames: false
        verbose: true

      - id: test-dashboard-output
        name: Test Dashboard Output Completeness
        entry: python3 tests/test_dashboard_output.py
        language: system
        types: [python]
        files: '(scripts/generate.*dashboard.*\.py)'
        pass_filenames: false
        verbose: true

fix: pin langsmith to available 0.3.45 to resolve dependency monitor
  requirements.txt
Due: none

ci: fail if pinned versions missing on PyPI
  .github/workflows/dependency-health.yml
  scripts/check_pypi_pins.py
Due: validate-yaml-strict

ci: run PyPI pin check in lint job
  .github/workflows/ci.yml
Due: validate-yaml-strict

deps: drop explicit langgraph-checkpoint pin to resolve conflict
  requirements.txt
Due: none

chore: revert requirements.txt to stable set
  requirements.txt
Due: none

fix: implement backtest summary helpers
  scripts/run_backtest_matrix.py
Due: none

docs: add agent operating principle
  docs/agents.md
Due: none

ci: disable pip cache for daily trading
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

ci: auto-bypass promotion gate when state is stale
  scripts/enforce_promotion_gate.py
Due: none

chore: accept --use-hybrid-gates flag
  scripts/run_backtest_matrix.py
Due: none

fix: restore VolatilityAuditor alias
  src/agent_framework/auditor.py
Due: none

fix: correct import paths and add daily health check
  scripts/check_daily_health.py
  src/agents/data_agent.py
  src/deepagents_integration/bridge.py
  src/langchain_agents/analyst.py
  src/orchestrator/agents.py
Due: test-crypto-imports

ci: make system_state commit rebase-safe
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

ci: give trading install more time
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

ci: extend execute-trading install timeout
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

docs: add scaling roadmap v2 based on technical research
  docs/scaling-roadmap-v2.md
Due: none

ci: skip state push unless explicitly allowed
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

feat(risk): Add active position management with multi-condition exits
  src/risk/position_manager.py
  src/strategies/core_strategy.py
Due: none

docs: Update progress log with position management improvements
  claude-progress.txt
Due: none

feat: add actionable trading data collectors to RAG pipeline
  src/rag/collectors/__init__.py
  src/rag/collectors/earnings_whisper_collector.py
  src/rag/collectors/finviz_collector.py
  src/rag/collectors/options_flow_collector.py
  src/rag/collectors/orchestrator.py
  src/rag/collectors/tradingview_collector.py
Due: test-crypto-imports
