Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-workflow-secrets:
  name: Validate Workflow Secrets (Zero Tolerance)
  entry: python3 scripts/validate_workflow_secrets.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

detect-dead-code:
  name: Dead Code Detector
  entry: python3 scripts/detect_dead_code.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

verify-strategy-integration:
  name: Verify Strategy Integration (ll_012 Prevention)
  entry: python3 scripts/verify_strategy_integration.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-config-enums:
  name: Validate Config Enum Values (ll_033 Prevention)
  entry: python3 scripts/validate_config_enums.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-trading-script-syntax:
  name: Validate Critical Trading Scripts Syntax (ll_024 Prevention)
  ...

weekend-crypto-workflow-check:
  name: Weekend Crypto Workflow Validation
  entry: python3 -c "import yaml; f=open('.github/workflows/weekend-crypto-trading.yml'); d=yaml.safe_load(f); assert 'PYTHONPATH' in str(d), 'Missing PYTHONPATH'; assert 'CRYPTO_FORCE_TRADE' in str(d), 'Missing CRYPTO_FORCE_TRADE'"
  language: system
  ...

chore: Sync Alpaca state [auto]
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  data/trades.json
Due: verify-strategy-integration

feat: increase MAX_IC from 2 to 4 — accelerate trade frequency
  data/strategy_params.json
  scripts/ic_simple.py
  tests/unit/test_ic_simple.py
Due: smoke-tests, detect-dead-code

test: 23 tests for ML/RAG pipeline — Thompson, RAG, reward, strategy params
  tests/unit/test_ml_pipeline.py
Due: smoke-tests, detect-dead-code

feat: critical file coverage enforcement in CI
  scripts/ci/check_critical_coverage.py
  scripts/ci/run_all_tests.sh
Due: smoke-tests, detect-dead-code

feat: add Massive MCP server for stock market data + Greeks
  .claude/settings.json
Due: none

feat: backtester + free Greeks/IV/VIX replacing broken Alpaca SIP data
  data/backtest_trades.json
  data/rag_knowledge/lessons_learned/backtest_15d_10w_5y_20260331.md
  scripts/backtest_ic.py
  src/data/free_greeks.py
Due: smoke-tests, detect-dead-code

fix: wire free_greeks into ic_simple — replaces broken Alpaca SIP calls
  scripts/ic_simple.py
Due: smoke-tests, detect-dead-code

fix: MAX_POSITIONS 8→16 and MAX_CONCURRENT_IRON_CONDORS 2→4
  src/core/trading_constants.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca state [auto]
  data/feedback/trade_trajectories.jsonl
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  data/trades.json
  models/ml/feedback_model.json
Due: verify-strategy-integration

fix: update mcp-memory-gateway 0.8.4→0.8.5, filed bug on prevention rules
  .claude/hooks/session-start.sh
  .claude/settings.json
Due: none

ci: Upgrade and configure Trunk with March 2026 features
  .github/workflows/ci.yml
  .trunk/trunk.yaml
Due: validate-yaml-strict, validate-workflow-secrets

feat: Alpaca MCP Server V2 + BGE embeddings (84.7% vs MiniLM 56%)
  .claude/settings.json
  src/rag/vector_store.py
  tests/unit/test_ml_pipeline.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

chore: add Trunk configuration and CI workflow
  .github/workflows/ci.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: disable competing position manager — was closing ICs unexpectedly
  .github/workflows/sync-alpaca-status.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: disable ALL competing trading workflows — ic_simple.py is sole trader
  .github/workflows/execute-credit-spread.yml
  .github/workflows/iron-condor-autonomous.yml
  .github/workflows/iron-condor-scan.yml
  .github/workflows/manage-iron-condor-positions.yml
  .github/workflows/scheduled-position-close.yml
Due: validate-yaml-strict, validate-workflow-secrets

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$
