Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags but still validate syntax strictly
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--ignore=E203,E501,W503,E402']
        exclude: .pc-venv/

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.7
    hooks:
      - id: bandit
        args: ['-ll', '-ii', '--skip', 'B310,B113,B602,B603,B404']
        exclude: ^tests/|.pc-venv/

  # Keep the custom hygiene script if needed, but ensure it works
  - repo: local
    hooks:
      - id: file-organization
        name: Check File Organization
        entry: python3 .claude/skills/precommit_hygiene/scripts/precommit_hygiene.py check_file_organization
        language: system
        pass_filenames: false
        verbose: true

      - id: test-crypto-imports
        name: Test Crypto Trading Imports (No RAG)
        entry: bash scripts/pre_commit_test_crypto_imports.sh
        language: system
        types: [python]
        files: '(src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py)'
        pass_filenames: false

      - id: test-dashboard-metrics
        name: Test Dashboard Metrics Completeness
        entry: python3 tests/test_dashboard_metrics.py
        language: system
        types: [python]
        files: '(scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py)'
        pass_filenames: false
        verbose: true

      - id: validate-yaml-strict
        name: Strict YAML Validation
        entry: bash scripts/validate_yaml_before_commit.sh
        language: system
        types: [yaml]
        pass_filenames: false
        verbose: true

      - id: test-dashboard-output
        name: Test Dashboard Output Completeness
        entry: python3 tests/test_dashboard_output.py
        language: system
        types: [python]
        files: '(scripts/generate.*dashboard.*\.py)'
        pass_filenames: false
        verbose: true

chore: Add new backtesting components and fix pre-commit hooks
  .pre-commit-config.yaml
Due: validate-yaml-strict

docs: Update plan.md with macro-agent completion and hardening initiative
  plan.md
Due: none

feat(ci): Enable hybrid gates and fix pre-commit
  .github/workflows/daily-trading.yml
  .pre-commit-config.yaml
  src/analyst/bias_store.py
Due: validate-yaml-strict

docs(agent): Restore and update core directives
  GEMINI.md
  docs/agents.md
Due: none

Integrate official Alpaca MCP server and soften health check
  .github/workflows/daily-trading.yml
  mcp/registry.json
  mcp/servers/alpaca.py
  scripts/pre_market_health_check.py
Due: validate-yaml-strict

fix: Implement comprehensive CI robustness improvements
  AGENTS.md
  scripts/local_ci_test.sh
  scripts/run_backtest_matrix.py
  scripts/validate_secrets.py
  src/utils/retry_utils.py
Due: none

Add directive for agents to avoid manual user tasks
  scripts/run_backtest_matrix.py
  scripts/validate_secrets.py
  src/utils/retry_utils.py
Due: none

docs: Add git worktree workflow guidelines to AGENTS.md
  AGENTS.md
Due: none

fix(deps): Patch security vulnerabilities and unblock CI
  .github/workflows/security-scan.yml
  requirements.txt
Due: validate-yaml-strict

fix: Resolve LangSmith dependency conflict on main
  requirements.txt
Due: none

fix: Add pytest to minimal requirements for unit-fast CI
  requirements-minimal.txt
Due: none

Fail-soft secrets validation and stale-data banner on dashboard
  .github/workflows/daily-trading.yml
  scripts/generate_progress_dashboard.py
  scripts/validate_secrets.py
Due: validate-yaml-strict, test-dashboard-output

Fix Finnhub secret naming and keep fail-soft secrets validation
  .github/workflows/daily-trading.yml
  scripts/validate_secrets.py
Due: validate-yaml-strict

fix: Provide secrets to validation step in workflow
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

Move root scripts into scripts/ and add worktree hygiene tooling
  AGENTS.md
  GEMINI.md
  Makefile
  config/strategy_registry.json
  data/evaluations/evaluations_2025-12-03.json
  docs/PLAN.md
  docs/agents.md
  docs/gemini.md
  docs/ops/RUNBOOK.md
  docs/worktree_hygiene.md
  plan.md
  scripts/check_trading_status.sh
  scripts/fix_dependencies.sh
  scripts/install_worktree_launchd.sh
  scripts/lambda_handler.py
  scripts/launchd/com.trading.worktreehygiene.plist
  scripts/run_local_ci.sh
  scripts/start-trading-system.sh
  scripts/status-trading-system.sh
  scripts/stop-trading-system.sh
  scripts/test-deployment.sh
  scripts/worktree_hygiene.sh
  scripts/worktree_hygiene_cron.sh
  scripts/worktree_hygiene_digest.sh
Due: none

fix: Pin exact LangChain versions to resolve dependency hell
  requirements.txt
Due: none

fix: Use correct LangChain version that actually exists
  requirements.txt
Due: none
