Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

fix(test): Use pytest.approx for floating point comparison in Kelly test
  tests/test_kelly.py
Due: smoke-tests, detect-dead-code

chore: Update strategy registry, vectorized files, and feedback stats
  config/strategy_registry.json
  data/feedback/stats.json
  data/vector_db/vectorized_files.json
Due: verify-strategy-integration, validate-config-enums

docs(CLAUDE.md): Strengthen permanent directives and document RAG status
  .claude/CLAUDE.md
Due: none

docs: Update dashboard metrics and add critical RLHF lesson (#1212)
  docs/index.md
  docs/progress_dashboard.md
  rag_knowledge/lessons_learned/ll_093_rlhf_storage_broken_jan06.md
Due: none

feat: Add sandbox environment reminder hook
  .claude/CLAUDE.md
  .claude/hooks/sandbox_reminder.sh
  .claude/settings.json
Due: none

feat: Small capital CSP strategy and milestone fixes (#1213)
  .gitignore
  data/system_state.json
  data/watchlist_4ms_small_capital.json
  docs/index.md
  rag_knowledge/lessons_learned/ll_093_comprehensive_strategy_review_jan06.md
  scripts/small_capital_csp.py
  tests/test_small_capital_csp.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

fix(dashboard): Update Recent Trades section with Jan 6 data (#1214)
  docs/progress_dashboard.md
Due: none

fix(ci): Add requests dependency to publish-lessons workflow (#1215)
  .github/workflows/publish-lessons.yml
Due: validate-yaml-strict, validate-workflow-secrets

docs(CLAUDE.md): Update capital tiers with realistic CSP requirements (#1216)
  .claude/CLAUDE.md
Due: none

fix(lint): Sort imports and remove unused imports (#1217)
  scripts/small_capital_csp.py
  tests/test_small_capital_csp.py
Due: smoke-tests, detect-dead-code

docs: Add lessons #093 #094 - Google CAV research and North Star reality (#1218)
  rag_knowledge/lessons_learned/ll_093_google_cav_not_useful_jan07.md
  rag_knowledge/lessons_learned/ll_094_north_star_reality_check_jan07.md
Due: none

feat: Add RAG sync gap detection and trade sync scripts (#1219)
  .github/workflows/daily-trading.yml
  rag_knowledge/lessons_learned/ll_105_rag_sync_gap_jan07.md
  scripts/sync_trades_to_rag.py
  tests/test_sync_trades_to_rag.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

deps: Add google-cloud-aiplatform for Vertex AI RAG (#1220)
  requirements.txt
Due: none

docs(CLAUDE.md): Add Dashboard & Monitoring directive (#1221)
  .claude/CLAUDE.md
Due: none

feat: Wire TradeMemory pre-trade pattern validation (#1222)
  rag_knowledge/lessons_learned/ll_095_pretrade_pattern_validation_jan07.md
  src/execution/alpaca_executor.py
  tests/test_alpaca_executor.py
Due: smoke-tests, detect-dead-code

chore: Hygiene cleanup - archive old data (#1223)
  .claude/CLAUDE.md
  data/account_status.txt
  data/archive/trades_2025-12-09.json
  data/archive/trades_2025-12-10.json
  data/archive/trades_2025-12-12.json
  data/archive/trades_2025-12-19.json
  data/archive/trades_2025-12-23.json
  data/archive/trades_2025-12-30.json
  data/video_2_transcript.txt
Due: none

fix(lint): Remove unused imports and fix import sorting (#1224)
  scripts/small_capital_csp.py
  scripts/sync_trades_to_rag.py
  src/execution/alpaca_executor.py
  tests/test_small_capital_csp.py
  tests/test_sync_trades_to_rag.py
Due: smoke-tests, detect-dead-code

fix(webhook): Context-aware readiness + CI test fixes (#1225)
  data/system_state.json
  src/agents/dialogflow_webhook.py
  src/safety/mandatory_trade_gate.py
  tests/test_sync_trades_to_rag.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

feat(ci): Add Claude Agent Utility workflow (#1226)
  .github/workflows/claude-agent-utility.yml
  data/system_state.json
  scripts/trigger_ci_task.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration

docs(CLAUDE.md): Add CI-First Approach directive (#1227)
  .claude/CLAUDE.md
Due: none

fix(lint): Remove unused imports and fix import sorting (#1228)
  scripts/trigger_ci_task.py
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

fix(trading): Add position management stop-losses - Phil Town Rule 1 (#1229)
  .github/workflows/daily-trading.yml
  rag_knowledge/lessons_learned/ll_106_phil_town_rule1_violation_jan07.md
  scripts/manage_positions.py
  tests/test_manage_positions.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

docs: Add LL-093 automation stale incident + fix system state (#1231)
  data/system_state.json
  rag_knowledge/lessons_learned/ll_093_automation_metadata_stale_jan07.md
Due: verify-strategy-integration

docs(CLAUDE.md): Add permanent session directives from CEO (#1232)
  .claude/CLAUDE.md
Due: none

fix(safety): Allow trading when cash > 0 (#1233)
  src/safety/pre_trade_smoke_test.py
Due: smoke-tests, detect-dead-code

fix: Phil Town CSP trigger + lessons (Jan 7) (#1234)
  TRIGGER_TRADE.md
  rag_knowledge/lessons_learned/ll_093_no_github_pat_ci_blocked_jan07.md
  src/safety/pre_trade_smoke_test.py
Due: smoke-tests, detect-dead-code

fix(trading): Add missing modules causing workflow failures (#1235)
  TRIGGER_TRADE.md
  rag_knowledge/lessons_learned/ll_095_trading_execution_failure_jan07.md
  src/analytics/__init__.py
  src/analytics/profit_target_tracker.py
  src/safety/position_enforcer.py
  src/strategies/precious_metals_strategy.py
  tests/test_position_enforcer.py
  tests/test_precious_metals_strategy.py
  tests/test_profit_target_tracker.py
Due: smoke-tests, detect-dead-code

fix(strategy): Disable REIT/Precious Metals by default (#1236)
  scripts/autonomous_trader.py
Due: test-crypto-imports, smoke-tests, detect-dead-code, verify-strategy-integration, validate-trading-script-syntax

docs(CLAUDE.md): Fix day counter 70→69 (#1237)
  .claude/CLAUDE.md
Due: none

docs: Update blog with today's paper trading results (+$16,661!) (#1238)
  data/system_state.json
  docs/index.md
  docs/progress_dashboard.md
Due: verify-strategy-integration

fix(audit): Code audit fixes - registry, REIT symbol, feature flag tests (#1239)
  src/strategies/registry.py
  src/strategies/reit_strategy.py
  tests/test_feature_flags.py
Due: smoke-tests, detect-dead-code, validate-config-enums

fix: Code cleanup and honest report LL-107 (#1240)
  rag_knowledge/lessons_learned/ll_107_honest_report_jan07.md
Due: none

fix(lint): Fix ruff linting errors for CI (#1241)
  scripts/manage_positions.py
  src/analytics/profit_target_tracker.py
  src/strategies/precious_metals_strategy.py
  tests/test_feature_flags.py
  tests/test_manage_positions.py
  tests/test_position_enforcer.py
Due: smoke-tests, detect-dead-code

fix(lint): Fix remaining ruff lint errors (round 2) (#1242)
  tests/test_feature_flags.py
  tests/test_precious_metals_strategy.py
  tests/test_profit_target_tracker.py
Due: smoke-tests, detect-dead-code

fix: Correct day count to Day 70/90 (Jan 7, 2026) (#1243)
  .claude/CLAUDE.md
  README.md
  data/system_state.json
  docs/index.md
  docs/progress_dashboard.md
  docs/r-and-d-phase.md
Due: verify-strategy-integration

fix(docs): Add relative_url filter to fix GitHub Pages links (#1244)
  docs/RETROSPECTIVE.md
  docs/index.md
Due: none

fix: Ensure fresh data in Dialogflow webhook and add Jan 7 performance log (#1245)
  Dockerfile.webhook
  data/performance_log.json
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

fix(docs): Update README badge day count to 70/90 (#1246)
  README.md
Due: none

docs: Add lesson #108 and dry run report for Jan 7 (#1247)
  DRY_RUN_READINESS_REPORT.md
  rag_knowledge/lessons_learned/ll_108_strategy_verification_jan07.md
Due: none

fix(ci): Only run publish-lessons on main branch pushes (#1248)
  .github/workflows/publish-lessons.yml
Due: validate-yaml-strict, validate-workflow-secrets
