Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: system
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

feat(dashboard): add options trading status section
  scripts/generate_progress_dashboard.py
Due: test-dashboard-output

fix(ci): add vaderSentiment for analyst agent
  requirements-minimal.txt
Due: none

docs: update progress dashboard with options status
  wiki/Progress-Dashboard.md
Due: none

feat(dashboard): add REITs trading status section
  scripts/generate_progress_dashboard.py
Due: test-dashboard-output

docs: update progress dashboard with REITs status
  wiki/Progress-Dashboard.md
Due: none

feat(dashboard): add Bonds & Treasury status section
  scripts/generate_progress_dashboard.py
Due: test-dashboard-output

fix(ci): install sentence-transformers for trading run
  requirements-minimal.txt
Due: none

docs: update progress dashboard with Bonds status
  wiki/Progress-Dashboard.md
Due: none

chore: make broker health check retry and treat successful retry as healthy
  src/core/broker_health.py
Due: none

fix: remove duplicate options simulation block
  scripts/autonomous_trader.py
Due: test-crypto-imports

feat(dashboard): add System Health & Reliability section
  scripts/generate_progress_dashboard.py
Due: test-dashboard-output

docs: update progress dashboard with System Health section
  wiki/Progress-Dashboard.md
Due: none

feat(scale): remove cap and unify options strategy
  scripts/autonomous_trader.py
  src/orchestrator/main.py
Due: test-crypto-imports

dashboard: surface last run failure + stale data banners
  scripts/generate_progress_dashboard.py
Due: test-dashboard-output

feat(risk): add Monte Carlo, VIX circuit breaker, regime transition prediction
  src/backtesting/__init__.py
  src/backtesting/monte_carlo.py
  src/ml/dqn_agent.py
  src/ml/online_learner.py
  src/risk/__init__.py
  src/risk/vix_circuit_breaker.py
  src/utils/regime_detector.py
Due: none

feat(risk): close critical gaps for $100/day income target
  docs/gap-analysis-to-100-day.md
  src/analytics/live_vs_backtest_tracker.py
  src/backtesting/stress_testing.py
  src/risk/target_aligned_sizing.py
  src/safety/multi_tier_circuit_breaker.py
Due: none

ci: persist last run status and regen dashboard on failure
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

fix: correct test setup for RuleOneOptionsStrategy mock
  tests/test_rule_one_options.py
Due: none

fix: harden trading execution and health checks
  scripts/autonomous_trader.py
  scripts/pre_market_health_check.py
Due: test-crypto-imports

chore: add trading_worktrees/ to .gitignore
  .gitignore
Due: none

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
