Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags but still validate syntax strictly
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--ignore=E203,E501,W503,E402']
        exclude: .pc-venv/

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.7
    hooks:
      - id: bandit
        args: ['-ll', '-ii', '--skip', 'B310,B113,B602,B603,B404']
        exclude: ^tests/|.pc-venv/

  # Keep the custom hygiene script if needed, but ensure it works
  - repo: local
    hooks:
      - id: file-organization
        name: Check File Organization
        entry: python3 .claude/skills/precommit_hygiene/scripts/precommit_hygiene.py check_file_organization
        language: system
        pass_filenames: false
        verbose: true

      - id: test-crypto-imports
        name: Test Crypto Trading Imports (No RAG)
        entry: bash scripts/pre_commit_test_crypto_imports.sh
        language: system
        types: [python]
        files: '(src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py)'
        pass_filenames: false

      - id: test-dashboard-metrics
        name: Test Dashboard Metrics Completeness
        entry: python3 tests/test_dashboard_metrics.py
        language: system
        types: [python]
        files: '(scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py)'
        pass_filenames: false
        verbose: true

      - id: validate-yaml-strict
        name: Strict YAML Validation
        entry: bash scripts/validate_yaml_before_commit.sh
        language: system
        types: [yaml]
        pass_filenames: false
        verbose: true

      - id: test-dashboard-output
        name: Test Dashboard Output Completeness
        entry: python3 tests/test_dashboard_output.py
        language: system
        types: [python]
        files: '(scripts/generate.*dashboard.*\.py)'
        pass_filenames: false
        verbose: true

feat: Add critical revenue strategy improvements
  src/backtesting/backtest_results.py
  src/execution/alpaca_executor.py
  src/risk/correlation_monitor.py
  src/risk/regime_aware_sizing.py
  src/risk/unified.py
Due: none

feat: add emergency liquidator and pessimistic backtest mode
  src/backtesting/pessimistic_backtest.py
  src/safety/emergency_liquidator.py
Due: none

docs: add architecture review response validating external assessment
  docs/architecture-review-dec2025.md
Due: none

feat: add YouTube transcript MCP server to config
  .claude/mcp_config.json
Due: none

feat: add conditional entropy feature selector for RL trading
  src/ml/entropy_feature_selector.py
Due: none

chore: fix dry run badge endpoint
  badges/dryrun.json
Due: none

feat: surface trading run outcomes on dashboard
  .github/workflows/daily-trading.yml
  scripts/generate_progress_dashboard.py
  scripts/log_trading_run.py
  tests/test_trading_runs_dashboard.py
Due: validate-yaml-strict, test-dashboard-output

ci: create PR for state updates instead of direct push
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

ci: install deps without pip cache to avoid disk exhaustion
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

fix(ci): force cpu wheels and document agent policy
  .github/workflows/daily-trading.yml
  AGENTS.md
Due: validate-yaml-strict

fix: cap hybrid risk sizing and sort analyst imports
  src/risk/risk_manager.py
Due: none

ci: allow GH_TOKEN to open state update PRs
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

ci: force cpu wheels in validate job and no-cache
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

fix(lint): address ruff linting errors from PR #151
  src/risk/correlation_monitor.py
  src/risk/regime_aware_sizing.py
  src/risk/unified.py
Due: none

ci: force CPU torch index and no-cache across trading jobs
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

ci: slim trading install and clean workspace to avoid disk OOM
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

feat: add Programmatic Tool Calling (PTC) orchestrator
  src/agents/__init__.py
  src/agents/ptc_orchestrator.py
Due: none

fix(ci): address unit test and type check failures for PR #152
  src/__init__.py
  tests/test_risk_atr.py
Due: none

ci: use minimal deps for validate job to avoid disk OOM
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict
