Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

fix: Sync Alpaca runs at 9:45 AM ET, before IC Simple entry at 10 AM
  .github/workflows/sync-alpaca-status.yml
Due: validate-yaml-strict, validate-workflow-secrets

feat: Perplexity pre-trade research in IC Simple entry flow
  .github/workflows/ic-simple.yml
  scripts/ic_simple.py
  src/research/pre_trade_research.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

feat: automate Perplexity trading intelligence (#3846)
  .github/workflows/perplexity-trading-intel.yml
  .github/workflows/pre-market-scan.yml
  data/analytics/perplexity_utilization_latest.json
  data/analytics/perplexity_utilization_latest.md.txt
  scripts/run_perplexity_trading_intel.py
  src/analytics/perplexity_trading_intel.py
  src/analytics/perplexity_utilization_audit.py
  src/orchestration/daggr_workflow.py
  src/safety/macro_risk_guard.py
  tests/test_daggr_perplexity_intel.py
  tests/test_macro_risk_guard.py
  tests/test_perplexity_trading_intel.py
  tests/test_perplexity_utilization_audit.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: re-apply validation_reset status (reverted by auto-fix bot)
  scripts/build_public_status.py
Due: smoke-tests, detect-dead-code

fix: harden north star validation gates
  .github/workflows/ic-simple.yml
  scripts/ic_simple.py
  scripts/update_ml_from_trades.py
  src/safety/mandatory_trade_gate.py
  src/safety/north_star_guard.py
  src/utils/regime_detector.py
  tests/test_ml_feedback_loop.py
  tests/test_north_star_guard.py
  tests/test_regime_detector.py
  tests/test_validator_coverage.py
  tests/unit/test_ic_simple.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: fail close public north star status
  docs/data/public_status.json
  scripts/build_public_status.py
Due: smoke-tests, detect-dead-code

fix: pin local scripts package imports
  scripts/__init__.py
Due: smoke-tests, detect-dead-code

fix: halt invalid validation public status
  scripts/build_public_status.py
Due: smoke-tests, detect-dead-code

fix: add resilient regime market data fallback
  src/utils/regime_detector.py
  tests/test_regime_detector.py
Due: smoke-tests, detect-dead-code

chore: ignore generated regime market cache
  .gitignore
Due: none

chore: remove tracked market cache artifact
  data/market_cache/vix.json
Due: none

chore: format github-script v9 workflows
  .github/workflows/dependabot-trunk-automerge.yml
  .github/workflows/execute-credit-spread.yml
  .github/workflows/phil-town-ingestion.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: bump pytest>=9.0.3 and langchain-core>=1.2.28 (Dependabot #107, #103)
  pyproject.toml
Due: none

chore: regenerate uv.lock — pytest 9.0.3, langchain-core 1.2.28
  uv.lock
Due: none

ci: fast-path workflow-only changes
  .github/workflows/ci.yml
  tests/test_workflow_contracts.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

Update CI checkout action for Node 24
  .github/workflows/ci.yml
Due: validate-yaml-strict, validate-workflow-secrets

Use Node 24 cache action in CI
  .github/workflows/ci.yml
Due: validate-yaml-strict, validate-workflow-secrets

Avoid Trunk internal Node 20 cache action
  .github/workflows/ci.yml
Due: validate-yaml-strict, validate-workflow-secrets

Format Ralph PRD state
  .claude/prd.json
Due: none

Fast-path Claude metadata CI changes
  .github/workflows/ci.yml
Due: validate-yaml-strict, validate-workflow-secrets

Clarify North Star validation blockers
  scripts/build_north_star_blocker_report.py
  src/safety/north_star_operating_plan.py
  tests/test_build_north_star_blocker_report.py
  tests/test_north_star_operating_plan.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca state [auto]
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  docs/data/public_status.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: verify-strategy-integration

fix: accept $5 wings on $10 target (SPY far OTM uses $5 increments)
  src/markets/option_chain.py
Due: smoke-tests, detect-dead-code

fix: position sizing 2%, validation bypass, entry at 11 AM ET
  .github/workflows/ic-simple.yml
  src/core/trading_profiles.py
  src/safety/mandatory_trade_gate.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

feat: kill criteria for IC Simple validation — strategy dies if no edge
  .claude/rules/kill-criteria.md
Due: none

Quarantine negative-expectancy North Star strategy (#3864)
  docs/trading/strategy_validation_hypothesis.example.json
  mcp/governance/input_validation.py
  scripts/build_public_status.py
  src/risk/pre_trade_checklist.py
  src/risk/risk_manager.py
  src/risk/trade_gateway.py
  src/safety/mandatory_trade_gate.py
  src/safety/north_star_guard.py
  src/safety/north_star_operating_plan.py
  tests/test_build_public_status.py
  tests/test_iron_condor_trader.py
  tests/test_mandatory_trade_gate.py
  tests/test_mcp_governance.py
  tests/test_north_star_guard.py
  tests/test_north_star_operating_plan.py
  tests/test_pre_trade_checklist.py
  tests/test_risk_manager.py
  tests/test_trade_gateway.py
  tests/test_trading_profiles.py
Due: smoke-tests, detect-dead-code

Fix quarantine CI validation reset coverage (#3865)
  .github/workflows/ci.yml
  tests/test_validator_coverage.py
  tests/test_workflow_contracts.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

chore: upgrade ThumbGate pin
  .claude/CLAUDE.md
  .claude/hooks/memory-gateway-pretool.sh
  .claude/settings.json
  .github/workflows/auto-record-lesson.yml
  .mcp.json
  plugins/automation-plugin/skills/dynamic-agent-spawner/scripts/rlhf-integration.ts
  src/learning/memory_gateway_feedback.py
  tests/test_capture_hook_feedback.py
  tests/test_codex_notify_rlhf_bridge.py
  tests/test_gsd_pipeline_wiring.py
  tests/test_memory_gateway_integration.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

chore: upgrade ThumbGate pin to 1.5.0
  .claude/CLAUDE.md
  .claude/hooks/memory-gateway-pretool.sh
  .claude/settings.json
  .github/workflows/auto-record-lesson.yml
  .mcp.json
  src/learning/memory_gateway_feedback.py
  tests/test_capture_hook_feedback.py
  tests/test_codex_notify_rlhf_bridge.py
  tests/test_gsd_pipeline_wiring.py
  tests/test_memory_gateway_integration.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code
