Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

debug(ci): reduce early annotations to reserve slots for import diagnostics
  scripts/autonomous_trader.py
Due: test-crypto-imports, smoke-tests

debug(ci): add diagnostics after TradingOrchestrator import
  scripts/autonomous_trader.py
Due: test-crypto-imports, smoke-tests

debug(ci): simplify imports and disable ADK by default
  scripts/autonomous_trader.py
Due: test-crypto-imports, smoke-tests

debug(ci): disable OPTIONS_SIM and add trading loop diagnostic
  scripts/autonomous_trader.py
Due: test-crypto-imports, smoke-tests

fix(ci): disable RL retrain by default and add completion diagnostic
  scripts/autonomous_trader.py
Due: test-crypto-imports, smoke-tests

fix(ci): simplify post-trading, add explicit exit(0), reduce annotations
  scripts/autonomous_trader.py
Due: test-crypto-imports, smoke-tests

debug(ci): add bash-level exit code diagnostics
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

feat: implement prompt engineering for time series LLM analysis (#339)
  docs/prompt-engineering-time-series.md
  src/core/multi_llm_analysis.py
  src/core/prompt_engineering.py
Due: smoke-tests

fix(ci): Add HELICONE_API_KEY + Zero-Tolerance Secrets Validation (#340)
  .claude/CLAUDE.md
  .github/workflows/daily-trading.yml
  .github/workflows/smoke.yml
  .github/workflows/weekend-crypto-trading.yml
  .pre-commit-config.yaml
  scripts/validate_workflow_secrets.py
Due: validate-yaml-strict, smoke-tests

fix: remove trading blockers that prevented trade execution
  src/risk/trade_gateway.py
  src/strategies/legacy_momentum.py
Due: smoke-tests

feat(brokers): replace Tradier with IBKR as backup (experimental)
  docs/BROKER_DEPENDENCY.md
  docs/broker_api_comparison_2025.md
  src/brokers/__init__.py
  src/brokers/ibkr_client.py
  src/brokers/multi_broker.py
  src/brokers/tradier_client.py
Due: smoke-tests

feat(medallion): implement Medallion Architecture (experimental)
  .env.example
  data/bronze/.gitkeep
  data/bronze/alpaca/.gitkeep
  data/bronze/polygon/.gitkeep
  data/bronze/raw_ohlcv/.gitkeep
  data/gold/.gitkeep
  data/gold/feature_store/.gitkeep
  data/gold/ml_ready/.gitkeep
  data/gold/training_sets/.gitkeep
  data/silver/.gitkeep
  data/silver/features/.gitkeep
  data/silver/sentiment/.gitkeep
  data/silver/validated/.gitkeep
  scripts/enable_all_cloud_services.py
  scripts/train_medallion_models.py
  src/medallion/__init__.py
  src/medallion/bronze.py
  src/medallion/gold.py
  src/medallion/integration.py
  src/medallion/pipeline.py
  src/medallion/silver.py
  src/ml/inference.py
  src/ml/medallion_trainer.py
Due: smoke-tests

feat(rag): add 2026 crypto predictions from YouTube analysis
  rag_knowledge/knowledge_index.json
  rag_knowledge/youtube/insights/tfcdts_i2jU.json
Due: none

feat(brokers): add Webull as tertiary failover broker (#343)
  docs/broker_api_comparison_2025.md
  src/brokers/__init__.py
  src/brokers/multi_broker.py
  src/brokers/webull_client.py
Due: smoke-tests

docs: add GitHub REST API curl method to permanent memory (#344)
  .claude/CLAUDE.md
Due: none

docs: remove hardcoded PAT from CLAUDE.md (security) (#345)
  .claude/CLAUDE.md
Due: none

feat(brokers): replace Webull with Tradier as tertiary failover (#348)
  .env.example
  docs/broker_api_comparison_2025.md
  src/brokers/__init__.py
  src/brokers/multi_broker.py
  src/brokers/tradier_client.py
  src/brokers/webull_client.py
Due: smoke-tests

fix: prevent portfolio status print from failing workflow (#349)
  .github/workflows/daily-trading.yml
  scripts/autonomous_trader.py
Due: test-crypto-imports, validate-yaml-strict, smoke-tests

chore: enable security hooks, fix CodeQL config, and accelerate dependency cleanup
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .pre-commit-config.yaml
  .secrets.baseline
Due: validate-yaml-strict

fix: use set +e around portfolio status (#351)
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

fix: prevent portfolio status print from failing workflow (#353)
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
