Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

fix(sync): Critical bugs in Dialogflow and RAG integration (#2041)
  .claude/hooks/staleness_circuit_breaker.sh
  .github/workflows/sync-alpaca-status.yml
  data/system_state.json
  rag_knowledge/lessons_learned/ll_234_sync_infrastructure_improvements_jan16.md
  scripts/pre_session_rag_check.py
  scripts/system_health_check.py
  src/agents/dialogflow_webhook.py
  src/utils/staleness_guard.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2042)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2043)
  data/system_state.json
Due: verify-strategy-integration

fix(webhook): Document Vertex AI RAG IAM requirement
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

fix(rag): Use europe-west4 for Vertex AI RAG Engine
  src/rag/vertex_rag.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

fix(config): Critical config fixes - spread width $3, position size 5% (#2044)
  .github/workflows/execute-credit-spread.yml
  src/constants/trading_thresholds.py
  src/trading/options_executor.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix(webhook): Add Vertex AI RAG diagnostics endpoint (#2045)
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

fix(deploy): Set VERTEX_AI_LOCATION=europe-west4 in workflow
  .github/workflows/deploy-dialogflow-webhook.yml
Due: validate-yaml-strict, validate-workflow-secrets

docs(rag): LL-238 - Vertex AI RAG init failure root cause identified
  rag_knowledge/lessons_learned/ll_238_vertex_ai_rag_init_failure_jan16.md
Due: none

fix: Broken method calls and workflow cron schedules (#2046)
  .github/workflows/enforce-phil-town-completeness.yml
  .github/workflows/phil-town-ingestion.yml
  src/orchestrator/main.py
  src/orchestrator/options_coordinator.py
  src/risk/options_risk_monitor.py
  src/trading/options_executor.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

feat(rag): Add Vertex AI RAG lesson sync script and workflow
  .github/workflows/sync-lessons-vertex-rag.yml
  scripts/sync_lessons_to_vertex_rag.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

feat(security): Add MCP governance middleware layer (#2048)
  mcp/governance/__init__.py
  mcp/governance/input_validation.py
  mcp/governance/output_sanitization.py
  mcp/servers/alpaca/orders.py
  tests/test_mcp_governance.py
Due: smoke-tests, detect-dead-code

fix(sync): Data sync issues between Dashboard, Alpaca, and Dialogflow (#2049)
  .github/workflows/sync-alpaca-status.yml
  src/agents/dialogflow_webhook.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

docs(rag): Update LL-238 - Vertex AI RAG optimization complete
  rag_knowledge/lessons_learned/ll_238_vertex_ai_rag_init_failure_jan16.md
Due: none

fix(ci): Add retry logic to screenshot push workflow (#2051)
  .github/workflows/capture-trading-screenshots.yml
Due: validate-yaml-strict, validate-workflow-secrets

📝 LL-239: PR Management Session - Clean State Confirmed
  rag_knowledge/lessons_learned/ll_239_pr_management_jan16_clean.md
Due: none

🚨 LL-240: Deep Operational Integrity Audit - 14 Issues Found
  rag_knowledge/lessons_learned/ll_240_deep_integrity_audit_14_issues.md
Due: none

chore: Sync Alpaca paper account status [auto] (#2055)
  data/system_state.json
Due: verify-strategy-integration

🔧 FIX: Add calendar validation + position compliance check (LL-240)
  .github/workflows/execute-credit-spread.yml
Due: validate-yaml-strict, validate-workflow-secrets

🔧 FIX: close-put-position.yml - exact matching + side detection (Bug #2033)
  .github/workflows/close-put-position.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: remove stale trigger file
  CLOSE_ORPHAN.trigger
Due: none

chore: remove stale trigger file
  TRIGGER_TRADE.md
Due: none

feat: add trade sync workflow (fixes trades_loaded=0)
  .github/workflows/sync-system-state.yml
Due: validate-yaml-strict, validate-workflow-secrets

feat: add calendar validation (fixes LL-236, LL-237)
  src/utils/calendar_validation.py
Due: smoke-tests, detect-dead-code

fix: use correct Alpaca secret names for 5K account
  .github/workflows/sync-system-state.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: correct Alpaca API calls in sync workflow
  .github/workflows/sync-system-state.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: add error handling to sync workflow
  .github/workflows/sync-system-state.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: use str() to handle None values
  .github/workflows/sync-system-state.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: add contents write permission
  .github/workflows/sync-system-state.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: use PR approach for branch protection
  .github/workflows/sync-system-state.yml
Due: validate-yaml-strict, validate-workflow-secrets

🔄 sync system state (#2056)
  data/system_state.json
Due: verify-strategy-integration

fix: trades_loaded=0 - check system_state.json for trade_history (v3.7.0)
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

fix: fetch trades from GitHub API when local empty (v3.8.0)
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

fix: prioritize system_state.json for trade data (#2058)
  rag_knowledge/lessons_learned/LL-226_Trade_Data_Source_Priority_Bug.md
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

docs: add lesson learned LL-230 - webhook trade data source mismatch
  rag_knowledge/lessons_learned/ll_230_webhook_trade_data_source_jan17.md
Due: none

fix: consolidate trade data architecture to single source of truth (#2059)
  .claude/CLAUDE.md
  .github/workflows/webhook-health-check.yml
  src/observability/trade_sync.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

feat: architecture hardening (post LL-230) (#2060)
  .claude/CLAUDE.md
  .github/workflows/ci.yml
  .github/workflows/webhook-integration-test.yml
  docs/ARCHITECTURE.md
  tests/integration/test_webhook_integration.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix(tests): align tests with system_state.json architecture (#2061)
  tests/test_options_executor_smoke.py
  tests/test_trade_sync.py
Due: smoke-tests, detect-dead-code

feat(rag): add TastyTrade research synthesis and North Star validation (#2057)
  data/rag/evaluations/north_star_validation_jan16.json
  data/rag/lessons/ll_220_tastytrade_credit_spread_research_jan16.json
  data/rag/lessons/ll_221_julia_spina_unlucky_investor_jan16.json
Due: none
