Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-workflow-secrets:
  name: Validate Workflow Secrets (Zero Tolerance)
  entry: python3 scripts/validate_workflow_secrets.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

detect-dead-code:
  name: Dead Code Detector
  entry: python3 scripts/detect_dead_code.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

verify-strategy-integration:
  name: Verify Strategy Integration (ll_012 Prevention)
  entry: python3 scripts/verify_strategy_integration.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-config-enums:
  name: Validate Config Enum Values (ll_033 Prevention)
  entry: python3 scripts/validate_config_enums.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-trading-script-syntax:
  name: Validate Critical Trading Scripts Syntax (ll_024 Prevention)
  ...

weekend-crypto-workflow-check:
  name: Weekend Crypto Workflow Validation
  entry: python3 -c "import yaml; f=open('.github/workflows/weekend-crypto-trading.yml'); d=yaml.safe_load(f); assert 'PYTHONPATH' in str(d), 'Missing PYTHONPATH'; assert 'CRYPTO_FORCE_TRADE' in str(d), 'Missing CRYPTO_FORCE_TRADE'"
  language: system
  ...

docs(ralph): Update GitHub Pages to Day 86 + Ralph Mode branding (#2579)
  docs/index.md
Due: none

docs(ralph): Update GitHub Pages to Day 86 + Ralph Mode branding (#2581)
  data/system_state.json
Due: verify-strategy-integration

feat(ralph): Enhance proactive scanning and weekly digest workflows (#2583)
  .github/workflows/ralph-proactive-scanner.yml
  .github/workflows/ralph-weekly-digest.yml
  data/workflow_health/.gitkeep
  scripts/workflow_health_dashboard.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix(pages): Force GitHub Pages rebuild - Day 86 update (#2585)
  docs/index.md
Due: none

chore: Update system state from session (#2587)
  data/system_state.json
Due: verify-strategy-integration

chore: Update system_state.json timestamps (#2582)
  data/system_state.json
  tests/integration/test_webhook_integration.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

chore(ralph): Iteration 145 - system healthy (#2588)
  .claude/prd.json
Due: none

refactor: Remove dead code and unused variables (#2584)
  scripts/pre_market_health_check.py
  src/integrations/playwright_mcp/__init__.py
  src/resilience/circuit_breaker.py
  src/resilience/retry.py
  src/risk/capital_efficiency.py
  src/utils/regime_detector.py
  src/utils/sentiment.py
  src/utils/tax_optimization.py
Due: smoke-tests, detect-dead-code

fix(dashboard): Add auto-refresh to prevent stale displays (#2586)
  .github/workflows/update-progress-dashboard.yml
  docs/index.md
  scripts/update_docs_index.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

chore: Update system state timestamp (#2589)
  data/system_state.json
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

chore(ralph): Iteration 146 - system healthy (#2590)
  .claude/prd.json
Due: none

fix(dashboard): Add Today's P/L to GitHub Pages (#2592)
  docs/index.md
Due: none

fix(dialogflow): Fix RAG field name mismatch in compound query handler (#2593)
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

docs(rag): Add LL-274 Dialogflow compound query fix (#2594)
  rag_knowledge/lessons_learned/LL-274_Dialogflow_Compound_Query_Routing_Fix.md
Due: none

refactor(workflows): Consolidate state sync into one workflow (#2595)
  .github/workflows/hourly-state-sync.yml
  .github/workflows/sync-alpaca-status.yml
  .github/workflows/sync-system-state.yml
  data/system_state.json
  docs/index.md
Due: validate-yaml-strict, validate-workflow-secrets, verify-strategy-integration

chore(ralph): Update iteration 37 - PR management complete (#2596)
  .claude/prd.json
Due: none

chore(ralph): Iteration 148 - system healthy (#2597)
  .claude/prd.json
Due: none

chore(ralph): Iteration 149 - system healthy (#2598)
  .claude/prd.json
Due: none

chore(ralph): Iteration 150 - Today's P/L live on GitHub Pages (#2600)
  .claude/prd.json
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2602)
  data/system_state.json
Due: verify-strategy-integration

chore(data): Update system state sync timestamp (#2601)
  .claude/prd.json
  data/system_state.json
Due: verify-strategy-integration

chore(ralph): Iteration 150 - system healthy (#2603)
  .claude/prd.json
Due: none

chore(ralph): Iteration 151 - system healthy (#2605)
  .claude/prd.json
Due: none

chore: Pre-market data sync [auto] (#2606)
  data/heartbeat.json
  data/system_state.json
Due: verify-strategy-integration

chore(cleanup): Remove 2 obsolete workflows (#2607)
  .github/workflows/emergency-simple-trade.yml
  .github/workflows/scheduled-fix-653-spread.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Sync Alpaca paper account status [auto] (#2608)
  data/system_state.json
Due: verify-strategy-integration

fix(dashboard): Correct P/L showing wrong numbers (#2609)
  docs/index.md
Due: none

chore: Sync Alpaca paper account status [auto] (#2610)
  data/system_state.json
Due: verify-strategy-integration

chore(data): Update system state sync timestamp (#2611)
  data/system_state.json
Due: verify-strategy-integration

fix(critical): Emergency close workflow detects long/short positions (#2613)
  .github/workflows/emergency-close-options.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Sync Alpaca paper account status [auto] (#2614)
  data/system_state.json
Due: verify-strategy-integration

chore(data): Update system state sync timestamp (#2615)
  data/system_state.json
Due: verify-strategy-integration

fix(critical): Add pre-trade validator after LL-282 Crisis (#2616)
  rag_knowledge/lessons_learned/LL-282_CTO_Failure_Crisis_Jan22.md
  src/utils/pre_trade_validator.py
Due: smoke-tests, detect-dead-code

fix(risk): Add cumulative position risk and iron condor limit checks (#2617)
  rag_knowledge/lessons_learned/ll_280_cumulative_position_risk_bypass_jan22.md
  src/risk/trade_gateway.py
Due: smoke-tests, detect-dead-code

chore(data): Update system state sync timestamp (#2619)
  data/system_state.json
Due: verify-strategy-integration

fix: Use GTC for options close orders (#2620)
  .github/workflows/emergency-close-options.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Use GTC time-in-force for options close orders (#2621)
  data/system_state.json
  docs/index.md
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2623)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2626)
  data/system_state.json
Due: verify-strategy-integration

EMERGENCY: Close 6 SPY260220P00658000 - Position imbalance crisis (#2627)
  EMERGENCY_CLOSE.md
Due: none

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$
