Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-workflow-secrets:
  name: Validate Workflow Secrets (Zero Tolerance)
  entry: python3 scripts/validate_workflow_secrets.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

detect-dead-code:
  name: Dead Code Detector
  entry: python3 scripts/detect_dead_code.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

verify-strategy-integration:
  name: Verify Strategy Integration (ll_012 Prevention)
  entry: python3 scripts/verify_strategy_integration.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-config-enums:
  name: Validate Config Enum Values (ll_033 Prevention)
  entry: python3 scripts/validate_config_enums.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-trading-script-syntax:
  name: Validate Critical Trading Scripts Syntax (ll_024 Prevention)
  ...

weekend-crypto-workflow-check:
  name: Weekend Crypto Workflow Validation
  entry: python3 -c "import yaml; f=open('.github/workflows/weekend-crypto-trading.yml'); d=yaml.safe_load(f); assert 'PYTHONPATH' in str(d), 'Missing PYTHONPATH'; assert 'CRYPTO_FORCE_TRADE' in str(d), 'Missing CRYPTO_FORCE_TRADE'"
  language: system
  ...

fix: Add curated video fallback when YouTube API/transcript fails
  scripts/ingest_phil_town_youtube.py
Due: smoke-tests, detect-dead-code

chore: Pre-market data sync [auto] (#1990)
  data/heartbeat.json
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#1991)
  data/system_state.json
Due: verify-strategy-integration

fix(analyst): Re-apply BiasProvider freshness argument fix (#1993)
  src/analyst/bias_store.py
Due: smoke-tests, detect-dead-code

feat(ci): Add self-healing Progress Dashboard workflow (#1994)
  .github/workflows/update-progress-dashboard.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Use GH_PAT for weekend-learning PR creation (#1996)
  .github/workflows/weekend-learning.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Sync dashboard with intraday portfolio update (#1998)
  docs/index.md
Due: none

fix(ci): Use correct sync script name for dashboard workflow (#1999)
  .github/workflows/update-progress-dashboard.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Sync Alpaca paper account status [auto] (#2000)
  data/system_state.json
Due: verify-strategy-integration

feat(rag): Add LL-228 Rule #1 compliance lesson (#2003)
  rag_knowledge/lessons_learned/ll_228_rule1_compliance_jan16.md
Due: none

fix: Verify .md transcript files instead of .json (#2001)
  scripts/ingest_phil_town_youtube.py
Due: smoke-tests, detect-dead-code

fix(trading): Fix is_market_holiday() blocking trades before market open (#2005)
  docs/index.md
  scripts/autonomous_trader.py
Due: test-crypto-imports, smoke-tests, detect-dead-code, verify-strategy-integration, validate-trading-script-syntax

fix(dashboard): Read daily_change field for Today's P/L (#2004)
  data/system_state.json
  scripts/generate_world_class_dashboard_enhanced.py
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests, detect-dead-code, verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2007)
  data/system_state.json
Due: verify-strategy-integration

fix(dashboard): Show Today's P/L for LIVE account (#2009)
  data/system_state.json
  scripts/generate_world_class_dashboard_enhanced.py
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests, detect-dead-code, verify-strategy-integration

docs(rag): Add LL-229 is_market_holiday() bug lesson (#2010)
  rag_knowledge/lessons_learned/ll_229_is_market_holiday_bug_jan16.md
Due: none

feat(rag): Add lesson - Repository Hygiene & Strategy Alignment Review
  data/rag/lessons_learned.json
Due: none

fix(verify): Use system_state.json as source of truth for trade verification
  scripts/verify_trade_execution.py
Due: smoke-tests, detect-dead-code

feat(rag): Add lesson - Fixed verify_trade_execution.py false positives
  data/rag/lessons_learned.json
Due: none

chore(rag): Add LL-230 dashboard LIVE Today's P/L lesson
  data/rag/lessons_learned.json
Due: none

chore: Sync state updates and day counter
  .secrets.baseline
  data/system_state.json
  docs/_reports/2026-01-15-daily-report.md
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2011)
  data/system_state.json
Due: verify-strategy-integration

feat(rag): Add meta-learning lesson - Patterns from 28 RAG lessons
  data/rag/lessons_learned.json
Due: none

style: Format verify_trade_execution.py with ruff
  scripts/verify_trade_execution.py
Due: smoke-tests, detect-dead-code

feat(rag): Add comprehensive learning synthesis lesson (LL-230)
  data/rag/lessons_learned.json
Due: none

perf(ci): Add concurrency to prevent duplicate workflow runs
  .github/workflows/ci.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Remove obsolete SOFI workflow (emergency-sofi-exit.yml)
  .github/workflows/emergency-sofi-exit.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Remove obsolete SOFI workflow (exit-sofi-emergency.yml)
  .github/workflows/exit-sofi-emergency.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Remove obsolete SOFI workflow (run-emergency-close-sofi.yml)
  .github/workflows/run-emergency-close-sofi.yml
Due: validate-yaml-strict, validate-workflow-secrets

feat(rag): Add lesson - Continuous Improvement Session Jan 16
  data/rag/lessons_learned.json
Due: none

feat(rag): Add lesson - Credit Spread Best Practices 2025-2026 Research
  data/rag/lessons_learned.json
Due: none

style: Fix SIM103 lint error in is_market_holiday (ruff)
  scripts/autonomous_trader.py
Due: test-crypto-imports, smoke-tests, detect-dead-code, verify-strategy-integration, validate-trading-script-syntax

feat(rag): Add LL-228 - How to Learn Better from $100K Paper Account
  data/rag/lessons_learned.json
Due: none

feat(learning): Add $100K vs $5K strategy comparison script
  scripts/compare_100k_vs_5k.py
Due: smoke-tests, detect-dead-code

style: Fix F841 unused variable in compare_100k_vs_5k.py
  scripts/compare_100k_vs_5k.py
Due: smoke-tests, detect-dead-code

feat(rag): Add LL-229 Complete $100K Strategy Synthesis (#2014)
  data/rag/lessons_learned.json
Due: none

docs: Sync RAG lessons to blog (Jan 15-16) (#2013)
  docs/_posts/2026-01-15-lessons-learned.md
  docs/_posts/2026-01-16-lessons-learned.md
  rag_knowledge/lessons_learned/ll_232_position_sizing_violation_jan16.md
Due: none

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$
