Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

fix(CRITICAL): Update ALL sync workflows to use $30K paper trading account (#2850)
  .github/workflows/hourly-state-sync.yml
  .github/workflows/sync-alpaca-status.yml
  .github/workflows/sync-system-state.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Add commit step to force-iron-condor workflow + trigger (#2851)
  .github/workflows/force-iron-condor.yml
  FORCE_IRON_CONDOR.md
Due: validate-yaml-strict, validate-workflow-secrets

trigger: Force state sync with 30K account credentials (#2852)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2853)
  data/system_state.json
Due: verify-strategy-integration

trigger: Execute iron condor NOW - 0 positions, $29,977 cash ready (#2855)
  FORCE_IRON_CONDOR.md
Due: none

trigger: Sync state after iron condor execution (#2856)
  data/system_state.json
Due: verify-strategy-integration

fix: Add credential debug output to workflow (#2857)
  .github/workflows/force-iron-condor.yml
  FORCE_IRON_CONDOR.md
Due: validate-yaml-strict, validate-workflow-secrets

fix(CRITICAL): Update ALL 39 workflows to use $30K secrets (#2860)
  .github/workflows/analyze-100k-history.yml
  .github/workflows/auto-position-compliance.yml
  .github/workflows/bypass-pdt-close.yml
  .github/workflows/cancel-stale-orders.yml
  .github/workflows/capture-trading-screenshots.yml
  .github/workflows/ci.yml
  .github/workflows/claude-agent-utility.yml
  .github/workflows/close-excess-long-puts.yml
  .github/workflows/close-non-daytrade.yml
  .github/workflows/close-non-spy-positions.yml
  .github/workflows/close-orphan-position.yml
  .github/workflows/close-orphan-spy-puts.yml
  .github/workflows/close-position-direct.yml
  .github/workflows/close-profitable-shorts.yml
  .github/workflows/close-put-position.yml
  .github/workflows/close-shorts-first.yml
  .github/workflows/daily-blog-post.yml
  .github/workflows/daily-earnings-check.yml
  .github/workflows/deploy-dialogflow-webhook.yml
  .github/workflows/detect-contract-accumulation.yml
  .github/workflows/diagnose-pdt.yml
  .github/workflows/emergency-close-options.yml
  .github/workflows/emergency-pdt-reset.yml
  .github/workflows/emergency-position-cleanup.yml
  .github/workflows/emergency-protection.yml
  .github/workflows/execute-credit-spread.yml
  .github/workflows/fix-broken-spread.yml
  .github/workflows/off-market-backtest.yml
  .github/workflows/one-time-secret-update.yml
  .github/workflows/post-reset-setup.yml
  .github/workflows/pre-market-sync.yml
  .github/workflows/run-liquidation.yml
  .github/workflows/scheduled-close-at-market-end.yml
  .github/workflows/scheduled-position-close.yml
  .github/workflows/self-healing-monitor.yml
  .github/workflows/update-alpaca-secrets.yml
  .github/workflows/update-progress-dashboard.yml
  .github/workflows/verify-trade-execution.yml
  .github/workflows/verify-web-pages.yml
Due: validate-yaml-strict, validate-workflow-secrets

trigger: Execute iron condor - ALL workflows now use 30K secrets (#2861)
  FORCE_IRON_CONDOR.md
Due: none

chore: Sync Alpaca paper account status [auto] (#2862)
  data/system_state.json
Due: verify-strategy-integration

debug: Add output file capture to iron condor workflow (#2864)
  .github/workflows/force-iron-condor.yml
  FORCE_IRON_CONDOR.md
Due: validate-yaml-strict, validate-workflow-secrets

trigger: Force iron condor with FIXED credentials (retry #13) (#2866)
  FORCE_IRON_CONDOR.md
Due: none

chore: Sync Alpaca paper account status [auto] (#2867)
  data/system_state.json
Due: verify-strategy-integration

trigger: Force iron condor execution (retry #14) (#2868)
  FORCE_IRON_CONDOR.md
Due: none

trigger: Iron condor with workflow permissions fix (retry #15) (#2869)
  .github/workflows/force-iron-condor.yml
  FORCE_IRON_CONDOR.md
Due: validate-yaml-strict, validate-workflow-secrets

debug: Add verbose credential logging to trace SIMULATED issue (#2870)
  scripts/iron_condor_trader.py
  src/utils/alpaca_client.py
Due: smoke-tests, detect-dead-code

trigger: Force iron condor with debug logging (#2858)
  .github/workflows/force-iron-condor.yml
  FORCE_IRON_CONDOR.md
  data/debug/iron_condor_20260123_193539.txt
  data/system_state.json
Due: validate-yaml-strict, validate-workflow-secrets, verify-strategy-integration

trigger: Execute with correct 30K secrets (#2874)
  FORCE_IRON_CONDOR.md
  data/debug/iron_condor_20260123_193647.txt
  scripts/iron_condor_trader.py
Due: smoke-tests, detect-dead-code

trigger: Execute iron condor with Friday expiry fix (retry #20) (#2877)
  FORCE_IRON_CONDOR.md
Due: none

trigger: Iron condor retry #21 with Friday fix (#2879)
  FORCE_IRON_CONDOR.md
Due: none

fix(CRITICAL): Disable guaranteed_trader - caused $23 loss from churning (#2880)
  .github/workflows/claude-agent-utility.yml
Due: validate-yaml-strict, validate-workflow-secrets

🚨 TRIGGER: Iron condor URGENT - 20min to market close (#2881)
  FORCE_IRON_CONDOR.md
Due: none

🛡️ FIX: Pre-validate ALL 4 legs before placing any orders (#2882)
  scripts/iron_condor_trader.py
Due: smoke-tests, detect-dead-code

trigger: URGENT iron condor before market close (#2886)
  FORCE_IRON_CONDOR.md
Due: none

fix: Remove corrupted data appended to system_state.json
  data/system_state.json
Due: verify-strategy-integration

fix: Remove corrupted data from system_state.json (#2888)
  data/system_state.json
  docs/index.md
Due: verify-strategy-integration

test: Add expiry Friday validation (LL-292 regression) (#2890)
  rag_knowledge/lessons_learned/LL-292_lost_money_jan23.yaml
  tests/test_iron_condor_expiry.py
Due: validate-yaml-strict, smoke-tests, detect-dead-code

fix: Disable crisis workflows that caused $22.61 share churning loss (LL-298) (#2891)
  .github/workflows/auto-position-compliance.yml
  .github/workflows/close-non-daytrade.yml
  .github/workflows/close-non-spy-positions.yml
  .github/workflows/scheduled-close-at-market-end.yml
  data/system_state.json
  rag_knowledge/lessons_learned/ll_298_share_churning_loss_jan23.md
Due: validate-yaml-strict, validate-workflow-secrets, verify-strategy-integration

halt: Stop automated trading due to strategy violations (#2892)
  .github/workflows/claude-agent-utility.yml
  data/TRADING_HALTED
  data/debug/iron_condor_20260123_194044.txt
  data/debug/iron_condor_20260123_194508.txt
  data/debug/iron_condor_20260123_194737.txt
  data/debug/iron_condor_20260123_194833.txt
  data/debug/iron_condor_20260123_195009.txt
  data/debug/iron_condor_20260123_195318.txt
  data/system_state.json
  data/trades_2026-01-23.json
  scripts/guaranteed_trader.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration

chore: Remove TRADING_HALTED - Fixes verified, resume Monday (#2894)
  data/TRADING_HALTED
Due: none

feat: Add iron condor position management script (LL-268/LL-277) (#2895)
  scripts/manage_iron_condor_positions.py
  tests/test_manage_iron_condor_positions.py
Due: smoke-tests, detect-dead-code

docs: Correct tax strategy - SPY vs XSP Section 1256 treatment (#2896)
  .claude/CLAUDE.md
  rag_knowledge/lessons_learned/LL-297_Comprehensive_Tax_Strategy_Planning.md
Due: none

fix: Fix 5 failing tests in CI (#2897)
  src/signals/vix_mean_reversion_signal.py
  tests/test_dialogflow_webhook.py
  tests/test_monte_carlo.py
  tests/test_performance_metrics.py
  tests/test_risk_metrics.py
Due: smoke-tests, detect-dead-code

fix: Disable expensive GCP services to reduce $200/month bill (#2898)
  .github/workflows/daily-trading.yml
  .github/workflows/sync-lessons-vertex-rag.yml
  .github/workflows/vertex-rag-pretrade.yml
  .github/workflows/webhook-health-check.yml
  .github/workflows/webhook-integration-test.yml
  .github/workflows/weekend-learning.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Correct broken /tech-stack/ link in blog post (#2900)
  docs/_posts/2026-01-21-iron-condors-ai-trading-complete-guide.md
Due: none

feat: Add scheduled workflow for IC position management (#2901)
  .github/workflows/manage-iron-condor-positions.yml
Due: validate-yaml-strict, validate-workflow-secrets

docs: Add LL-298 CI Verification Honesty Protocol (#2902)
  rag_knowledge/lessons_learned/LL-297_Comprehensive_Tax_Strategy_Planning.md
  rag_knowledge/lessons_learned/LL-298_CI_Verification_Honesty_Protocol.md
Due: none
