Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-black, python-flake8, python-mypy, workflow-security

python-black:
  name: Python Black Formatting
  entry: black
  language: system

python-flake8:
  name: Python Flake8 Linting
  entry: flake8
  language: system
  args:
  - --max-line-length=100
  - --ignore=E203
  - W503

python-mypy:
  name: Python Type Checking
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports

workflow-security:
  name: Check Workflow Security
  entry: python3 .claude/skills/precommit_hygiene/scripts/precommit_hygiene.py check_workflow_security
  language: system

Add LangSmith and Vertex AI RL project links to dashboard
  scripts/enhanced_dashboard_metrics.py
  scripts/generate_world_class_dashboard_enhanced.py
  wiki/Progress-Dashboard.md
Due: python-black, python-flake8, python-mypy

feat: Integrate RL optimizations into training and trading pipeline
  scripts/optimize_hyperparameters.py
  src/core/alpaca_trader.py
  src/ml/trade_tracker.py
  src/ml/trainer.py
  src/orchestration/elite_orchestrator.py
Due: python-black, python-flake8, python-mypy

fix: Fix ensemble integration bug and add integration guide
  docs/RL_INTEGRATION_GUIDE.md
  src/ml/trainer.py
Due: python-black, python-flake8, python-mypy

Fix chart generation: Install matplotlib and fix rolling Sharpe bug
  scripts/dashboard_charts.py
  scripts/generate_world_class_dashboard_enhanced.py
  wiki/Progress-Dashboard.md
  wiki/charts/daily_pl.png
  wiki/charts/drawdown.png
  wiki/charts/equity_curve.png
  wiki/charts/rolling_sharpe_30d.png
  wiki/charts/rolling_sharpe_7d.png
Due: python-black, python-flake8, python-mypy

Fix CodeQL security alerts: Use proper masking patterns
  scripts/test_langsmith.py
  scripts/validate_setup.py
  scripts/verify_api_credentials.py
  scripts/verify_system.py
Due: python-black, python-flake8, python-mypy

feat: Move External Dashboards links to top of Progress Dashboard for better visibility
  scripts/generate_progress_dashboard.py
  wiki/Progress-Dashboard.md
Due: python-black, python-flake8, python-mypy

Add REIT ETF (VNQ) to Tier 1 portfolio for diversification and income
  docs/STRATEGIES.md
  src/strategies/core_strategy.py
Due: python-black, python-flake8, python-mypy

Add comprehensive RL coordination architecture documentation
  docs/RL_COORDINATION_ARCHITECTURE.md
Due: none

Fix LangSmith initialization status in dashboard
  wiki/Progress-Dashboard.md
Due: none

Fix LangSmith initialization check in dashboard generation
  scripts/generate_progress_dashboard.py
  wiki/Progress-Dashboard.md
Due: python-black, python-flake8, python-mypy

feat: introduce hybrid funnel orchestrator (#45)
  scripts/autonomous_trader.py
  src/agents/momentum_agent.py
  src/agents/rl_agent.py
  src/execution/alpaca_executor.py
  src/langchain_agents/analyst.py
  src/orchestrator/archive_sequential_runner.py
  src/orchestrator/budget.py
  src/orchestrator/main.py
  src/risk/risk_manager.py
  src/strategies/legacy_momentum.py
  src/utils/logging_config.py
Due: python-black, python-flake8, python-mypy

feat: Add data validation safeguards to prevent false claims
  .github/workflows/model-training.yml.disabled
  data/agent_context/blueprints/execution_agent.json
  data/agent_context/blueprints/gemini_agent.json
  data/agent_context/blueprints/langchain_agent.json
  data/agent_context/blueprints/meta_agent.json
  data/agent_context/blueprints/research_agent.json
  data/agent_context/blueprints/risk_agent.json
  data/agent_context/blueprints/signal_agent.json
  data/agent_context/memories/d32fc8ee-c83e-4f8d-a1ce-046ad5376226.json
  data/audit_trail/plan_20251128_094831_audit.json
  data/historical/AMZN_2025-11-28.csv
  data/historical/GOOGL_2025-11-28.csv
  data/historical/NVDA_2025-11-28.csv
  data/historical/QQQ_2025-11-28.csv
  data/historical/SPY_2025-11-28.csv
  data/historical/VOO_2025-11-28.csv
  data/trading_plans/plan_20251128_094831.json
  data/trading_plans/plan_20251128_094831_results.json
  scripts/autonomous_trader.py
  scripts/generate_progress_dashboard.py
  scripts/generate_world_class_dashboard_enhanced.py
  scripts/validate_data_integrity.py
  src/agents/momentum_agent.py
  src/agents/rl_agent.py
  src/core/options_client.py
  src/execution/alpaca_executor.py
  src/langchain_agents/analyst.py
  src/orchestrator/archive_sequential_runner.py
  src/orchestrator/budget.py
  src/orchestrator/main.py
  src/risk/risk_manager.py
  src/strategies/legacy_momentum.py
  src/utils/data_validator.py
  src/utils/logging_config.py
  src/utils/news_sentiment.py
  tests/test_data_validator.py
  wiki/Progress-Dashboard.md
Due: python-black, python-flake8, python-mypy

Fix recurring CodeQL security alerts by adding exclusions and auto-dismissal
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Due: workflow-security

Fix missing Dict import in technical_indicators.py
  src/utils/technical_indicators.py
Due: python-black, python-flake8, python-mypy

Add crypto trading support to autonomous_trader.py
  scripts/autonomous_trader.py
Due: python-black, python-flake8, python-mypy

Activate dormant agents: WorkflowAgent, NotificationAgent, ApprovalAgent, and RL inference
  scripts/generate_world_class_dashboard_enhanced.py
  scripts/test_options_capability.py
  scripts/test_options_strategy.py
  src/main.py
  src/strategies/options_strategy.py
Due: python-black, python-flake8, python-mypy

fix: Add logging setup to dashboard script and update workflow to run daily including weekends
  .github/workflows/dashboard-auto-update.yml
  scripts/generate_progress_dashboard.py
Due: python-black, python-flake8, python-mypy, workflow-security

feat: Make dashboard updates robust with multiple fallbacks and triggers
  .github/workflows/dashboard-auto-update.yml
  .github/workflows/weekend-crypto-trading.yml
Due: workflow-security

feat: Add 'Today' column to dashboard Account Summary table
  scripts/generate_progress_dashboard.py
Due: python-black, python-flake8, python-mypy

Path conditions:
  python-black: any of: \.py$
  python-flake8: any of: \.py$
  python-mypy: any of: \.py$
  workflow-security: any of: \.github/workflows/.*\.ya?ml$ and \.(yaml|yml)$
