Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-workflow-secrets:
  name: Validate Workflow Secrets (Zero Tolerance)
  entry: python3 scripts/validate_workflow_secrets.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

detect-dead-code:
  name: Dead Code Detector
  entry: python3 scripts/detect_dead_code.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

verify-strategy-integration:
  name: Verify Strategy Integration (ll_012 Prevention)
  entry: python3 scripts/verify_strategy_integration.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-config-enums:
  name: Validate Config Enum Values (ll_033 Prevention)
  entry: python3 scripts/validate_config_enums.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-trading-script-syntax:
  name: Validate Critical Trading Scripts Syntax (ll_024 Prevention)
  ...

weekend-crypto-workflow-check:
  name: Weekend Crypto Workflow Validation
  entry: python3 -c "import yaml; f=open('.github/workflows/weekend-crypto-trading.yml'); d=yaml.safe_load(f); assert 'PYTHONPATH' in str(d), 'Missing PYTHONPATH'; assert 'CRYPTO_FORCE_TRADE' in str(d), 'Missing CRYPTO_FORCE_TRADE'"
  language: system
  ...

docs: Add Jan 11 CEO directive - Self-improvement mandate (#1428)
  .claude/CLAUDE.md
Due: none

fix(lint): Use any() in cleanup_vertex_rag.py (SIM110) (#1427)
  scripts/cleanup_vertex_rag.py
Due: smoke-tests, detect-dead-code

fix(tests): Update tests for ChromaDB removal and fix RAG penalty (#1429)
  scripts/detect_dead_code.py
  src/rag/lessons_learned_rag.py
  tests/test_rag_vector_db.py
  tests/test_rule_one_trader.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

fix(docs): Remove duplicate frontmatter from GitHub Pages lessons (#1431)
  .github/workflows/publish-lessons.yml
  docs/_lessons/ll_075_api_credential_validation_jan03.md
  docs/_lessons/ll_080_dialogflow_trade_query_fix_jan05.md
  docs/_lessons/ll_090_vertex_ai_sandbox_limitation_jan06.md
  docs/_lessons/ll_109_bidirectional_rag_learning_jan07.md
  docs/_lessons/ll_autonomous_commands.md
Due: validate-yaml-strict, validate-workflow-secrets

fix(tests): Remove ChromaDB references from RAG tests (#1430)
  tests/test_rag_ml_operational.py
  tests/test_rag_operational.py
  tests/test_sync_trades_to_rag.py
Due: smoke-tests, detect-dead-code

fix(docs): Fix nested quotes in lesson title breaking YAML (#1432)
  .github/workflows/publish-lessons.yml
  docs/_lessons/ll_079_hallucination_tomorrow_incident_jan05.md
  rag_knowledge/lessons_learned/ll_079_hallucination_tomorrow_incident_jan05.md
Due: validate-yaml-strict, validate-workflow-secrets

docs: Sync lessons to GitHub Pages (#1433)
  docs/_lessons/ll_075_api_credential_validation_jan03.md
  docs/_lessons/ll_079_hallucination_tomorrow_incident_jan05.md
  docs/_lessons/ll_autonomous_commands.md
Due: none

fix(tests): Fix RAG and trailing stop test failures (#1434)
  tests/test_rag_ml_operational.py
  tests/test_rag_operational.py
  tests/test_set_trailing_stops.py
Due: smoke-tests, detect-dead-code

chore: Update system state timestamps (#1435)
  data/system_state.json
Due: verify-strategy-integration

fix: Fix broken YAML quotes in ll_079 lesson title
  docs/_lessons/ll_079_hallucination_tomorrow_incident_jan05.md
Due: none

chore: Update system state timestamps (Jan 12) (#1437)
  data/system_state.json
Due: verify-strategy-integration

docs: Add lesson ll_131 - NEVER tell CEO to run CI (#1438)
  rag_knowledge/lessons_learned/ll_131_never_tell_ceo_to_run_ci_jan12.md
Due: none

docs: Sync lessons to GitHub Pages (#1439)
  docs/_lessons/ll_131_never_tell_ceo_to_run_ci_jan12.md
Due: none

fix: Update tests for post-NUCLEAR CLEANUP lesson state (#1440)
  tests/test_rag_enforcer.py
  tests/test_rag_ml_operational.py
  tests/test_rag_ml_safety.py
  tests/test_rag_operational.py
Due: smoke-tests, detect-dead-code

fix: Fix pre-existing test failures in Run All Tests (#1441)
  data/system_state.json
  tests/test_set_trailing_stops.py
  tests/test_smoke_tests.py
  tests/test_trade_sync.py
  tests/test_vix_circuit_breaker.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

chore: Update system state timestamps (auto-sync) (#1442)
  data/system_state.json
Due: verify-strategy-integration

fix: Disable public lessons to prevent stale stats display (#1444)
  .github/workflows/publish-lessons.yml
  docs/_config.yml
  docs/_lessons/.gitkeep
  docs/_lessons/ll_131_never_tell_ceo_to_run_ci_jan12.md
Due: validate-yaml-strict, validate-workflow-secrets

fix: Add stub files for deleted modules to fix CI (#1452)
  src/agents/macro_agent.py
  src/agents/momentum_agent.py
  src/agents/rl_agent.py
  src/analyst/__init__.py
  src/analyst/bias_store.py
  src/integrations/__init__.py
  src/integrations/playwright_mcp/__init__.py
  src/learning/__init__.py
  src/learning/trade_memory.py
Due: smoke-tests, detect-dead-code

chore: Delete 12 dead skills and remove crypto references (#1453)
  .claude/mcp_config.json
  .claude/skills/budget_tracker/SKILL.md
  .claude/skills/code_reviewer/SKILL.md
  .claude/skills/deep_research/SKILL.md
  .claude/skills/error_handling_protocols/SKILL.md
  .claude/skills/github_pr_manager/skill.md
  .claude/skills/github_pr_manager/skill.toml
  .claude/skills/local_ci_runner/SKILL.md
  .claude/skills/mental_toughness_coach/skill.md
  .claude/skills/pre_trade_verification/SKILL.md
  .claude/skills/stirrup_scanner/SKILL.md
  .claude/skills/text_analyzer/SKILL.md
  .claude/skills/trading_strategy_guidelines/SKILL.md
  .claude/skills/unified_domain_model/SKILL.md
Due: none

chore: DOCS CLEANUP - Delete 33 garbage files (7,528 lines) (#1456)
  .claude/CLAUDE.md
  .claude/rules/MANDATORY_RULES.md
  RAG_DELIVERABLES.txt
  TRIGGER_TRADE.md
  claude-progress.txt
  docs/AGENTS.md
  docs/AUDIT_FINDINGS_JAN_2026.md
  docs/CLAUDE.md
  docs/CODE_OF_CONDUCT.md
  docs/COMBINED_STRATEGY.md
  docs/CONTRIBUTING.md
  docs/ENVIRONMENT_VARIABLES.md
  docs/EXECUTE_NOW.md
  docs/GITHUB_SECRETS_REQUIRED.md
  docs/HEARTBEAT_SYSTEM_SUMMARY.md
  docs/LIVE_TRADING_SETUP.md
  docs/RETROSPECTIVE.md
  docs/TECHNICAL_DEBT.md
  docs/TRIGGER_TRADE.md
  docs/TROUBLESHOOTING.md
  docs/analysis_cash_secured_puts_manual.md
  docs/diagnostics/ALPACA_AUTH_DIAGNOSTIC.md
  docs/diagnostics/DRY_RUN_READINESS_REPORT.md
  docs/diagnostics/EXECUTE_NOW.md
  docs/diagnostics/PAPER_TRADING_DIAGNOSIS_JAN09.md
  docs/diagnostics/TRIGGER_STOPS.md
  docs/diagnostics/TRIGGER_TRADE.md
  docs/index.md
  docs/lightweight-rl-alternatives-2025.md
  docs/llms.txt
  docs/profit-optimization.md
  docs/progress_dashboard.md
  docs/r-and-d-phase.md
  docs/verification-protocols.md
  feature_list.json
  llms.txt
Due: none

docs: Add investment strategy audit lesson (ll_132)
  rag_knowledge/lessons_learned/ll_132_investment_strategy_audit_jan12.md
Due: none

fix: Add stubs and remove orphaned tests after cleanup PR #1445 (#1457)
  src/risk/__init__.py
  src/risk/capital_efficiency.py
  src/risk/kelly.py
  src/risk/options_risk_monitor.py
  src/risk/position_manager.py
  src/risk/risk_manager.py
  src/risk/slippage_model.py
  src/risk/target_aligned_sizing.py
  src/risk/trade_gateway.py
  src/risk/vix_circuit_breaker.py
  src/strategies/registry.py
  tests/test_circuit_breakers.py
  tests/test_feedback_pipeline.py
  tests/test_fred_collector.py
  tests/test_kelly.py
  tests/test_memory_persistence.py
  tests/test_memr3_router.py
  tests/test_position_enforcer.py
  tests/test_precious_metals_strategy.py
  tests/test_process_rewards.py
  tests/test_profit_target_tracker.py
  tests/test_rl_feedback.py
  tests/test_smoke_tests.py
Due: smoke-tests, detect-dead-code, validate-config-enums

docs: Add lesson ll_132 - Alpaca API investigation (#1460)
  rag_knowledge/lessons_learned/ll_132_alpaca_api_blocked_investigation_jan12.md
Due: none

fix: Add stubs for missing RAG and ML modules (#1462)
  src/ml/__init__.py
  src/rag/__init__.py
  src/rag/lessons_learned_rag.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

fix: Add missing src/signals and src/safety stubs, delete 9 more dead tests (#1463)
  src/safety/__init__.py
  src/safety/mandatory_trade_gate.py
  src/signals/__init__.py
  src/signals/microstructure_features.py
  tests/test_live_vs_backtest_tracker.py
  tests/test_rag_enforcer.py
  tests/test_rag_ml_operational.py
  tests/test_rag_ml_safety.py
  tests/test_rag_operational.py
  tests/test_rag_vector_db.py
  tests/test_rollback_procedures.py
  tests/test_safety_matrix.py
  tests/test_vertex_rag_comprehensive.py
Due: smoke-tests, detect-dead-code

fix: Add query method to LessonsLearnedRAG stub (#1464)
  src/rag/lessons_learned_rag.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

fix: Add predict method to RLFilter stub (#1466)
  src/agents/rl_agent.py
Due: smoke-tests, detect-dead-code

fix: RLFilter.predict returns dict with action and confidence (#1467)
  src/agents/rl_agent.py
Due: smoke-tests, detect-dead-code

feat: Add pre-cleanup safety check to prevent breaking CI (#1470)
  .claude/rules/MANDATORY_RULES.md
  scripts/pre_cleanup_check.py
Due: smoke-tests, detect-dead-code

fix: Complete stub methods to prevent runtime crashes (#1471)
  src/analyst/bias_store.py
  src/integrations/playwright_mcp/__init__.py
  src/learning/trade_memory.py
Due: smoke-tests, detect-dead-code

docs: Add lesson learned ll_133 - registry.py fix and hygiene (#1472)
  rag_knowledge/lessons_learned/ll_133_registry_fix_and_hygiene_jan12.md
Due: none

feat: Add LLM token usage monitoring for context engineering (#1474)
  scripts/token_usage_report.py
  src/agents/base_agent.py
  src/utils/token_monitor.py
Due: smoke-tests, detect-dead-code

fix: Update stale system state (was 5 days old) (#1475)
  data/system_state.json
Due: verify-strategy-integration

fix: Replace RAG stubs with full Vertex AI implementation (#1476)
  src/rag/__init__.py
  src/rag/collectors/__init__.py
  src/rag/collectors/fred_collector.py
  src/rag/enforcer.py
  src/rag/lessons_learned_rag.py
  src/rag/lessons_search.py
  src/rag/memory_persistence.py
  src/rag/memr3_router.py
  src/rag/process_rewards.py
  src/rag/rl_feedback.py
  src/rag/sentiment_store.py
  src/rag/vector_db/__init__.py
  src/rag/vector_db/retriever.py
  src/rag/vertex_rag.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

fix: Update urllib3 to 2.6.3 and add missing pre-commit scripts
  requirements.txt
  scripts/detect_placeholders.py
  scripts/verify_code_hygiene.py
  tests/test_smoke.py
Due: smoke-tests, detect-dead-code

fix: Restore deleted trading modules + unblock RAG check (#1478)
  rag_knowledge/lessons_learned/ll_131_never_tell_ceo_to_run_ci_jan12.md
  src/observability/__init__.py
  src/observability/trade_sync.py
  src/safety/pre_trade_smoke_test.py
Due: smoke-tests, detect-dead-code

fix: Add missing ExitConditions fields (#1481)
  src/risk/position_manager.py
Due: smoke-tests, detect-dead-code

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$
