Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-workflow-secrets:
  name: Validate Workflow Secrets (Zero Tolerance)
  entry: python3 scripts/validate_workflow_secrets.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

detect-dead-code:
  name: Dead Code Detector
  entry: python3 scripts/detect_dead_code.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

verify-strategy-integration:
  name: Verify Strategy Integration (ll_012 Prevention)
  entry: python3 scripts/verify_strategy_integration.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-config-enums:
  name: Validate Config Enum Values (ll_033 Prevention)
  entry: python3 scripts/validate_config_enums.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-trading-script-syntax:
  name: Validate Critical Trading Scripts Syntax (ll_024 Prevention)
  ...

weekend-crypto-workflow-check:
  name: Weekend Crypto Workflow Validation
  entry: python3 -c "import yaml; f=open('.github/workflows/weekend-crypto-trading.yml'); d=yaml.safe_load(f); assert 'PYTHONPATH' in str(d), 'Missing PYTHONPATH'; assert 'CRYPTO_FORCE_TRADE' in str(d), 'Missing CRYPTO_FORCE_TRADE'"
  language: system
  ...

trigger: Close SOFI260213P00032000 orphan position (#2317)
  CLOSE_ORPHAN.trigger
Due: none

chore: Sync Alpaca paper account status [auto] (#2318)
  data/system_state.json
Due: verify-strategy-integration

chore(cleanup): Delete dead code and contradictory docs (#2319)
  mcp/servers/alpaca_wrapper.py
  rag_knowledge/trading_rules_2026.md
  scripts/backfill_blog_from_git.py
  scripts/detect_placeholders.py
  scripts/verify_code_hygiene.py
  scripts/verify_strategy_integration.py
Due: smoke-tests, detect-dead-code

chore(cleanup): Delete dead code and contradictory docs (#2320)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2321)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2323)
  data/system_state.json
Due: verify-strategy-integration

chore(data): Update system state sync timestamp (#2324)
  data/system_state.json
Due: verify-strategy-integration

fix(urgent): Close SOFI position - violates SPY-only (#2325)
  .github/workflows/close-sofi-emergency.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix(scripts): Prevent KeyError in record_account_to_rag.py (#2327)
  scripts/record_account_to_rag.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#2328)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2331)
  data/system_state.json
Due: verify-strategy-integration

fix(rag): Renumber 20 duplicate lesson files (LL-251 to LL-270) (#2334)
  rag_knowledge/lessons_learned/ll_246_position_count_not_enforced_jan19.md
  rag_knowledge/lessons_learned/ll_251_pr_hygiene_jan14_2026.md
  rag_knowledge/lessons_learned/ll_252_sofi_ticker_blackout_violation_jan14.md
  rag_knowledge/lessons_learned/ll_253_rule1_compliance_jan16.md
  rag_knowledge/lessons_learned/ll_254_is_market_holiday_bug_jan16.md
  rag_knowledge/lessons_learned/ll_255_deep_research_small_account_success_jan16.md
  rag_knowledge/lessons_learned/ll_256_webhook_trade_data_source_jan17.md
  rag_knowledge/lessons_learned/ll_257_5k_vs_100k_failure_analysis_jan19.md
  rag_knowledge/lessons_learned/ll_258_5pct_position_limit_enforcement_jan19.md
  rag_knowledge/lessons_learned/ll_259_5pct_limit_script_bypass_jan19.md
  rag_knowledge/lessons_learned/ll_260_weekly_options_book_evaluation_jan16.md
  rag_knowledge/lessons_learned/ll_261_position_size_hardcoded_violations_jan19.md
  rag_knowledge/lessons_learned/ll_262_sync_infrastructure_improvements_jan16.md
  rag_knowledge/lessons_learned/ll_263_pdt_blocks_fix_scheduled_retry_jan16.md
  rag_knowledge/lessons_learned/ll_264_trade_history_sync_fix_jan19.md
  rag_knowledge/lessons_learned/ll_265_credit_spread_exit_strategies_jan19.md
  rag_knowledge/lessons_learned/ll_266_position_sizing_kelly_criterion_jan19.md
  rag_knowledge/lessons_learned/ll_267_env_var_bypass_vulnerability_jan19.md
  rag_knowledge/lessons_learned/ll_268_iron_condor_execution_failure_jan19.md
  rag_knowledge/lessons_learned/ll_269_ci_failure_sofi_position_jan20.md
  rag_knowledge/lessons_learned/ll_270_system_blocked_no_auto_cleanup_jan20.md
Due: none

trigger: Force close SOFI position NOW - market hours critical (#2335)
  CLOSE_ORPHAN.trigger
Due: none

chore(deps): Remove 6 unused dependencies (#2336)
  requirements-minimal.txt
  requirements.txt
Due: none

chore: Sync Alpaca paper account status [auto] (#2338)
  data/system_state.json
Due: verify-strategy-integration

trigger: Execute SPY credit spread - markets open (#2339)
  EXECUTE_SPREAD.trigger
Due: none

chore: Sync dashboard data [auto] (#2341)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2342)
  data/system_state.json
Due: verify-strategy-integration

feat(trading): Add trigger file support to execute-credit-spread (#2340)
  .github/workflows/execute-credit-spread.yml
  EXECUTE_SPREAD.trigger
Due: validate-yaml-strict, validate-workflow-secrets

fix(compliance): Reduce spread width from $3 to $2 (#2343)
  .github/workflows/execute-credit-spread.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix(rag): Remove duplicate LL-208 reference in ll_264 (#2346)
  rag_knowledge/lessons_learned/ll_264_trade_history_sync_fix_jan19.md
Due: none

fix(compliance): Filter out SPY stock from option parsing (#2348)
  .github/workflows/auto-position-compliance.yml
Due: validate-yaml-strict, validate-workflow-secrets

docs(rag): Add LL-271 - Exceptional daily profit (+$85.10) (#2349)
  rag_knowledge/lessons_learned/ll_271_exceptional_daily_profit_jan20.md
Due: none

fix(backtest): Add win_rate_pct and capital_preserved_pct to summary (#2355)
  data/backtests/latest_summary.json
Due: none

fix(critical): Replace placeholder with actual SPY credit spread execution (#2357)
  .github/workflows/execute-credit-spread.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Sync Alpaca paper account status [auto] (#2359)
  data/system_state.json
Due: verify-strategy-integration

trigger: Execute SPY bull put spread - markets open until 4PM ET (#2360)
  EXECUTE_SPREAD.trigger
Due: none

trigger: Re-execute SPY spread with fixed credentials (#2361)
  .github/workflows/execute-credit-spread.yml
  EXECUTE_SPREAD.trigger
Due: validate-yaml-strict, validate-workflow-secrets

chore: Sync Alpaca paper account status [auto] (#2363)
  data/system_state.json
Due: verify-strategy-integration

fix(hooks): Use canonical trade source for daily count (#2365)
  .claude/hooks/inject_trading_context.sh
Due: none

chore: Update PRD metadata - Ralph iteration 20 complete (#2366)
  .claude/prd.json
Due: none

feat(compliance): Add automated non-SPY position close workflow (#2368)
  .github/workflows/close-non-spy-positions.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Sync Alpaca paper account status [auto] (#2369)
  data/system_state.json
Due: verify-strategy-integration

fix(safety): Add PDT check to credit spread workflow (LL-271) (#2370)
  .github/workflows/execute-credit-spread.yml
  rag_knowledge/lessons_learned/ll_271_pdt_blocks_sofi_close_jan20.md
Due: validate-yaml-strict, validate-workflow-secrets

chore: Remove emergency SOFI close workflow (#2372)
  .github/workflows/close-sofi-emergency.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore(data): Update system state sync timestamp (#2373)
  data/system_state.json
Due: verify-strategy-integration

fix(compliance): Update spread width fallback from $3 to $2 (#2364)
  .github/workflows/execute-credit-spread.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Sync dashboard data [auto] (#2375)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2377)
  data/system_state.json
Due: verify-strategy-integration

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$
