Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-workflow-secrets:
  name: Validate Workflow Secrets (Zero Tolerance)
  entry: python3 scripts/validate_workflow_secrets.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

detect-dead-code:
  name: Dead Code Detector
  entry: python3 scripts/detect_dead_code.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

verify-strategy-integration:
  name: Verify Strategy Integration (ll_012 Prevention)
  entry: python3 scripts/verify_strategy_integration.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-config-enums:
  name: Validate Config Enum Values (ll_033 Prevention)
  entry: python3 scripts/validate_config_enums.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-trading-script-syntax:
  name: Validate Critical Trading Scripts Syntax (ll_024 Prevention)
  ...

weekend-crypto-workflow-check:
  name: Weekend Crypto Workflow Validation
  entry: python3 -c "import yaml; f=open('.github/workflows/weekend-crypto-trading.yml'); d=yaml.safe_load(f); assert 'PYTHONPATH' in str(d), 'Missing PYTHONPATH'; assert 'CRYPTO_FORCE_TRADE' in str(d), 'Missing CRYPTO_FORCE_TRADE'"
  language: system
  ...

feat: Wire LangSmith tracing into trade gate and execution (#718)
  .github/workflows/daily-trading.yml
  src/execution/alpaca_executor.py
  src/safety/mandatory_trade_gate.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: Correct LangSmith tracing context manager usage in trade gate (#721)
  scripts/verify_trade_gate_tracing.py
  src/safety/mandatory_trade_gate.py
Due: smoke-tests, detect-dead-code

docs: Add lesson learned for LangSmith tracing integration (#723)
  rag_knowledge/lessons_learned/ll_050_langsmith_tracing_integration_dec16.md
Due: none

fix: LangSmith tracing - use correct secret and project name (#720)
  .env.example
  .github/workflows/combined-trading.yml
  .github/workflows/daily-trading.yml
  .github/workflows/model-training.yml
  src/observability/langsmith_tracer.py
  src/utils/budget_tracker.py
  src/verification/factuality_monitor.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

feat: Wire LangSmith tracing into trade gate and execution (#718)
  src/orchestrator/gates.py
  src/orchestrator/main.py
  src/risk/trade_gateway.py
Due: smoke-tests, detect-dead-code

feat: Add tracing health check for 100% operational integrity (#725)
  .github/workflows/daily-trading.yml
  src/observability/tracing_health_check.py
  src/safety/mandatory_trade_gate.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

feat: add pipeline checkpointing for fault-tolerant gate execution
  src/orchestrator/checkpoint.py
  src/orchestrator/gates.py
Due: smoke-tests, detect-dead-code

feat: add critical RAG knowledge for options trading
  rag_knowledge/chunks/mark_douglas_trading_psychology_2025.json
  rag_knowledge/chunks/taleb_black_swan_antifragile_2025.json
  rag_knowledge/options/iv_crush_patterns_database.json
  rag_knowledge/options/options_slippage_model.json
Due: none

feat: Add tracing health check for 100% operational integrity (#725)
  .github/workflows/youtube-health-check.yml
  scripts/verify_youtube_health.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: make YouTube workflow resilient to dependency failures
  .github/workflows/youtube-analysis.yml
Due: validate-yaml-strict, validate-workflow-secrets

feat: Hindsight agentic memory integration with graceful degradation (#730)
  .github/workflows/breaking-change-monitor.yml
  .github/workflows/hindsight-integration.yml
  .github/workflows/pre-trade-research.yml
  .github/workflows/update-enhanced-dashboard.yml
  .yamllint.yml
  docker-compose.yml
  infra/backup_scheduler/backup_scheduler.py
  requirements.txt
  scripts/analyze_import_usage.py
  scripts/check_doc_freshness.py
  scripts/daily_pnl_attribution.py
  scripts/detect_dead_code.py
  scripts/detect_forbidden_patterns.py
  scripts/pre_trade_research.py
  src/execution/alpaca_executor.py
  src/observability/tracing_health_check.py
  src/orchestrator/gates.py
  src/orchestrator/main.py
  src/rag/hindsight_adapter.py
  src/safety/mandatory_trade_gate.py
  src/verification/ml_lessons_learned_pipeline.py
  tests/integration/test_critical_paths.py
  tests/test_hindsight_adapter.py
  tests/test_pattern_recurrence_integration.py
  tests/test_pipeline_verification_e2e.py
  tests/test_unified_domain_model.py
Due: test-crypto-imports, validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

feat: add RAG-based ticker screening for intelligent trade selection (#719)
  .github/workflows/daily-trading.yml
  scripts/rag_ticker_screener.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

feat: Add Gemini Deep Research visual output support for dashboard (#731)
  src/ml/dashboard_research_integration.py
  src/ml/gemini_deep_research.py
  src/ml/research_visualizer.py
  tests/test_research_visualization.py
Due: smoke-tests, detect-dead-code

fix: Critical trading system fixes for profitability (6 issues) (#732)
  config/portfolio_allocation.yaml
  data/system_state.json
  docs/STRATEGIES.md
  src/backtesting/backtest_engine.py
  src/backtesting/benchmark_comparison.py
  src/backtesting/options_backtest_engine.py
  src/experiments/trading_experiments.py
  src/ml/rsi_optimizer.py
  src/orchestrator/main.py
  src/risk/portfolio_risk_layer.py
  src/risk/position_manager.py
  src/risk/risk_manager.py
  src/risk/trade_gateway.py
  src/risk/volatility_targeting.py
  src/safety/circuit_breakers.py
  src/strategies/core_strategy.py
  src/utils/benchmark_comparison.py
Due: validate-yaml-strict, smoke-tests, detect-dead-code, verify-strategy-integration

feat: Add /advise command and auto-advice hook for lessons learned (#733)
  .claude/commands/advise.md
  .claude/hooks/advise_before_task.sh
  .claude/settings.json
Due: none

feat: Add Streamlit Component Manifest MCP for AI-assisted UI development (#734)
  .claude/mcp_config.json
  dashboard/component_manifest.json
  dashboard/mcp_server.py
  requirements-minimal.txt
  scripts/start_ui_mcp.sh
Due: detect-dead-code

fix: Relax trading thresholds to capture trends (#735)
  rag_knowledge/lessons_learned/ll_051_strategy_thresholds_too_tight_dec17.md
  src/orchestrator/main.py
  src/risk/position_manager.py
  src/strategies/core_strategy.py
Due: smoke-tests, detect-dead-code

fix: CRITICAL - Add mandatory smoke tests to prevent blind trading (#736)
  .github/workflows/daily-trading.yml
  rag_knowledge/lessons_learned/ll_051_blind_trading_catastrophe_dec17.md
  src/execution/alpaca_executor.py
  src/safety/pre_trade_smoke_test.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: Resolve all Ruff lint errors in test suite (#738)
  tests/test_auto_learn_from_failures.py
  tests/test_dry_run_invariants.py
  tests/test_execution_edge_cases.py
  tests/test_lesson_backtests.py
  tests/test_lessons_knowledge_graph.py
  tests/test_lessons_learned_validation.py
  tests/test_network_resilience.py
  tests/test_pipeline_verification_e2e.py
  tests/test_rag_integrated_verification.py
  tests/test_rag_ml_safety.py
  tests/test_rag_ml_verification.py
  tests/test_research_visualization.py
  tests/test_risk_invariants.py
  tests/test_safety_matrix.py
  tests/test_verification_system.py
Due: smoke-tests, detect-dead-code

fix: Replace undefined btc variable with aapl in pre_trade_check.py
  src/verification/pre_trade_check.py
Due: smoke-tests, detect-dead-code

feat: Add trace analyzer for Claude Code self-improvement loop
  scripts/trace_analyzer.py
Due: smoke-tests, detect-dead-code

style: Fix import sorting in trace_analyzer.py (#743)
  scripts/trace_analyzer.py
Due: smoke-tests, detect-dead-code

fix: CRITICAL - Revert to hardcoded tickers, RAG screener was returning empty (#742)
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict, validate-workflow-secrets

feat: CRITICAL - Add credit spreads for capital-efficient options trading (#744)
  .github/workflows/daily-trading.yml
  rag_knowledge/lessons_learned/ll_052_credit_spreads_capital_efficiency_dec17.md
  scripts/execute_credit_spread.py
  scripts/execute_options_trade.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: CRITICAL - Stop bleeding! Disable crypto and REIT (#745)
  .github/workflows/daily-trading.yml
  rag_knowledge/lessons_learned/ll_053_stop_bleeding_crypto_reit_dec17.md
  scripts/emergency_stop_bleeders.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: RAG now uses semantic search instead of useless keyword matching (#749)
  .github/workflows/daily-trading.yml
  data/rag/lessons_learned.json
  rag_knowledge/lessons_learned/ll_054_rag_not_actually_used_dec17.md
  scripts/pre_session_rag_check.py
  src/execution/alpaca_executor.py
  src/safety/mandatory_trade_gate.py
  tests/test_rag_actually_works.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: Repair 23 files with syntax errors from crypto removal merge (#750)
  scripts/category_alerts.py
  scripts/detect_forbidden_patterns.py
  scripts/generate_world_class_dashboard_enhanced.py
  scripts/train_rsi_model.py
  scripts/validate_newsletter_signals.py
  scripts/verify_config_workflow_sync.py
  scripts/verify_trade_gate_tracing.py
  scripts/verify_workflow_health.py
  src/main.py
  src/ml/research_visualizer.py
  src/ml/rsi_optimizer.py
  src/ml/text_feature_engineering.py
  src/orchestrator/gates.py
  src/orchestrator/main.py
  src/signals/kalshi_oracle.py
  src/utils/newsletter_analyzer.py
  tests/test_kalshi_oracle.py
  tests/test_mandatory_trade_gate.py
  tests/test_observability.py
  tests/test_procedural_memory.py
  tests/test_research_visualization.py
  tests/test_workflow_contracts.py
  tests/test_workflow_integrity.py
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests, detect-dead-code

fix: Downgrade pillow to 11.1.0 for fastembed compatibility (#748)
  requirements.txt
Due: none

fix: Make optional dependencies gracefully degrade (#751)
  src/agents/rl_weight_updater.py
  src/core/alpaca_trader.py
  src/rag/collectors/__init__.py
  src/rag/collectors/berkshire_collector.py
  src/utils/market_data.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

fix: Resolve all lint errors and undefined name bugs (#752)
  scripts/emergency_stop_bleeders.py
  scripts/execute_credit_spread.py
  scripts/execute_options_trade.py
  scripts/generate_world_class_dashboard_enhanced.py
  scripts/pre_session_rag_check.py
  scripts/validate_newsletter_signals.py
  src/execution/alpaca_executor.py
  src/ml/anomaly_detector.py
  src/ml/gemini_deep_research.py
  src/orchestrator/main.py
  src/safety/mandatory_trade_gate.py
  src/utils/newsletter_analyzer.py
  tests/test_embedder_optional_import.py
  tests/test_lessons_learned_validation.py
  tests/test_mandatory_trade_gate.py
  tests/test_rag_actually_works.py
  tests/test_workflow_contracts.py
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests, detect-dead-code

fix: close short option positions correctly
  src/orchestrator/main.py
Due: smoke-tests, detect-dead-code

fix: make IPO monitor workflow parse reliably
  .github/workflows/ipo-monitor.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: LangSmith tracer now reads LANGCHAIN_PROJECT from env (#755)
  src/observability/langsmith_tracer.py
Due: smoke-tests, detect-dead-code

chore: remove 9 stale tests referencing non-existent modules
  tests/test_dashboard_metrics.py
  tests/test_lessons_learned_validation.py
  tests/test_mean_reversion_strategy.py
  tests/test_ml_predictor.py
  tests/test_rag_trade_advisor.py
  tests/test_smoke.py
  tests/test_staleness.py
  tests/test_strategy_registry.py
  tests/test_trading_runs_dashboard.py
Due: smoke-tests, detect-dead-code

fix: Day counter was stuck at 9/90 for 41 days
  dashboard/main.py
  data/system_state.json
Due: detect-dead-code, verify-strategy-integration

fix: Repository hygiene + PURGE all crypto (#758)
  .github/workflows/emergency-close-crypto.yml
  scripts/close_all_crypto_positions.py
  src/backtesting/lesson_to_backtest.py
  src/utils/newsletter_analyzer.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: Sync system_state.json with actual portfolio data
  data/system_state.json
Due: verify-strategy-integration

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$
