Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-workflow-secrets:
  name: Validate Workflow Secrets (Zero Tolerance)
  entry: python3 scripts/validate_workflow_secrets.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

detect-dead-code:
  name: Dead Code Detector
  entry: python3 scripts/detect_dead_code.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

verify-strategy-integration:
  name: Verify Strategy Integration (ll_012 Prevention)
  entry: python3 scripts/verify_strategy_integration.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-config-enums:
  name: Validate Config Enum Values (ll_033 Prevention)
  entry: python3 scripts/validate_config_enums.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-trading-script-syntax:
  name: Validate Critical Trading Scripts Syntax (ll_024 Prevention)
  ...

weekend-crypto-workflow-check:
  name: Weekend Crypto Workflow Validation
  entry: python3 -c "import yaml; f=open('.github/workflows/weekend-crypto-trading.yml'); d=yaml.safe_load(f); assert 'PYTHONPATH' in str(d), 'Missing PYTHONPATH'; assert 'CRYPTO_FORCE_TRADE' in str(d), 'Missing CRYPTO_FORCE_TRADE'"
  language: system
  ...

research: Add AI options traders starting small research (LL-211) (#1853)
  rag_knowledge/lessons_learned/ll_211_ai_options_traders_research_jan15.md
Due: none

fix(hook): Correct backtest total count display (#1854)
  .claude/hooks/inject_trading_context.sh
Due: none

chore: Sync Jan 15 lessons to blog (3 lessons incl. LL-207) (#1855)
  docs/_posts/2026-01-15-lessons-learned.md
Due: none

research: North Star math roadmap - realistic $100/day timeline (#1859)
  rag_knowledge/lessons_learned/ll_212_north_star_math_roadmap_jan15.md
Due: none

research: Why $5K failed while $100K succeeded (LL-208) (#1860)
  rag_knowledge/lessons_learned/ll_208_why_5k_failed_100k_succeeded_jan15.md
  rag_knowledge/lessons_learned/ll_209_math_error_spy_spreads_affordable_jan15.md
Due: none

docs(rag): Add PR hygiene session lesson LL-212 (#1858)
  .github/workflows/ci.yml
  docs/_reports/2026-01-14-daily-report.md
  rag_knowledge/lessons_learned/ll_001_phil_town_valuations_dec2025.md
  rag_knowledge/lessons_learned/ll_002_theta_scaling_plan_dec2025.md
  rag_knowledge/lessons_learned/ll_203_rag_failure_100k_lessons_lost_jan14.md
  rag_knowledge/lessons_learned/ll_210_options_position_import_fix_jan14.md
  rag_knowledge/lessons_learned/ll_211_100k_history_analysis_workflow_jan15.md
  rag_knowledge/lessons_learned/ll_212_pr_hygiene_jan15.md
  scripts/validate_ticker_whitelist.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

docs(rag): Add LL-206 execution failure analysis (#1861)
  rag_knowledge/lessons_learned/ll_206_execution_failure_analysis_jan15.md
Due: none

docs(blog): Sync LL-209 math error lesson to blog (#1862)
  docs/_posts/2026-01-15-lessons-learned.md
Due: none

fix: Critical trading system bugs blocking SPY trades (LL-213) (#1863)
  rag_knowledge/lessons_learned/ll_213_trading_system_fixes_jan15.md
  src/risk/capital_efficiency.py
  src/risk/trade_gateway.py
Due: smoke-tests, detect-dead-code

feat(risk): Enforce CLAUDE.md trading rules in code (#1864)
  src/risk/__init__.py
  src/risk/pre_trade_checklist.py
  src/risk/trade_gateway.py
  src/safety/mandatory_trade_gate.py
  src/trading/options_executor.py
  tests/test_pre_trade_checklist.py
  tests/test_trade_gateway.py
Due: smoke-tests, detect-dead-code

fix(state): Add challenge section for Day 76/90 display (#1866)
  data/system_state.json
Due: verify-strategy-integration

docs(rag): Add rolling strategy lesson LL-214 from YouTube research (#1865)
  .claude/CLAUDE.md
  rag_knowledge/lessons_learned/ll_214_rolling_strategy_losing_trades_jan15.md
Due: none

docs(blog): Sync RAG lessons to blog (62 total) (#1867)
  docs/_posts/2026-01-14-lessons-learned.md
  docs/_posts/2026-01-15-lessons-learned.md
Due: none

docs(rag): Add LL-215 - 1DTE SPX strategy evaluation (REJECTED) (#1868)
  data/rag/lessons/LL-215_1DTE_SPX_Strategy_Evaluation.md
Due: none

fix(strategy): Align trader scripts with CLAUDE.md SPY/IWM strategy (#1869)
  scripts/guaranteed_trader.py
  scripts/simple_daily_trader.py
  src/constants/trading_thresholds.py
Due: smoke-tests, detect-dead-code

docs(rag): Add call credit spreads lesson LL-215 from YouTube research (#1870)
  .claude/CLAUDE.md
  data/rag/lessons/ll_215_call_credit_spreads_jan15.json
  rag_knowledge/lessons_learned/ll_215_call_credit_spreads_bearish_neutral_jan15.md
  scripts/store_call_credit_spreads_lesson.py
Due: smoke-tests, detect-dead-code

fix(risk): Implement 2x credit stop-loss and win rate tracking (#1872)
  scripts/calculate_win_rate.py
  src/risk/options_risk_monitor.py
  tests/test_calculate_win_rate.py
  tests/test_options_risk_monitor.py
Due: smoke-tests, detect-dead-code

docs(rag): Add LL-216 - Root cause analysis of K vs 00K performance (#1873)
  data/rag/lessons/LL-216_Why_5K_Lost_While_100K_Won.md
Due: none

research: Add comprehensive options strategies compilation (#1877)
  data/research/options_strategies_research.md
Due: none

chore: Update system state after session (#1878)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#1879)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#1882)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#1883)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#1886)
  data/system_state.json
Due: verify-strategy-integration

fix(orchestrator): Remove invalid paper arg - CRITICAL (#1887)
  data/system_state.json
  src/orchestrator/main.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

fix(staleness): Check top-level timestamp, unblock trading (CRISIS FIX) (#1888)
  src/utils/staleness_guard.py
Due: smoke-tests, detect-dead-code

chore: Trigger trade execution - CEO directive Jan 15 (#1889)
  TRIGGER_TRADE.md
Due: none

docs(rag): Add LL-217 - Jan 15 staleness guard crisis postmortem (#1891)
  data/rag/lessons/LL-217_Jan15_Staleness_Guard_Crisis.md
Due: none

docs(rag): Add LL-218 - Zero trades in 2026 investigation needed (#1893)
  data/rag/lessons/LL-218_Zero_Trades_2026.md
Due: none

fix: Add ticker whitelist enforcement (#1885)
  scripts/execute_credit_spread.py
  scripts/validate_ticker_whitelist.py
  tests/test_simple_daily_trader.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#1894)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#1896)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#1897)
  data/system_state.json
Due: verify-strategy-integration

fix: Add equity fallback when options_buying_power=$0 (#1898)
  .github/workflows/daily-trading.yml
  .secrets.baseline
  data/system_state.json
  scripts/guaranteed_trader.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration

fix: BiasStore accepts both str and Path for bias_dir (#1899)
  src/analyst/bias_store.py
Due: smoke-tests, detect-dead-code

fix: Dialogflow queries Alpaca API directly for real-time P/L
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

fix: BiasProvider accepts bias_store and freshness args (#1900)
  src/analyst/bias_store.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#1902)
  data/system_state.json
Due: verify-strategy-integration

fix: Pass Alpaca credentials to Cloud Run for real-time P/L
  .github/workflows/deploy-dialogflow-webhook.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix(orchestrator): Initialize mental_coach to None - missing attribute (#1903)
  src/orchestrator/main.py
Due: smoke-tests, detect-dead-code

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$
