Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-workflow-secrets:
  name: Validate Workflow Secrets (Zero Tolerance)
  entry: python3 scripts/validate_workflow_secrets.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

detect-dead-code:
  name: Dead Code Detector
  entry: python3 scripts/detect_dead_code.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

verify-strategy-integration:
  name: Verify Strategy Integration (ll_012 Prevention)
  entry: python3 scripts/verify_strategy_integration.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-config-enums:
  name: Validate Config Enum Values (ll_033 Prevention)
  entry: python3 scripts/validate_config_enums.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-trading-script-syntax:
  name: Validate Critical Trading Scripts Syntax (ll_024 Prevention)
  ...

weekend-crypto-workflow-check:
  name: Weekend Crypto Workflow Validation
  entry: python3 -c "import yaml; f=open('.github/workflows/weekend-crypto-trading.yml'); d=yaml.safe_load(f); assert 'PYTHONPATH' in str(d), 'Missing PYTHONPATH'; assert 'CRYPTO_FORCE_TRADE' in str(d), 'Missing CRYPTO_FORCE_TRADE'"
  language: system
  ...

fix: Upgrade ChromaDB to >=1.0.0 in requirements (#1050)
  data/vector_db/vectorized_files.json
  requirements-minimal.txt
  requirements-rag.txt
  requirements.txt
Due: none

feat: Integrate ChromaDB RAG + ML Performance Attribution (#1051)
  reports/ml_signals/ml_report_2026-01-05.json
  scripts/verify_alpaca_credentials.py
  src/orchestrator/ml_report_generator.py
  src/rag/lessons_learned_rag.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

chore: Remove dormant code and unused dependencies (#1053)
  config/asset_tiers.yaml
  config/capital_deployment.json
  config/day_trading_resources.yaml
  config/go_live_checklist.json
  config/playwright_mcp.yaml
  config/portfolio_allocation.yaml
  config/quantum_physics_trading_resources.yaml
  config/regime_gate_thresholds.yaml
  pyproject.toml
  requirements-minimal.txt
  scripts/analyze_cash_secured_puts.py
  scripts/dashboard_metrics.py
  scripts/demo_vix_monitor_mock.py
  scripts/fix_win_rate_from_closed_trades.py
  scripts/operational_health_check.py
  scripts/rag_chat.py
  scripts/validate_hooks.py
  scripts/verify_rag_operational.py
  src/agent_framework_stubs.py
  src/core/local_llm.py
  src/observability/tracing_health_check.py
  src/orchestration/elite_orchestrator.py
  src/orchestration/mcp_trading.py
  src/orchestrator/failure_isolation.py
  src/target_model.py
  src/utils/earnings_calendar.py
  src/utils/honesty_guard.py
Due: test-dashboard-metrics, validate-yaml-strict, smoke-tests, detect-dead-code, validate-config-enums

feat: Add unified trade sync to LangSmith + ChromaDB RAG (#1056)
  src/execution/alpaca_executor.py
  src/observability/__init__.py
  src/observability/trade_sync.py
Due: smoke-tests, detect-dead-code

fix: Add fastapi and uvicorn dependencies (#1054)
  .claude/CLAUDE.md
  requirements.txt
Due: none

fix: Resolve hook ambiguity causing market status misinterpretation (#1055)
  .claude/hooks/inject_trading_context.sh
  rag_knowledge/lessons_learned/ll_074_hook_ambiguity_market_status_jan5.md
Due: none

chore: Update CLAUDE.md with RAG update directive (#1057)
  .claude/CLAUDE.md
Due: none

feat: Enable Dialogflow to query trade history (#1059)
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

feat: Add Chain-of-Verification protocol to prevent hallucinations (#1060)
  .claude/CLAUDE.md
  .claude/hooks/enforce_verification.sh
  .claude/settings.json
  rag_knowledge/lessons_learned/ll_079_hallucination_tomorrow_incident_jan05.md
  src/utils/chain_of_verification.py
Due: smoke-tests, detect-dead-code

fix: Reinstall ChromaDB and rebuild RAG vector database (#1061)
  data/vector_db/vectorized_files.json
  rag_knowledge/lessons_learned/ll_079_chromadb_reinstall_jan05.md
Due: none

fix: Fix ruff formatting and exclude requirements files (#1058)
  pyproject.toml
  src/observability/trade_sync.py
  src/orchestration/elite_orchestrator.py
  src/orchestration/mcp_trading.py
  src/orchestrator/failure_isolation.py
Due: smoke-tests, detect-dead-code

fix: Format dialogflow_webhook.py and chain_of_verification.py (#1062)
  src/agents/dialogflow_webhook.py
  src/utils/chain_of_verification.py
Due: smoke-tests, detect-dead-code

feat: Add Vertex AI RAG for Dialogflow trade queries (#1066)
  .claude/CLAUDE.md
  src/observability/trade_sync.py
  src/rag/vertex_rag.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

fix: Correct f-string syntax in vertex_rag.py (#1068)
  src/rag/vertex_rag.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

fix: Fix lint errors in vertex_rag.py (#1069)
  src/rag/vertex_rag.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

fix: Add mandatory time verification rule to prevent hallucinations (#1070)
  .claude/CLAUDE.md
Due: none

fix: Dialogflow returns portfolio status for money queries (#1071)
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

feat: Add LanceDB RLHF trajectory storage (#1072)
  data/rlhf_trajectories/.gitignore
  data/vector_db/vectorized_files.json
  requirements-minimal.txt
  src/agents/rl_agent.py
  src/learning/__init__.py
  src/learning/rlhf_storage.py
Due: smoke-tests, detect-dead-code

feat: Integrate LanceDB for RLHF semantic search and time-travel (#1073)
  .gitignore
  rag_knowledge/lessons_learned/ll_080_lancedb_rlhf_integration_jan05.md
  src/learning/feedback_trainer.py
  src/learning/lancedb_feedback_store.py
  tests/test_lancedb_feedback.py
Due: smoke-tests, detect-dead-code

test: Add tests for trade query detection (#1074)
  tests/test_dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

docs: Add LL-080 (#1075)
  rag_knowledge/lessons_learned/ll_080_dialogflow_trade_query_fix_jan05.md
Due: none

fix: Remove unused imports and reformat with ruff (#1076)
  src/learning/lancedb_feedback_store.py
  src/learning/rlhf_storage.py
  tests/test_lancedb_feedback.py
Due: smoke-tests, detect-dead-code

fix: Dashboard workflow runs even when trading fails (#1078)
  .github/workflows/daily-trading.yml
  scripts/pre_session_rag_check.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: Update blog index with useful content (#1079)
  docs/index.md
Due: none

fix: Reinstall ChromaDB and rebuild RAG vector database
  data/vector_db/vectorized_files.json
Due: none

fix: Add trigger to update wiki dashboard
  TRIGGER_TRADE.md
Due: none

fix: Dashboard shows BOTH live and paper accounts for transparency
  scripts/generate_world_class_dashboard_enhanced.py
  scripts/update_performance_log.py
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests, detect-dead-code

fix: Calculate R&D day dynamically from start date (#1081)
  data/system_state.json
  docs/index.md
  scripts/generate_world_class_dashboard_enhanced.py
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests, detect-dead-code, verify-strategy-integration

docs: Add 4 Jan 5 lessons to blog (#1082)
  docs/_lessons/ll_079_chromadb_reinstall_jan05.md
  docs/_lessons/ll_079_hallucination_tomorrow_incident_jan05.md
  docs/_lessons/ll_080_dialogflow_trade_query_fix_jan05.md
  docs/_lessons/ll_080_lancedb_rlhf_integration_jan05.md
Due: none

fix: Sort imports and add LanceDB fallback for CI
  src/agents/rl_agent.py
  src/learning/lancedb_feedback_store.py
Due: smoke-tests, detect-dead-code

test: Add 100% test coverage for RLHF storage and trade sync
  .claude/CLAUDE.md
  tests/test_rlhf_storage.py
  tests/test_trade_sync.py
Due: smoke-tests, detect-dead-code

docs: Add LL-081 test coverage lesson
  rag_knowledge/lessons_learned/ll_081_test_coverage_rlhf_trade_sync_jan05.md
Due: none

chore: Update vectorized files index with LL-081
  data/vector_db/vectorized_files.json
Due: none

chore: Update system state timestamp
  data/system_state.json
Due: verify-strategy-integration

fix: Skip LanceDB tests when LanceDB not installed (#1084)
  tests/test_lancedb_feedback.py
Due: smoke-tests, detect-dead-code

fix: Remove orphaned docs/lessons-learned directory (#1087)
  data/system_state.json
  docs/lessons-learned/LL-053-options-theta-strategy-success.md
Due: verify-strategy-integration

fix: Add diagnostic checkpoint to debug trading workflow failures (#1088)
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict, validate-workflow-secrets

docs: Add LL-082 CI failure resolution lesson (#1089)
  rag_knowledge/lessons_learned/ll_082_ci_failure_resolution_jan05.md
Due: none

docs: Add permanent CEO directives to CLAUDE.md (#1090)
  .claude/CLAUDE.md
Due: none

fix: Resolve ruff lint errors in test files (#1091)
  tests/test_rlhf_storage.py
  tests/test_trade_sync.py
Due: smoke-tests, detect-dead-code

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$
