Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

fix: fill all available IC slots in one run (was opening only 1)
  scripts/ic_simple.py
Due: smoke-tests, detect-dead-code

REVERT: remove while loop, back to 1 IC per run (CRITICAL BUG)
  scripts/ic_simple.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca state [auto]
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  data/trades.json
Due: verify-strategy-integration

fix: prevent premature IC exits, add GTC profit close, scale to 2x (#3749)
  .trunk/trunk.yaml
  scripts/iron_condor_trader.py
  scripts/manage_iron_condor_positions.py
Due: validate-yaml-strict, smoke-tests, detect-dead-code

feat: enforce live public surfaces (#3750)
  .github/public/about.txt
  .github/workflows/ci.yml
  .github/workflows/public-surface-guard.yml
  .github/workflows/sync-alpaca-status.yml
  README.md
  data/north_star_weekly_history.json
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  data/trades.json
  docs/LIVE_STRATEGY.md
  docs/_config.yml
  docs/data/public_status.json
  docs/index.md
  scripts/build_public_status.py
  scripts/check_public_copy_freshness.py
  scripts/daily_scorecard.py
  scripts/sync_closed_positions.py
  src/analytics/daily_scorecard.py
  src/utils/alpaca_client.py
  tests/test_alpaca_client.py
  tests/test_build_public_status.py
  tests/test_daily_scorecard.py
  tests/test_public_copy_freshness.py
  tests/test_workflow_contracts.py
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration

chore: Sync Alpaca state [auto]
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  data/trades.json
  docs/data/public_status.json
  models/ml/grpo_trade_metadata.json
  models/ml/grpo_trade_policy.pt
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: verify-strategy-integration

fix: make public surface guard reproducible (#3751)
  .github/workflows/ci.yml
  docs/data/public_status.json
  docs/index.md
  scripts/build_public_status.py
  tests/test_build_public_status.py
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: bump anthropic to 0.87.0, delete vulnerable docs/rag-query.html (#3752)
  docs/rag-query.html
  requirements.txt
Due: none

fix: make docs, dashboard, and gate data congruent with reality (#3753)
  docs/LIVE_STRATEGY.md
  docs/_config.yml
  docs/data/public_status.json
  docs/index.md
  scripts/build_public_status.py
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: validate-yaml-strict, smoke-tests, detect-dead-code

fix: fail closed on lifetime ledger contradictions (#3755)
  data/system_state.json
  docs/data/public_status.json
  scripts/build_public_status.py
  src/analytics/daily_scorecard.py
  src/safety/north_star_congruence.py
  src/safety/north_star_operating_plan.py
  tests/test_build_public_status.py
  tests/test_daily_scorecard.py
  tests/test_north_star_operating_plan.py
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: smoke-tests, detect-dead-code, verify-strategy-integration

fix: add E2E tests for IC exit fixes, fix stale/broken tests (#3754)
  scripts/iron_condor_guardian.py
  tests/test_ci_runner_wiring.py
  tests/test_ic_exit_fixes.py
  tests/test_iron_condor_guardian.py
Due: smoke-tests, detect-dead-code

ci: format generated state before auto-sync commits (#3756)
  .github/workflows/sync-alpaca-status.yml
Due: validate-yaml-strict, validate-workflow-secrets

feat: close ML feedback loop — Thompson Sampler from real trades + post-mortems (#3757)
  data/rag_knowledge/lessons_learned/postmortem_IC_SPY_2026_03_31_P645_655_C725_735_2026.md
  data/rag_knowledge/lessons_learned/postmortem_IC_SPY_2026_04_02_P630_640_C705_715_2026.md
  data/rag_knowledge/lessons_learned/postmortem_IC_SPY_2026_04_02_P645_655_C725_735_2026.md
  data/rag_knowledge/lessons_learned/postmortem_IC_SPY_2026_04_10_P630_640_C705_715_2026.md
  data/rag_knowledge/lessons_learned/postmortem_IC_SPY_2026_04_17_P635_645_C710_720_2026.md
  models/ml/trade_confidence_model.json
  scripts/update_ml_from_trades.py
  tests/test_ml_feedback_loop.py
Due: smoke-tests, detect-dead-code

fix: wire ML feedback loop into daily cron, raise maxfail to 20 (#3758)
  .github/workflows/sync-alpaca-status.yml
  pytest.ini
  src/ml/grpo_trade_learner.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

chore: Sync Alpaca state [auto]
  data/TRADING_HALTED
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  data/trades.json
  docs/data/public_status.json
  models/ml/grpo_trade_metadata.json
  models/ml/grpo_trade_policy.pt
  models/ml/trade_confidence_model.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: verify-strategy-integration

fix: mypy dual-module resolution, fix 3 manage test failures, GRPO docstring (#3759)
  pyproject.toml
  tests/test_manage_iron_condor_positions.py
Due: smoke-tests, detect-dead-code
