Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests

.pre-commit-config.yaml:

# Pre-commit hooks for code quality (2025 standards)
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Ruff - Fast Python linter and formatter (replaces black, flake8, isort)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.2.0'
    hooks:
      - id: mypy
        args: ["--config-file", "mypy.ini"]
        additional_dependencies: [types-requests, types-PyYAML]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(data/|reports/)
      - id: end-of-file-fixer
        exclude: ^(data/|reports/)
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags but still validate syntax strictly
      - id: check-json
        exclude: ^(data/|\.vscode/)
      - id: check-toml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: debug-statements

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        args:
          [
            '-ll',
            '-ii',
            '--skip',
            'B101,B310,B113,B602,B603,B404,B614,B324,B301,B314',
          ]
        exclude: ^tests/|.pc-venv/

  # Keep the custom hygiene script if needed, but ensure it works
  - repo: local
    hooks:
      - id: file-organization
        name: Check File Organization
        entry: python3 .claude/skills/precommit_hygiene/scripts/precommit_hygiene.py check_file_organization
        language: system
        pass_filenames: false
        verbose: true

      - id: test-crypto-imports
        name: Test Crypto Trading Imports (No RAG)
        entry: bash scripts/pre_commit_test_crypto_imports.sh
        language: system
        types: [python]
        files: '(src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py)'
        pass_filenames: false

      - id: test-dashboard-metrics
        name: Test Dashboard Metrics Completeness
        entry: python3 tests/test_dashboard_metrics.py
        language: system
        types: [python]
        files: '(scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py)'
        pass_filenames: false
        verbose: true

      - id: validate-yaml-strict
        name: Strict YAML Validation
        entry: bash scripts/validate_yaml_before_commit.sh
        language: python
        additional_dependencies: [pyyaml]
        types: [yaml]
        pass_filenames: false
        verbose: true

      - id: test-dashboard-output
        name: Test Dashboard Output Completeness
        entry: python3 tests/test_dashboard_output.py
        language: system
        types: [python]
        files: '(scripts/generate.*dashboard.*\.py)'
        pass_filenames: false
        verbose: true

      - id: smoke-tests
        name: Smoke Tests - Critical Path Verification
        entry: python3 tests/test_smoke.py
        language: python
        additional_dependencies: [numpy, pyyaml]
        types: [python]
        files: '(scripts/|src/|tests/)'
        pass_filenames: false
        verbose: true
        stages: [pre-commit]

feat: Add 7 RAG/ML-powered safety tests for self-learning trading system (#559)
  data/rag/lessons_learned.json
  docs/dynamic_pretrade_risk_gate.md
  docs/lessons_knowledge_graph_integration.md
  docs/llm_hallucination_guard.md
  docs/pattern_recurrence_detector.md
  docs/semantic_trade_anomaly_integration.md
  examples/anomaly_learning_integration.py
  examples/lessons_query_example.py
  examples/llm_hallucination_guard_integration.py
  examples/pattern_recurrence_example.py
  reports/anomaly_reports/anomaly_report_2025-12-11.json
  scripts/demo_pretrade_gate.py
  src/verification/__init__.py
  src/verification/anomaly_learning_feedback_loop.py
  src/verification/dynamic_pretrade_risk_gate.py
  src/verification/lessons_knowledge_graph_query.py
  src/verification/llm_hallucination_rag_guard.py
  src/verification/pattern_recurrence_detector.py
  src/verification/regime_aware_position_anomaly.py
  src/verification/semantic_trade_anomaly.py
  tests/test_anomaly_learning_loop.py
  tests/test_dynamic_pretrade_gate.py
  tests/test_lessons_knowledge_graph.py
  tests/test_llm_hallucination_guard.py
  tests/test_pattern_recurrence_detector.py
  tests/test_regime_aware_position.py
  tests/test_semantic_trade_anomaly.py
Due: smoke-tests

feat: Execute regime pivot - 4 critical safety enhancements (#560)
  config/backtest_scenarios.yaml
  docs/live_deployment_proposal_dec2025.md
  scripts/run_backtest_matrix.py
  scripts/shadow_live.py
  src/agents/rl_agent.py
  src/utils/sentiment.py
Due: validate-yaml-strict, smoke-tests

feat: Add RAG/ML safety tests for regime pivot (ll_016) (#561)
  rag_knowledge/lessons_learned/ll_016_regime_pivot_safety_gates_dec12.md
  tests/test_rag_ml_safety.py
Due: smoke-tests

refactor: Reduce CLAUDE.md from 700 to 132 lines (#562)
  .claude/CLAUDE.md
  .claude/commands/create-pr.md
  .claude/rules/MANDATORY_RULES.md
  rag_knowledge/lessons_learned/ll_017_claude_md_bloat_antipattern_dec12.md
Due: none

feat: Add RAG/ML-powered agent config verification tests (#563)
  tests/test_agent_config_verification.py
Due: smoke-tests

docs: Add RAG lightweight alternatives research for Dec 2025
  docs/RAG_LIGHTWEIGHT_ALTERNATIVES_2025.md
Due: none

fix: Add RAG vectorization gap detection and dashboard visualization (#564)
  rag_knowledge/lessons_learned/ll_017_rag_vectorization_gap_dec12.md
  scripts/generate_progress_dashboard.py
  scripts/verify_rag_hygiene.py
Due: test-dashboard-output, smoke-tests

feat: Add lightweight RAG module using FastEmbed + LanceDB
  src/rag/lightweight_rag.py
Due: test-crypto-imports, smoke-tests

feat: Add LangSmith tracing to trading workflows (#565)
  .github/workflows/daily-trading.yml
  .github/workflows/weekend-crypto-trading.yml
Due: validate-yaml-strict

docs: Add lightweight RAG comparison and usage example
  docs/lightweight_rag_comparison.md
  examples/lightweight_rag_example.py
Due: none

feat: Add LanceDB migration toolkit for RAG vector store
  docs/lancedb_migration.md
  requirements-rag.txt
  scripts/MIGRATION_QUICKSTART.md
  scripts/README_LANCEDB_MIGRATION.md
  scripts/migrate_to_lancedb.py
  scripts/test_lancedb_migration.sh
  scripts/test_lancedb_search.py
  scripts/verify_lancedb_migration.py
Due: smoke-tests

docs: Add comprehensive README for lightweight RAG module
  src/rag/LIGHTWEIGHT_RAG_README.md
Due: none

feat: Add RAG/ML safety tests for workflow observability (ll_017) (#566)
  rag_knowledge/lessons_learned/ll_017_missing_langsmith_env_vars_dec12.md
  scripts/verify_workflow_observability.py
  tests/test_workflow_observability.py
Due: smoke-tests

docs: Add migration summary for LanceDB toolkit
  LANCEDB_MIGRATION_SUMMARY.md
Due: none

docs: Add complete implementation summary for lightweight RAG
  LIGHTWEIGHT_RAG_IMPLEMENTATION.md
Due: none

docs: Add visual architecture diagram for LanceDB migration
  docs/lancedb_migration_architecture.txt
Due: none

feat: Add RAG Insights tab to trading dashboard
  .github/workflows/unified-rag-ingestion.yml
  dashboard/trading_dashboard.py
Due: validate-yaml-strict

feat: Implement lightweight RAG (FastEmbed + LanceDB) with dashboard integration (#567)
  .github/workflows/unified-rag-ingestion.yml
  LANCEDB_MIGRATION_SUMMARY.md
  LIGHTWEIGHT_RAG_IMPLEMENTATION.md
  dashboard/trading_dashboard.py
  docs/RAG_LIGHTWEIGHT_ALTERNATIVES_2025.md
  docs/lancedb_migration.md
  docs/lancedb_migration_architecture.txt
  docs/lightweight_rag_comparison.md
  examples/lightweight_rag_example.py
  requirements-rag.txt
  scripts/MIGRATION_QUICKSTART.md
  scripts/README_LANCEDB_MIGRATION.md
  scripts/migrate_to_lancedb.py
  scripts/test_lancedb_migration.sh
  scripts/test_lancedb_search.py
  scripts/verify_lancedb_migration.py
  src/rag/LIGHTWEIGHT_RAG_README.md
  src/rag/lightweight_rag.py
Due: test-crypto-imports, validate-yaml-strict, smoke-tests

feat: Add anti-manual mandate verification to CI (LL-017) (#568)
  .github/workflows/ci.yml
  rag_knowledge/lessons_learned/ll_017_anti_manual_violation_dec12.md
  scripts/check_anti_manual_violations.py
Due: validate-yaml-strict, smoke-tests

fix: Use existing LangSmith project 'claude-code-learning' (#569)
  .github/workflows/daily-trading.yml
  .github/workflows/weekend-crypto-trading.yml
Due: validate-yaml-strict

feat: Add LanceDB migration to RAG ingestion workflow (#570)
  .github/workflows/unified-rag-ingestion.yml
Due: validate-yaml-strict

feat: Use dedicated LangSmith project 'ai-trading-system' (#571)
  .github/workflows/daily-trading.yml
  .github/workflows/weekend-crypto-trading.yml
Due: validate-yaml-strict

docs: Add LL-018 - P/L verification failure (CRITICAL) (#572)
  rag_knowledge/lessons_learned/ll_018_pl_verification_failure_dec12.md
Due: none

fix: Add trading heartbeat monitor (LL-019) (#573)
  .github/workflows/trading-heartbeat.yml
  rag_knowledge/lessons_learned/ll_019_trading_system_dead_dec12.md
Due: validate-yaml-strict

fix: Add stale data warnings to hook (#574)
  .claude/hooks/inject_trading_context.sh
Due: none

feat: Add detailed trade decision logging and session summaries (#575)
  src/agents/momentum_agent.py
  src/orchestrator/main.py
  src/orchestrator/telemetry.py
Due: smoke-tests

docs: Add lesson learned ll_018 - weekend market awareness (#576)
  rag_knowledge/lessons_learned/ll_018_weekend_market_awareness_dec12.md
Due: none

fix: Commit trade files and performance log in workflow (LL-020)
  .github/workflows/daily-trading.yml
  rag_knowledge/lessons_learned/ll_020_trade_files_not_committed_dec12.md
Due: validate-yaml-strict

fix: Commit trade files and performance log in workflow (LL-020) (#577)
  .github/workflows/daily-trading.yml
  rag_knowledge/lessons_learned/ll_020_trade_files_not_committed_dec12.md
Due: validate-yaml-strict

fix: Relax trading thresholds to enable actual trades (#579)
  rag_knowledge/lessons_learned/ll_019_system_dead_2_days_overly_strict_filters_dec12.md
  scripts/autonomous_trader.py
  src/agents/rl_agent.py
  src/strategies/legacy_momentum.py
Due: test-crypto-imports, smoke-tests

feat: Add trade flow health tests and RAG integration (#580)
  data/rag/lessons_learned.json
  scripts/ingest_lessons_to_rag.py
  scripts/verify_trade_execution.py
  tests/test_trade_flow_health.py
Due: smoke-tests

feat: stabilize trading system (risk, failover, security)
  .github/codeql/codeql-config.yml
  .github/workflows/ci.yml
  dashboard/path_to_100_dashboard.py
  dashboard/trading_dashboard.py
  data/system_state.json
  reports/profit_target_report.json
  requirements.txt
  scripts/dismiss_codeql_false_positives.sh
  scripts/validate_workflow_secrets.py
  src/agents/dialogflow_client.py
  src/execution/alpaca_executor.py
  src/risk/trade_gateway.py
Due: validate-yaml-strict, smoke-tests

EXECUTE_TRADE: Force SPY trade Dec 12
  data/.trade_trigger
Due: none

EXECUTE_TRADE: Add write permissions to always-trade workflow
  .github/workflows/always-trade.yml
Due: validate-yaml-strict

fix: make daily P&L script dynamic (use current date)
  scripts/calculate_today_pl.py
Due: smoke-tests

EXECUTE_TRADE: Fix checkout credentials and add verbose output
  .github/workflows/always-trade.yml
Due: validate-yaml-strict

feat: Make options theta PRIMARY strategy - execute first (#582)
  rag_knowledge/lessons_learned/ll_020_options_primary_strategy_dec12.md
  src/orchestrator/main.py
  tests/test_options_priority.py
Due: smoke-tests

EXECUTE_TRADE: Add retry logic and rebase for push conflicts
  .github/workflows/always-trade.yml
Due: validate-yaml-strict

EXECUTE_TRADE: Fix commit-rebase-push order for race conditions
  .github/workflows/always-trade.yml
Due: validate-yaml-strict

EXECUTE_TRADE: Use gh API for atomic commit instead of git push
  .github/workflows/always-trade.yml
Due: validate-yaml-strict
