Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

feat(ci): Add daily earnings position check workflow
  .github/workflows/daily-earnings-check.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore(rag): Record SOFI loss lesson LL-195
  rag_knowledge/lessons_learned/LL-195.md
Due: none

chore: Sync Alpaca paper account status [auto] (#1802)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#1803)
  data/system_state.json
Due: verify-strategy-integration

fix(trading): Add pre-trade checklist + document loss lesson (#1805)
  .claude/CLAUDE.md
  data/system_state.json
  docs/_posts/2026-01-14-lesson-learned-sofi-loss.md
  scripts/pre_trade_checklist.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#1806)
  data/system_state.json
Due: verify-strategy-integration

fix(governance): Record LL-203 CTO directive violations crisis (#1807)
  rag_knowledge/lessons_learned/ll_203_cto_directive_violations_jan14.md
Due: none

feat(compliance): Add automated directive compliance check (#1808)
  scripts/directive_compliance_check.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#1811)
  data/system_state.json
Due: verify-strategy-integration

research: Add comprehensive options strategies compilation (#1809)
  rag_knowledge/research/options_strategies_research.md
Due: none

feat(rag): Add $100K trade history analysis workflow (#1812)
  .github/workflows/analyze-100k-history.yml
  scripts/fetch_100k_trade_history.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

chore: Record SOFI loss lesson - blackout violation (#1813)
  data/memory/lessons/lesson_20260114_sofi_loss.json
Due: none

feat(rag): Extract lessons from $100K profitable trades (#1815)
  .github/workflows/execute-credit-spread.yml
  rag_knowledge/lessons_learned/ll_203_100k_account_analysis_jan14.md
Due: validate-yaml-strict, validate-workflow-secrets

fix(workflow): SPY options discovery for 30-delta OTM puts
  .github/workflows/execute-credit-spread.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix(gateway): Add ticker whitelist + ban naked puts (LL-192) (#1816)
  src/risk/trade_gateway.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#1818)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#1819)
  data/system_state.json
Due: verify-strategy-integration

chore(rag): Log CRITICAL lesson LL-203 - $100K lessons lost (#1820)
  rag_knowledge/lessons_learned/ll_203_rag_failure_100k_lessons_lost_jan14.md
Due: none

feat: Add Ralph Mode (always-on autonomous CTO) + fix CI YAML (#1821)
  .claude/commands/cancel-ralph.md
  .claude/commands/ralph-loop.md
  .claude/commands/ralph-status.md
  .claude/hooks/ralph_check_resume.sh
  .claude/hooks/ralph_inject_prompt.sh
  .claude/hooks/ralph_stop_hook.sh
  .claude/ralph_prompt.txt
  .claude/settings.json
  .github/workflows/analyze-100k-history.yml
  .gitignore
Due: validate-yaml-strict, validate-workflow-secrets

fix: Restore missing modules for TradingOrchestrator imports (#1823)
  src/agents/debate_agents.py
  src/agents/rl_agent.py
  src/analyst/__init__.py
  src/analyst/bias_store.py
  src/learning/__init__.py
  src/learning/trade_memory.py
  src/risk/options_risk_monitor.py
  src/signals/__init__.py
  src/signals/microstructure_features.py
  src/utils/market_data.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#1824)
  data/system_state.json
Due: verify-strategy-integration

fix: Remove unused variable in trade_memory.py
  src/learning/trade_memory.py
Due: smoke-tests, detect-dead-code

fix: Add SPY/IWM to Rule #1 universe as ETFs (#1825)
  src/validators/rule_one_validator.py
Due: smoke-tests, detect-dead-code

fix: Enforce earnings blackout in credit spread script + remove F from tickers (#1826)
  .github/workflows/daily-trading.yml
  .secrets.baseline
  data/trade_plans/jan15_2026_trade_plan.md
  rag_knowledge/lessons_learned/ll_205_jan14_loss_root_cause_analysis.md
  scripts/execute_credit_spread.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: Allow recovery trading - use daily loss limit instead of total P/L (#1828)
  src/risk/trade_gateway.py
Due: smoke-tests, detect-dead-code

fix: Skip options analysis tests when numpy unavailable in sandbox (#1830)
  tests/test_options_analysis.py
Due: smoke-tests, detect-dead-code

fix: Add OptionsPosition dataclass to fix CI import error (#1832)
  src/risk/options_risk_monitor.py
Due: smoke-tests, detect-dead-code

fix: Date parsing bug in sync_rag_to_blog.py (#1834)
  docs/_posts/2026-01-12-lessons-learned.md
  docs/_posts/2026-01-13-lessons-learned.md
  docs/_posts/2026-01-14-lessons-learned.md
  scripts/sync_rag_to_blog.py
Due: smoke-tests, detect-dead-code

feat: Add daily VOO DCA automation for brokerage account (#1833)
  .github/workflows/daily-voo-dca.yml
  scripts/daily_voo_dca.py
  src/utils/alpaca_client.py
  tests/test_daily_voo_dca.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

ci: Allow docs/_reports/ in markdown check (#1839)
  .github/workflows/ci.yml
  data/performance_log.json
  docs/_reports/2026-01-14-daily-report.md
Due: validate-yaml-strict, validate-workflow-secrets

chore: Mark SOFI as blackout in watchlist (#1842)
  data/tier2_watchlist.json
Due: none

chore: Update system state timestamp (#1845)
  data/system_state.json
Due: verify-strategy-integration

docs(blog): Publish $100K lessons failure + all 25 RAG lessons (#1847)
  docs/_posts/2026-01-14-100k-lessons-we-lost.md
  docs/_posts/2026-01-14-all-rag-lessons-published.md
Due: none

chore: Add sandbox git proxy lesson and sync blog (#1846)
  .claude/hooks/staleness_circuit_breaker.sh
  docs/_posts/2026-01-14-lessons-learned.md
  rag_knowledge/lessons_learned/ll_206_sandbox_git_proxy_limitations_jan14.md
Due: none

docs(blog): Sync RAG lessons to blog (Jan 14-15) (#1850)
  docs/_posts/2026-01-14-lessons-learned.md
  docs/_posts/2026-01-15-lessons-learned.md
Due: none

research: Deep math analysis - income targets revised (#1852)
  .claude/CLAUDE.md
  rag_knowledge/lessons_learned/ll_207_income_math_deep_research_jan15.md
Due: none
