Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

fix: write snapshot manifest with trailing newline
  docs/assets/snapshots/latest.json
  scripts/generate_alpaca_snapshot.py
  tests/test_alpaca_snapshot.py
Due: smoke-tests, detect-dead-code

chore: fix prettier formatting in prd.json
  .claude/prd.json
Due: none

fix: modernize thumbgate repo integration
  .claude/CLAUDE.md
  .claude/hooks/memory-gateway-pretool.sh
  .claude/hooks/session-start.sh
  .claude/hooks/user-prompt-submit.sh
  .claude/settings.json
  .github/workflows/auto-record-lesson.yml
  .gitignore
  .mcp.json
  scripts/capture_hook_feedback.py
  scripts/thumbgate_session_start.py
  src/learning/codex_feedback_bridge.py
  src/learning/memory_gateway_feedback.py
  tests/test_capture_hook_feedback.py
  tests/test_codex_notify_rlhf_bridge.py
  tests/test_gsd_pipeline_wiring.py
  tests/test_memory_gateway_integration.py
  tests/test_thumbgate_feedback.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

feat: add controlled experiment protocol — 30-trade proof-of-edge gate
  .claude/rules/controlled-experiment.md
Due: none

fix: regime gate fail-closed — unknown regime blocks entry
  scripts/ic_simple.py
  scripts/iron_condor_trader.py
Due: smoke-tests, detect-dead-code

fix: harden validation-phase IC gates and canonical sync
  .github/workflows/ic-simple.yml
  scripts/ic_simple.py
  scripts/iron_condor_trader.py
  scripts/sync_closed_positions.py
  src/core/trading_profiles.py
  src/safety/behavioral_guard.py
  src/utils/yfinance_wrapper.py
  tests/test_behavioral_guard.py
  tests/test_ic_exit_fixes.py
  tests/test_iron_condor_trader.py
  tests/test_sync_closed_positions_learning.py
  tests/test_trading_profiles.py
  tests/test_workflow_contracts.py
  tests/test_yfinance_wrapper.py
  tests/unit/test_ic_simple.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

chore: Sync Alpaca state [auto]
  data/TRADING_HALTED
  data/north_star_weekly_history.json
  data/post_market_analysis/plan_20260409.json
  data/rag_knowledge/lessons_learned/research_20260409.md
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  data/trades.json
  docs/data/public_status.json
  models/ml/grpo_trade_metadata.json
  models/ml/grpo_trade_policy.pt
  models/ml/trade_confidence_model.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: verify-strategy-integration

chore: Sync Alpaca state [auto]
  data/TRADING_HALTED
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  data/trades.json
  docs/data/public_status.json
  models/ml/grpo_trade_metadata.json
  models/ml/grpo_trade_policy.pt
  models/ml/trade_confidence_model.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: verify-strategy-integration

chore: Sync Alpaca state [auto]
  data/TRADING_HALTED
  data/rag_knowledge/lessons_learned/research_20260409.md
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  data/trades.json
  docs/data/public_status.json
  models/ml/grpo_trade_metadata.json
  models/ml/grpo_trade_policy.pt
  models/ml/trade_confidence_model.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: verify-strategy-integration

fix: yfinance download fails when period+start+end all set
  src/utils/yfinance_wrapper.py
Due: smoke-tests, detect-dead-code

fix: unblock paper validation while keeping live north star guard
  scripts/build_north_star_blocker_report.py
  scripts/sync_alpaca_state.py
  scripts/update_north_star_operating_plan.py
  src/safety/milestone_controller.py
  src/safety/north_star_guard.py
  src/safety/north_star_operating_plan.py
  tests/test_build_north_star_blocker_report.py
  tests/test_milestone_controller.py
  tests/test_north_star_guard.py
  tests/test_north_star_operating_plan.py
Due: smoke-tests, detect-dead-code

test: stabilize ic simple regime-gated e2e on north star branch
  tests/unit/test_ic_simple.py
Due: smoke-tests, detect-dead-code

test: isolate live trader paths from validation guard state
  tests/test_iron_condor_integration.py
  tests/test_iron_condor_trader.py
Due: smoke-tests, detect-dead-code

style: format mcp launcher config
  .mcp.json
Due: none

fix: calm regime confidence too low at VIX ~19 (0.15 → 0.51)
  src/utils/regime_detector.py
Due: smoke-tests, detect-dead-code

fix: let calm regime reach validation entry gates
  scripts/ic_simple.py
  scripts/iron_condor_trader.py
  src/safety/regime_entry_gate.py
  tests/test_regime_entry_gate.py
Due: smoke-tests, detect-dead-code

fix: allow controlled paper validation entries
  scripts/ic_simple.py
  tests/unit/test_ic_simple.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca state [auto]
  data/TRADING_HALTED
  data/post_market_analysis/plan_20260410.json
  data/rag_knowledge/lessons_learned/research_20260410.md
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  data/trades.json
  docs/data/public_status.json
  models/ml/grpo_trade_metadata.json
  models/ml/grpo_trade_policy.pt
  models/ml/trade_confidence_model.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: verify-strategy-integration

fix: reset Thompson, disable auto-adjust, fix RAG path, remove dead code
  models/ml/trade_confidence_model.json
  scripts/ic_simple.py
  scripts/iron_condor_trader.py
  src/rag/vector_store.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

fix: allow validation reset through ml halt (#3813)
  scripts/ic_simple.py
  src/safety/mandatory_trade_gate.py
  tests/test_mandatory_trade_gate.py
  tests/test_validator_coverage.py
  tests/unit/test_ic_simple.py
Due: smoke-tests, detect-dead-code

fix: prevent ML gate from re-halting during validation phase
  .claude/logs/gsd-hook-pipeline.log
  data/TRADING_HALTED
  docs/OPTIONS_DATA_SOURCES.md
  scripts/update_ml_from_trades.py
Due: smoke-tests, detect-dead-code

chore: remove accidentally added embedded repos
  .claude/logs/gsd-hook-pipeline.log
  docs/OPTIONS_DATA_SOURCES.md
Due: none

fix: log Alpaca 422 response body for order debugging
  scripts/ic_simple.py
Due: smoke-tests, detect-dead-code

fix: infer paper validation mode from workflow creds
  src/safety/mandatory_trade_gate.py
  tests/test_validator_coverage.py
Due: smoke-tests, detect-dead-code

fix: snap wing strikes to valid chain strikes (fixes Alpaca 422)
  src/markets/option_chain.py
Due: smoke-tests, detect-dead-code

ci: skip branch push trunk check
  .github/workflows/ci.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Sync Alpaca state [auto]
  data/rag_knowledge/lessons_learned/research_20260410.md
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  data/trades.json
  docs/data/public_status.json
  models/ml/grpo_trade_metadata.json
  models/ml/grpo_trade_policy.pt
  models/ml/trade_confidence_model.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: verify-strategy-integration

ci: skip feature branch duplicate checks
  .github/workflows/ci.yml
Due: validate-yaml-strict, validate-workflow-secrets

feat: trade journal skill — audit trail for 30-trade validation
  .claude/skills/trade-journal/SKILL.md
  scripts/trade_journal.py
Due: smoke-tests, detect-dead-code
