Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

fix: Resolve pre-existing CI failures (#798)
  .github/workflows/daily-trading.yml
  .github/workflows/trading-health-monitor.yml
  scripts/generate_world_class_dashboard_enhanced.py
  scripts/ingest_phil_town_blog.py
  scripts/ingest_phil_town_youtube.py
  src/rag/lessons_learned_rag.py
  src/utils/error_monitoring.py
  tests/test_workflow_contracts.py
  tests/test_workflow_integrity.py
Due: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code

feat: Add mandatory RAG check hook - force lesson retrieval (#802)
  .claude/hooks/mandatory_rag_check.sh
  .claude/settings.json
Due: none

fix(workflows): Use git add -f for ignored files (#803)
  .github/workflows/phil-town-ingestion.yml
  .github/workflows/weekend-learning.yml
Due: validate-yaml-strict, validate-workflow-secrets

docs(rag): Add lesson learned for gitignore workflow failure (#804)
  rag_knowledge/lessons_learned/ll_055_gitignore_breaks_workflow_commits_dec20.md
Due: none

fix(workflows): Fix youtube-transcript-api v1.0+ and git push race (#805)
  .github/workflows/phil-town-ingestion.yml
  .github/workflows/weekend-learning.yml
  scripts/ingest_options_youtube.py
  scripts/ingest_phil_town_youtube.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix(workflows): Use PR-based commit for protected branches (#806)
  .github/workflows/phil-town-ingestion.yml
  .github/workflows/weekend-learning.yml
  rag_knowledge/lessons_learned/ll_055_gitignore_breaks_workflow_commits_dec20.md
Due: validate-yaml-strict, validate-workflow-secrets

fix(workflows): Use peter-evans/create-pull-request + fix channel URLs (#807)
  .github/workflows/phil-town-ingestion.yml
  .github/workflows/weekend-learning.yml
  scripts/ingest_options_youtube.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

feat: Add GitHub Pages blog + Dev.to auto-publish pipeline (#808)
  .github/workflows/publish-lessons.yml
  docs/RETROSPECTIVE.md
  docs/_config.yml
  docs/index.md
  llms.txt
Due: validate-yaml-strict, validate-workflow-secrets

fix: Remove duplicate title and add dates to lessons (#824)
  docs/_lessons/ci_failure_blocked_trading.md
  docs/_lessons/ll_010_dead_code_and_dormant_systems_dec11.md
  docs/_lessons/ll_011_facts_benchmark_factuality_ceiling.md
  docs/_lessons/ll_014_dead_code_dynamic_budget_dec11.md
  docs/_lessons/ll_017_claude_md_bloat_antipattern_dec12.md
  docs/_lessons/ll_017_rag_vectorization_gap_dec12.md
  docs/_lessons/ll_022_options_not_automated_dec12.md
  docs/_lessons/ll_028_unified_domain_model.md
  docs/_lessons/ll_029_always_verify_date.md
  docs/_lessons/ll_029_hicra_rl_credit_assignment.md
  docs/_lessons/ll_030_langsmith_deep_agent_observability.md
  docs/_lessons/ll_031_procedural_memory_trading_skills.md
  docs/_lessons/ll_040_catching_falling_knives_dec15.md
  docs/_lessons/ll_041_comprehensive_regression_tests_dec15.md
  docs/_lessons/ll_042_code_hygiene_automated_prevention_dec15.md
  docs/_lessons/ll_043_crypto_removed_simplify_dec15.md
  docs/_lessons/ll_043_medallion_architecture_unused_code.md
  docs/_lessons/ll_044_documentation_hygiene_mandate_dec15.md
  docs/_lessons/ll_045_verification_systems_prevent_mistakes_dec15.md
  docs/_lessons/ll_046_tax_aware_trading_mandate_dec15.md
  docs/_lessons/ll_047_e2e_pipeline_verification_dec15.md
  docs/_lessons/ll_047_rag_dual_database_cleanup_dec15.md
  docs/_lessons/ll_048_go_live_readiness_system_dec15.md
  docs/_lessons/ll_049_config_workflow_sync_failure_dec16.md
  docs/_lessons/ll_050_langsmith_tracing_integration_dec16.md
  docs/_lessons/ll_051_blind_trading_catastrophe_dec17.md
  docs/_lessons/ll_051_calendar_awareness_critical_dec19.md
  docs/_lessons/ll_051_strategy_thresholds_too_tight_dec17.md
  docs/_lessons/ll_052_credit_spreads_capital_efficiency_dec17.md
  docs/_lessons/ll_052_no_crypto_trading_dec19.md
  docs/_lessons/ll_053_stop_bleeding_crypto_reit_dec17.md
  docs/_lessons/ll_054_rag_not_actually_used_dec17.md
  docs/_lessons/ll_055_gitignore_breaks_workflow_commits_dec20.md
  docs/_lessons/ll_autonomous_commands.md
  docs/_lessons/ll_permanent_autonomous_mandate.md
  docs/_lessons/over_engineering_trading_system.md
  docs/_lessons/the_one_thing_trading.md
  docs/index.md
Due: none

fix: Remove duplicate page title from index.md (#825)
  docs/index.md
Due: none

fix: Merge duplicate env blocks in publish-lessons workflow (#826)
  .github/workflows/publish-lessons.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Add verification to Phil Town ingestion, document silent pipeline failure (#827)
  .github/workflows/phil-town-ingestion.yml
  data/youtube_cache/KvfZI964TEM_transcript.txt
  data/youtube_cache/MTAQFCy98HQ_transcript.txt
  data/youtube_cache/m_rPOUJprKU_transcript.txt
  data/youtube_cache/mr4Pw66_490_transcript.txt
  data/youtube_cache/zIiTLWLEym4_transcript.txt
  docs/_lessons/ll_056_silent_pipeline_failures_dec22.md
  rag_knowledge/lessons_learned/ll_056_silent_pipeline_failures_dec22.md
Due: validate-yaml-strict, validate-workflow-secrets

fix: Robust Phil Town YouTube ingestion with 3-tier fallback (#829)
  .github/workflows/phil-town-ingestion.yml
  scripts/ingest_phil_town_youtube.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

feat(rag): Phil Town YouTube ingestion with embedded transcripts (#831)
  rag_knowledge/youtube/insights/8pPnLzZmKKY_insights.json
  rag_knowledge/youtube/insights/9hWMAL0q-xw_insights.json
  rag_knowledge/youtube/insights/A9kZ_fVwLLo_insights.json
  rag_knowledge/youtube/insights/HcZRD3YUKZM_insights.json
  rag_knowledge/youtube/insights/Hfq4K1nP4v4_insights.json
  rag_knowledge/youtube/insights/K6CkCQU_qkE_insights.json
  rag_knowledge/youtube/insights/Rm69dKSsTrA_insights.json
  rag_knowledge/youtube/insights/WRF86rX2wXs_insights.json
  rag_knowledge/youtube/insights/Z5chrxMuBoo_insights.json
  rag_knowledge/youtube/insights/gWIi6WLczZA_insights.json
  rag_knowledge/youtube/transcripts/8pPnLzZmKKY_What_is_a_Moat_in_Investing.md
  rag_knowledge/youtube/transcripts/9hWMAL0q-xw_How_to_Read_Financial_Statements.md
  rag_knowledge/youtube/transcripts/A9kZ_fVwLLo_Margin_of_Safety_Explained.md
  rag_knowledge/youtube/transcripts/HcZRD3YUKZM_Value_Investing_vs_Growth_Investing.md
  rag_knowledge/youtube/transcripts/Hfq4K1nP4v4_The_Wheel_Strategy_Explained.md
  rag_knowledge/youtube/transcripts/K6CkCQU_qkE_The_4_Ms_of_Investing_-_Rule_1_Investing.md
  rag_knowledge/youtube/transcripts/Rm69dKSsTrA_How_to_Invest_in_Stocks_for_Beginners_2024.md
  rag_knowledge/youtube/transcripts/WRF86rX2wXs_Cash_Secured_Puts_Strategy.md
  rag_knowledge/youtube/transcripts/Z5chrxMuBoo_Rule_1_Dont_Lose_Money.md
  rag_knowledge/youtube/transcripts/gWIi6WLczZA_Warren_Buffett_How_to_Invest_for_Beginners.md
  scripts/ingest_phil_town_youtube.py
Due: smoke-tests, detect-dead-code

fix: Sync lessons to blog + auto-publish workflow fix (#832)
  .github/workflows/publish-lessons.yml
  docs/_lessons/ci_failure_blocked_trading.md
  docs/_lessons/ll_010_dead_code_and_dormant_systems_dec11.md
  docs/_lessons/ll_011_facts_benchmark_factuality_ceiling.md
  docs/_lessons/ll_014_dead_code_dynamic_budget_dec11.md
  docs/_lessons/ll_017_claude_md_bloat_antipattern_dec12.md
  docs/_lessons/ll_017_rag_vectorization_gap_dec12.md
  docs/_lessons/ll_022_options_not_automated_dec12.md
  docs/_lessons/ll_028_unified_domain_model.md
  docs/_lessons/ll_029_always_verify_date.md
  docs/_lessons/ll_029_hicra_rl_credit_assignment.md
  docs/_lessons/ll_030_langsmith_deep_agent_observability.md
  docs/_lessons/ll_031_procedural_memory_trading_skills.md
  docs/_lessons/ll_040_catching_falling_knives_dec15.md
  docs/_lessons/ll_041_comprehensive_regression_tests_dec15.md
  docs/_lessons/ll_042_code_hygiene_automated_prevention_dec15.md
  docs/_lessons/ll_043_crypto_removed_simplify_dec15.md
  docs/_lessons/ll_043_medallion_architecture_unused_code.md
  docs/_lessons/ll_044_documentation_hygiene_mandate_dec15.md
  docs/_lessons/ll_045_verification_systems_prevent_mistakes_dec15.md
  docs/_lessons/ll_046_tax_aware_trading_mandate_dec15.md
  docs/_lessons/ll_047_e2e_pipeline_verification_dec15.md
  docs/_lessons/ll_047_rag_dual_database_cleanup_dec15.md
  docs/_lessons/ll_048_go_live_readiness_system_dec15.md
  docs/_lessons/ll_049_config_workflow_sync_failure_dec16.md
  docs/_lessons/ll_050_langsmith_tracing_integration_dec16.md
  docs/_lessons/ll_051_blind_trading_catastrophe_dec17.md
  docs/_lessons/ll_051_calendar_awareness_critical_dec19.md
  docs/_lessons/ll_051_strategy_thresholds_too_tight_dec17.md
  docs/_lessons/ll_052_credit_spreads_capital_efficiency_dec17.md
  docs/_lessons/ll_052_no_crypto_trading_dec19.md
  docs/_lessons/ll_053_stop_bleeding_crypto_reit_dec17.md
  docs/_lessons/ll_054_rag_not_actually_used_dec17.md
  docs/_lessons/ll_055_gitignore_breaks_workflow_commits_dec20.md
  docs/_lessons/ll_056_silent_pipeline_failures_dec22.md
  docs/_lessons/ll_autonomous_commands.md
  docs/_lessons/ll_permanent_autonomous_mandate.md
  docs/_lessons/over_engineering_trading_system.md
  docs/_lessons/the_one_thing_trading.md
Due: validate-yaml-strict, validate-workflow-secrets

feat(blog): Daily revenue tracking with GitHub Pages + Dev.to (#834)
  .github/workflows/daily-blog-post.yml
  data/performance_log.json
  data/system_state.json
  docs/_config.yml
  docs/_reports/2025-12-19-daily-report.md
  docs/_reports/2025-12-20-daily-report.md
  docs/_reports/2025-12-22-daily-report.md
  docs/llms.txt
  docs/reports.md
  scripts/generate_daily_blog_post.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration

refactor: Hygiene cleanup - delete 20 stub files, fix docs (#836)
  .claude/CLAUDE.md
  README.md
  src/coaching/mental_toughness_coach.py
  src/coaching/reflexion_loop.py
  src/deepagents_integration/__init__.py
  src/ml/data_processor.py
  src/ml/disco_dqn_agent.py
  src/ml/dqn_agent.py
  src/ml/ensemble_rl.py
  src/ml/inference.py
  src/ml/market_regime_detector.py
  src/ml/multi_step_learning.py
  src/ml/reward_functions.py
  src/rag/collectors/fred_collector.py
  src/rag/collectors/mcmillan_options_collector.py
  src/rag/hindsight_adapter.py
  src/rag/options_book_retriever.py
  src/rag/vector_db/retriever.py
  src/safety/chaos_monkey.py
  src/safety/mandatory_trade_gate.py
  src/safety/volatility_adjusted_safety.py
  src/strategies/legacy_momentum.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

fix: Add RAG .search() method + system health check (#837)
  scripts/system_health_check.py
  src/rag/lessons_learned_rag.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

docs: Add lesson #057 - Google context engineering patterns (future ref) (#838)
  rag_knowledge/lessons_learned/ll_057_context_engineering_patterns_dec22.md
Due: none

feat: Autonomous Reddit sentiment pipeline with r/thetagang (#839)
  .github/workflows/reddit-sentiment.yml
  rag_knowledge/market_intel/README.md
  src/utils/reddit_sentiment.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

chore: Disable Reddit sentiment (conflicts with Phil Town philosophy) (#840)
  .github/workflows/reddit-sentiment.yml.disabled
Due: none

feat: Dialogflow webhook with RAG integration (#841)
  .github/workflows/deploy-dialogflow-webhook.yml
  docs/GITHUB_SECRETS_REQUIRED.md
  src/agents/dialogflow_webhook.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: Add missing legacy_momentum.py module for trading readiness (#842)
  src/strategies/legacy_momentum.py
Due: smoke-tests, detect-dead-code

fix: Remove unsupported --dockerfile argument from gcloud run deploy
  .github/workflows/deploy-dialogflow-webhook.yml
Due: validate-yaml-strict, validate-workflow-secrets

feat: Add workflow to configure Dialogflow CX webhook
  .github/workflows/configure-dialogflow-webhook.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Use correct API endpoint for global Dialogflow agents
  .github/workflows/configure-dialogflow-webhook.yml
Due: validate-yaml-strict, validate-workflow-secrets

feat: Configure Dialogflow flow to use webhook for no-match events
  .github/workflows/configure-dialogflow-webhook.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Add required tag to webhook fulfillment
  .github/workflows/configure-dialogflow-webhook.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Configure TradingAgent instead of first agent
  .github/workflows/configure-dialogflow-webhook.yml
Due: validate-yaml-strict, validate-workflow-secrets

feat: Make webhook PRIMARY handler for ALL queries, disable generative fallback
  .github/workflows/configure-dialogflow-webhook.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Clear embedded AI Cortex knowledge from agent, add catch-all intent
  .github/workflows/configure-dialogflow-webhook.yml
Due: validate-yaml-strict, validate-workflow-secrets

feat: Add workflow to switch TradingAgent from Playbook to Flow mode
  .github/workflows/switch-agent-to-flow.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Disable generative fallback and remove generators from TradingAgent
  .github/workflows/switch-agent-to-flow.yml
Due: validate-yaml-strict, validate-workflow-secrets
