Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

chore: save local work before merge (part 3)
  scripts/generate_world_class_dashboard.py
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests

docs: add comprehensive Siebold 177 Mental Toughness Secrets
  docs/mental-toughness-secrets.json
Due: none

feat: add Arbinger Self-Deception and Brian Tracy Focal Point interventions
  src/coaching/interventions.py
Due: smoke-tests

feat: add Tony Robbins Money/Unshakeable interventions
  src/coaching/interventions.py
Due: smoke-tests

fix(crypto): call manage_positions() on every execution
  src/strategies/crypto_strategy.py
Due: test-crypto-imports, smoke-tests

docs: add daily CEO report for December 8, 2025
  reports/daily_report_2025-12-08.txt
Due: none

feat(dashboard): enhance analytics and formatting
  dashboard.md
  dashboard/pages/3_💰_Trade_Impact.py
  rag_knowledge/knowledge_index.json
  scripts/debug_dashboard_data.py
  scripts/debug_yt.py
  scripts/generate_progress_dashboard.py
  scripts/generate_world_class_dashboard.py
  scripts/generate_world_class_dashboard_v2.py
  scripts/ingest_crypto_alpha.py
  scripts/review_open_prs_with_agents.py
  scripts/test_hyde.py
  scripts/update_progress_dashboard.py
  src/agents/crypto_learner_agent.py
  src/integrations/playwright_mcp/scraper.py
  tmp/tmpg8jm6xj_/_remote_module_non_scriptable.py
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests

fix: make dashboard useful with AI insights, holdings, and fixed analytics
  scripts/generate_world_class_dashboard.py
  wiki/Progress-Dashboard.md
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests

feat: add comprehensive backup and safety systems
  .github/workflows/automated-backup.yml
  data/system_state.json
  docs/backup-and-safety.md
  src/safety/__init__.py
  src/safety/data_backup.py
  src/safety/emergency_alerts.py
  src/safety/kill_switch.py
Due: validate-yaml-strict, smoke-tests

feat: enhance dashboard with custom date format and clickable trade logs
  wiki/Progress-Dashboard.md
Due: none

fix(deps): resolve numpy conflict for python 3.14+
  requirements-minimal.txt
  requirements.txt
Due: none

fix: sync crypto state after execution
  scripts/autonomous_trader.py
Due: test-crypto-imports, smoke-tests

feat: add automatic failover and resilience system (#262)
  src/safety/__init__.py
  src/safety/failover_system.py
Due: smoke-tests

feat: Add Alpaca Health Monitor and Position Reconciliation (#263)
  scripts/reconcile_positions.py
  src/risk/alpaca_health_monitor.py
Due: smoke-tests

feat: add Tradier backup broker with multi-broker failover (#264)
  src/brokers/__init__.py
  src/brokers/multi_broker.py
  src/brokers/tradier_client.py
Due: smoke-tests

feat: Integrate OpenThinker Agent (#260)
  scripts/test_openthinker_integration.py
  src/agents/__init__.py
  src/agents/openthinker_agent.py
  src/core/local_llm.py
  src/core/openthinker_council_integration.py
Due: smoke-tests

feat: Add Solana to Trading Universe (#259)
  rag_knowledge/raw/20251208_luke_belmar_crypto_picks.txt
  src/strategies/crypto_strategy.py
  tests/test_crypto_trading_no_rag.py
Due: test-crypto-imports, smoke-tests

feat: Ingest Crypto 2026 Predictions (#258)
  .claude/CLAUDE.md
  .claude/skills/youtube-analyzer/INDEX.md
  .claude/skills/youtube-analyzer/INSTALL.md
  .claude/skills/youtube-analyzer/QUICKSTART.md
  .claude/skills/youtube-analyzer/README.md
  .claude/skills/youtube-analyzer/SKILL.md
  .claude/skills/youtube-analyzer/TEST.md
  .claude/skills/youtube-analyzer/requirements.txt
  .claude/skills/youtube-analyzer/scripts/analyze_youtube.py
  .claude/skills/youtube-analyzer/scripts/example.sh
  data/youtube_cache/processed_videos.json
  rag_knowledge/youtube/.gitkeep
  rag_knowledge/youtube/insights/0HUuzo6WeVg.json
Due: smoke-tests

feat: Integrat RAG into Crypto Strategy (#257)
  data/rag/in_memory_store.json
  rag_knowledge/chunks/crypto_trading_mastery_2025.json
  rag_knowledge/knowledge_index.json
  scripts/ingest_local_crypto_knowledge.py
  src/strategies/crypto_strategy.py
Due: test-crypto-imports, smoke-tests

docs: Add Daily CEO Report (Mental Toughness) (#261)
  docs/mental-toughness-secrets.json
  reports/daily_report_2025-12-08.txt
  src/coaching/interventions.py
  src/strategies/crypto_strategy.py
Due: test-crypto-imports, smoke-tests

fix(security): resolve codeql configuration errors
  .github/codeql/codeql-config.yml
Due: validate-yaml-strict

fix: display current day's trade count by parsing system_state.json notes (bypass ruff F841)
  scripts/generate_world_class_dashboard.py
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
