Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

fix(lint): Rename ambiguous variable l to item (E741) (#1714)
  scripts/sync_rag_to_blog.py
Due: smoke-tests, detect-dead-code

docs(rag): Log audiobook resource evaluation as REDUNDANT (#1715)
  rag_knowledge/lessons_learned/ll_182_resource_eval_options_audiobook_jan13.md
Due: none

fix(lint): Remove unused variable decision (F841) (#1717)
  tests/test_rule_one_validator.py
Due: smoke-tests, detect-dead-code

fix(rag): Deduplicate lesson IDs - rename ll_181/184/185 duplicates (#1718)
  rag_knowledge/lessons_learned/ll_188_dead_code_cleanup_jan13.md
  rag_knowledge/lessons_learned/ll_189_semantic_caching_evaluation_jan13.md
  rag_knowledge/lessons_learned/ll_190_agentic_memory_paper_evaluation_jan13.md
Due: none

fix(tests): Correct TradeGateway constructor args and unused variable (#1719)
  tests/test_rule_one_validator.py
Due: smoke-tests, detect-dead-code

feat(strategy): Add ticker hierarchy, earnings blackouts, trade plan (#1721)
  .claude/CLAUDE.md
  data/trade_plans/jan14_2026_trade_plan.md
  rag_knowledge/lessons_learned/ll_188_jan2026_strategy_research_jan13.md
Due: none

docs(rag): Add TradingLab price action strategy evaluation (LL-189) (#1722)
  rag_knowledge/lessons_learned/ll_189_tradinglab_price_action_evaluation_jan13.md
Due: none

docs(rag): Log Financial Minutes video evaluation as REDUNDANT (#ll_191) (#1723)
  rag_knowledge/lessons_learned/ll_191_financial_minutes_3_strategies_evaluation_jan13.md
Due: none

fix(risk): Add earnings blackout + position sizing enforcement (LL-190) (#1724)
  rag_knowledge/lessons_learned/ll_190_sofi_blackout_violation_jan13.md
  scripts/execute_pending_trades.py
  src/risk/trade_gateway.py
Due: smoke-tests, detect-dead-code

fix(tests): Fix Rule #1 validator and test failures (#1725)
  src/validators/rule_one_validator.py
  tests/test_rule_one_validator.py
  tests/test_trade_gateway.py
Due: smoke-tests, detect-dead-code

fix(tests): Simplify _get_total_pl mock in test_trade_gateway (#1726)
  tests/test_trade_gateway.py
Due: smoke-tests, detect-dead-code

docs(rag): Log Pandrea Money options video as REDUNDANT (#ll_192) (#1727)
  rag_knowledge/lessons_learned/ll_192_pandrea_money_options_beginners_evaluation_jan14.md
Due: none

fix(lint): Remove unused variable today (F841) (#1728)
  scripts/execute_pending_trades.py
Due: smoke-tests, detect-dead-code

feat(risk): Add automated earnings position monitor (LL-193) (#1730)
  scripts/check_earnings_positions.py
  src/risk/trade_gateway.py
  tests/test_trade_gateway.py
Due: smoke-tests, detect-dead-code

docs(blog): Update daily report day number to 78/90 (#1732)
  docs/_reports/2026-01-13-daily-report.md
Due: none

fix(tests): Add RAG mock to TestTradeGatewayIntegration (#1731)
  tests/test_rule_one_validator.py
Due: smoke-tests, detect-dead-code

docs(rag): Log Fabio Valentino scalping video as MISALIGNED (#ll_193) (#1733)
  rag_knowledge/lessons_learned/ll_193_fabio_valentino_scalping_evaluation_jan14.md
Due: none

fix(tests): Remove orphaned test_alpaca_connectivity.py (#1735)
  tests/test_alpaca_connectivity.py
Due: smoke-tests, detect-dead-code

fix(tests): Add global RAG mock to conftest.py (#1734)
  tests/conftest.py
Due: smoke-tests, detect-dead-code

fix(tests): Mock trade gate in test_alpaca_executor.py (#1736)
  tests/test_alpaca_executor.py
Due: smoke-tests, detect-dead-code

fix(tests): Correct trade gate mock path in test_alpaca_executor (#1737)
  tests/test_alpaca_executor.py
Due: smoke-tests, detect-dead-code

feat(rag): Add AI energy race research from Sky News (#1738)
  data/vector_db/vectorized_files.json
  rag_knowledge/research/energy/ai_energy_race_sky_news_jan2026.md
Due: none

fix(tests): Return GateResult instead of None in trade gate mock (#1739)
  tests/test_alpaca_executor.py
Due: smoke-tests, detect-dead-code

fix(ci): Allow markdown in docs/_posts/ and rag_knowledge/ (#1742)
  .github/workflows/ci.yml
Due: validate-yaml-strict, validate-workflow-secrets

feat(strategy): CTO autonomous decisions - SOFI exit & 30-delta revision (#1740)
  .claude/CLAUDE.md
  .github/workflows/scheduled-close-put.yml
  docs/_posts/2026-01-14-cto-autonomous-decisions.md
  rag_knowledge/lessons_learned/ll_194_cto_autonomous_sofi_exit_decision_jan14.md
Due: validate-yaml-strict, validate-workflow-secrets

docs(rag): Log PR hygiene session LL-195 (#1743)
  rag_knowledge/lessons_learned/ll_195_pr_hygiene_jan14_2026.md
Due: none

fix(tests): Correct mock targets in test files (#1744)
  tests/test_alpaca_executor.py
  tests/test_dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

fix(tests): Second round - pattern tests and health endpoint (#1745)
  tests/test_alpaca_executor.py
  tests/test_dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

fix(config): Increase max_positions to 10 to prevent trading blockage (LL-079) (#1746)
  scripts/simple_daily_trader.py
Due: smoke-tests, detect-dead-code

fix(tests): Add market hours mock to test_simple_daily_trader tests (#1747)
  tests/test_simple_daily_trader.py
Due: smoke-tests, detect-dead-code

feat(win-rate): Add trade ledger with win rate tracking (#1748)
  scripts/calculate_win_rate.py
  scripts/sync_trades_to_rag.py
  tests/test_calculate_win_rate.py
Due: smoke-tests, detect-dead-code

fix(tests): Use tmp_path for trades.json tests (#1749)
  tests/test_calculate_win_rate.py
Due: smoke-tests, detect-dead-code

feat(learning): Add options fundamentals lesson for RAG (#1750)
  scripts/store_options_lesson.py
Due: smoke-tests, detect-dead-code

feat(options): Add Matt Giannino contract validation checklist (#1751)
  data/rag/evaluations/options_contract_selection_giannino.json
  src/utils/options_analysis.py
  tests/test_options_analysis.py
Due: smoke-tests, detect-dead-code

feat(learning): Add Scott Bauer options psychology lesson to RAG (#1754)
  data/rag/evaluations/options_trading_psychology_bauer_jan14.json
  data/rag/lessons/ll_188_options_psychology_bauer_jan14.json
Due: none

feat(psychology): Add trading psychology lessons from Invest with Henry (#1753)
  scripts/store_henry_psychology_lesson.py
  src/constants/trading_thresholds.py
Due: smoke-tests, detect-dead-code

fix(options): Correct delta/theta ratio calculation (#1757)
  src/utils/options_analysis.py
Due: smoke-tests, detect-dead-code

feat(psychology): Implement Bauer trading psychology rules (#1758)
  scripts/verify_stops_in_place.py
  src/risk/trade_gateway.py
  src/safety/pre_trade_smoke_test.py
Due: smoke-tests, detect-dead-code
