Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: system
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

feat: Implement immediate trading system improvements (#106)
  config/backtest_scenarios.yaml
  requirements.in
  scripts/train_rl_transformer.py
  src/analytics/options_profit_planner.py
  src/utils/regime_detector.py
Due: validate-yaml-strict

chore: set least-privilege permissions on GitHub workflows
  .github/workflows/smoke.yml
  .github/workflows/unified-rag-ingestion.yml
  .github/workflows/unit-fast.yml
Due: validate-yaml-strict

chore: set least-privilege permissions on GitHub workflows (#107)
  .github/workflows/smoke.yml
  .github/workflows/unified-rag-ingestion.yml
  .github/workflows/unit-fast.yml
Due: validate-yaml-strict

Add comprehensive world-class AI trading gap analysis
  docs/WORLD_CLASS_AI_TRADING_GAP_ANALYSIS.md
Due: none

chore: allow manual dispatch for CodeQL
  .github/workflows/codeql-analysis.yml.disabled
Due: none

Implement Phase 1: Research Foundation
  notebooks/research_templates/quick_test.py
  src/research/README.md
  src/research/__init__.py
  src/research/baselines/__init__.py
  src/research/baselines/buy_and_hold.py
  src/research/baselines/equal_weight.py
  src/research/baselines/momentum.py
  src/research/baselines/sma_cross.py
  src/research/data_contracts.py
  src/research/factors/__init__.py
  src/research/factors/cross_sectional.py
  src/research/factors/returns.py
  src/research/factors/technicals.py
  src/research/factors/volatility.py
  src/research/factors/volume_flow.py
  src/research/labeling/__init__.py
  src/research/labeling/directional.py
  src/research/labeling/triple_barrier.py
  src/research/labeling/volatility.py
Due: none

Fix factor library imports
  src/research/factors/__init__.py
Due: none

Add Phase 1 implementation summary
  docs/PHASE1_IMPLEMENTATION_SUMMARY.md
Due: none

feat: enable CodeQL workflow with workflow_dispatch trigger
  .github/workflows/codeql-analysis.yml
Due: validate-yaml-strict

chore: harden workflows with least-privilege permissions
  .github/workflows/smoke.yml
  .github/workflows/unified-rag-ingestion.yml
  .github/workflows/unit-fast.yml
Due: validate-yaml-strict

chore: enable CodeQL workflow with manual dispatch
  .github/workflows/codeql-analysis.yml
Due: validate-yaml-strict

feat: Add comprehensive research package for world-class AI trading
  docs/QUANT_RESEARCH_FRAMEWORK.md
  src/research/__init__.py
  src/research/alpha.py
  src/research/baselines.py
  src/research/data_contracts.py
  src/research/experiments.py
  src/research/factors.py
  src/research/labeling.py
  src/research/portfolio.py
Due: none

Implement Phase 2: Backtesting & Validation
  src/backtesting/performance_report.py
  src/backtesting/walk_forward.py
  tests/data_quality/__init__.py
  tests/data_quality/test_gaps.py
  tests/data_quality/test_outliers.py
  tests/data_quality/test_splits.py
  tests/data_quality/test_survivorship_bias.py
  tests/data_quality/test_timezone.py
Due: none

Add Phase 2 implementation summary and update backtesting exports
  docs/PHASE2_IMPLEMENTATION_SUMMARY.md
  src/backtesting/__init__.py
Due: none

fix: Resolve test failures in PR 100
  tests/test_macd_integration.py
  tests/test_market_data_fallbacks.py
Due: none

fix: Apply ruff lint and format fixes to research infrastructure
  src/research/baselines/buy_and_hold.py
  src/research/factors/__init__.py
  src/research/factors/cross_sectional.py
  src/research/factors/returns.py
  src/research/factors/technicals.py
  src/research/factors/volatility.py
  src/research/factors/volume_flow.py
  src/research/labeling/directional.py
  src/research/labeling/triple_barrier.py
  src/research/labeling/volatility.py
Due: none

feat: Add options live simulation for theta harvest
  docs/OPTIONS_LIVE_SIM.md
  scripts/autonomous_trader.py
  scripts/options_live_sim.py
Due: test-crypto-imports

fix: Apply ruff lint and format fixes
  scripts/train_rl_transformer.py
  src/analytics/options_profit_planner.py
  src/backtesting/walk_forward_matrix.py
  src/langchain_agents/analyst.py
  src/ml/reoptimization_scheduler.py
  src/orchestrator/sre_monitor.py
  src/safety/multi_tier_circuit_breaker.py
  src/utils/adaptive_parameters.py
  src/utils/regime_detector.py
Due: none

test: Add comprehensive tests for research package
  tests/test_research_package.py
Due: none

Checkpoint before follow-up message
  src/research/portfolio/__init__.py
  src/research/portfolio/kelly.py
  src/research/portfolio/optimizer.py
  src/research/portfolio/risk_parity.py
Due: none

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
