Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests

.pre-commit-config.yaml:

# Pre-commit hooks for code quality (2025 standards)
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Ruff - Fast Python linter and formatter (replaces black, flake8, isort)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.2.0'
    hooks:
      - id: mypy
        args: ["--config-file", "mypy.ini"]
        additional_dependencies: [types-requests, types-PyYAML]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(data/|reports/)
      - id: end-of-file-fixer
        exclude: ^(data/|reports/)
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags but still validate syntax strictly
      - id: check-json
        exclude: ^(data/|\.vscode/)
      - id: check-toml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: debug-statements

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        args:
          [
            '-ll',
            '-ii',
            '--skip',
            'B101,B310,B113,B602,B603,B404,B614,B324,B301,B314',
          ]
        exclude: ^tests/|.pc-venv/

  # Keep the custom hygiene script if needed, but ensure it works
  - repo: local
    hooks:
      - id: file-organization
        name: Check File Organization
        entry: python3 .claude/skills/precommit_hygiene/scripts/precommit_hygiene.py check_file_organization
        language: system
        pass_filenames: false
        verbose: true

      - id: test-crypto-imports
        name: Test Crypto Trading Imports (No RAG)
        entry: bash scripts/pre_commit_test_crypto_imports.sh
        language: system
        types: [python]
        files: '(src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py)'
        pass_filenames: false

      - id: test-dashboard-metrics
        name: Test Dashboard Metrics Completeness
        entry: python3 tests/test_dashboard_metrics.py
        language: system
        types: [python]
        files: '(scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py)'
        pass_filenames: false
        verbose: true

      - id: validate-yaml-strict
        name: Strict YAML Validation
        entry: bash scripts/validate_yaml_before_commit.sh
        language: python
        additional_dependencies: [pyyaml]
        types: [yaml]
        pass_filenames: false
        verbose: true

      - id: test-dashboard-output
        name: Test Dashboard Output Completeness
        entry: python3 tests/test_dashboard_output.py
        language: system
        types: [python]
        files: '(scripts/generate.*dashboard.*\.py)'
        pass_filenames: false
        verbose: true

      - id: smoke-tests
        name: Smoke Tests - Critical Path Verification
        entry: python3 tests/test_smoke.py
        language: python
        additional_dependencies: [numpy, pyyaml]
        types: [python]
        files: '(scripts/|src/|tests/)'
        pass_filenames: false
        verbose: true
        stages: [pre-commit]

ci: set python range to 3.11.x for poetry
  pyproject.toml
Due: none

feat: Add Playwright MCP integration for browser-based sentiment scraping
  .claude/mcp_config.json
  config/playwright_mcp.yaml
  scripts/playwright_sentiment_scraper.py
  src/integrations/__init__.py
  src/integrations/playwright_mcp/__init__.py
  src/integrations/playwright_mcp/client.py
  src/integrations/playwright_mcp/scraper.py
  src/integrations/playwright_mcp/verifier.py
  tests/test_playwright_mcp.py
Due: validate-yaml-strict, smoke-tests

fix: reduce OpenRouter 500 errors with increased rate limiting
  src/core/multi_llm_analysis.py
Due: smoke-tests

feat: add Mental Toughness Coach module based on Siebold's 177 principles
  .claude/skills/mental_toughness_coach/skill.md
  scripts/mental_toughness_coach.py
  src/coaching/__init__.py
  src/coaching/interventions.py
  src/coaching/mental_toughness_coach.py
  src/coaching/psychology_state.py
Due: smoke-tests

feat: add FIRE movement long-term perspective interventions
  scripts/mental_toughness_coach.py
  src/coaching/interventions.py
  src/coaching/mental_toughness_coach.py
Due: smoke-tests

feat: add Kahneman System 2 cognitive interventions
  scripts/mental_toughness_coach.py
  src/coaching/interventions.py
  src/coaching/mental_toughness_coach.py
Due: smoke-tests

fix: resolve ZeroDivisionError in sentiment loader and fix integration test
  src/utils/sentiment_loader.py
  tests/test_sentiment_integration.py
Due: smoke-tests

feat: ingest mental toughness content into RAG and enhance Berkshire collector
  data/rag/in_memory_store.json
  scripts/download_missing_berkshire_letters.py
  scripts/ingest_berkshire_letters.py
  scripts/ingest_mental_toughness.py
Due: smoke-tests

fix: repair data quality tests and add missing fixture
  tests/data_quality/conftest.py
  tests/data_quality/test_outliers.py
Due: smoke-tests

test: add smoke tests for mental toughness coach
  tests/test_coaching_smoke.py
Due: smoke-tests

fix: record missing crypto trade and update dashboard
  data/trades_2025-12-07.json
  wiki/Progress-Dashboard.md
Due: none

fix(ml): prevent normalization data leakage with fit/transform pattern
  src/ml/data_processor.py
  tests/test_data_processor_leakage.py
Due: smoke-tests

style: fix linting and formatting issues
  src/core/multi_llm_analysis.py
  src/research/factors/cross_sectional.py
Due: smoke-tests

Merge pr-225 (ML Leakage Fix) - resolve conflicts and fix syntax
  dashboard/pages/3_💰_Trade_Impact.py
  data/system_state.json
  pyproject.toml
  rag_store/vector_store.py
  requirements-dev.in
  requirements-minimal.txt
  requirements-rag.txt
  requirements.in
  requirements.txt
  scripts/analyze_youtube_podcast.py
  scripts/generate_progress_dashboard.py
  scripts/setup_youtube_analysis.sh
  scripts/unified_rag_ingestion.py
  scripts/youtube_monitor.py
  src/utils/pydantic_compat.py
Due: test-dashboard-output, smoke-tests

fix: regenerate dashboard with execution details table
  wiki/Progress-Dashboard.md
Due: none

fix: reinforce anti-manual mandate and add Berkshire auto-download (#234)
  .claude/CLAUDE.md
  scripts/auto_download_berkshire.py
  scripts/init.sh
Due: smoke-tests

fix(ci): resolve duplicate step ID in model-training workflow
  .github/workflows/ipo-monitor.yml
  .github/workflows/model-training.yml
  .github/workflows/model-training.yml.disabled
  .github/workflows/pylint.yml
Due: validate-yaml-strict

fix(ci): Update Octokit method name in health check
  .github/workflows/workflow-health-check.yml
Due: validate-yaml-strict
