Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

chore: Sync Alpaca paper account status [auto] (#2513)
  data/system_state.json
Due: verify-strategy-integration

docs(rag): Add LL-277 Iron Condor optimization research - 86% win rate strategy (#2517)
  rag_knowledge/lessons_learned/ll_277_iron_condor_optimization_research_jan21.md
Due: none

chore: Sync Alpaca paper account status [auto] (#2518)
  data/system_state.json
Due: verify-strategy-integration

docs(rag): Add LL-278 position imbalance crisis lesson - orphan puts causing losses (#2522)
  rag_knowledge/lessons_learned/ll_278_position_imbalance_crisis_jan21.md
Due: none

fix(tests): Recognize valid PUT spreads in position validation (#2523)
  tests/test_iron_condor_validation.py
Due: smoke-tests, detect-dead-code

chore(data): Update system state sync timestamp (#2525)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2526)
  data/system_state.json
Due: verify-strategy-integration

fix(tests): Change iron condor validation from fail to warning (#2529)
  tests/test_iron_condor_validation.py
Due: smoke-tests, detect-dead-code

docs(blog): Sync lessons learned Jan 20-21 and update daily report (#2531)
  docs/_posts/2026-01-20-lessons-learned.md
  docs/_posts/2026-01-21-lessons-learned.md
  docs/_reports/2026-01-19-daily-report.md
  src/utils/ticker_whitelist.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#2532)
  data/system_state.json
Due: verify-strategy-integration

style: Simplify is_spy_position return statement (#2533)
  scripts/assert_spy_only_positions.py
Due: smoke-tests, detect-dead-code

chore(prd): Update iteration 23 metadata (#2534)
  .claude/prd.json
Due: none

chore(data): Update system state sync timestamp (#2536)
  data/system_state.json
Due: verify-strategy-integration

chore(prd): Update iteration 26 metadata (#2544)
  .claude/prd.json
Due: none

chore(data): Update system state sync timestamp (#2547)
  data/system_state.json
Due: verify-strategy-integration

feat: VIX gate, IV threshold, performance metrics (merged from PRs 2542/2545) (#2548)
  Progress-Dashboard.md
  data/backtests/latest_summary.json
  rag_knowledge/lessons_learned/LL-268_Iron_Condor_Win_Rate_Research.md
  rag_knowledge/lessons_learned/LL-269_Iron_Condor_Entry_Signals.md
  scripts/execute_options_trade.py
  scripts/iron_condor_trader.py
  scripts/simple_daily_trader.py
  scripts/update_backtest_metrics.py
  src/constants/trading_thresholds.py
  src/utils/options_analysis.py
  src/utils/performance_metrics.py
  tests/test_performance_metrics.py
Due: smoke-tests, detect-dead-code

fix(trading): Auto-close partial iron condor fills (LL-279) (#2550)
  rag_knowledge/lessons_learned/ll_279_partial_iron_condor_auto_close_jan21.md
  scripts/iron_condor_trader.py
Due: smoke-tests, detect-dead-code

chore(prd): Update iteration 28 metadata (#2552)
  .claude/prd.json
Due: none

feat(ci): Add Ralph Mode - Autonomous CTO workflow (#2553)
  .github/workflows/ralph-mode-cto.yml
Due: validate-yaml-strict, validate-workflow-secrets

feat(ci): Add 24/7 automated system hygiene workflows (#2554)
  .github/workflows/automated-system-hygiene.yml
  .github/workflows/hourly-state-sync.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix(trading): Count total contracts, not symbols in position limit (LL-280) (#2555)
  rag_knowledge/lessons_learned/ll_280_position_limit_contract_counting_jan21.md
  scripts/iron_condor_trader.py
Due: smoke-tests, detect-dead-code

feat(trading): Add position rebalance script for CLAUDE.md compliance (#2557)
  scripts/rebalance_positions.py
Due: smoke-tests, detect-dead-code

fix(trading): Use aggressive fallback prices for CALL options (LL-281) (#2559)
  .claude/CLAUDE.md
  data/system_state.json
  rag_knowledge/lessons_learned/ll_281_call_leg_pricing_fix_jan21.md
  scripts/backtest/bull_put_spread_backtester.py
  scripts/generate_daily_blog_post.py
  scripts/iron_condor_trader.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

chore(prd): Update iteration 28 metadata (#2560)
  .claude/prd.json
Due: none

feat(ralph): Implement real Ralph Wiggum AI iteration loop (#2562)
  .github/workflows/ralph-loop-ai.yml
  scripts/ralph_loop.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

feat(ci): Add self-healing auto-fix workflow (#2561)
  .github/workflows/self-healing-auto-fix.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore(data): Update system state sync timestamp (#2563)
  data/system_state.json
Due: verify-strategy-integration

feat(ralph): Add proactive scanning and weekly digest workflows (#2564)
  .github/workflows/ralph-proactive-scanner.yml
  .github/workflows/ralph-weekly-digest.yml
Due: validate-yaml-strict, validate-workflow-secrets

feat(ralph): Add StruggleDetector for cost-efficient AI iteration (#2565)
  scripts/ralph_loop.py
Due: smoke-tests, detect-dead-code

docs(blog): Sync lessons learned Jan 21-22 (#2570)
  docs/_posts/2026-01-21-lessons-learned.md
  docs/_posts/2026-01-22-lessons-learned.md
Due: none

feat(ralph): Auto-publish discovery blog posts to Dev.to and GitHub Pages (#2566)
  .github/workflows/ralph-discovery-blog.yml
  scripts/ralph_discovery_blog.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

feat(ralph): Auto-publish blog posts for AI discoveries (#2572)
  .github/workflows/ralph-loop-ai.yml
  docs/_config.yml
  docs/discoveries.md
  scripts/ralph_blog_publisher.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

feat(seo): Enhance discoverability for search engines and AI bots (#2574)
  README.md
  docs/_config.yml
  docs/robots.txt
Due: validate-yaml-strict

feat(seo): Add missing discoverability files (#2575)
  docs/humans.txt
  docs/llms.txt
  scripts/submit_sitemap.py
Due: smoke-tests, detect-dead-code

docs(blog): Publish Jan 22 daily report - Ralph Loop goes live (#2576)
  docs/_reports/2026-01-22-daily-report.md
  docs/index.md
Due: none

fix(dashboard): Update stale status to Jan 21, 2026 (#2577)
  .github/workflows/ralph-mode-cto.yml
  docs/index.md
Due: validate-yaml-strict, validate-workflow-secrets

fix(ci): Make daily blog workflow resilient to Alpaca sync failures (#2578)
  .github/workflows/daily-blog-post.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix(dialogflow): Handle compound P/L + analytical queries (#2580)
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code
