Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: system
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

fix: resolve linting errors and python 3.9 compatibility
  scripts/check_daily_health.py
Due: none

feat(ml): Close RL feedback loop - system now learns from trades
  scripts/autonomous_trader.py
  scripts/rl_daily_retrain.py
  scripts/run_walk_forward_validation.py
  scripts/test_rl_feedback_loop.py
  src/strategies/core_strategy.py
  src/strategies/growth_strategy.py
Due: test-crypto-imports

fix: relax entry filters to achieve 3-5 trades/day target
  src/ml/trainer.py
Due: none

fix: dedup future imports for python 3.11
  src/agents/execution_agent.py
  src/backtesting/backtest_engine.py
  src/backtesting/walk_forward_matrix.py
  src/rag/collectors/tradingview_collector.py
  src/rag/vector_db/chroma_client.py
  src/strategies/treasury_ladder_strategy.py
Due: test-crypto-imports

fix(backtest): resolve monte carlo import and attribute mismatch
  src/backtesting/extended_backtest.py
Due: none

feat: implement autonomous CI/CD with deterministic smoke tests
  .github/workflows/ci.yml
  data/agent_context/memories/aa926e3c-5d20-4c89-ab85-e941740e4e6d.json
  data/audit_trail/failure_sandboxes/20251205T171137250558_momentum_SPY.json
  data/audit_trail/failure_sandboxes/20251205T172154858943_momentum_SPY.json
  data/audit_trail/failure_sandboxes/20251205T172155875159_momentum_QQQ.json
  data/options_signals/theta_harvest_2025-12-05T17-15-52Z.json
  data/options_signals/theta_harvest_2025-12-05T17-26-11Z.json
  data/system_state.json
  scripts/run_smoke.sh
  scripts/update_expected.py
  src/backtesting/__init__.py
  src/core/alpaca_trader.py
  src/rag/vector_db/embedder.py
  src/trading/__init__.py
  src/trading/backtest.py
  src/utils/technical_indicators.py
  tests/fixtures/fixture.csv
  tests/smoke_backtest.py
Due: test-crypto-imports, validate-yaml-strict

docs: add Anthropic credit alert to Progress Dashboard
  wiki/Progress-Dashboard.md
Due: none

fix: use proper Eastern Time for dashboard timestamp
  mcp/servers/alpaca_wrapper.py
  scripts/generate_progress_dashboard.py
  src/research/alpha_framework.py
  wiki/Progress-Dashboard.md
Due: test-dashboard-output

feat: add technical fallback strategy when LLM fails
  src/backtesting/walk_forward_matrix.py
  src/orchestration/mcp_trading.py
Due: none

fix: use proper Eastern Time for dashboard timestamp
  wiki/Progress-Dashboard.md
Due: none

fix(rate-limit): add staggered delays to prevent 429/500 errors
  src/core/multi_llm_analysis.py
Due: none

feat: add embargo to walk-forward CV + RSI(2) mean reversion strategy
  src/ml/walk_forward_validator.py
  src/strategies/mean_reversion_strategy.py
Due: none

chore(ci): pin streamlit and python to 3.10-<3.12 (#216)
  pyproject.toml
Due: none

chore: remove unused typing import
  src/strategies/mean_reversion_strategy.py
Due: none

style: format multi_llm_analysis
  src/core/multi_llm_analysis.py
Due: none

chore: satisfy ruff lint warnings
  tests/data_quality/test_outliers.py
  tests/data_quality/test_splits.py
  tests/utils/test_self_healing.py
Due: none

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
