Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-workflow-secrets:
  name: Validate Workflow Secrets (Zero Tolerance)
  entry: python3 scripts/validate_workflow_secrets.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

detect-dead-code:
  name: Dead Code Detector
  entry: python3 scripts/detect_dead_code.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

verify-strategy-integration:
  name: Verify Strategy Integration (ll_012 Prevention)
  entry: python3 scripts/verify_strategy_integration.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-config-enums:
  name: Validate Config Enum Values (ll_033 Prevention)
  entry: python3 scripts/validate_config_enums.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-trading-script-syntax:
  name: Validate Critical Trading Scripts Syntax (ll_024 Prevention)
  ...

weekend-crypto-workflow-check:
  name: Weekend Crypto Workflow Validation
  entry: python3 -c "import yaml; f=open('.github/workflows/weekend-crypto-trading.yml'); d=yaml.safe_load(f); assert 'PYTHONPATH' in str(d), 'Missing PYTHONPATH'; assert 'CRYPTO_FORCE_TRADE' in str(d), 'Missing CRYPTO_FORCE_TRADE'"
  language: system
  ...

fix(safety): Add trade_lock to iron_condor_trader per LL-290 (#2727)
  scripts/iron_condor_trader.py
Due: smoke-tests, detect-dead-code

chore(data): Add Jan 22 performance entry for new $30K account (#2728)
  data/performance_log.json
Due: none

research(LL-293): Iron condor optimization for $30K account (#2726)
  rag_knowledge/lessons_learned/LL-293_Iron_Condor_30K_Account_Optimization.md
  rag_knowledge/lessons_learned/LL-294_Financial_Independence_Roadmap.md
Due: none

feat(strategy): Update North Star to $6K/month financial independence (#2729)
  .claude/CLAUDE.md
Due: none

research(LL-295): Four pillars of wealth building (#2731)
  rag_knowledge/lessons_learned/LL-295_Wealth_Building_Pillars.md
Due: none

docs: Add SPX/XSP tax optimization to CLAUDE.md (#2732)
  .claude/CLAUDE.md
Due: none

feat(backtest): Add iron condor backtester for automated research (#2734)
  .github/workflows/off-market-backtest.yml
  rag_knowledge/lessons_learned/LL-296_XSP_Tax_Optimization_Recommendation.md
  scripts/backtest/iron_condor_backtester.py
  tests/test_iron_condor_backtester.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

docs(LL-281): Mark Alpaca API bug lesson as resolved (#2735)
  .claude/prd.json
  rag_knowledge/lessons_learned/ll_281_alpaca_api_close_position_bug_jan22.md
Due: none

docs: Add Alpaca XSP/SPX limitation note to tax optimization section (#2736)
  .claude/CLAUDE.md
  data/system_state.json
  docs/index.md
Due: verify-strategy-integration

chore(ralph): Update PRD metadata for iteration 154 (#2738)
  .claude/prd.json
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2741)
  data/system_state.json
Due: verify-strategy-integration

chore(ralph): Update PRD metadata for iteration 158 (#2742)
  .claude/prd.json
Due: none

feat(rag): Add LL-296 - Alpaca crisis root cause analysis (#2743)
  data/rag/lessons/ll_296_alpaca_crisis_two_issues.json
Due: none

chore: Pre-market data sync [auto] (#2744)
  data/heartbeat.json
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2745)
  data/system_state.json
Due: verify-strategy-integration

fix(data): Correct starting_balance for new $30K paper account (#2748)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2749)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2751)
  data/system_state.json
Due: verify-strategy-integration

chore(data): Update system state sync timestamp (#2752)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2755)
  data/system_state.json
Due: verify-strategy-integration

trigger: CEO directive - execute first iron condor on $30K account (#2757)
  TRIGGER_TRADE.md
Due: none

chore(data): Update system state sync timestamp (#2758)
  data/system_state.json
Due: verify-strategy-integration

chore(data): Update system state sync timestamp (#2759)
  data/system_state.json
Due: verify-strategy-integration

fix(data): Add starting_balance=$30K and P/L tracking (#2760)
  data/system_state.json
  docs/index.md
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2762)
  data/system_state.json
Due: verify-strategy-integration

feat(signals): Add VIX Mean Reversion Signal (LL-296) (#2733)
  .claude/CLAUDE.md
  .github/workflows/close-excess-long-puts.yml
  .github/workflows/close-shorts-first.yml
  data/system_state.json
  docs/_reports/2026-01-22-daily-report.md
  scripts/iron_condor_trader.py
  src/signals/vix_mean_reversion_signal.py
  tests/test_vix_mean_reversion_signal.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration

fix(trading): CRITICAL - Fix hardcoded spreads causing daily losses (#2765)
  scripts/close_excess_spreads.py
  scripts/liquidate_all_options.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#2766)
  data/system_state.json
Due: verify-strategy-integration

ci: Add workflow to run liquidation script (#2767)
  .github/workflows/run-liquidation.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore(data): Update system state sync timestamp (#2769)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2770)
  data/system_state.json
Due: verify-strategy-integration

fix(data): Correct starting_balance to $30K for NEW account (#2771)
  data/system_state.json
  docs/index.md
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2772)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2776)
  data/system_state.json
Due: verify-strategy-integration

🚨 EMERGENCY: Add push trigger to liquidation + trigger file (#2740)
  .github/workflows/close-non-daytrade.yml
  .github/workflows/run-liquidation.yml
  LIQUIDATE_NOW
Due: validate-yaml-strict, validate-workflow-secrets

🚨 RETRY: Trigger liquidation workflow (#2777)
  LIQUIDATE_NOW
Due: none

fix: Use inline Python for liquidation (no local deps) (#2779)
  .github/workflows/run-liquidation.yml
Due: validate-yaml-strict, validate-workflow-secrets

[CRITICAL] Safety: Halt trading + daily limit (LL-297)
  data/lessons_learned.txt
  data/system_state.json
  data/trading_halt.txt
  scripts/iron_condor_trader.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$
