Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

chore: Sync Alpaca paper account status [auto] (#2677)
  data/system_state.json
Due: verify-strategy-integration

fix: bash 3.x compatibility for hook script (#2665)
  .claude/hooks/inject_trading_context.sh
  .github/workflows/daily-blog-post.yml
  docs/_posts/2026-01-22-lessons-learned.md
  rag_knowledge/lessons_learned/LL-291_Alpaca_Close_Position_Bug_Jan22.md
  scripts/create_placeholder_blog.py
  scripts/fallback_perf_entry.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

chore(data): Update system state sync timestamp (#2680)
  data/system_state.json
Due: verify-strategy-integration

fix: Add ultra-safe close script (5 contracts max) (#2681)
  scripts/safe_close_5.py
Due: smoke-tests, detect-dead-code

fix: Use correct close_position API syntax for closing long puts (#2683)
  scripts/close_non_daytrade.py
Due: smoke-tests, detect-dead-code

fix(lint): Remove unused variable qty in trade_gateway.py (#2684)
  src/risk/trade_gateway.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#2686)
  data/system_state.json
Due: verify-strategy-integration

feat: Add close-shorts-first strategy to free margin (#2687)
  .github/workflows/close-shorts-first.yml
  scripts/close_shorts_first.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: resolve YAML syntax errors in Ralph workflows
  .github/workflows/ralph-proactive-scanner.yml
  .github/workflows/ralph-weekly-digest.yml
  scripts/generate_ralph_digest.py
  scripts/publish_devto_digest.py
  scripts/update_prd_iteration.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix(crisis): Add schedule trigger to close-shorts-first workflow (#2689)
  .github/workflows/close-shorts-first.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: resolve lint errors (F841, B028, E712)
  src/risk/trade_gateway.py
  tests/test_iron_condor_validation.py
  tests/test_ticker_whitelist.py
Due: smoke-tests, detect-dead-code

fix(risk): Add circuit breaker to prevent position accumulation crisis (#2692)
  data/TRADING_HALTED
  rag_knowledge/lessons_learned/ll_282_crisis_mode_jan22_failure_analysis.md
  src/risk/trade_gateway.py
Due: smoke-tests, detect-dead-code

fix(tests): Disable circuit breaker during tests to prevent false failures (#2691)
  tests/conftest.py
Due: smoke-tests, detect-dead-code

fix(automation): Remove all manual work from recovery process (#2696)
  .github/workflows/daily-trading.yml
  .github/workflows/scheduled-position-close.yml
Due: validate-yaml-strict, validate-workflow-secrets

docs: Record LL-291 CTO Three-Day Crisis lesson
  rag_knowledge/lessons_learned/LL-291_CTO_Three_Day_Crisis_Jan22.md
Due: none

fix(safety): Add race condition prevention and auto-halt triggers (LL-281) (#2697)
  src/core/trading_constants.py
  src/risk/trade_gateway.py
  src/safety/auto_close_bleeding.py
  src/safety/crisis_monitor.py
  src/safety/trade_lock.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#2698)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2699)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2701)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2703)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2704)
  data/system_state.json
Due: verify-strategy-integration

fix(safety): Block position stacking in mandatory_trade_gate (LL-275) (#2702)
  .github/workflows/detect-contract-accumulation.yml
  .github/workflows/ralph-weekly-digest.yml
  src/safety/mandatory_trade_gate.py
  tests/test_mandatory_trade_gate.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

chore: Add .trade_lock to gitignore (#2705)
  .gitignore
Due: none

chore: Sync Alpaca paper account status [auto] (#2706)
  data/system_state.json
Due: verify-strategy-integration

docs(blog): Add LL-275 position stacking disaster post-mortem (#2707)
  docs/_posts/2026-01-22-position-stacking-disaster-fix.md
Due: none

docs: Update daily report for 2026-01-19 (#2709)
  docs/_reports/2026-01-19-daily-report.md
Due: none

chore: Sync Alpaca paper account status [auto] (#2710)
  data/system_state.json
Due: verify-strategy-integration

feat: Add PDT bypass close strategy (#2708)
  .github/workflows/bypass-pdt-close.yml
  TRIGGER_EMERGENCY.md
  scripts/bypass_pdt_close.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: Update position compliance to bypass PDT and count contracts (#2711)
  .github/workflows/auto-position-compliance.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix(safety): LL-281 Crisis Prevention - Race Conditions, Auto-Halt, Dashboard (#2700)
  .github/workflows/auto-position-compliance.yml
  .github/workflows/close-non-spy-positions.yml
  .github/workflows/close-orphan-position.yml
  .github/workflows/close-position-direct.yml
  .github/workflows/close-profitable-shorts.yml
  .github/workflows/close-put-position.yml
  .github/workflows/daily-trading.yml
  .github/workflows/emergency-close-options.yml
  .github/workflows/emergency-pdt-reset.yml
  .github/workflows/execute-credit-spread.yml
  .github/workflows/scheduled-close-at-market-end.yml
  .github/workflows/scheduled-position-close.yml
  scripts/generate_world_class_dashboard_enhanced.py
  scripts/sync_alpaca_state.py
  src/safety/mandatory_trade_gate.py
  tests/test_trade_lock.py
Due: test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code

docs: Record LL-281 position accumulation crisis lesson (#2713)
  rag_knowledge/lessons_learned/ll_281_position_accumulation_crisis_jan22.md
Due: none

debug: Add PDT diagnostic workflow to check API responses (#2715)
  .github/workflows/diagnose-pdt.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Sync Alpaca paper account status [auto] (#2716)
  data/system_state.json
Due: verify-strategy-integration

docs: Add Trading System Directive v2.1 (#2712)
  .claude/DIRECTIVE_v2.1.md
Due: none

feat: Add post-reset workflow and document Alpaca API bug (LL-292) (#2717)
  .github/workflows/post-reset-setup.yml
  rag_knowledge/lessons_learned/LL-292_Alpaca_Close_Position_Bug_Jan22.md
Due: validate-yaml-strict, validate-workflow-secrets

chore(data): Update system state sync timestamp (#2718)
  data/system_state.json
Due: verify-strategy-integration

feat: Configure new $30K paper trading account (#2721)
  .claude/CLAUDE.md
  .claude/DIRECTIVE_v2.1.md
  data/TRADING_HALTED
  data/system_state.json
  docs/index.md
Due: verify-strategy-integration

test: Fix sync_alpaca_positions and trade_lock tests (#2722)
  tests/test_sync_alpaca_positions.py
  tests/test_trade_lock.py
Due: smoke-tests, detect-dead-code

fix: Update all workflows to use ALPACA_PAPER_TRADING_30K secrets (#2725)
  data/system_state.json
Due: verify-strategy-integration
