Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

feat: implement LLM introspective awareness module
  scripts/test_introspective_awareness.py
  src/core/introspective_council.py
  src/core/llm_introspection.py
  src/core/uncertainty_tracker.py
Due: smoke-tests

style: fix linting and formatting issues
  scripts/test_introspective_awareness.py
  src/core/introspective_council.py
  src/core/llm_introspection.py
  src/core/uncertainty_tracker.py
Due: smoke-tests

test: add smoke tests for agent patterns
  tests/test_agent_patterns_smoke.py
Due: smoke-tests

style: fix linting and formatting issues
  src/agents/anthropic_patterns.py
  src/agents/gateway_integration.py
  src/agents/rl_evaluator_optimizer.py
Due: smoke-tests

feat: implement Anthropic agent patterns for trading system
  docs/anthropic-agent-patterns.md
  src/agents/anthropic_patterns.py
  src/agents/gateway_integration.py
  src/agents/rl_evaluator_optimizer.py
Due: smoke-tests

style: fix linting and formatting issues
  scripts/playwright_sentiment_scraper.py
  src/integrations/playwright_mcp/client.py
  src/integrations/playwright_mcp/scraper.py
  src/integrations/playwright_mcp/verifier.py
  tests/test_playwright_mcp.py
Due: smoke-tests

feat: Add Playwright MCP integration for browser-based sentiment scraping
  .claude/mcp_config.json
  config/playwright_mcp.yaml
  scripts/playwright_sentiment_scraper.py
  src/integrations/__init__.py
  src/integrations/playwright_mcp/__init__.py
  src/integrations/playwright_mcp/client.py
  src/integrations/playwright_mcp/scraper.py
  src/integrations/playwright_mcp/verifier.py
  tests/test_playwright_mcp.py
Due: validate-yaml-strict, smoke-tests

feat: add ADX regime filter and Bollinger Bands to momentum strategies
  src/strategies/growth_strategy.py
  src/strategies/legacy_momentum.py
Due: smoke-tests

feat: Integrate PAL MCP Server and fix mypy errors
  src/core/multi_llm_analysis.py
  src/core/pal_integration.py
  tests/test_pal_smoke.py
Due: smoke-tests

fix(workflow): critical fixes for trading execution
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

feat: integrate PAL MCP server for adversarial validation
  .claude/mcp_config.json
  src/core/llm_council_integration.py
  src/core/pal_integration.py
Due: smoke-tests

style: fix linting and formatting issues
  src/core/llm_council_integration.py
Due: smoke-tests

feat: LLM introspection, Vertex AI RL, workflow monitoring, dashboard improvements
  .github/workflows/daily-trading.yml
  .github/workflows/weekend-crypto-trading.yml
  .github/workflows/workflow-health-alert.yml
  data/system_state.json
  scripts/generate_world_class_dashboard_enhanced.py
  scripts/rl_training_orchestrator.py
  scripts/verify_rag_hygiene.py
  scripts/workflow_health_monitor.py
  src/ml/langsmith_rl_tracker.py
  src/ml/rl_service_client.py
  src/ml/training_script.py
  src/orchestrator/main.py
Due: test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests

feat: add Recent Trades section to dashboard
  scripts/generate_world_class_dashboard.py
  wiki/Progress-Dashboard.md
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests

fix: disable weekend proxy and remove weekend schedule (#249)
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

fix: Crypto trade logging + Playwright MCP integration (#247)
  scripts/verify_workflow_health.py
  src/orchestrator/main.py
  src/strategies/crypto_strategy.py
Due: test-crypto-imports, smoke-tests

fix: repair dashboard market regime detection and P/L calculations
  scripts/generate_world_class_dashboard.py
  wiki/Progress-Dashboard.md
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests

ci: allow dry-run-report to bypass branch protection via PAT_TOKEN
  .github/workflows/dry-run-report.yml
Due: validate-yaml-strict

chore: save local work before merge (part 2)
  scripts/generate_world_class_dashboard_enhanced.py
  src/strategies/crypto_strategy.py
Due: test-crypto-imports, test-dashboard-metrics, test-dashboard-output, smoke-tests

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
