Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-workflow-secrets:
  name: Validate Workflow Secrets (Zero Tolerance)
  entry: python3 scripts/validate_workflow_secrets.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

detect-dead-code:
  name: Dead Code Detector
  entry: python3 scripts/detect_dead_code.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

verify-strategy-integration:
  name: Verify Strategy Integration (ll_012 Prevention)
  entry: python3 scripts/verify_strategy_integration.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-config-enums:
  name: Validate Config Enum Values (ll_033 Prevention)
  entry: python3 scripts/validate_config_enums.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-trading-script-syntax:
  name: Validate Critical Trading Scripts Syntax (ll_024 Prevention)
  ...

weekend-crypto-workflow-check:
  name: Weekend Crypto Workflow Validation
  entry: python3 -c "import yaml; f=open('.github/workflows/weekend-crypto-trading.yml'); d=yaml.safe_load(f); assert 'PYTHONPATH' in str(d), 'Missing PYTHONPATH'; assert 'CRYPTO_FORCE_TRADE' in str(d), 'Missing CRYPTO_FORCE_TRADE'"
  language: system
  ...

fix(hook): Show TODAY for next trade on trading days (#957)
  .claude/hooks/inject_trading_context.sh
Due: none

fix: Resolve ruff lint errors causing CI failure (#958)
  src/safety/pre_trade_smoke_test.py
  tests/test_smoke_tests.py
  tests/test_trade_validation.py
Due: smoke-tests, detect-dead-code

fix: Format sync_alpaca_state.py for ruff compliance (#959)
  scripts/sync_alpaca_state.py
Due: smoke-tests, detect-dead-code

chore: Sync system state from live Alpaca screenshot (#961)
  data/system_state.json
Due: verify-strategy-integration

chore: Add Dec 30 trades and update performance log (#962)
  data/performance_log.json
  data/trades_2025-12-30.json
Due: none

chore: Update system state timestamps from session sync (#963)
  data/system_state.json
Due: verify-strategy-integration

chore: Update system state + fix lint errors (#964)
  data/performance_log.json
  data/system_state.json
  scripts/autonomous_trader.py
  scripts/daily_verification.py
  scripts/guaranteed_trader.py
  scripts/ingest_phil_town_blog.py
  scripts/system_health_check.py
Due: test-crypto-imports, smoke-tests, detect-dead-code, verify-strategy-integration, validate-trading-script-syntax

chore: Add Dec 30 daily report + options success lesson (#965)
  docs/_posts/2025-12-30-day-50-options-strategy-delivering.md
  docs/_reports/2025-12-30-daily-report.md
  docs/lessons-learned/LL-053-options-theta-strategy-success.md
  rag_knowledge/lessons_learned/ll_073_options_theta_success_dec30.md
Due: none

fix: Add chromadb to main requirements.txt for RAG support
  rag_knowledge/lessons_learned/ll_074_rag_vector_db_not_installed_dec30.md
  requirements.txt
Due: none

feat: Add gate latency tracking (Capital One lesson) (#966)
  src/orchestrator/anomaly_monitor.py
  src/orchestrator/gates.py
Due: smoke-tests, detect-dead-code

fix: Add permanent RAG/ChromaDB safeguards (LL-074)
  .claude/hooks/verify_vector_db.sh
  .claude/settings.json
  .github/workflows/daily-trading.yml
  scripts/system_health_check.py
  tests/test_rag_vector_db.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: Integrate ML into trading pipeline (CEO mandate)
  src/orchestrator/main.py
  src/safety/mandatory_trade_gate.py
Due: smoke-tests, detect-dead-code

fix: Format anomaly_monitor.py and gates.py for ruff compliance
  src/orchestrator/anomaly_monitor.py
  src/orchestrator/gates.py
Due: smoke-tests, detect-dead-code

chore: Update CLAUDE.md with CEO directives
  .claude/CLAUDE.md
Due: none

fix: Sort imports in system_health_check.py
  scripts/system_health_check.py
Due: smoke-tests, detect-dead-code

fix: Fix all ruff lint and format errors
  src/safety/mandatory_trade_gate.py
  tests/test_rag_vector_db.py
Due: smoke-tests, detect-dead-code

fix: Fix test mock paths and skip conditions
  tests/test_rag_vector_db.py
  tests/test_smoke_tests.py
Due: smoke-tests, detect-dead-code

fix: Create missing Dialogflow webhook for Vertex AI RAG responses (#974)
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

feat: Complete RAG/ML operational security integration (#976)
  .env.example
  .github/workflows/ci.yml
  .github/workflows/daily-trading.yml
  scripts/execute_credit_spread.py
  scripts/guaranteed_trader.py
  scripts/iron_condor_trader.py
  scripts/pre_session_rag_check.py
  scripts/simple_daily_trader.py
  src/agents/momentum_agent.py
  src/agents/risk_agent.py
  src/orchestrator/main.py
  src/risk/trade_gateway.py
  tests/test_rag_ml_operational.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: Resolve all lint errors for CI pass (#977)
  scripts/pre_session_rag_check.py
  src/agents/dialogflow_webhook.py
  src/agents/momentum_agent.py
  src/agents/risk_agent.py
  src/orchestrator/main.py
  src/risk/trade_gateway.py
  tests/test_rag_ml_operational.py
Due: smoke-tests, detect-dead-code

chore: Rebuild vector database with 707 documents (#979)
  data/vector_db/vectorized_files.json
Due: none

style: Format code with ruff (#980)
  src/agents/dialogflow_webhook.py
  src/agents/momentum_agent.py
  src/agents/risk_agent.py
  src/orchestrator/main.py
  src/risk/trade_gateway.py
  tests/test_rag_ml_operational.py
Due: smoke-tests, detect-dead-code

chore: Add permanent CEO directives to CLAUDE.md (#981)
  .claude/CLAUDE.md
Due: none

fix: Fix all failing tests in CI (#983)
  tests/test_rag_ml_operational.py
  tests/test_trade_gateway.py
Due: smoke-tests, detect-dead-code

fix: Lower coverage threshold to 15% (#986)
  .github/workflows/ci.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Resolve remaining test failures in test_rag_ml_operational.py (#985)
  tests/test_rag_ml_operational.py
Due: smoke-tests, detect-dead-code

fix: Correct percentage calculation in dashboard generator (#988)
  scripts/generate_world_class_dashboard_enhanced.py
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests, detect-dead-code

style: Format test_rag_ml_operational.py (#989)
  tests/test_rag_ml_operational.py
Due: smoke-tests, detect-dead-code

chore: Update system state sync timestamp (#990)
  data/system_state.json
Due: verify-strategy-integration

fix: Implement honest reporting and proper RAG vectorization (#991)
  data/system_state.json
  data/vector_db/vectorized_files.json
  scripts/fix_win_rate_from_closed_trades.py
  scripts/generate_world_class_dashboard_enhanced.py
  src/rag/lessons_search.py
  src/utils/honesty_guard.py
Due: test-crypto-imports, test-dashboard-metrics, test-dashboard-output, smoke-tests, detect-dead-code, verify-strategy-integration

chore: Update system state sync timestamp (#992)
  data/system_state.json
Due: verify-strategy-integration

fix: Remove unused imports to pass ruff linter (#993)
  src/rag/lessons_search.py
  src/utils/honesty_guard.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

chore: Update system state sync timestamp (#994)
  data/system_state.json
Due: verify-strategy-integration

style: Fix ruff formatting in honesty_guard.py (#995)
  data/system_state.json
  src/utils/honesty_guard.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

feat: Implement feedback → training pipeline for RLHF (#998)
  .claude/hooks/capture_feedback.sh
  models/ml/feedback_model.json
  scripts/train_from_feedback.py
  src/learning/__init__.py
  src/learning/feedback_trainer.py
  src/learning/reward_shaper.py
Due: smoke-tests, detect-dead-code

fix: Use ET timezone for TODAY variable in trading context hook (#999)
  .claude/hooks/inject_trading_context.sh
Due: none

test: Add timezone hook tests and fix ChromaDB version compatibility (#1000)
  tests/test_rag_vector_db.py
  tests/test_trading_context_hook.py
Due: smoke-tests, detect-dead-code

chore: Add timezone mismatch lesson to RAG (#1001)
  data/rag/lessons_learned.json
Due: none

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$
