Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-workflow-secrets:
  name: Validate Workflow Secrets (Zero Tolerance)
  entry: python3 scripts/validate_workflow_secrets.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

detect-dead-code:
  name: Dead Code Detector
  entry: python3 scripts/detect_dead_code.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

verify-strategy-integration:
  name: Verify Strategy Integration (ll_012 Prevention)
  entry: python3 scripts/verify_strategy_integration.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-config-enums:
  name: Validate Config Enum Values (ll_033 Prevention)
  entry: python3 scripts/validate_config_enums.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-trading-script-syntax:
  name: Validate Critical Trading Scripts Syntax (ll_024 Prevention)
  ...

weekend-crypto-workflow-check:
  name: Weekend Crypto Workflow Validation
  entry: python3 -c "import yaml; f=open('.github/workflows/weekend-crypto-trading.yml'); d=yaml.safe_load(f); assert 'PYTHONPATH' in str(d), 'Missing PYTHONPATH'; assert 'CRYPTO_FORCE_TRADE' in str(d), 'Missing CRYPTO_FORCE_TRADE'"
  language: system
  ...

feat(safety): Add regime-based iron condor entry gating (ML-IMP-2) (#2972)
  data/rag/lessons_learned.json
  src/safety/mandatory_trade_gate.py
  tests/test_mandatory_trade_gate.py
Due: smoke-tests, detect-dead-code

chore: Update system state (#2976)
  data/system_state.json
Due: verify-strategy-integration

fix: Use Eastern Time for blog post dates, add day of week (#2977)
  scripts/ralph_discovery_blog.py
Due: smoke-tests, detect-dead-code

fix: Resolve merge conflict in system_state.json, update feedback model (#2979)
  data/rag/lessons/ll_311_git_merge_conflict_data_integrity_jan26.json
  data/system_state.json
  models/ml/feedback_model.json
Due: verify-strategy-integration

feat(ml): Complete ML improvements (ML-IMP-1, ML-IMP-3, ML-IMP-4) (#2988)
  data/rag/lessons_learned.json
  models/ml/trade_confidence_model.json
  src/agents/rl_agent.py
  src/ml/trade_confidence.py
  tests/test_rl_filter.py
  tests/test_trade_confidence.py
Due: smoke-tests, detect-dead-code

docs: Add LL-312 Crisis Prevention Systems Audit (#2991)
  rag_knowledge/lessons_learned/LL-312_Crisis_Prevention_Systems_Audit_Jan26.md
Due: none

chore: Update system state and feedback model (#2992)
  data/system_state.json
  models/ml/feedback_model.json
Due: verify-strategy-integration

chore: Update system state sync timestamp (#2996)
  data/system_state.json
Due: verify-strategy-integration

chore: Update system state sync timestamp (#3005)
  data/system_state.json
Due: verify-strategy-integration

feat(rag): Add LL-312 lesson - Workflow concurrency audit (#3001)
  .github/workflows/bypass-pdt-close.yml
  .github/workflows/close-excess-long-puts.yml
  .github/workflows/close-non-daytrade.yml
  .github/workflows/close-orphan-spy-puts.yml
  .github/workflows/close-shorts-first.yml
  .github/workflows/force-close-position.yml
  .github/workflows/manage-iron-condor-positions.yml
  data/rag/lessons/ll_312_workflow_concurrency_audit_jan26.json
  data/system_state.json
  models/ml/feedback_model.json
Due: validate-yaml-strict, validate-workflow-secrets, verify-strategy-integration

docs(rag): Add LL-313 - RAG hooks audit findings (#3006)
  rag_knowledge/lessons_learned/ll_313_rag_hooks_audit_jan26.md
Due: none

chore: Update RLHF feedback model (alpha 14→15, test 1.2→1.3) (#3007)
  models/ml/feedback_model.json
Due: none

chore: Update system state sync timestamp (#3012)
  data/system_state.json
Due: verify-strategy-integration

chore: Update system state sync timestamp (#3010)
  data/system_state.json
  models/ml/feedback_model.json
Due: verify-strategy-integration

fix(hooks): Add Stop hook for lesson capture (fixes LL-313) (#3013)
  .claude/hooks/lesson_capture_stop_hook.sh
  .claude/settings.json
  data/system_state.json
  rag_knowledge/lessons_learned/ll_313_rag_hooks_audit_jan26.md
Due: verify-strategy-integration

chore: Merge feature branches (add-code-tasks, agentic-reasoning) (#3022)
  .github/workflows/automated-system-hygiene.yml
  .github/workflows/cancel-stale-orders.yml
  data/rag_lessons.md
  data/system_state.json
  models/ml/feedback_model.json
  rag_knowledge/lessons_learned/LL-313_Awesome_Agentic_Reasoning_Evaluation_FLUFF.md
  rag_knowledge/lessons_learned/LL-314_Execution_Readiness_Checklist_Jan26.md
  rag_knowledge/lessons_learned/LL-315_CTO_Violated_Directive_3_Jan26.md
Due: validate-yaml-strict, validate-workflow-secrets, verify-strategy-integration

chore: Pre-market data sync [auto] (#3025)
  data/heartbeat.json
  data/system_state.json
Due: verify-strategy-integration

fix(trading): Lower VIX threshold to enable paper trading (LL-316) (#3028)
  rag_knowledge/lessons_learned/ll_316_paper_trading_blocked_vix_jan26.md
  src/constants/trading_thresholds.py
Due: smoke-tests, detect-dead-code

fix: Correct sync workflow to use $30K initial equity (#3029)
  .github/workflows/sync-alpaca-status.yml
Due: validate-yaml-strict, validate-workflow-secrets

docs: Add LL-316 PR & Branch Hygiene Session lesson (#3031)
  rag_knowledge/lessons_learned/LL-316_PR_Hygiene_Session_Jan26.md
Due: none

fix: Critical CI workflow failures - 5-day crisis resolution (#3036)
  .github/workflows/detect-contract-accumulation.yml
  .github/workflows/sync-alpaca-status.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix(scripts): Close ALL option positions to unblock trading (LL-317)
  data/system_state.json
  rag_knowledge/lessons_learned/ll_317_ci_scripts_orphan_positions_jan26.md
  scripts/close_position_direct.py
  scripts/manage_iron_condor_positions.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

fix: Add error handling to sync-alpaca-status workflow (#3039)
  .github/workflows/sync-alpaca-status.yml
Due: validate-yaml-strict, validate-workflow-secrets

debug: Add Alpaca connection diagnostic workflow (#3040)
  .github/workflows/diagnose-alpaca-connection.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Use 30K secrets in sync-alpaca-status (#3041)
  .github/workflows/claude-agent-utility.yml
  .github/workflows/force-iron-condor.yml
  .github/workflows/sync-alpaca-status.yml
  TRIGGER_TRADE.md
  data/system_state.json
  models/ml/feedback_model.json
  scripts/fallback_perf_entry.py
  scripts/generate_world_class_dashboard_enhanced.py
  scripts/session_start_verification.py
  src/utils/staleness_guard.py
Due: test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3043)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3045)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3047)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3048)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync system state from main (#3044)
  data/system_state.json
  scripts/close_position_direct.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

chore: Update feedback model from session (alpha 23→24, test weight 2.1→2.2) (#3035)
  data/system_state.json
  models/ml/feedback_model.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3049)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3053)
  data/system_state.json
Due: verify-strategy-integration

Merge PR #3054: Update system state sync timestamp
  data/system_state.json
Due: verify-strategy-integration

fix: Use DAY time_in_force for options (not GTC) (#3056)
  .github/workflows/force-iron-condor.yml
  models/ml/feedback_model.json
  scripts/iron_condor_trader.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

chore: Trigger force iron condor execution [auto] (#3057)
  FORCE_IRON_CONDOR.md
Due: none

chore: Sync Alpaca paper account status [auto] (#3058)
  data/system_state.json
Due: verify-strategy-integration

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$
