Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

EXECUTE_TRADE: Use simpler Contents API for commit
  .github/workflows/always-trade.yml
Due: validate-yaml-strict

EXECUTE_TRADE: Use git-auto-commit-action for reliable push
  .github/workflows/always-trade.yml
Due: validate-yaml-strict

feat: Integrate lessons RAG + options primary strategy (#583)
  scripts/generate_progress_dashboard.py
  src/orchestrator/main.py
Due: test-dashboard-output, smoke-tests

EXECUTE_TRADE: Use PAT_TOKEN for push permissions
  .github/workflows/always-trade.yml
Due: validate-yaml-strict

trade: SPY executed [skip ci]
  data/trades_2025-12-12.json
Due: none

feat: Enable RAG with OpenAI API embeddings (#584)
  .github/workflows/daily-trading.yml
  scripts/vectorize_lessons_rag.py
  src/rag/lessons_learned_rag.py
Due: test-crypto-imports, validate-yaml-strict, smoke-tests

fix: Use minimal requirements for dashboard workflow
  .github/workflows/dashboard-auto-update.yml
  requirements-dashboard.txt
Due: validate-yaml-strict

feat: Add GPT-5.2 support (#585)
  src/core/multi_llm_analysis.py
  src/openai_agents/runtime.py
Due: smoke-tests

feat: Enable GPT-5.2 in daily trading workflow (#586)
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

feat: Add RAG-integrated verification system to prevent workflow failures
  .github/workflows/ci.yml
  rag_knowledge/lessons_learned/ll_021_dashboard_gpu_requirements_dec12.md
  scripts/rag_pre_deployment_check.py
  tests/test_workflow_dependencies.py
Due: validate-yaml-strict, smoke-tests

fix: Secure all trading workflows and add Dec 12 performance data
  .github/workflows/create-trade-record.yml
  .github/workflows/emergency-trading.yml
  .github/workflows/force-trade.yml
  .github/workflows/instant-trade.yml
  .github/workflows/simple-trade.yml
  data/performance_log.json
  requirements-dashboard.txt
Due: validate-yaml-strict

feat: Activate REIT Smart Income Strategy (Tier 7) (#587)
  config/strategy_registry.json
  data/system_state.json
  scripts/autonomous_trader.py
Due: test-crypto-imports, smoke-tests

feat: Add strategy verification and anomaly detection system (#588)
  rag_knowledge/lessons_learned/ll_012_reit_strategy_not_activated_dec12.md
  reports/strategy_anomaly_report.json
  scripts/verify_strategy_integration.py
  src/verification/strategy_anomaly_detector.py
Due: smoke-tests

chore: Add strategy verification to pre-commit hooks (#589)
  .pre-commit-config.yaml
Due: validate-yaml-strict

feat: Add automated theta harvesting to daily trading workflow (#590)
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

feat: Add automation gap detection and verification tests
  data/rag/in_memory_store.json
  rag_knowledge/lessons_learned/ll_022_options_not_automated_dec12.md
  scripts/detect_automation_gaps.py
  tests/test_automation_coverage.py
Due: smoke-tests

feat: upgrade LLM analysis to use Structured Outputs & add Copilot Spaces docs
  AGENTS.md
  DIALOGFLOW_COMPLETE.md
  Dockerfile.webhook
  data/rag/chroma_db/1771e409-d55d-409e-9574-bc2661a29d2b/data_level0.bin
  data/rag/chroma_db/1771e409-d55d-409e-9574-bc2661a29d2b/header.bin
  data/rag/chroma_db/1771e409-d55d-409e-9574-bc2661a29d2b/length.bin
  data/rag/chroma_db/1771e409-d55d-409e-9574-bc2661a29d2b/link_lists.bin
  rag_knowledge/lessons_learned/ll_autonomous_commands.md
  scripts/check_wrong_agent.py
  scripts/configure_langsmith.sh
  scripts/debug_dialogflow_agent.py
  scripts/deploy_webhook_to_cloud_run.sh
  scripts/refresh_dashboard_report.py
  scripts/seed_dialogflow_agent.py
  scripts/setup_ai_infrastructure.py
  scripts/setup_dialogflow_intents.py
  scripts/setup_dialogflow_project.sh
  scripts/start_dialogflow_webhook.sh
  scripts/sync_trades_to_dashboard.py
  scripts/test_dialogflow_webhook.py
  scripts/test_integrations.py
  scripts/verify_structured_llm.py
  src/agents/dialogflow_webhook.py
  src/core/llm_schemas.py
  src/core/structured_output_client.py
  src/rag/unified_rag.py
  tests/test_heuristic_optimization.py
  tests/test_options_executor.py
  verify_connection.py
  verify_langsmith.py
  wiki/AI-Dashboard.md
  wiki/Dialogflow-RAG-Setup.md
  wiki/Trades-Today.md
Due: test-crypto-imports, smoke-tests

fix: Enable live options execution (remove --dry-run)
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

feat: Add REIT daily returns tracking (#591)
  scripts/autonomous_trader.py
Due: test-crypto-imports, smoke-tests

chore: Ingest ll_012 REIT lesson into RAG database (#592)
  data/rag/lessons_learned.json
Due: none

feat: Add Precious Metals Strategy (Tier 8 - GLD/SLV) (#593)
  config/strategy_registry.json
  data/system_state.json
  scripts/autonomous_trader.py
  scripts/verify_strategy_integration.py
  src/strategies/precious_metals_strategy.py
Due: test-crypto-imports, smoke-tests

docs: add research papers to RAG knowledge base
  .github/workflows/daily-trading.yml
  .secrets.baseline
  docs/UV_MIGRATION_PLAN.md
  rag_knowledge/papers/context_engineering_vs_prompt_engineering.md
  rag_knowledge/papers/mit_seal_self_adapting_llms.md
  requirements.txt
Due: validate-yaml-strict

docs: add Copilot Spaces and fix lints
  docs/COPILOT_SPACES.md
  src/core/multi_llm_analysis.py
Due: smoke-tests

feat: Enhance RAG with precious metals and REIT knowledge (#594)
  rag_knowledge/chunks/precious_metals_trading_2025.json
  rag_knowledge/chunks/reit_cycles_valuation_2025.json
  rag_knowledge/knowledge_index.json
  src/rag/collectors/fred_collector.py
Due: test-crypto-imports, smoke-tests

docs: Add lessons learned for session start checklist violation
  rag_knowledge/lessons_learned/ll_023_session_start_checklist_violation_dec13.md
Due: none

fix: Add missing PYTHONPATH to weekend crypto workflow
  .github/workflows/weekend-crypto-trading.yml
Due: validate-yaml-strict

fix: Add missing PYTHONPATH to weekend crypto workflow (#597)
  .github/workflows/weekend-crypto-trading.yml
  rag_knowledge/lessons_learned/ll_023_session_start_checklist_violation_dec13.md
Due: validate-yaml-strict

fix: Fix f-string syntax error in autonomous_trader.py
  scripts/autonomous_trader.py
Due: test-crypto-imports, smoke-tests

fix: Fix f-string syntax error causing crypto trading crash (#598)
  scripts/autonomous_trader.py
Due: test-crypto-imports, smoke-tests

docs: Add lessons learned for f-string syntax error (ll_024)
  rag_knowledge/lessons_learned/ll_024_fstring_syntax_error_dec13.md
Due: none

fix: Relax crypto filters for bull market conditions
  src/strategies/crypto_strategy.py
Due: test-crypto-imports, smoke-tests

fix: Relax crypto filters for bull market (#599)
  rag_knowledge/lessons_learned/ll_024_fstring_syntax_error_dec13.md
  src/strategies/crypto_strategy.py
Due: test-crypto-imports, smoke-tests

fix: Add FORCE_TRADE mode for weekend crypto trading
  .github/workflows/weekend-crypto-trading.yml
  src/strategies/crypto_strategy.py
Due: test-crypto-imports, validate-yaml-strict, smoke-tests

fix: Add FORCE_TRADE mode for weekend crypto (#600)
  .github/workflows/weekend-crypto-trading.yml
  src/strategies/crypto_strategy.py
Due: test-crypto-imports, validate-yaml-strict, smoke-tests

debug: Add verbose logging to trace crypto trading flow
  scripts/autonomous_trader.py
  src/strategies/crypto_strategy.py
Due: test-crypto-imports, smoke-tests

debug: Add verbose logging for crypto flow (#601)
  scripts/autonomous_trader.py
  src/strategies/crypto_strategy.py
Due: test-crypto-imports, smoke-tests

fix: Add FORCE_TRADE fallback to create simulated trade when order is None
  scripts/autonomous_trader.py
Due: test-crypto-imports, smoke-tests

fix: Add FORCE_TRADE fallback for simulated trades (#602)
  scripts/autonomous_trader.py
Due: test-crypto-imports, smoke-tests

fix: Add trades file to commit and simplify commit message
  .github/workflows/weekend-crypto-trading.yml
Due: validate-yaml-strict

fix: Add trades file to commit step (#603)
  .github/workflows/weekend-crypto-trading.yml
Due: validate-yaml-strict

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
