Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

chore: Sync Alpaca state [auto]
  data/TRADING_HALTED
  data/north_star_weekly_history.json
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
Due: verify-strategy-integration

chore: daily reconciliation [auto]
  data/reports/reconciliation_2026-06-30.json
Due: none

chore: sync local data + logs after rebase to origin/main
  .claude/logs/gsd-hook-pipeline.log
  data/context_engine/context_index.json
  data/feedback/stats.json
  data/feedback/trade_trajectories.jsonl
  data/north_star_weekly_history.json
  data/reports/reconciliation_2026-06-18.json
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  data/trades.json
  models/ml/feedback_model.json
  models/ml/trade_confidence_model.json
Due: verify-strategy-integration

chore: gitignore .agents/ and .codex/ local agent state dirs
  .gitignore
Due: none

fix: mock staleness guard in orchestrator hardening tests
  tests/test_orchestrator_hardening.py
Due: smoke-tests, detect-dead-code

fix: pin now parameter in test_load_losing_expiries to prevent date drift
  tests/unit/test_ic_simple.py
Due: smoke-tests, detect-dead-code

chore: daily reconciliation [auto]
  data/reports/reconciliation_2026-07-01.json
Due: none

fix: unblock quarantined validation entries + align profile with hypothesis (5-wide) (#4171)
  data/runtime/proposals/validation_hypothesis_200pct_stop.json
  data/runtime/strategy_validation_hypothesis.json
  src/core/trading_profiles.py
  src/ml/grpo_trade_learner.py
  tests/test_iron_condor_trader.py
  tests/test_trading_profiles.py
  tests/test_validation_hypothesis_compliance.py
Due: smoke-tests, detect-dead-code

docs: LL — silent quarantine outage Jun 18–Jul 2 (severity 5) (#4172)
  rag_knowledge/lessons_learned/LL_20260702_silent_quarantine_outage.md
Due: none

fix: IC Simple entry path trades 5-wide wings (strategy_params + default) (#4173)
  data/strategy_params.json
  scripts/ic_simple.py
  tests/test_validation_hypothesis_compliance.py
  tests/unit/test_ic_simple.py
Due: smoke-tests, detect-dead-code

[codex] harden trading pre-session gates (#4170)
  .github/workflows/ai-pr-review.yml
  .github/workflows/sonarcloud.yml
  data/north_star_weekly_history.json
  data/runtime/strategy_validation_hypothesis.json
  scripts/ci/ai_pr_review.py
  scripts/iron_condor_trader.py
  scripts/pre_session_rag_check.py
  sonar-project.properties
  src/agents/execution_agent.py
  src/orchestration/context_engine.py
  tests/test_iron_condor_trader.py
  tests/test_north_star_operating_plan.py
  tests/test_orchestration_context_engine.py
  tests/test_pre_session_rag_check.py
  tests/test_validator_coverage.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: backfill IC_260731 entry record — exit loop was holding the position blind (#4176)
  data/ic_entries.json
  tests/test_ic_entries_reconciliation.py
Due: smoke-tests, detect-dead-code

Add high-ROI safety loop and Profit Gate contest demo (#4168)
  contest/itstoday-media/README.md
  contest/itstoday-media/data/trading_project_proof.json
  contest/itstoday-media/index.html
  contest/itstoday-media/registration_answer.md
  contest/itstoday-media/src/profitGate.js
  contest/itstoday-media/src/profitGate.test.js
  docs/contest/itstoday-media/data/trading_project_proof.json
  docs/contest/itstoday-media/index.html
  docs/contest/itstoday-media/registration_answer.md
  docs/contest/itstoday-media/src/profitGate.js
  docs/trading/high_roi_trading_loop.md
  scripts/build_itstoday_submission.py
  scripts/high_roi_trading_loop.py
  tests/test_high_roi_trading_loop.py
  vitest.config.ts
Due: smoke-tests, detect-dead-code

chore: daily reconciliation [auto]
  data/reports/reconciliation_2026-07-02.json
Due: none
