Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags but still validate syntax strictly
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--ignore=E203,E501,W503,E402']
        exclude: .pc-venv/

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.7
    hooks:
      - id: bandit
        args: ['-ll', '-ii', '--skip', 'B310,B113,B602,B603,B404']
        exclude: ^tests/|.pc-venv/

  # Keep the custom hygiene script if needed, but ensure it works
  - repo: local
    hooks:
      - id: file-organization
        name: Check File Organization
        entry: python3 .claude/skills/precommit_hygiene/scripts/precommit_hygiene.py check_file_organization
        language: system
        pass_filenames: false
        verbose: true

      - id: test-crypto-imports
        name: Test Crypto Trading Imports (No RAG)
        entry: bash scripts/pre_commit_test_crypto_imports.sh
        language: system
        types: [python]
        files: '(src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py)'
        pass_filenames: false

      - id: test-dashboard-metrics
        name: Test Dashboard Metrics Completeness
        entry: python3 tests/test_dashboard_metrics.py
        language: system
        types: [python]
        files: '(scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py)'
        pass_filenames: false
        verbose: true

      - id: validate-yaml-strict
        name: Strict YAML Validation
        entry: bash scripts/validate_yaml_before_commit.sh
        language: system
        types: [yaml]
        pass_filenames: false
        verbose: true

      - id: test-dashboard-output
        name: Test Dashboard Output Completeness
        entry: python3 tests/test_dashboard_output.py
        language: system
        types: [python]
        files: '(scripts/generate.*dashboard.*\.py)'
        pass_filenames: false
        verbose: true

CI: set GH_TOKEN for gh pr create when updating badges
  .github/workflows/dry-run-report.yml
Due: validate-yaml-strict

feat: Upgrade dashboard to investor-grade analytics suite
  scripts/generate_world_class_dashboard.py
Due: test-dashboard-metrics, test-dashboard-output

feat: Upgrade dashboard to investor-grade analytics
  scripts/generate_world_class_dashboard.py
  wiki/Progress-Dashboard.md
Due: test-dashboard-metrics, test-dashboard-output

feat: Enable YouTube LLM analysis and Reddit sentiment collection
  .github/workflows/reddit-sentiment.yml
  scripts/collect_sentiment.py
  scripts/youtube_channels.json
Due: validate-yaml-strict

feat: Add LinkedIn sentiment collector for professional financial content
  .env.example
  data/sentiment/unified_NVDA_20251129_17.json
  data/sentiment/unified_QQQ_20251129_17.json
  data/sentiment/unified_SPY_20251129_17.json
  docs/linkedin-collector-usage.md
  docs/tiktok-sentiment-collector.md
  docs/unified_sentiment.md
  src/rag/collectors/__init__.py
  src/rag/collectors/linkedin_collector.py
  src/rag/collectors/orchestrator.py
  src/rag/collectors/tiktok_collector.py
  src/utils/unified_sentiment.py
  tests/test_tiktok_collector.py
  wiki/charts/daily_pl.png
  wiki/charts/drawdown.png
  wiki/charts/equity_curve.png
  wiki/charts/rolling_sharpe_30d.png
  wiki/charts/rolling_sharpe_7d.png
Due: test-crypto-imports

feat: Add TikTok sentiment collector for financial/trading content
  examples/tiktok_sentiment_example.py
  examples/unified_sentiment_example.py
  src/orchestration/elite_orchestrator.py
Due: none

Bogleheads wiring: ensemble voting, ingestion function, one-off RAG ingest script, 6-hour scheduler; fix lint imports
  .github/workflows/bogleheads-ingestion.yml
  scripts/bogleheads_ingest_once.py
  scripts/ingest_external_signals.py
  src/orchestration/elite_orchestrator.py
Due: validate-yaml-strict

Lint: fix flake8 whitespace and unused imports in dry_run and bogleheads_query
  scripts/bogleheads_query.py
  scripts/dry_run.py
Due: none

Add Value Cost Averaging (VCA) strategy integration
  .github/workflows/bogleheads-learning.yml
  docs/TAX_OPTIMIZATION.md
  requirements.txt
  scripts/autonomous_trader.py
  scripts/bogleheads_ingest_once.py
  scripts/continuous_bogleheads_learning.py
  scripts/generate_world_class_dashboard.py
  src/backtesting/backtest_engine.py
  src/main.py
  src/ml/tax_aware_reward.py
  src/rag/collectors/README_SEEKINGALPHA.md
  src/rag/collectors/__init__.py
  src/rag/collectors/berkshire_collector.py
  src/rag/collectors/orchestrator.py
  src/rag/collectors/seekingalpha_collector.py
  src/strategies/core_strategy.py
  src/strategies/vca_strategy.py
  src/utils/tax_optimization.py
  tests/test_berkshire_collector.py
Due: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output

feat: Implement holiday crypto trading detection
  scripts/autonomous_trader.py
Due: test-crypto-imports

fix: Fix Bogleheads forum integration module import paths
  demo_berkshire_collector.py
  src/rag/collectors/seekingalpha_collector.py
Due: test-crypto-imports

Lint: suppress unused import warnings in elite orchestrator
  src/orchestration/elite_orchestrator.py
Due: none

feat: Add Berkshire Hathaway shareholder letters RAG collector
  data/rag/berkshire_letters/README.md
  scripts/demo_berkshire_collector.py
  src/rag/collectors/berkshire_collector.py
Due: test-crypto-imports

fix: Add missing dependencies to Bogleheads workflow
  .github/workflows/bogleheads-learning.yml
Due: validate-yaml-strict

Add VCA configuration to .env.example
  .env.example
Due: none

Regenerate dashboard with tax optimization section
  wiki/Progress-Dashboard.md
Due: none

fix: Enable crypto trading in weekend workflow
  .github/workflows/weekend-crypto-trading.yml
Due: validate-yaml-strict

fix: Enable crypto trading in daily workflow for holidays
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

CI: prime Bogleheads RAG snapshot before nightly dry run for inclusion in report
  .github/workflows/dry-run-report.yml
Due: validate-yaml-strict

feat: Add tax optimization section to enhanced dashboard
  data/rag/berkshire_letters/raw/2010.pdf
  data/rag/berkshire_letters/raw/2011.pdf
  data/rag/berkshire_letters/raw/2012.pdf
  data/rag/berkshire_letters/raw/2013.pdf
  data/rag/berkshire_letters/raw/2014.pdf
  data/rag/berkshire_letters/raw/2015.pdf
  data/rag/berkshire_letters/raw/2016.pdf
  data/rag/berkshire_letters/raw/2017.pdf
  data/rag/berkshire_letters/raw/2018.pdf
  data/rag/berkshire_letters/raw/2019.pdf
  data/rag/berkshire_letters/raw/2020.pdf
  data/rag/berkshire_letters/raw/2021.pdf
  data/rag/berkshire_letters/raw/2022.pdf
  data/rag/berkshire_letters/raw/2023.pdf
  scripts/generate_world_class_dashboard_enhanced.py
Due: test-dashboard-metrics, test-dashboard-output
