Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-black, python-flake8, python-mypy, workflow-security

python-black:
  name: Python Black Formatting
  entry: black
  language: system

python-flake8:
  name: Python Flake8 Linting
  entry: flake8
  language: system
  args:
  - --max-line-length=100
  - --ignore=E203
  - W503

python-mypy:
  name: Python Type Checking
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports

workflow-security:
  name: Check Workflow Security
  entry: python3 .claude/skills/precommit_hygiene/scripts/precommit_hygiene.py check_workflow_security
  language: system

fix: correct syntax error in precommit hygiene workflow security check
  .claude/skills/precommit_hygiene/scripts/precommit_hygiene.py
  .github/codeql/codeql-config.yml
  scripts/fix_security_alerts.sh
Due: python-black, python-flake8, python-mypy

fix: Complete f-string syntax fixes in dashboard generation
  scripts/dismiss_codeql_false_positives.sh
  scripts/generate_progress_dashboard.py
Due: python-black, python-flake8, python-mypy

fix: Improve security posture - workflow checks and secret detection
  .claude/skills/precommit_hygiene/scripts/precommit_hygiene.py
  .github/workflows/dependabot-auto-merge.yml
Due: python-black, python-flake8, python-mypy, workflow-security

fix: Resolve final syntax error in dashboard generation
  scripts/generate_progress_dashboard.py
Due: python-black, python-flake8, python-mypy

fix: Resolve all CodeQL security alerts
  .github/workflows/dependency-health.yml
  scripts/test_gemini3_direct.py
  scripts/test_grok_x_api.py
  scripts/test_phase1_integration.py
  src/agents/issue_resolution_agent.py
Due: python-black, python-flake8, python-mypy, workflow-security

fix: Remove invalid --dry-run false flag from issue resolver
  .github/workflows/autonomous-issue-resolution.yml
Due: workflow-security

feat: Add rule-based issue diagnosis for common trading failures
  src/agents/issue_resolution_agent.py
Due: python-black, python-flake8, python-mypy

fix: Make autonomous issue resolution more aggressive
  docs/STRATEGIES.md
  src/agents/issue_resolution_agent.py
  wiki/Progress-Dashboard.md
Due: python-black, python-flake8, python-mypy

fix: Improve autonomous issue resolution for trading failures
  src/agents/issue_resolution_agent.py
Due: python-black, python-flake8, python-mypy

feat: Enhance dashboard with world-class attribution and cohort analysis
  .agent/workflows/setup_all_systems.md
  Library/LaunchAgents/com.trading.orchestrator.plist
  data/agent_context/blueprints/execution_agent.json
  data/agent_context/blueprints/gemini_agent.json
  data/agent_context/blueprints/langchain_agent.json
  data/agent_context/blueprints/meta_agent.json
  data/agent_context/blueprints/research_agent.json
  data/agent_context/blueprints/risk_agent.json
  data/agent_context/blueprints/signal_agent.json
  docs/STRATEGIES.md
  scripts/ai_insights_generator.py
  scripts/autonomous_trader.py
  scripts/dashboard_charts.py
  scripts/dashboard_metrics.py
  scripts/enhanced_dashboard_metrics.py
  scripts/generate_progress_dashboard.py
  scripts/generate_world_class_dashboard_enhanced.py
Due: python-black, python-flake8, python-mypy

fix: Fix CI failures - update invalid Go and Python versions
  .github/workflows/adk-ci.yml
  .github/workflows/adk-diagnostic.yml
  .github/workflows/autonomous-issue-resolution.yml
  .github/workflows/bogleheads-learning.yml
  .github/workflows/daily-trading.yml
  .github/workflows/dashboard-auto-update.yml
  .github/workflows/data-hygiene.yml
  .github/workflows/dependency-guardian.yml
  .github/workflows/model-training.yml.disabled
  .github/workflows/staleness-monitor.yml
Due: workflow-security

feat: Add world-class dashboard with all missing features
  .github/workflows/daily-trading.yml
Due: workflow-security

feat: Complete world-class dashboard implementation
  .github/workflows/daily-trading.yml
  requirements.txt
Due: workflow-security

feat: Add launchd redundancy system as backup for GitHub Actions
  docs/LAUNCHD_REDUNDANCY_STRATEGY.md
  scripts/autonomous_trader_with_redundancy.sh
  scripts/check_github_actions_status.py
  scripts/setup_launchd_redundancy.sh
Due: python-black, python-flake8, python-mypy

feat: Complete world-class dashboard with rolling metrics, cohort analysis, and strategy equity curves
  Library/LaunchAgents/com.trading.orchestrator.plist
  scripts/dashboard_metrics.py
  scripts/generate_progress_dashboard.py
Due: python-black, python-flake8, python-mypy

feat: Add RL service client integration for Vertex AI RL
  scripts/test_rl_service.py
  src/ml/rl_service_client.py
Due: python-black, python-flake8, python-mypy

feat: Add local RL training script for frequent training
  docs/LOCAL_RL_TRAINING_GUIDE.md
  scripts/local_rl_training.py
Due: python-black, python-flake8, python-mypy

feat: Complete cloud RL integration with Vertex AI SDK
  docs/CLOUD_RL_INTEGRATION.md
  scripts/train_with_cloud_rl.py
  src/ml/rl_service_client.py
  src/ml/trainer.py
Due: python-black, python-flake8, python-mypy

feat: Set up continuous RL training system (local + cloud)
  .github/workflows/continuous-rl-training.yml
  scripts/continuous_training.py
  scripts/setup_continuous_training_launchd.sh
  src/ml/data_processor.py
Due: python-black, python-flake8, python-mypy, workflow-security

feat: Enable continuous RL training across all platforms
  .github/workflows/model-training.yml
  .github/workflows/rl-training-continuous.yml
  requirements.txt
  scripts/local_rl_training.py
  scripts/rl_training_orchestrator.py
Due: python-black, python-flake8, python-mypy, workflow-security

Path conditions:
  python-black: any of: \.py$
  python-flake8: any of: \.py$
  python-mypy: any of: \.py$
  workflow-security: any of: \.github/workflows/.*\.ya?ml$ and \.(yaml|yml)$
