Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

chore: Sync Alpaca paper account status [auto] (#2379)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2381)
  data/system_state.json
Due: verify-strategy-integration

fix(rag): Record PDT crisis as LL-272 and sync to blog (#2382)
  docs/_posts/2026-01-19-lessons-learned.md
  docs/_posts/2026-01-20-lessons-learned.md
  rag_knowledge/lessons_learned/ll_272_pdt_blocks_sofi_close_jan20.md
Due: none

feat(automation): Auto-record lessons and sync blog immediately (#2383)
  .github/workflows/auto-record-lesson.yml
  .github/workflows/sync-blog-on-lesson.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Sync Alpaca paper account status [auto] (#2384)
  data/system_state.json
Due: verify-strategy-integration

chore(ralph): Update prd.json metadata for iteration 122 (#2385)
  .claude/prd.json
Due: none

chore(data): Update system state sync timestamp (#2386)
  data/system_state.json
Due: verify-strategy-integration

chore(ralph): Update prd.json iteration to 124 (#2388)
  .claude/prd.json
  data/system_state.json
Due: verify-strategy-integration

chore(ralph): Update prd.json iteration to 125 (#2389)
  .claude/prd.json
Due: none

chore(ralph): Update prd.json iteration to 126 (#2390)
  .claude/prd.json
Due: none

feat(ralph): Add summary directive to prd.json (v1.1.0) (#2391)
  .claude/prd.json
Due: none

chore(backtest): Add results from 2026-01-20 (#2392)
  data/backtests/backtest_lessons_20260120_230455.json
  data/backtests/backtest_results_20260120_230455.json
  data/backtests/backtest_summary_20260120_230455.json
  data/rag_staging/rag_ready_lessons_20260120_230458.md
Due: none

chore(ralph): Update prd.json iteration to 128 (#2393)
  .claude/prd.json
Due: none

chore(data): Update system_state.json sync timestamp (#2394)
  data/system_state.json
Due: verify-strategy-integration

fix(data): Sync spread_performance.json with real trade data (#2395)
  .claude/prd.json
  data/spread_performance.json
Due: none

docs: Add LangGraph production features evaluation (#2397)
  docs/evaluations/langgraph_production_features.md
Due: none

chore(data): Update system_state.json sync timestamp (#2398)
  data/system_state.json
Due: verify-strategy-integration

feat(blog): Add comprehensive tech stack documentation with architecture diagrams (#2399)
  docs/_config.yml
  docs/_includes/head-custom.html
  docs/tech-stack.md
  scripts/blog_tech_stack_template.py
  scripts/generate_daily_blog_post.py
  scripts/sync_rag_to_blog.py
Due: validate-yaml-strict, smoke-tests, detect-dead-code

chore(ralph): Update prd.json iteration to 131 (#2403)
  .claude/prd.json
Due: none

feat(blog): Add comprehensive AI trading system guide (#2407)
  data/system_state.json
  docs/_posts/2026-01-21-iron-condors-ai-trading-complete-guide.md
  docs/_posts/2026-01-21-lessons-learned.md
Due: verify-strategy-integration

chore(ralph): Update prd.json iteration to 132 (#2409)
  .claude/prd.json
Due: none

docs(rag): Add LL-266 OptiMind evaluation - verdict FLUFF (#2412)
  data/system_state.json
  rag_knowledge/lessons_learned/ll_266_optimind_evaluation_jan21.md
Due: verify-strategy-integration

feat(backtest): Add realistic IV estimation and Black-Scholes pricing for variable returns (#2413)
  scripts/backtest/bull_put_spread_backtester.py
Due: smoke-tests, detect-dead-code

docs(rag): Add LL-266 Agent Skills evaluation - verdict FLUFF (#2414)
  data/rag/lessons/LL-266_Agent_Skills_Evaluation.md
Due: none

chore: Update system state timestamps from session hooks (#2415)
  data/system_state.json
Due: verify-strategy-integration

docs(rag): Add LL-267 Memgraph evaluation - verdict FLUFF (#2417)
  rag_knowledge/lessons_learned/LL-267_Memgraph_Evaluation_FLUFF.md
Due: none

chore(ralph): Update prd.json iteration to 134 - branch hygiene (#2419)
  .claude/prd.json
Due: none

feat(backtest): Add advanced risk metrics module for backtesting (#2420)
  data/system_state.json
  scripts/backtest/bull_put_spread_backtester.py
  src/backtest/__init__.py
  src/backtest/risk_metrics.py
  tests/test_risk_metrics.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

docs(rag): Add LL-268 RAG Testing evaluation - verdict VALUABLE (#2425)
  data/system_state.json
  rag_knowledge/lessons_learned/LL-268_RAG_Testing_Evaluation_Jan21.md
Due: verify-strategy-integration

fix(ci): Make blog workflows self-healing with retry logic (#2426)
  .github/workflows/daily-blog-post.yml
  .github/workflows/sync-blog-on-lesson.yml
Due: validate-yaml-strict, validate-workflow-secrets

docs(blog): Update daily report with corrected day count and tech stack section (#2423)
  docs/_reports/2026-01-19-daily-report.md
Due: none

feat(backtest): Add advanced Sharpe ratio analysis tools (#2428)
  .claude/prd.json
  src/backtest/risk_metrics.py
Due: smoke-tests, detect-dead-code

feat(blog): Add Sharpe ratio and backtesting section to daily posts (#2433)
  scripts/generate_daily_blog_post.py
Due: smoke-tests, detect-dead-code

feat(rag): Add RAG evaluation tests with RAGAS framework (LL-268) (#2429)
  requirements.txt
  tests/fixtures/rag_golden_set.json
  tests/test_rag_evaluation.py
Due: smoke-tests, detect-dead-code

docs(rag): Record RAG-without-vectors article evaluation (LL-271) (#2434)
  data/system_state.json
  rag_knowledge/lessons_learned/ll_271_rag_without_vectors_evaluation_jan21.md
Due: verify-strategy-integration

fix(tests): Guard numpy import in test_risk_metrics.py for sandbox env (#2435)
  tests/test_risk_metrics.py
Due: smoke-tests, detect-dead-code

chore(ralph): Update prd.json iteration to 136 (#2437)
  .claude/prd.json
  docs/_reports/2026-01-19-daily-report.md
Due: none

chore: Update system state timestamps from session hooks (#2445)
  data/system_state.json
Due: verify-strategy-integration

fix(data): Resolve git merge conflict in system_state.json (#2448)
  data/system_state.json
Due: verify-strategy-integration
