Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

fix: Remove SOFI references and fix hardcoded limit violations (LL-235) (#2176)
  scripts/autonomous_trader.py
  scripts/compliance_audit.py
  scripts/iron_condor_trader.py
  scripts/simple_daily_trader.py
Due: test-crypto-imports, smoke-tests, detect-dead-code, verify-strategy-integration, validate-trading-script-syntax

chore: Sync Alpaca paper account status [auto] (#2178)
  data/system_state.json
Due: verify-strategy-integration

fix: Remove non-whitelisted tickers from workflows (LL-236) (#2177)
  .github/workflows/daily-trading.yml
  .github/workflows/vertex-rag-pretrade.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Remove non-whitelisted tickers from workflows (LL-236) (#2180)
  data/system_state.json
Due: verify-strategy-integration

feat(strategy): Replace TastyTrade credit spreads with iron condors (#2182)
  .claude/CLAUDE.md
  .secrets.baseline
  data/system_state.json
  scripts/iron_condor_trader.py
  tests/test_rule_one_trader.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2185)
  data/system_state.json
Due: verify-strategy-integration

fix(sync): Add trade_history to sync_alpaca_state.py (LL-237) (#2186)
  scripts/sync_alpaca_state.py
Due: smoke-tests, detect-dead-code

fix(sync): Add trade_history to sync_alpaca_state.py (LL-237) (#2187)
  rag_knowledge/lessons_learned/ll_237_trade_history_sync_fix_jan19.md
Due: none

fix: Remove non-whitelisted tickers from validator and strategy (LL-236) (#2188)
  .github/workflows/sync-alpaca-status.yml
  src/strategies/rule_one_options.py
  src/validators/rule_one_validator.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: Resolve watchlist test conflict - enforce SPY/IWM whitelist (LL-236) (#2189)
  tests/test_rule_one_trader.py
Due: smoke-tests, detect-dead-code

docs: Add LL-238 and LL-239 lessons from root cause analysis (#2191)
  data/rag/lessons_learned.json
Due: none

chore: Sync Alpaca paper account status [auto] (#2192)
  data/system_state.json
Due: verify-strategy-integration

fix(strategy): Disable conflicting traders and add compliance test (LL-242) (#2193)
  .github/workflows/daily-trading.yml
  scripts/close_excess_spreads.py
  tests/test_claudemd_compliance.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#2195)
  data/system_state.json
Due: verify-strategy-integration

docs: Add LL-243 Accelerated Path to $100/Day Plan (#2196)
  data/rag/lessons_learned.json
Due: none

docs: Add LL-244 adversarial audit findings
  rag_knowledge/lessons_learned/ll_244_adversarial_audit_findings_jan19.md
Due: none

chore: Sync Alpaca paper account status [auto] (#2197)
  data/system_state.json
Due: verify-strategy-integration

docs: Add LL-245 resource evaluation - context beats model (redundant) (#2199)
  rag_knowledge/lessons_learned/ll_245_better_context_beats_better_model_jan19.md
Due: none

fix(tests): Add xfail markers for known position limit violations (LL-244) (#2200)
  docs/_posts/2026-01-12-lessons-learned.md
  docs/_posts/2026-01-16-lessons-learned.md
  docs/_posts/2026-01-19-lessons-learned.md
  docs/_reports/2026-01-16-daily-report.md
  tests/test_claudemd_compliance.py
Due: smoke-tests, detect-dead-code

fix(workflow): Add CLAUDE.md compliance enforcement (LL-242) (#2202)
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict, validate-workflow-secrets

docs: Add LL-245 Iron Condor Execution Failure Analysis (#2203)
  rag_knowledge/lessons_learned/ll_245_iron_condor_execution_failure_jan19.md
Due: none

chore: Sync Alpaca paper account status [auto] (#2198)
  data/system_state.json
Due: verify-strategy-integration

docs: Add LL-245 env var bypass vulnerability lesson (#2205)
  rag_knowledge/lessons_learned/ll_245_env_var_bypass_vulnerability_jan19.md
  src/safety/mandatory_trade_gate.py
Due: smoke-tests, detect-dead-code

chore: Update PRD metadata for Ralph Mode iteration 4 (#2194)
  .claude/prd.json
Due: none

fix(security): Critical adversarial audit fixes (LL-244 iteration 1) (#2206)
  mcp/governance/input_validation.py
  scripts/execute_credit_spread.py
  scripts/pre_trade_checklist.py
  src/core/trading_constants.py
  src/strategies/core_strategy.py
  src/strategies/rule_one_options.py
  src/utils/chain_of_verification.py
  tests/test_mcp_governance.py
  tests/test_pre_trade_checklist.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#2208)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2209)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2210)
  data/system_state.json
Due: verify-strategy-integration

security: Add position COUNT validation to mandatory gate (LL-246) (#2212)
  rag_knowledge/lessons_learned/ll_246_position_count_not_enforced_jan19.md
  src/safety/mandatory_trade_gate.py
Due: smoke-tests, detect-dead-code

docs: Update blog with Day 83 status + adversarial fixes
  docs/index.md
Due: none

chore(data): Update system state sync timestamp
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2215)
  data/system_state.json
Due: verify-strategy-integration

fix(workflow): Critical CLAUDE.md compliance + holiday validation (#2216)
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict, validate-workflow-secrets

docs: Sync RAG lessons to blog (Jan 19, 2026) (#2218)
  docs/_posts/2026-01-19-lessons-learned.md
Due: none

chore(blog): Add Day 83 daily report and sync performance log (#2219)
  data/performance_log.json
  docs/_reports/2026-01-19-daily-report.md
Due: none

fix(resilience): Add logging to silent exceptions + retry logic for API calls (#2221)
  src/risk/trade_gateway.py
  src/utils/fear_greed_index.py
  src/utils/staleness_guard.py
Due: smoke-tests, detect-dead-code

feat(resilience): Add self-healing and circuit breaker infrastructure (LL-249) (#2220)
  .github/workflows/analyze-100k-history.yml
  .github/workflows/execute-credit-spread.yml
  .github/workflows/self-healing-monitor.yml
  scripts/self_healing_check.py
  src/resilience/__init__.py
  src/resilience/circuit_breaker.py
  src/resilience/retry.py
  src/resilience/self_healer.py
  src/risk/pre_trade_checklist.py
  src/risk/trade_gateway.py
  src/safety/mandatory_trade_gate.py
  src/strategies/core_strategy.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix(strategy): Align trading thresholds with CLAUDE.md iron condor strategy (#2224)
  src/constants/trading_thresholds.py
Due: smoke-tests, detect-dead-code
