Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-workflow-secrets:
  name: Validate Workflow Secrets (Zero Tolerance)
  entry: python3 scripts/validate_workflow_secrets.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

detect-dead-code:
  name: Dead Code Detector
  entry: python3 scripts/detect_dead_code.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

verify-strategy-integration:
  name: Verify Strategy Integration (ll_012 Prevention)
  entry: python3 scripts/verify_strategy_integration.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-config-enums:
  name: Validate Config Enum Values (ll_033 Prevention)
  entry: python3 scripts/validate_config_enums.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-trading-script-syntax:
  name: Validate Critical Trading Scripts Syntax (ll_024 Prevention)
  ...

weekend-crypto-workflow-check:
  name: Weekend Crypto Workflow Validation
  entry: python3 -c "import yaml; f=open('.github/workflows/weekend-crypto-trading.yml'); d=yaml.safe_load(f); assert 'PYTHONPATH' in str(d), 'Missing PYTHONPATH'; assert 'CRYPTO_FORCE_TRADE' in str(d), 'Missing CRYPTO_FORCE_TRADE'"
  language: system
  ...

fix(calendar): use Eastern Time for trading-day checks (#4009)
  src/utils/calendar_validation.py
Due: smoke-tests, detect-dead-code

fix(pl_validator): count completed condors as open+close pairs (#4014)
  src/utils/pl_validator.py
  tests/test_pl_validator.py
Due: smoke-tests, detect-dead-code

fix(iron_condor_guardian): tz-aware MIN_HOLD_HOURS + UTC-write (#4015)
  scripts/iron_condor_guardian.py
Due: smoke-tests, detect-dead-code

fix(budget_tracker): use actual month length for days-left (#4016)
  src/utils/budget_tracker.py
Due: smoke-tests, detect-dead-code

fix(cancel_stale_orders): honor cancel-ALL policy on clock-skewed orders (#4017)
  scripts/cancel_stale_orders.py
Due: smoke-tests, detect-dead-code

fix(outcome_labeler): don't tag flat trades as losses/wins on explicit won/lost
  src/learning/outcome_labeler.py
Due: smoke-tests, detect-dead-code

fix(crisis_monitor): require positions_synced flag to auto-clear TRADING_HALTED (#4018)
  src/safety/crisis_monitor.py
Due: smoke-tests, detect-dead-code

fix(auto_clear_stale_halt): trust option-filtered count over unfiltered total (#4019)
  scripts/auto_clear_stale_trading_halt.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca state [auto]
  data/TRADING_HALTED
  data/north_star_weekly_history.json
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  docs/data/public_status.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: verify-strategy-integration

docs(cto): record 2026-05-19 strategic decisions (#4021)
  .claude/rules/cto-decision-2026-05-19.md
Due: none

style: ruff --fix 12 pre-existing W293/I001 errors in src/ (#4023)
  src/agents/base_agent.py
  src/llm/mirascope_client.py
  src/resilience/audit_graph.py
  src/signals/ath_breakout_signal.py
Due: smoke-tests, detect-dead-code

fix(pitch): replace unverified Thursday-60% claim with honest re-audit (#4025)
  docs/INVESTOR_PITCH.md
Due: none

fix(risk): credit-spread max-loss must scale with spread_width (#4026)
  src/risk/trade_gateway.py
  tests/test_trade_gateway.py
Due: smoke-tests, detect-dead-code

research: 2026-05-19 edge analysis on 69 closed ICs (#4024)
  docs/research/2026-05-19-edge-analysis.md
  scripts/research/edge_analysis_2026_05_19.py
Due: smoke-tests, detect-dead-code

chore(deps): bump python-dotenv 1.2.2, requests 2.34.2, systeminformation 5.31.6 (Dependabot 115 82 130) (#4022)
  .github/dependabot.yml
  package-lock.json
  package.json
  pyproject.toml
  uv.lock
Due: validate-yaml-strict

feat(risk): implement IronCondorRisk.calculate_quantity (was a stub) (#4027)
  src/strategies/iron_condor/risk.py
  tests/test_iron_condor_strategy_risk.py
Due: smoke-tests, detect-dead-code

fix(risk): guarded TradingClient + CI grep guard against direct submit_order bypass (#4028)
  .github/workflows/close-profitable-shorts.yml
  .github/workflows/close-put-position.yml
  .github/workflows/daily-trading.yml
  .github/workflows/iron-condor-autonomous.yml
  .github/workflows/iron-condor-scan.yml
  .github/workflows/no-direct-submit-order.yml
  .github/workflows/scheduled-position-close.yml
  src/utils/alpaca_client.py
  tests/test_alpaca_client.py
  tests/test_iron_condor_validation.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix(risk): wire the 2 legacy bypass workflows through get_guarded_trading_client + bump ws to 8.20.1 (#4030)
  .github/workflows/iron-condor-autonomous.yml
  .github/workflows/iron-condor-scan.yml
  package-lock.json
  package.json
Due: validate-yaml-strict, validate-workflow-secrets

research: deeper edge analysis on 69 closed ICs (2D interactions + sequence effects) (#4031)
  docs/research/2026-05-19-edge-analysis-DEEPER.md
  scripts/research/edge_analysis_deeper_2026_05_19.py
Due: smoke-tests, detect-dead-code

fix(risk): enforce MAX_CONTRACTS_PER_TRADE=1 in TradeGateway (closes 50-lot bypass) (#4034)
  src/risk/trade_gateway.py
  tests/test_trade_gateway.py
Due: smoke-tests, detect-dead-code

feat(risk): durably log every TradeGateway decision to JSONL audit trail (#4035)
  src/risk/trade_gateway.py
  tests/test_trade_gateway.py
Due: smoke-tests, detect-dead-code

chore: rip out publishing-surface drift (wiki, build_public_status, gate_promoter) (#4036)
  .github/workflows/pre-market-sync.yml
  .github/workflows/public-surface-guard.yml
  .github/workflows/sync-alpaca-status.yml
  docs/data/public_status.json
  scripts/autonomous/gate_promoter.py
  scripts/box_workspace_mirror.py
  scripts/build_public_status.py
  scripts/build_truth_dashboard.py
  scripts/check_public_copy_freshness.py
  scripts/ingest_phil_town_blog.py
  src/agents/promoter_agent.py
  tests/test_box_workspace_mirror.py
  tests/test_build_public_status.py
  tests/test_ic_exit_fixes.py
  tests/test_public_copy_freshness.py
  tests/test_workflow_contracts.py
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

chore: Sync Alpaca state [auto]
  data/TRADING_HALTED
  data/north_star_weekly_history.json
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
Due: verify-strategy-integration

fix(safety): retire Thursday-only weekday gate (Bonferroni adj_p=0.190) (#4037)
  README.md
  docs/LIVE_STRATEGY.md
  scripts/iron_condor_trader.py
  src/safety/constraint_engine.py
Due: smoke-tests, detect-dead-code

fix(analytics): strip Thursday bias from metrics tracker + GRPO reward (#4038)
  src/analytics/alpha_metrics_tracker.py
  src/ml/grpo_trade_learner.py
  tests/test_alpha_metrics_tracker.py
Due: smoke-tests, detect-dead-code

chore(ci): harden Trunk + GitHub Actions per 2026 best practices (#4039)
  .github/workflows/agent-health-check.yml
  .github/workflows/ci.yml
  .github/workflows/claude-agent-utility.yml
  .github/workflows/close-orphan-position.yml
  .github/workflows/close-orphan-spy-puts.yml
  .github/workflows/diagnose-alpaca-connection.yml
  .github/workflows/emergency-protection.yml
  .github/workflows/event-router.yml
  .github/workflows/execute-credit-spread.yml
  .github/workflows/fix-broken-spread.yml
  .github/workflows/iron-condor-autonomous.yml
  .github/workflows/no-direct-submit-order.yml
  .github/workflows/notify-alert.yml
  .github/workflows/offline-evals.yml
  .github/workflows/one-time-secret-update.yml
  .github/workflows/position-monitor.yml
  .github/workflows/ralph-loop-ai.yml
  .github/workflows/ralph-mode-cto.yml
  .github/workflows/ralph-proactive-scanner.yml
  .github/workflows/swarm-orchestration.yml
  .github/workflows/test-coverage-agent.yml
  .github/workflows/update-alpaca-secrets.yml
  .github/workflows/webhook-health-check.yml
  .github/workflows/webhook-integration-test.yml
  .trunk/trunk.yaml
Due: validate-yaml-strict, validate-workflow-secrets

chore(ci): fix SHA-pin regression in 2 tests + scope-limit self-heal auto-merge + add Scorecard (#4042)
  .github/workflows/scorecard.yml
  .github/workflows/self-healing-auto-fix.yml
  scripts/ci/run_all_tests.sh
  tests/test_ci_runner_wiring.py
  tests/test_workflow_contracts.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$
