Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

feat(strategy): Pivot from CSPs to credit spreads (#1667)
  .claude/CLAUDE.md
  rag_knowledge/lessons_learned/ll_179_strategy_pivot_credit_spreads_jan13.md
Due: none

fix(state): Sync system state and record RAG lessons (#1665)
  data/rag/lessons_learned.json
  data/system_state.json
  src/ml/__init__.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#1668)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#1669)
  data/system_state.json
Due: verify-strategy-integration

chore: Clean up stale tests (#1670)
  tests/integration/test_trading_pipeline.py
  tests/test_options_risk_monitor.py
Due: smoke-tests, detect-dead-code

chore: Delete unused verify_trading_operational.py script (196 lines) (#1671)
  scripts/verify_trading_operational.py
Due: smoke-tests, detect-dead-code

feat(workflow): Add credit spread execution workflow (#1672)
  .github/workflows/execute-credit-spread.yml
Due: validate-yaml-strict, validate-workflow-secrets

refactor: Remove 15 more lines of dead code from main.py (#1673)
  src/orchestrator/main.py
Due: smoke-tests, detect-dead-code

chore: Delete disabled reddit-sentiment workflow (#1675)
  .github/workflows/reddit-sentiment.yml.disabled
Due: none

chore: Sync Alpaca paper account status [auto] (#1676)
  data/system_state.json
Due: verify-strategy-integration

fix(workflow): Dynamic strike selection for credit spreads (#1678)
  .github/workflows/execute-credit-spread.yml
  rag_knowledge/lessons_learned/ll_180_credit_spread_first_attempt_jan13.md
Due: validate-yaml-strict, validate-workflow-secrets

chore: Remove dead code and outdated documentation (#1680)
  docs/_posts/2025-11-15-ai-trading-architecture.md
  docs/_posts/2025-12-15-building-rag-memory-system.md
  docs/index.md
  src/core/behavioral_finance.py
  tests/test_github_pages_links.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#1681)
  data/system_state.json
Due: verify-strategy-integration

docs(blog): Day 74 - Strategy pivot to credit spreads (#1682)
  docs/_posts/2026-01-13-day-74-strategy-pivot-credit-spreads.md
Due: none

chore: Record dead code cleanup lesson in RAG (#1683)
  rag_knowledge/lessons_learned/ll_181_dead_code_cleanup_jan13.md
Due: none

fix(workflow): Use GH_PAT instead of GITHUB_TOKEN for PR creation (#1684)
  .claude/CLAUDE.md
  .github/workflows/auto-pr.yml
  data/rag/lessons_learned.json
  docs/index.md
  rag_knowledge/lessons_learned/ll_181_ceo_review_session_jan13.md
Due: validate-yaml-strict, validate-workflow-secrets

feat(workflow): Auto-trigger credit spread at 9:35 AM ET (#1686)
  .github/workflows/execute-credit-spread.yml
Due: validate-yaml-strict, validate-workflow-secrets

docs(rag): Add critical math reality check lesson (#1687)
  rag_knowledge/lessons_learned/ll_182_math_reality_check_jan13.md
Due: none

fix(critical): Add missing state_manager.py + tests (#1688)
  scripts/state_manager.py
  tests/test_state_manager.py
Due: smoke-tests, detect-dead-code

fix(ci): Use importlib.util.find_spec for optional dep check + add daily report (#1685)
  .github/workflows/ci.yml
  .github/workflows/daily-trading.yml
  .github/workflows/vertex-rag-pretrade.yml
  docs/_reports/2026-01-13-daily-report.md
  tests/test_cancel_stale_orders.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

docs(rag): Add comprehensive CEO review session lesson (ll_183)
  rag_knowledge/lessons_learned/ll_183_comprehensive_review_jan13.md
Due: none

feat(safety): Add pre-trade stop-loss verification - Phil Town Rule #1 (#1691)
  .github/workflows/daily-trading.yml
  data/rag/lessons_learned.json
  scripts/verify_stops_in_place.py
  tests/test_verify_stops_in_place.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

docs(rag): Log Graph vs Vector DB evaluation as redundant (#1692)
  rag_knowledge/lessons_learned/ll_184_graph_vs_vector_db_evaluation_jan13.md
Due: none

fix(critical): Resolve test collection + workflow bugs (#1693)
  .github/workflows/daily-trading.yml
  .github/workflows/sync-alpaca-status.yml
  .github/workflows/vertex-rag-pretrade.yml
  data/performance_log.json
  tests/test_cancel_stale_orders.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

docs(rag): Log semantic caching evaluation as low-value for our scale (#1694)
  rag_knowledge/lessons_learned/ll_184_semantic_caching_evaluation_jan13.md
Due: none

ci(debug): Add verbose output to failing test job (#1696)
  .github/workflows/ci.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix(low-priority): Sync lessons, fix workflow conditions & secrets (#1697)
  .github/workflows/daily-trading.yml
  docs/_lessons/404-links-baseurl-2026-01-12.md
  docs/_lessons/lesson_20251217_185308_0.md
  docs/_lessons/lesson_20251217_185308_1.md
  docs/_lessons/lesson_20251217_185308_2.md
  docs/_lessons/lesson_20251217_185308_3.md
  docs/_lessons/lesson_20260101_015358_0.md
  docs/_lessons/lesson_20260103_181006_0.md
  docs/_lessons/lesson_20260112_170000_hardcoded_spy.md
  docs/_lessons/lesson_20260112_172200_dialogflow_equity.md
  docs/_lessons/lesson_20260113_013259_cleanup.md
  docs/_lessons/lesson_20260113_013829_sandbox_tests.md
  docs/_lessons/lesson_20260113_014213_cleanup2.md
  docs/_lessons/lesson_20260113_120454_find_put_option_fix.md
  docs/_lessons/lesson_20260113_125020_market_hours_check.md
  docs/_lessons/lesson_20260113_142500_0.md
  docs/_lessons/lesson_20260113_150500_0.md
  docs/_lessons/lesson_20260113_151900_0.md
  docs/_lessons/lesson_20260113_155000_0.md
  docs/_lessons/lesson_20260113_164500_tech_debt_audit.md
  docs/_lessons/lesson_20260113_193331_hook_data.md
  docs/_lessons/lesson_20260113_193400_north_star_review.md
  docs/_lessons/lesson_20260113_194100_stale_data_trust.md
  docs/_lessons/lesson_20260113_215857_investment_review.md
  docs/_lessons/lesson_20260113_220517_sandbox_limits.md
Due: validate-yaml-strict, validate-workflow-secrets

fix(tests): Add sys.argv mock to prevent argparse collision (#1699)
  tests/test_verify_stops_in_place.py
Due: smoke-tests, detect-dead-code

docs(rag): Log Agentic Memory paper evaluation as FLUFF (#1700)
  rag_knowledge/lessons_learned/ll_185_agentic_memory_paper_evaluation_jan13.md
Due: none

docs(rag): Log Redwick audiobook evaluation as FLUFF (#1701)
  data/rag/evaluations/options_trading_mastery_redwick.json
Due: none

feat(strategy): Revise North Star from $100/day to $25/day (data-driven) (#1704)
  .claude/CLAUDE.md
  data/spread_performance.json
  rag_knowledge/lessons_learned/ll_185_north_star_revision_data_driven_jan13.md
  scripts/track_spread_performance.py
Due: smoke-tests, detect-dead-code

docs(rag): Log GitHub Actions 2026 pricing evaluation as VALUABLE (#1703)
  data/rag/evaluations/github_actions_pricing_2026.json
Due: none

docs(rag): Log GitHub Agent HQ video evaluation as FLUFF (#ll_186) (#1705)
  rag_knowledge/lessons_learned/ll_186_github_agent_hq_evaluation_jan13.md
Due: none

docs(rag): Add evaluations and PR hygiene lesson (#1707)
  data/rag/lessons/ll_187_pr_hygiene_jan13.json
  rag_knowledge/lessons_learned/ll_184_git_workflows_evaluation_jan13.md
Due: none

feat(safety): Add Phil Town Rule #1 pre-trade validation gate (#1712)
  src/risk/trade_gateway.py
  src/validators/__init__.py
  src/validators/rule_one_validator.py
  tests/test_rule_one_validator.py
Due: smoke-tests, detect-dead-code

docs(rag): Log Joseph Hogue 2026 outlook evaluation as FLUFF (#ll_187) (#1713)
  rag_knowledge/lessons_learned/ll_187_joseph_hogue_2026_outlook_evaluation_jan13.md
Due: none
