Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

feat: Add prevention tests and pre-commit hooks for crypto trading
  .github/workflows/weekend-crypto-trading.yml
  .pre-commit-config.yaml
  tests/test_weekend_crypto_prevention.py
Due: validate-yaml-strict, smoke-tests

feat: Add prevention tests and pre-commit hooks for crypto trading (#604)
  .github/workflows/weekend-crypto-trading.yml
  .pre-commit-config.yaml
  tests/test_weekend_crypto_prevention.py
Due: validate-yaml-strict, smoke-tests

feat: Add force crypto trade workflow for weekend execution (#605)
  .github/FORCE_CRYPTO
  .github/workflows/force-crypto-trade.yml
Due: validate-yaml-strict

trade: crypto force-trade executed [skip ci]
  data/trades_2025-12-13.json
Due: none

feat: Add crypto verification tests and lessons learned (#606)
  rag_knowledge/chunks/lessons_learned_2025.json
  tests/test_crypto_trade_verification.py
Due: smoke-tests

fix: Improve commit step robustness in weekend crypto workflow
  .github/workflows/weekend-crypto-trading.yml
Due: validate-yaml-strict

feat: Implement world-class crypto trading strategies (#607)
  rag_knowledge/chunks/lessons_learned_2025.json
  src/strategies/crypto_strategy.py
  src/utils/fear_greed_index.py
Due: test-crypto-imports, smoke-tests

fix: Make commit step non-blocking in weekend crypto workflow
  .github/workflows/weekend-crypto-trading.yml
Due: validate-yaml-strict

fix: update weekend crypto workflow to use correct CLI flag
  .github/workflows/weekend-crypto-trading.yml
Due: validate-yaml-strict

feat: Upgrade force-crypto-trade to world-class strategy v2.0 (#608)
  .github/FORCE_CRYPTO
  .github/workflows/force-crypto-trade.yml
Due: validate-yaml-strict

feat: UV migration Phase 2 Week 1 - 10 non-critical workflows
  .github/workflows/adk-ci.yml
  .github/workflows/agent-pr-handler.yml
  .github/workflows/autonomous-issue-resolution.yml
  .github/workflows/backtest-gate.yml
  .github/workflows/bogleheads-ingestion.yml
  .github/workflows/bogleheads-learning.yml
  .github/workflows/dashboard-auto-update.yml
  .github/workflows/data-hygiene.yml
  .github/workflows/dependency-check.yml
  .github/workflows/dependency-health.yml
Due: validate-yaml-strict

feat: infrastructure for cloud run migration
  deploy/jobs.yaml
  deploy/scheduler.yaml
  docs/cloud_run_migration_plan.md
  docs/templates/feature_spec_template.md
Due: validate-yaml-strict

feat: Fix trading system - CEO hook, daily P/L tracking
  .github/workflows/daily-performance-tracking.yml
Due: validate-yaml-strict

fix: CEO hook now correctly parses performance_log.json array
  .claude/hooks/inject_trading_context.sh
Due: none

docs: comprehensive systemic failure prevention plan
  docs/SYSTEMIC_FAILURE_PREVENTION_PLAN.md
Due: none

fix: Robust crypto workflow v3.0 (#609)
  .github/FORCE_CRYPTO
  .github/workflows/force-crypto-trade.yml
Due: validate-yaml-strict

trade: world-class crypto v3.0 [skip ci]
  data/trades_2025-12-13.json
Due: none

feat: Accelerate to North Star - 2.5x investment increase + buy-the-dip
  .github/workflows/daily-trading.yml
  .github/workflows/weekend-crypto-trading.yml
  data/system_state.json
  scripts/autonomous_trader.py
  src/strategies/crypto_strategy.py
Due: test-crypto-imports, validate-yaml-strict, smoke-tests

fix: Correct percentage display in CEO hook (-0.09% not -9.25%)
  .claude/hooks/inject_trading_context.sh
Due: none

feat: Integrate Gemini Deep Research for pre-trade analysis
  .github/workflows/pre-trade-research.yml
  requirements.txt
  src/ml/gemini_deep_research.py
Due: validate-yaml-strict, smoke-tests

feat: Implement Google's BATS Budget-Aware Framework
  .claude/hooks/inject_trading_context.sh
  src/utils/budget_tracker.py
Due: smoke-tests

feat: Add Text Feature Engineering for news analysis
  requirements.txt
  src/ml/text_feature_engineering.py
Due: smoke-tests

fix: Move budget awareness before exit in CEO hook
  .claude/hooks/inject_trading_context.sh
Due: none

feat: Add RAG lessons learned + Claude skills for today's learnings
  .claude/skills/budget_tracker/SKILL.md
  .claude/skills/deep_research/SKILL.md
  .claude/skills/text_analyzer/SKILL.md
  rag_knowledge/chunks/lessons_learned_2025.json
  rag_knowledge/knowledge_index.json
  rag_knowledge/lessons_learned/ll_025_bats_budget_framework.md
  rag_knowledge/lessons_learned/ll_026_text_feature_engineering.md
  rag_knowledge/lessons_learned/ll_027_gemini_deep_research.md
Due: none

docs: Update CLAUDE.md with new skills and trading context
  .claude/CLAUDE.md
Due: none

feat: Implement Netflix Upper Metamodel for unified domain consistency
  .claude/skills/unified_domain_model/SKILL.md
  rag_knowledge/lessons_learned/ll_028_unified_domain_model.md
  src/core/unified_domain_model.py
Due: smoke-tests

feat: Netflix Upper Metamodel + Autonomous Market Scanner (#611)
  .claude/skills/stirrup_scanner/SKILL.md
  .claude/skills/unified_domain_model/SKILL.md
  rag_knowledge/lessons_learned/ll_028_unified_domain_model.md
  src/agents/market_scanner.py
  src/agents/stirrup_market_scanner.py
  src/core/unified_domain_model.py
  tests/test_unified_domain_model.py
Due: smoke-tests

feat: Pre-Trade Verification System with RAG Lessons Lookup (#612)
  .claude/skills/pre_trade_verification/SKILL.md
  src/verification/pre_trade_check.py
Due: smoke-tests

feat: HICRA Credit Assignment for Trading RL (#613)
  rag_knowledge/lessons_learned/ll_029_hicra_rl_credit_assignment.md
  src/ml/hicra_credit.py
Due: smoke-tests

feat: LangSmith Deep Agent Observability for Trading System (#614)
  rag_knowledge/lessons_learned/ll_030_langsmith_deep_agent_observability.md
  src/observability/__init__.py
  src/observability/dashboard.py
  src/observability/langsmith_tracer.py
  src/observability/orchestrator_hooks.py
  src/observability/trade_evaluator.py
  tests/test_observability.py
Due: smoke-tests

feat: Procedural Memory for Trading Skills (Mem^p/LEGOMem) (#615)
  rag_knowledge/lessons_learned/ll_031_procedural_memory_trading_skills.md
  src/memory/__init__.py
  src/memory/procedural_memory.py
  src/memory/skill_hooks.py
  tests/test_procedural_memory.py
Due: smoke-tests

feat: ML Experiment Automation for Trading Research (#616)
  rag_knowledge/lessons_learned/ll_032_ml_experiment_automation.md
  src/experiments/__init__.py
  src/experiments/experiment_runner.py
  src/experiments/trading_experiments.py
  tests/test_experiments.py
Due: smoke-tests

fix: Add CRYPTO 24/7/365 as Critical Rule #5 (#617)
  .claude/CLAUDE.md
Due: none

docs: Add CRYPTO 24/7/365 reinforcement to rules and RAG (#618)
  .claude/rules/MANDATORY_RULES.md
  rag_knowledge/lessons_learned/ll_032_crypto_trades_24_7_365.md
Due: none

fix: Hook now shows Crypto: OPEN 24/7 (Critical Rule #5) (#619)
  .claude/hooks/inject_trading_context.sh
Due: none

fix: Weekend crypto workflow used wrong CLI flag (#620)
  .github/workflows/weekend-crypto-trading.yml
  rag_knowledge/lessons_learned/ll_032_crypto_trades_24_7_365.md
Due: validate-yaml-strict

fix: Crypto strategy now ALWAYS trades - never skips (#621)
  .github/workflows/weekend-crypto-trading.yml
  src/strategies/crypto_strategy.py
Due: test-crypto-imports, validate-yaml-strict, smoke-tests

feat: Weekend crypto uses World-Class Strategy v3.0 - Fear & Greed + Momentum (#622)
  .github/workflows/weekend-crypto-trading.yml
Due: validate-yaml-strict

trade: world-class crypto v3.0 [skip ci]
  data/trades_2025-12-14.json
Due: none

feat: Wire RL model into crypto strategy for trade confirmation (#623)
  src/strategies/crypto_strategy.py
Due: test-crypto-imports, smoke-tests

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
