Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-workflow-secrets:
  name: Validate Workflow Secrets (Zero Tolerance)
  entry: python3 scripts/validate_workflow_secrets.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

detect-dead-code:
  name: Dead Code Detector
  entry: python3 scripts/detect_dead_code.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

verify-strategy-integration:
  name: Verify Strategy Integration (ll_012 Prevention)
  entry: python3 scripts/verify_strategy_integration.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-config-enums:
  name: Validate Config Enum Values (ll_033 Prevention)
  entry: python3 scripts/validate_config_enums.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-trading-script-syntax:
  name: Validate Critical Trading Scripts Syntax (ll_024 Prevention)
  ...

weekend-crypto-workflow-check:
  name: Weekend Crypto Workflow Validation
  entry: python3 -c "import yaml; f=open('.github/workflows/weekend-crypto-trading.yml'); d=yaml.safe_load(f); assert 'PYTHONPATH' in str(d), 'Missing PYTHONPATH'; assert 'CRYPTO_FORCE_TRADE' in str(d), 'Missing CRYPTO_FORCE_TRADE'"
  language: system
  ...

fix: Critical trading fixes to hit $100/day North Star target (#928)
  scripts/execute_options_trade.py
  scripts/guaranteed_trader.py
  scripts/iron_condor_trader.py
Due: smoke-tests, detect-dead-code

feat: Implement LangSmith Dec 2025 best practices (#929)
  .env.example
  data/system_state.json
  mcp/servers/langsmith_server.py
  src/observability/langsmith_tracer.py
  verify_langsmith.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

fix: Correct system state with real Alpaca values (#930)
  data/system_state.json
Due: verify-strategy-integration

fix(dashboard): Fix broken f-string formatting in risk metrics table (#931)
  scripts/generate_world_class_dashboard_enhanced.py
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests, detect-dead-code

fix(lint): Remove unused import and sort imports in iron_condor_trader (#933)
  scripts/iron_condor_trader.py
Due: smoke-tests, detect-dead-code

fix(dashboard): Handle iron_condor trades using 'underlying' field (#934)
  scripts/generate_world_class_dashboard_enhanced.py
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests, detect-dead-code

docs: Add cash-secured puts analysis for low buying power (#935)
  analysis_cash_secured_puts_manual.md
  scripts/analyze_cash_secured_puts.py
Due: smoke-tests, detect-dead-code

PURGE: Remove ALL bonds/treasuries - Phil Town mandate (#936)
  config/portfolio_allocation.yaml
  data/system_state.json
  scripts/monitor_tlt_momentum.py
  src/orchestrator/main.py
  src/orchestrator/smart_dca.py
  src/risk/position_manager.py
  src/strategies/treasury_ladder_strategy.py
  src/utils/security.py
Due: validate-yaml-strict, smoke-tests, detect-dead-code, verify-strategy-integration

fix(workflow): Add missing modules causing 14 consecutive failures (#937)
  scripts/dashboard_metrics.py
  src/observability/tracing_health_check.py
  src/safety/__init__.py
  src/safety/pre_trade_smoke_test.py
Due: test-dashboard-metrics, smoke-tests, detect-dead-code

chore(hygiene): Organize repository structure (#938)
  docs/AGENTS.md
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/EXECUTE_NOW.md
  docs/HEARTBEAT_SYSTEM_SUMMARY.md
  docs/TRIGGER_TRADE.md
  docs/analysis_cash_secured_puts_manual.md
  scripts/demo_vix_monitor_mock.py
  scripts/verify_langsmith.py
Due: smoke-tests, detect-dead-code

fix(deps): Downgrade langchain-community to 0.3.27 for compatibility (#939)
  requirements-minimal.txt
Due: none

fix: Add liquidation script for REITs/bonds (#941)
  .github/workflows/daily-trading.yml
  data/system_state.json
  docs/progress_dashboard.md
  scripts/liquidate_losing_positions.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration

fix(dashboard): Add TradingMetricsCalculator class to dashboard_metrics (#942)
  scripts/dashboard_metrics.py
Due: test-dashboard-metrics, smoke-tests, detect-dead-code

fix(workflow): Add missing attributes to SmokeTestResult and TracingHealthResult (#944)
  src/observability/tracing_health_check.py
  src/safety/pre_trade_smoke_test.py
Due: smoke-tests, detect-dead-code

fix(lint): Fix all ruff lint and format errors (#943)
  scripts/analyze_cash_secured_puts.py
  scripts/liquidate_losing_positions.py
  src/orchestrator/main.py
Due: smoke-tests, detect-dead-code

fix(workflow): Add remaining missing SmokeTestResult attributes (#945)
  src/safety/pre_trade_smoke_test.py
Due: smoke-tests, detect-dead-code

fix: Dashboard updates daily regardless of trading execution (#947)
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix(docs): Correct inaccurate website metrics
  docs/index.md
Due: none

fix(data): Sync website with audited Alpaca data
  data/performance_log.json
  docs/index.md
Due: none

fix(dashboard): Filter out failed/invalid trades with qty=0 (#948)
  data/system_state.json
  scripts/generate_world_class_dashboard_enhanced.py
  scripts/iron_condor_trader.py
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests, detect-dead-code, verify-strategy-integration

fix(critical): Make sync script fail loudly instead of silently lying
  rag_knowledge/lessons_learned/ll_059_simulated_sync_lie_dec29.md
  scripts/sync_alpaca_state.py
Due: smoke-tests, detect-dead-code

fix(hooks): Prevent data corruption from fake sync success
  .claude/hooks/pre-commit
  .claude/hooks/process_pending_feedback.sh
  .claude/hooks/staleness_circuit_breaker.sh
  scripts/sync_alpaca_state.py
  scripts/validate_hooks.py
Due: smoke-tests, detect-dead-code

docs: Update CLAUDE.md with PR preference directive
  .claude/CLAUDE.md
Due: none

fix(data): Restore audited system_state.json values
  data/system_state.json
Due: verify-strategy-integration

fix: CRITICAL - Make pre-trade smoke tests actually work (#949)
  .github/workflows/ci.yml
  .github/workflows/daily-trading.yml
  data/system_state.json
  src/safety/pre_trade_smoke_test.py
  tests/test_smoke_tests.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration

fix(lint): Format validate_hooks.py with ruff
  scripts/validate_hooks.py
Due: smoke-tests, detect-dead-code

test: Add validation tests for trade recording and dashboard (#951)
  tests/test_trade_validation.py
Due: smoke-tests, detect-dead-code

fix: Prevent silent data corruption from simulated sync (LL_072)
  rag_knowledge/lessons_learned/ll_072_silent_data_corruption_dec30.md
  scripts/sync_alpaca_state.py
Due: smoke-tests, detect-dead-code

docs: Add lesson capture enforcement (LL_071)
  .claude/SESSION_START_CHECKLIST.md
  .claude/hooks/mandatory_rag_check.sh
  rag_knowledge/lessons_learned/ll_071_daily_lesson_capture_gap_dec29.md
Due: none

docs: Update CLAUDE.md with admin privilege directive
  .claude/CLAUDE.md
Due: none

style: Fix ruff formatting in sync_alpaca_state.py
  scripts/sync_alpaca_state.py
Due: smoke-tests, detect-dead-code

fix(hook): Use Eastern timezone for next trade date (#953)
  .claude/hooks/inject_trading_context.sh
Due: none

fix(dashboard): Handle iron condor trades and fix sync data corruption (#954)
  data/system_state.json
  data/trades_2025-12-10.json
  scripts/generate_world_class_dashboard_enhanced.py
  scripts/sync_alpaca_state.py
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests, detect-dead-code, verify-strategy-integration

style: Fix ruff formatting in pre_trade_smoke_test.py
  src/safety/pre_trade_smoke_test.py
Due: smoke-tests, detect-dead-code

fix(critical): Add TZ to fallback date command in trading context hook
  .claude/hooks/inject_trading_context.sh
Due: none

fix(blog): Create docs/_lessons directory for blog deployment (#955)
  docs/_lessons/.gitkeep
Due: none

chore: Update system state timestamps from session sync
  data/system_state.json
Due: verify-strategy-integration

fix: Critical bug fixes and code cleanup from comprehensive audit (#956)
  mcp/registry.json
  scripts/health_monitor.py
  src/orchestrator/failure_isolation.py
  src/orchestrator/main.py
  src/orchestrator/telemetry.py
  src/risk/hedging.py
  src/risk/position_manager.py
  src/utils/market_hours.py
  src/utils/tax_optimization.py
Due: smoke-tests, detect-dead-code

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$
