Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests

.pre-commit-config.yaml:

# Pre-commit hooks for code quality (2025 standards)
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Ruff - Fast Python linter and formatter (replaces black, flake8, isort)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.2.0'
    hooks:
      - id: mypy
        args: ["--config-file", "mypy.ini"]
        additional_dependencies: [types-requests, types-PyYAML]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(data/|reports/)
      - id: end-of-file-fixer
        exclude: ^(data/|reports/)
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags but still validate syntax strictly
      - id: check-json
        exclude: ^(data/|\.vscode/)
      - id: check-toml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: debug-statements

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        args:
          [
            '-ll',
            '-ii',
            '--skip',
            'B101,B310,B113,B602,B603,B404,B614,B324,B301,B314',
          ]
        exclude: ^tests/|.pc-venv/

  # Keep the custom hygiene script if needed, but ensure it works
  - repo: local
    hooks:
      - id: file-organization
        name: Check File Organization
        entry: python3 .claude/skills/precommit_hygiene/scripts/precommit_hygiene.py check_file_organization
        language: system
        pass_filenames: false
        verbose: true

      - id: test-crypto-imports
        name: Test Crypto Trading Imports (No RAG)
        entry: bash scripts/pre_commit_test_crypto_imports.sh
        language: system
        types: [python]
        files: '(src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py)'
        pass_filenames: false

      - id: test-dashboard-metrics
        name: Test Dashboard Metrics Completeness
        entry: python3 tests/test_dashboard_metrics.py
        language: system
        types: [python]
        files: '(scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py)'
        pass_filenames: false
        verbose: true

      - id: validate-yaml-strict
        name: Strict YAML Validation
        entry: bash scripts/validate_yaml_before_commit.sh
        language: python
        additional_dependencies: [pyyaml]
        types: [yaml]
        pass_filenames: false
        verbose: true

      - id: test-dashboard-output
        name: Test Dashboard Output Completeness
        entry: python3 tests/test_dashboard_output.py
        language: system
        types: [python]
        files: '(scripts/generate.*dashboard.*\.py)'
        pass_filenames: false
        verbose: true

      - id: smoke-tests
        name: Smoke Tests - Critical Path Verification
        entry: python3 tests/test_smoke.py
        language: python
        additional_dependencies: [numpy, pyyaml]
        types: [python]
        files: '(scripts/|src/|tests/)'
        pass_filenames: false
        verbose: true
        stages: [pre-commit]

fix: prevent portfolio status print from failing workflow (#353)
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

fix: make position/order verification non-fatal (#355)
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

fix: make system state commit step non-fatal (#357)
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

fix(security): sanitize variable names in secrets validator to avoid CodeQL false positives
  scripts/validate_workflow_secrets.py
Due: smoke-tests

feat: add Kalshi prediction markets API integration (#359)
  .env.example
  scripts/autonomous_trader.py
  src/brokers/__init__.py
  src/brokers/kalshi_client.py
  src/brokers/multi_broker.py
  src/strategies/prediction_strategy.py
  tests/test_kalshi_client.py
Due: test-crypto-imports, smoke-tests

docs: update claude-progress.txt with Kalshi integration summary (#360)
  claude-progress.txt
Due: none

fix(risk): add asset-class-specific exit thresholds (#361)
  src/risk/__init__.py
  src/risk/position_manager.py
Due: smoke-tests

docs: validate external analysis - debunk 6 false claims (#362)
  docs/analysis-validation-2025-12-09.md
Due: none

docs: add trading research response and reduce DiscoRL weight (#363)
  claude-progress.txt
  docs/trading-research-response-dec2025.md
  src/agents/rl_agent.py
Due: smoke-tests

feat: add trading realism enhancements (Kelly, Ensemble, Walk-Forward, Mean-Reversion) (#364)
  ENSEMBLE_VOTING_SUMMARY.md
  docs/5year_validation_guide.md
  docs/5year_validation_sample_output.md
  docs/kelly_criterion_guide.md
  docs/mean-reversion-implementation-summary.md
  docs/mean-reversion-momentum-complementarity.md
  examples/mean_reversion_usage.py
  scripts/IMPLEMENTATION_SUMMARY.md
  scripts/README_5YEAR_VALIDATION.md
  scripts/check_validation_deps.py
  scripts/run_5year_validation.py
  src/core/risk_manager.py
  src/ensemble/README.md
  src/ensemble/__init__.py
  src/ensemble/example_usage.py
  src/ensemble/voting_ensemble.py
  src/strategies/regime_aware_strategy_selector.py
  src/strategies/strategy_registry.py
  tests/test_ensemble_voting.py
  tests/test_mean_reversion_strategy.py
Due: smoke-tests

feat(infra): implement strategic assessment fixes and ablation framework (#365)
  config/backtest_scenarios.yaml
  docs/100-day-roadmap.md
  scripts/autonomous_trader.py
  scripts/enforce_promotion_gate.py
  scripts/run_backtest_ablation.py
  src/backtesting/backtest_engine.py
  src/orchestrator/main.py
  src/utils/trade_attribution.py
Due: test-crypto-imports, validate-yaml-strict, smoke-tests

feat(backtest): add benchmark comparison and OHLCV data caching (#366)
  src/backtesting/__init__.py
  src/backtesting/benchmark_comparison.py
  src/backtesting/data_cache.py
  tests/test_benchmark_comparison.py
Due: smoke-tests

docs(claude): add mandatory PAT behavior directive (#367)
  .claude/CLAUDE.md
Due: none

fix(crypto): enable daily crypto trading by default (#368)
  scripts/autonomous_trader.py
Due: test-crypto-imports, smoke-tests

fix(dashboard): update progress dashboard with Dec 9 date (#370)
  dashboard.md
Due: none

fix(dashboard): add performance log and fix data pipeline (#371)
  .github/workflows/daily-trading.yml
  .github/workflows/dashboard-auto-update.yml
  .github/workflows/weekend-crypto-trading.yml
  .gitignore
  data/performance_log.json
  scripts/diagnose_trading_system.py
Due: validate-yaml-strict, smoke-tests

docs(claude): add autonomous credential usage mandate (#372)
  .claude/CLAUDE.md
Due: none

fix: update dashboard and trade logs with manual recovery trades
  dashboard.md
  data/system_state.json
  data/trades_2025-12-09.json
  src/strategies/reit_strategy.py
  wiki/Progress-Dashboard.md
Due: smoke-tests

fix(test): add missing min_trades arg and total_trades fixture
  tests/fixtures/system_state_sample.json
  tests/test_promotion_gate.py
Due: smoke-tests

feat: implement Kalshi Oracle for cross-asset signals (#374)
  docs/kalshi-enhancement-plan.md
  src/signals/__init__.py
  src/signals/kalshi_oracle.py
  src/strategies/core_strategy.py
  tests/test_kalshi_oracle.py
Due: smoke-tests

fix(workflow): commit trade files and performance log (#375)
  .github/workflows/daily-trading.yml
  .github/workflows/weekend-crypto-trading.yml
Due: validate-yaml-strict
