Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

test: Add tests for compare_100k_vs_5k.py (#2017)
  tests/test_compare_100k_vs_5k.py
Due: smoke-tests, detect-dead-code

fix(ci): Handle protected branch in analyze-100k-history workflow
  .github/workflows/analyze-100k-history.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix(script): Create parent directory for lesson file in fetch_100k_trade_history.py
  scripts/fetch_100k_trade_history.py
Due: smoke-tests, detect-dead-code

style: Fix F401 unused import in test_compare_100k_vs_5k.py
  tests/test_compare_100k_vs_5k.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#2018)
  data/system_state.json
Due: verify-strategy-integration

fix(ci): Fix invalid YAML in analyze-100k-history.yml
  .github/workflows/analyze-100k-history.yml
Due: validate-yaml-strict, validate-workflow-secrets

perf(sync): Increase Alpaca sync frequency from 30min to 5min
  .github/workflows/sync-alpaca-status.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Sync Alpaca paper account status [auto] (#2020)
  data/system_state.json
Due: verify-strategy-integration

feat(rag): Add LL-230 - Self-Healing Sync Improvements
  data/rag/lessons_learned.json
Due: none

chore: Sync Alpaca paper account status [auto] (#2021)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2022)
  data/system_state.json
Due: verify-strategy-integration

fix(hooks): Aggressive sync during market hours (30min threshold) (#2023)
  .claude/hooks/staleness_circuit_breaker.sh
Due: none

docs(rag): Add LL-233 - Weekly options book evaluation (FLUFF) (#2025)
  rag_knowledge/lessons_learned/ll_233_weekly_options_book_evaluation_jan16.md
Due: none

chore: Sync Alpaca paper account status [auto] (#2026)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2027)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2030)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2031)
  data/system_state.json
Due: verify-strategy-integration

fix(data): Sync system state with live Alpaca screenshot (#2019)
  data/performance_log.json
  data/youtube_cache/options_videos.json
  data/youtube_cache/processed_videos.json
  rag_knowledge/lessons_learned/ll_233_rule1_alignment_audit_jan16.md
Due: none

chore: Sync Alpaca paper account status [auto] (#2032)
  data/system_state.json
Due: verify-strategy-integration

📝 LL-234: Document close workflow bugs discovered during position reduction
  rag_knowledge/lessons_learned/ll_234_close_workflow_bugs_jan16.md
Due: none

🔧 Add workflow to fix broken 653/658 spread
  .github/workflows/fix-broken-spread.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Sync Alpaca paper account status [auto] (#2035)
  data/system_state.json
Due: verify-strategy-integration

🔧 Add script to fix broken 653/658 spread
  scripts/fix_653_spread.py
Due: smoke-tests, detect-dead-code

🔧 Update fix-broken-spread workflow to use script
  .github/workflows/fix-broken-spread.yml
Due: validate-yaml-strict, validate-workflow-secrets

🔧 FIX: close-put-position.yml - exact symbol match + configurable action (BUY/SELL)
  .github/workflows/close-put-position.yml
Due: validate-yaml-strict, validate-workflow-secrets

🔧 Fix syntax error in fix_653_spread.py
  scripts/fix_653_spread.py
Due: smoke-tests, detect-dead-code

⏰ SCHEDULED: Fix 653 spread at market open Jan 17 (PDT workaround)
  .github/workflows/scheduled-fix-653-spread.yml
Due: validate-yaml-strict, validate-workflow-secrets

⏰ Add scheduled workflow to fix 653 spread when PDT allows
  .github/workflows/scheduled-fix-653-spread.yml
Due: validate-yaml-strict, validate-workflow-secrets

📝 LL-235: PDT blocks spread fix - automated retry scheduled
  rag_knowledge/lessons_learned/ll_235_pdt_blocks_fix_scheduled_retry_jan16.md
Due: none

🚨 LL-235: CTO violated CLAUDE.md directives - recorded for accountability
  rag_knowledge/lessons_learned/ll_235_cto_violated_claude_md_jan16.md
Due: none

🔧 FIX: Reschedule to Tuesday Jan 20 (Sat/Sun/MLK Monday closed)
  .github/workflows/scheduled-fix-653-spread.yml
Due: validate-yaml-strict, validate-workflow-secrets

🚨 LL-236: CTO failed to check market calendar
  rag_knowledge/lessons_learned/ll_236_market_calendar_failure_jan16.md
Due: none

🚨 LL-237: CTO trust failure - did not know day of week
  rag_knowledge/lessons_learned/ll_237_trust_failure_calendar_jan16.md
Due: none

🗑️ DELETE: Stale workflow scheduled for Jan 14 (past date)
  .github/workflows/scheduled-close-put.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Sync Alpaca paper account status [auto] (#2038)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2039)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2040)
  data/system_state.json
Due: verify-strategy-integration
