Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

fix: reject trades when wing snap produces too-narrow spread
  src/markets/option_chain.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca state [auto]
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  data/trades.json
  docs/data/public_status.json
  models/ml/grpo_trade_metadata.json
  models/ml/grpo_trade_policy.pt
  models/ml/trade_confidence_model.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: verify-strategy-integration

chore: format IC Simple generated state
  .github/workflows/ic-simple.yml
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  data/trades.json
  models/ml/grpo_trade_metadata.json
  tests/test_workflow_contracts.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration

feat: same-expiry re-entry block + broker sync freshness gate + RAG cleanup
  .claude/logs/gsd-hook-pipeline.log
  data/rag_knowledge/lessons_learned/research_20260331.md
  data/rag_knowledge/lessons_learned/research_20260401.md
  data/rag_knowledge/lessons_learned/research_20260402.md
  data/rag_knowledge/lessons_learned/research_20260403.md
  data/rag_knowledge/lessons_learned/research_20260408.md
  data/rag_knowledge/lessons_learned/research_20260409.md
  data/rag_knowledge/lessons_learned/research_20260410.md
  docs/OPTIONS_DATA_SOURCES.md
  scripts/ic_simple.py
Due: smoke-tests, detect-dead-code

chore: remove accidentally added embedded repos
  .claude/logs/gsd-hook-pipeline.log
  docs/OPTIONS_DATA_SOURCES.md
Due: none

chore: Sync Alpaca state [auto]
  data/rag_knowledge/lessons_learned/research_20260410.md
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  data/trades.json
  docs/data/public_status.json
  models/ml/grpo_trade_metadata.json
  models/ml/grpo_trade_policy.pt
  models/ml/trade_confidence_model.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: verify-strategy-integration

chore: format synced ML state
  .github/workflows/sync-alpaca-status.yml
  models/ml/trade_confidence_model.json
  tests/test_workflow_contracts.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: prevent retrain from overwriting Thompson validation reset
  .claude/logs/gsd-hook-pipeline.log
  models/ml/trade_confidence_model.json
  scripts/update_ml_from_trades.py
Due: smoke-tests, detect-dead-code

fix: preserve validation reset ML gate
  models/ml/trade_confidence_model.json
  scripts/update_ml_from_trades.py
  tests/test_ml_feedback_loop.py
Due: smoke-tests, detect-dead-code

fix: LanceDB deps, GRPO divergence, lesson quality gate, RAG paths
  pyproject.toml
  scripts/ic_simple.py
  scripts/research_strategies.py
  src/ml/grpo_trade_learner.py
Due: smoke-tests, detect-dead-code

fix: LanceDB in CI, delete stale GRPO checkpoint, refresh RAG cache
  .github/workflows/ic-simple.yml
  models/ml/grpo_trade_policy.pt
  scripts/ic_simple.py
  src/rag/lessons_search.py
Due: test-crypto-imports, validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

chore: Sync Alpaca state [auto]
  data/post_market_analysis/plan_20260410.json
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  data/trades.json
  docs/data/public_status.json
  models/ml/grpo_trade_metadata.json
  models/ml/grpo_trade_policy.pt
  models/ml/trade_confidence_model.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: verify-strategy-integration

chore: format post-market sync output
  .github/workflows/sync-alpaca-status.yml
  data/post_market_analysis/plan_20260410.json
  tests/test_workflow_contracts.py
  uv.lock
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

chore: Sync Alpaca state [auto]
  data/post_market_analysis/plan_20260408.json
  data/post_market_analysis/plan_20260409.json
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  data/trades.json
  docs/data/public_status.json
  models/ml/grpo_trade_metadata.json
  models/ml/grpo_trade_policy.pt
  models/ml/trade_confidence_model.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: verify-strategy-integration

fix: serialize trading state writers
  .github/workflows/ic-simple.yml
  .github/workflows/sync-alpaca-status.yml
  tests/test_workflow_contracts.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: refresh queued state writers to latest main
  .github/workflows/ic-simple.yml
  .github/workflows/sync-alpaca-status.yml
  tests/test_workflow_contracts.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

chore: Sync Alpaca state [auto]
  data/post_market_analysis/plan_20260411.json
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  data/trades.json
  docs/data/public_status.json
  models/ml/grpo_trade_metadata.json
  models/ml/grpo_trade_policy.pt
  models/ml/trade_confidence_model.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: verify-strategy-integration

chore: Sync Alpaca state [auto]
  data/post_market_analysis/plan_20260412.json
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  data/trades.json
  docs/data/public_status.json
  models/ml/grpo_trade_metadata.json
  models/ml/grpo_trade_policy.pt
  models/ml/trade_confidence_model.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: verify-strategy-integration

fix: eliminate commit race — Sync Alpaca only commits its own files
  .github/workflows/sync-alpaca-status.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: update tests for commit-race fix and sync freshness gate
  tests/test_workflow_contracts.py
  tests/unit/test_ic_simple.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca state [auto]
  data/north_star_weekly_history.json
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  docs/data/public_status.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: verify-strategy-integration

chore: Sync Alpaca state [auto]
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  docs/data/public_status.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: verify-strategy-integration

fix: public status shows halted→validation_reset, fix HTML rendering
  docs/data/public_status.json
  docs/index.md
  scripts/build_public_status.py
  wiki/Home.md
Due: smoke-tests, detect-dead-code

[codex] harden north star validation reporting (#3844)
  scripts/build_public_status.py
  scripts/ic_simple.py
  src/safety/north_star_congruence.py
  tests/test_build_public_status.py
  tests/unit/test_ic_simple.py
  tests/unit/test_ml_pipeline.py
Due: smoke-tests, detect-dead-code

fix: IC Simple commits lessons to correct RAG path
  .github/workflows/ic-simple.yml
Due: validate-yaml-strict, validate-workflow-secrets
