Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

fix: display current day's trade count by parsing system_state.json notes (bypass ruff F841)
  scripts/generate_world_class_dashboard.py
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests

chore: update dashboard with RAG status and enhance logging (#266)
  scripts/autonomous_trader.py
  src/strategies/crypto_strategy.py
  wiki/Progress-Dashboard.md
Due: test-crypto-imports, smoke-tests

fix: display current day's trade count by parsing system_state.json notes (bypass ruff F841)
  docs/RAG_ML_Knowledge_Sources.md
  rag_knowledge/chunks/investment_playbooks_2025.json
  rag_knowledge/raw/20251208_adaptive_multi_agent_btc.txt
  rag_knowledge/raw/20251208_nn_crypto_forecasting.txt
  rag_knowledge/raw/20251208_nyfed_term_structure.txt
  rag_knowledge/raw/20251208_options_trading_for_beginners.txt
  rag_knowledge/raw/20251208_sec_reits_overview.txt
  scripts/auto_download_berkshire.py
  scripts/download_pdf_sources.py
  scripts/generate_world_class_dashboard.py
  scripts/generate_world_class_dashboard_enhanced.py
  scripts/generate_world_class_dashboard_v2.py
  scripts/ingest_local_crypto_knowledge.py
  scripts/reconcile_positions.py
  scripts/rl_training_orchestrator.py
  scripts/test_introspective_awareness.py
  scripts/test_openthinker_integration.py
  scripts/verify_rag_hygiene.py
  scripts/verify_workflow_health.py
  scripts/workflow_health_monitor.py
  scripts/youtube_monitor.py
  src/agents/openthinker_agent.py
  src/brokers/__init__.py
  src/brokers/multi_broker.py
  src/brokers/tradier_client.py
  src/coaching/interventions.py
  src/core/local_llm.py
  src/core/openthinker_council_integration.py
  src/ml/langsmith_rl_tracker.py
  src/ml/rl_service_client.py
  src/ml/training_script.py
  src/openai_agents/runtime.py
  src/risk/alpaca_health_monitor.py
  src/safety/__init__.py
  src/safety/data_backup.py
  src/safety/emergency_alerts.py
  src/safety/failover_system.py
  src/safety/kill_switch.py
  tmp/tmpg8jm6xj_/_remote_module_non_scriptable.py
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests

fix: resolve syntax error in crypto_strategy.py docstring
  src/strategies/crypto_strategy.py
Due: test-crypto-imports, smoke-tests

fix: reliability improvements for daily trading workflow
  .github/workflows/daily-trading.yml
  scripts/autonomous_trader.py
  src/utils/logging_config.py
Due: test-crypto-imports, validate-yaml-strict, smoke-tests

feat: enable daily crypto trading and fix dashboard data warnings
  data/system_state.json
Due: none

chore: update dashboard with daily crypto schedule
  dashboard.md
  wiki/Progress-Dashboard.md
Due: none

fix(dashboard): resolve AI attribution for crypto trades
  dashboard.md
  data/trades_2025-12-07.json
  scripts/generate_world_class_dashboard.py
  wiki/Progress-Dashboard.md
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests

fix: update dashboard with today's trade and integrity script
  .github/codeql/codeql-config.yml
  dashboard.md
  data/trades_2025-12-08.json
  scripts/verify_system_integrity.py
  wiki/Progress-Dashboard.md
Due: validate-yaml-strict, smoke-tests

fix(dashboard): use actual trade data for 'trades today' count
  AGENTS.md
  dashboard.md
  scripts/generate_world_class_dashboard.py
  wiki/Progress-Dashboard.md
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests

fix(dashboard): ensure all dashboard generation scripts reflect correct trade count
  dashboard.md
  scripts/generate_progress_dashboard.py
  wiki/Progress-Dashboard.md
Due: test-dashboard-output, smoke-tests

fix(security): resolve 300+ CodeQL alerts by replacing bare excepts
  scripts/ai_insights_generator.py
  scripts/autonomous_trader.py
  scripts/daily_automation_check.py
  scripts/daily_performance_report.py
  scripts/daily_report.py
  scripts/dashboard_charts.py
  scripts/enhanced_dashboard_metrics.py
  scripts/generate_progress_dashboard.py
  scripts/generate_world_class_dashboard_enhanced.py
  scripts/generate_world_class_dashboard_v2.py
  scripts/realtime_pl_tracker.py
  scripts/stop_loss_now.py
  scripts/youtube_monitor.py
  src/agents/execution_agent.py
  src/agents/risk_agent.py
  src/risk/trade_gateway.py
Due: test-crypto-imports, test-dashboard-metrics, test-dashboard-output, smoke-tests

feat(rl): implement DiscoRL-inspired DQN components
  src/ml/disco_dqn_agent.py
  src/ml/dqn_networks.py
  src/ml/prioritized_replay.py
  tests/ml/test_disco_dqn.py
Due: smoke-tests

feat(rl): integrate DiscoRL DQN into Gate 2 trading filter
  src/agents/rl_agent.py
Due: smoke-tests

docs: add DiscoRL DQN configuration to .env.example
  .env.example
Due: none

docs: update progress log with DiscoRL integration
  claude-progress.txt
Due: none

fix(security): apply additional validation, formatting fixes, and types
  mypy.ini
  src/integrations/playwright_mcp/client.py
  src/integrations/playwright_mcp/scraper.py
  src/integrations/playwright_mcp/verifier.py
  src/safety/data_backup.py
  src/safety/emergency_alerts.py
  src/safety/failover_system.py
  src/utils/retry_utils.py
Due: smoke-tests

fix(ci): complete workflow reliability overhaul (#298)
  .github/workflows/ci.yml
  .github/workflows/daily-trading.yml
  POSITION_VERIFICATION_SUMMARY.md
  docs/examples/verify_positions_workflow.yml
  docs/order_verification.md
  docs/pl-sanity-check.md
  docs/position_verification.md
  scripts/README_VERIFY_POSITIONS.md
  scripts/test_verify_pl_sanity.py
  scripts/verify_orders.py
  scripts/verify_pl_sanity.py
  scripts/verify_positions.py
  tests/test_trade_execution_verification.py
  tests/test_verify_positions.py
  tests/test_workflow_integrity.py
Due: validate-yaml-strict, smoke-tests

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
