Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-black, python-flake8, python-mypy, workflow-security

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: file-organization
        name: Check File Organization (Auto-Fix)
        entry: python3 .claude/skills/precommit_hygiene/scripts/precommit_hygiene.py check_file_organization --fix
        language: system
        pass_filenames: false

      - id: python-black
        name: Python Black Formatting
        entry: black
        language: system
        types: [python]

      - id: python-flake8
        name: Python Flake8 Linting
        entry: flake8
        language: system
        types: [python]
        args: [--max-line-length=100, --ignore=E203,W503]

      - id: python-mypy
        name: Python Type Checking
        entry: mypy
        language: system
        types: [python]
        args: [--ignore-missing-imports]

      - id: detect-secrets
        name: Detect Secrets (Entropy Analysis)
        entry: detect-secrets-hook
        language: system
        args: ['--baseline', '.secrets.baseline']
        pass_filenames: true

      - id: workflow-security
        name: Check Workflow Security
        entry: python3 .claude/skills/precommit_hygiene/scripts/precommit_hygiene.py check_workflow_security
        language: system
        types: [yaml]
        files: '\.github/workflows/.*\.ya?ml$'

Fix LangSmith project links and add note about 'default' project name
  scripts/generate_progress_dashboard.py
  scripts/generate_world_class_dashboard_enhanced.py
  wiki/Progress-Dashboard.md
Due: python-black, python-flake8, python-mypy

fix: Make RAG dependencies optional to prevent crypto trading failures
  src/deepagents_integration/tools.py
  src/rag/vector_db/embedder.py
Due: python-black, python-flake8, python-mypy

Add LangSmith cleanup script and documentation
  docs/LANGSMITH_CLEANUP.md
  scripts/clean_langsmith_test_traces.py
  scripts/debug_yfinance.py
  scripts/test_crypto_imports.py
  scripts/test_langsmith.py
  src/strategies/growth_strategy.py
  src/strategies/ipo_strategy.py
  src/utils/technical_indicators.py
  tests/test_embedder_optional_import.py
Due: python-black, python-flake8, python-mypy

fix: Add missing sentence-transformers dependency for crypto trading
  .pre-commit-config.yaml
  requirements.txt
Due: none

Add LangSmith cleanup script and real trace generator
  .pc-venv/lib/python3.12/site-packages/cffi/api.py
  .pc-venv/lib/python3.12/site-packages/cffi/backend_ctypes.py
  .pc-venv/lib/python3.12/site-packages/cffi/cparser.py
  .pc-venv/lib/python3.12/site-packages/cffi/vengine_cpy.py
  .pc-venv/lib/python3.12/site-packages/cffi/vengine_gen.py
  .pc-venv/lib/python3.12/site-packages/curl_cffi/__init__.py
  .pc-venv/lib/python3.12/site-packages/curl_cffi/requests/__init__.py
  .pc-venv/lib/python3.12/site-packages/curl_cffi/requests/headers.py
  .pc-venv/lib/python3.12/site-packages/curl_cffi/requests/utils.py
  .pc-venv/lib/python3.12/site-packages/dateutil/__init__.py
  .pc-venv/lib/python3.12/site-packages/dateutil/_common.py
  .pc-venv/lib/python3.12/site-packages/dateutil/_version.py
  .pc-venv/lib/python3.12/site-packages/dateutil/easter.py
  .pc-venv/lib/python3.12/site-packages/dateutil/parser/__init__.py
  .pc-venv/lib/python3.12/site-packages/dateutil/parser/isoparser.py
  .pc-venv/lib/python3.12/site-packages/dateutil/relativedelta.py
  .pc-venv/lib/python3.12/site-packages/dateutil/tz/__init__.py
  .pc-venv/lib/python3.12/site-packages/dateutil/tz/_common.py
  .pc-venv/lib/python3.12/site-packages/dateutil/tz/_factories.py
  .pc-venv/lib/python3.12/site-packages/dateutil/tz/win.py
  .pc-venv/lib/python3.12/site-packages/dateutil/zoneinfo/__init__.py
  .pc-venv/lib/python3.12/site-packages/dateutil/zoneinfo/rebuild.py
  .pc-venv/lib/python3.12/site-packages/frozendict/__init__.py
  data/trading_plans/plan_20251129_152857.json
  data/trading_plans/plan_20251129_153004.json
  scripts/generate_progress_dashboard.py
  scripts/generate_real_langsmith_trace.py
  scripts/run_local_ci.sh
  src/strategies/ipo_strategy.py
Due: python-black, python-flake8, python-mypy

Implement LangSmith tracing across key LLM components
  src/strategies/crypto_strategy.py
  src/utils/langsmith_wrapper.py
  src/utils/news_sentiment.py
Due: python-black, python-flake8, python-mypy

Move Today's Performance section to top of dashboard
  scripts/generate_progress_dashboard.py
Due: python-black, python-flake8, python-mypy

Implement missing dashboard features: charts, execution metrics, trade volume thresholds
  .pre-commit-config.yaml
  scripts/dashboard_charts.py
  scripts/dashboard_metrics.py
  scripts/generate_progress_dashboard.py
  src/core/alpaca_trader.py
Due: python-black, python-flake8, python-mypy

fix: Increase crypto daily amount to $10 (Alpaca minimum)
  .env.example
  .github/workflows/dry-run-report.yml
  profiles/ensemble-config.yaml
  profiles/ensemble-defaults.env
  scripts/dry_run.py
  src/agents/base_agent.py
  src/main.py
  src/orchestration/elite_orchestrator.py
  src/strategies/crypto_strategy.py
  src/utils/self_healing.py
Due: python-black, python-flake8, python-mypy, workflow-security

CI: publish nightly dry-run markdown to wiki (Automated-Dry-Run.md)
  .github/workflows/dry-run-report.yml
Due: workflow-security

fix: Set crypto daily amount to $10 in autonomous_trader.py
  scripts/autonomous_trader.py
Due: python-black, python-flake8, python-mypy

CI: link Automated-Dry-Run from Progress-Dashboard; auto-include agents based on secrets
  .github/workflows/dry-run-report.yml
Due: workflow-security

test: Add CI/CD tests to prevent crypto trading RAG dependency regressions
  .github/workflows/dry-run-report.yml
  .github/workflows/test-crypto-imports.yml
  .pre-commit-config.yaml
  README.md
  scripts/pre_commit_test_crypto_imports.sh
  tests/test_crypto_trading_no_rag.py
Due: python-black, python-flake8, python-mypy, workflow-security

Docs: add Progress Dashboard badge + live dry-run timestamp badge; CI: permissions, Gemini support, badge endpoint updater
  .github/workflows/dry-run-report.yml
  README.md
Due: workflow-security
