Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags but still validate syntax strictly
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--ignore=E203,E501,W503,E402']
        exclude: .pc-venv/

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.7
    hooks:
      - id: bandit
        args: ['-ll', '-ii', '--skip', 'B310,B113,B602,B603,B404']
        exclude: ^tests/|.pc-venv/

  # Keep the custom hygiene script if needed, but ensure it works
  - repo: local
    hooks:
      - id: file-organization
        name: Check File Organization
        entry: python3 .claude/skills/precommit_hygiene/scripts/precommit_hygiene.py check_file_organization
        language: system
        pass_filenames: false
        verbose: true

      - id: test-crypto-imports
        name: Test Crypto Trading Imports (No RAG)
        entry: bash scripts/pre_commit_test_crypto_imports.sh
        language: system
        types: [python]
        files: '(src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py)'
        pass_filenames: false

      - id: test-dashboard-metrics
        name: Test Dashboard Metrics Completeness
        entry: python3 tests/test_dashboard_metrics.py
        language: system
        types: [python]
        files: '(scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py)'
        pass_filenames: false
        verbose: true

      - id: validate-yaml-strict
        name: Strict YAML Validation
        entry: bash scripts/validate_yaml_before_commit.sh
        language: system
        types: [yaml]
        pass_filenames: false
        verbose: true

      - id: test-dashboard-output
        name: Test Dashboard Output Completeness
        entry: python3 tests/test_dashboard_output.py
        language: system
        types: [python]
        files: '(scripts/generate.*dashboard.*\.py)'
        pass_filenames: false
        verbose: true

feat(rag): add curated trading knowledge library
  data/rag/in_memory_store.json
  rag_knowledge/books/afml_chapters.json
  rag_knowledge/books/systematic_trading_chapters.json
  rag_knowledge/chunks/afml_chunks.json
  rag_knowledge/chunks/alpha_architect_chunks.json
  rag_knowledge/chunks/quantified_strategies_chunks.json
  rag_knowledge/chunks/systematic_trading_chunks.json
  rag_knowledge/knowledge_index.json
  rag_knowledge/newsletters/alpha_architect_insights.json
  rag_knowledge/newsletters/quantified_strategies_insights.json
  scripts/ingest_rag_knowledge.py
  src/rag/collectors/training_library_collector.py
Due: test-crypto-imports

fix(execution): prevent crash when portfolio sync fails
  src/execution/alpaca_executor.py
Due: none

chore: save unstaged changes before pull
  .github/workflows/smoke.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  scripts/fix_pr_batch.sh
  src/backtesting/__init__.py
  tests/test_deterministic_backtest.py
Due: validate-yaml-strict

feat(risk): enhance trading bot + paper cash fallback (#186)
  src/backtesting/__init__.py
  src/risk/__init__.py
  src/utils/regime_detector.py
Due: none

fix: resolve linting errors and python 3.9 compatibility (#187)
  src/utils/langsmith_wrapper.py
Due: none

feat(risk): add Monte Carlo, VIX circuit breaker, regime transition prediction
  src/backtesting/__init__.py
  src/backtesting/monte_carlo.py
Due: none

fix: resolve linting errors and python 3.9 compatibility
  src/backtesting/__init__.py
  src/backtesting/monte_carlo.py
  src/risk/__init__.py
  src/risk/vix_circuit_breaker.py
  src/utils/regime_detector.py
Due: none

docs: honest system assessment + paper cash fallback (#193)
  data/system_state.json
  docs/HONEST_SYSTEM_ASSESSMENT.md
Due: none

chore: rl branch + rule-one options cash fallback (#190)
  .github/workflows/daily-trading.yml
  .github/workflows/rl-daily-retrain.yml
  claude-progress.txt
  data/backtests/walk_forward_results/EXECUTIVE_SUMMARY.md
  data/backtests/walk_forward_results/HONEST_ASSESSMENT.md
  data/backtests/walk_forward_results/README.md
  data/backtests/walk_forward_results/SETUP_GUIDE.md
  docs/RL_ARCHITECTURE_SIMPLIFIED.md
  docs/rl-feedback-loop.md
  models/ml/BND_lstm_ppo.pt
  models/ml/QQQ_lstm_ppo.pt
  models/ml/SPY_lstm_ppo.pt
  models/ml/VOO_lstm_ppo.pt
  reports/EXECUTIVE_SUMMARY_trade_frequency_audit.md
  reports/filter_relaxation_implementation_2025-12-04.md
  reports/trade_frequency_audit_2025-12-04.md
  scripts/autonomous_trader.py
  scripts/rl_daily_retrain.py
  scripts/run_walk_forward_validation.py
  scripts/test_rl_feedback_loop.py
  src/agent_framework/executor_agent.py
  src/ml/dqn_agent.py
  src/ml/dqn_networks.py
  src/ml/enhanced_ppo.py
  src/ml/ensemble_rl.py
  src/ml/multi_step_learning.py
  src/ml/networks.py
  src/ml/position_sizing_rl.py
  src/ml/prioritized_replay.py
  src/ml/rl_service_client.py
  src/ml/trainer.py
  src/ml/walk_forward_validator.py
  src/orchestration/elite_orchestrator.py
  src/orchestrator/main.py
  src/strategies/core_strategy.py
  src/strategies/growth_strategy.py
  src/strategies/legacy_momentum.py
Due: test-crypto-imports, validate-yaml-strict

fix: resolve linting errors and python 3.9 compatibility (#200)
  scripts/check_daily_health.py
  src/analytics/live_vs_backtest_tracker.py
  src/backtesting/stress_testing.py
  src/orchestration/elite_orchestrator.py
  src/risk/target_aligned_sizing.py
  src/safety/multi_tier_circuit_breaker.py
Due: none

fix: resolve linting errors and python 3.9 compatibility
  scripts/check_daily_health.py
  src/agents/execution_agent.py
  src/backtesting/backtest_engine.py
  src/backtesting/walk_forward_matrix.py
  src/rag/collectors/tradingview_collector.py
  src/rag/vector_db/chroma_client.py
  src/strategies/treasury_ladder_strategy.py
Due: test-crypto-imports
