Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-workflow-secrets:
  name: Validate Workflow Secrets (Zero Tolerance)
  entry: python3 scripts/validate_workflow_secrets.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

detect-dead-code:
  name: Dead Code Detector
  entry: python3 scripts/detect_dead_code.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

verify-strategy-integration:
  name: Verify Strategy Integration (ll_012 Prevention)
  entry: python3 scripts/verify_strategy_integration.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-config-enums:
  name: Validate Config Enum Values (ll_033 Prevention)
  entry: python3 scripts/validate_config_enums.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-trading-script-syntax:
  name: Validate Critical Trading Scripts Syntax (ll_024 Prevention)
  ...

weekend-crypto-workflow-check:
  name: Weekend Crypto Workflow Validation
  entry: python3 -c "import yaml; f=open('.github/workflows/weekend-crypto-trading.yml'); d=yaml.safe_load(f); assert 'PYTHONPATH' in str(d), 'Missing PYTHONPATH'; assert 'CRYPTO_FORCE_TRADE' in str(d), 'Missing CRYPTO_FORCE_TRADE'"
  language: system
  ...

chore: Sync Alpaca state [auto]
  data/TRADING_HALTED
  data/north_star_weekly_history.json
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  docs/data/public_status.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: verify-strategy-integration

fix: keep sync public surfaces ledger-clean (#3936)
  .github/workflows/sync-alpaca-status.yml
  docs/data/public_status.json
  tests/test_workflow_contracts.py
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: restore ledger after scorecard sync
  .github/workflows/sync-alpaca-status.yml
  docs/data/public_status.json
  tests/test_workflow_contracts.py
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

chore(ops): browser automation pilot telemetry
  config/browser_automation_provider.json
  data/analytics/browser_automation_pilot_history.jsonl
  data/analytics/browser_automation_pilot_latest.json
  data/analytics/browser_provider_promotion_latest.json
Due: validate-config-enums

docs: record PR hygiene lesson
  rag_knowledge/lessons_learned/ll_20260504_pr_hygiene_public_status.md
Due: none

fix: allow validation reset through legacy ML halt
  .github/workflows/daily-trading.yml
  scripts/build_north_star_blocker_report.py
  tests/test_build_north_star_blocker_report.py
  tests/test_workflow_contracts.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

chore: update OpenRouter pricing baseline (#3942)
  data/openrouter_pricing_baseline.json
Due: none

chore: refresh public status after exit check (#3943)
  docs/data/public_status.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: none

chore: refresh public status after exit rerun (#3944)
  docs/data/public_status.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: none

docs: record PR management cleanup lesson (#3946)
  rag_knowledge/lessons_learned/pr_management_20260505.md
Due: none

chore: refresh public status after exit-only check (#3947)
  docs/data/public_status.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: none

fix: enforce IC same-expiry loss block
  scripts/ic_simple.py
  tests/unit/test_ic_simple.py
Due: smoke-tests, detect-dead-code

chore: refresh public status after latest trade sync
  docs/data/public_status.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: none

chore: refresh public status after 2pm exit check
  docs/data/public_status.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: none

Improve RAG ML ingestion quality signals (#3952)
  scripts/build_rag_query_index.py
  scripts/update_ml_from_trades.py
  src/analytics/perplexity_trading_intel.py
  tests/test_build_rag_query_index.py
  tests/test_ml_feedback_loop.py
  tests/test_perplexity_trading_intel.py
Due: smoke-tests, detect-dead-code

Format Ralph PRD metadata
  .claude/prd.json
Due: none

chore: Sync Alpaca state [auto]
  data/TRADING_HALTED
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  docs/data/public_status.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: verify-strategy-integration

Add ML edge rehabilitation plan ingestion
  data/runtime/edge_rehabilitation_plan.json
  scripts/update_ml_from_trades.py
  tests/test_ml_feedback_loop.py
Due: smoke-tests, detect-dead-code

Require rehab coverage for validation hypotheses
  data/runtime/strategy_validation_hypothesis.json
  src/safety/north_star_guard.py
  src/safety/north_star_operating_plan.py
  tests/test_north_star_guard.py
  tests/test_north_star_operating_plan.py
Due: smoke-tests, detect-dead-code

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$
