Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

fix: Sync progress dashboard with system state (#1092)
  docs/progress_dashboard.md
Due: none

fix: Implement actual Vertex AI RAG uploads (not stub) (#1094)
  data/system_state.json
  data/vector_db/vectorized_files.json
  rag_knowledge/lessons_learned/ll_081_vertex_rag_stub_failure_jan05.md
  scripts/system_health_check.py
  src/rag/vertex_rag.py
  tests/test_rag_operational.py
  tests/test_vertex_rag_comprehensive.py
Due: test-crypto-imports, smoke-tests, detect-dead-code, verify-strategy-integration

chore: Update RAG vectorization cache (750 docs) (#1095)
  data/vector_db/vectorized_files.json
Due: none

style: Fix ruff format errors in 3 files (#1098)
  scripts/system_health_check.py
  src/rag/vertex_rag.py
  tests/test_vertex_rag_comprehensive.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

chore: Update performance log with Jan 5 entry (#1099)
  data/performance_log.json
Due: none

feat: Add accumulation phase awareness to P/L sanity check (#1096)
  data/system_state.json
  docs/progress_dashboard.md
  scripts/autonomous_trader.py
  scripts/generate_world_class_dashboard_enhanced.py
  scripts/verify_pl_sanity.py
  tests/test_pl_sanity.py
Due: test-crypto-imports, test-dashboard-metrics, test-dashboard-output, smoke-tests, detect-dead-code, verify-strategy-integration, validate-trading-script-syntax

chore: Update performance log timestamp from local verification (#1102)
  data/performance_log.json
Due: none

fix: Format new files with ruff (#1101)
  scripts/generate_world_class_dashboard_enhanced.py
  scripts/verify_pl_sanity.py
  tests/test_pl_sanity.py
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests, detect-dead-code

fix: P/L Sanity Check should warn, not block workflow (LL-082) (#1104)
  .github/workflows/daily-trading.yml
  rag_knowledge/lessons_learned/ll_082_pl_sanity_check_blocking_workflow_jan05.md
Due: validate-yaml-strict, validate-workflow-secrets

fix: Make simple_daily_trader actually execute trades (#1105)
  scripts/simple_daily_trader.py
Due: smoke-tests, detect-dead-code

fix: Skip dialogflow webhook tests when fastapi not installed (#1106)
  tests/test_dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

fix: Make RAG test resilient to ChromaDB severity indexing issues (#1107)
  tests/test_rag_ml_operational.py
Due: smoke-tests, detect-dead-code

fix: Skip RLHF storage tests when lancedb not installed (#1108)
  tests/test_rlhf_storage.py
Due: smoke-tests, detect-dead-code

fix: Correct P/L calculation to use first entry as starting balance (#1109)
  data/performance_log.json
  scripts/verify_pl_sanity.py
Due: smoke-tests, detect-dead-code

fix: Dashboard P/L calculation and paper vs live distinction (#1110)
  data/performance_log.json
  scripts/generate_world_class_dashboard_enhanced.py
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests, detect-dead-code

chore: Update performance log timestamp from dry run verification (#1111)
  data/performance_log.json
Due: none

fix: Resolve Ruff linter errors (CI was failing) (#1113)
  scripts/generate_world_class_dashboard_enhanced.py
  scripts/simple_daily_trader.py
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests, detect-dead-code

fix: Improve dashboard paper/live trade distinction (#1112)
  scripts/generate_world_class_dashboard_enhanced.py
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests, detect-dead-code

fix: Dialogflow webhook fetches portfolio from GitHub (#1114)
  docs/_lessons/ll_080_dialogflow_trade_query_fix_jan05.md
  rag_knowledge/lessons_learned/ll_080_dialogflow_trade_query_fix_jan05.md
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

fix: Remove duplicate lesson numbers from GitHub Pages (#1115)
  docs/_lessons/ll_073_feedback_training_pipeline_jan03.md
  docs/_lessons/ll_081_hallucination_tomorrow_incident_jan05.md
  docs/_lessons/ll_082_lancedb_rlhf_integration_jan05.md
Due: none

fix: Clarify P/L labels in dashboard (Total vs Today) (#1117)
  scripts/generate_world_class_dashboard_enhanced.py
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests, detect-dead-code

fix: Add Vertex AI RAG sync for trade lessons (dual-recording) (#1118)
  src/observability/trade_sync.py
Due: smoke-tests, detect-dead-code

fix: Format simple_daily_trader.py with ruff (CI fix) (#1119)
  scripts/simple_daily_trader.py
Due: smoke-tests, detect-dead-code

fix: Remove nested quotes breaking YAML title in ll_081 (#1120)
  docs/_lessons/ll_081_hallucination_tomorrow_incident_jan05.md
Due: none

fix: Update dashboard with honest data (no positions, no trades yet) (#1121)
  docs/index.md
Due: none

fix: Show paper trading results on dashboard (not just empty live account) (#1122)
  docs/index.md
Due: none

fix: URGENT - max_positions blocking trades (#1123)
  scripts/simple_daily_trader.py
Due: smoke-tests, detect-dead-code

test: Add tests for max_positions fix (#1124)
  tests/test_simple_daily_trader.py
Due: smoke-tests, detect-dead-code

docs: Add lesson #083 (#1125)
  rag_knowledge/lessons_learned/ll_083_max_positions_blocking_trades_jan05.md
Due: none

fix: Add Today's P/L to paper trading section (#1126)
  scripts/generate_world_class_dashboard_enhanced.py
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests, detect-dead-code

fix: Force fresh Docker build to deploy v2.3.0 webhook (#1127)
  .github/workflows/deploy-dialogflow-webhook.yml
  Dockerfile.webhook
  tests/test_dialogflow_webhook.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: Inject dynamic cache bust timestamp into Dockerfile (#1128)
  .github/workflows/deploy-dialogflow-webhook.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Trigger trading workflow after max_positions fix (#1129)
  TRIGGER_TRADE.md
Due: none

fix: Remove unused variables in tests (Ruff CI fix) (#1130)
  tests/test_dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

style: Sort imports in test_simple_daily_trader.py (#1131)
  tests/test_simple_daily_trader.py
Due: smoke-tests, detect-dead-code

chore: Auto-sync system state (#1132)
  data/system_state.json
Due: verify-strategy-integration

fix: Sync paper account state with Alpaca dashboard (#1133)
  data/system_state.json
Due: verify-strategy-integration

fix: Correct trades_today display in Dialogflow webhook (CRITICAL) (#1134)
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code
