Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-workflow-secrets:
  name: Validate Workflow Secrets (Zero Tolerance)
  entry: python3 scripts/validate_workflow_secrets.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

detect-dead-code:
  name: Dead Code Detector
  entry: python3 scripts/detect_dead_code.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

verify-strategy-integration:
  name: Verify Strategy Integration (ll_012 Prevention)
  entry: python3 scripts/verify_strategy_integration.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-config-enums:
  name: Validate Config Enum Values (ll_033 Prevention)
  entry: python3 scripts/validate_config_enums.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-trading-script-syntax:
  name: Validate Critical Trading Scripts Syntax (ll_024 Prevention)
  ...

weekend-crypto-workflow-check:
  name: Weekend Crypto Workflow Validation
  entry: python3 -c "import yaml; f=open('.github/workflows/weekend-crypto-trading.yml'); d=yaml.safe_load(f); assert 'PYTHONPATH' in str(d), 'Missing PYTHONPATH'; assert 'CRYPTO_FORCE_TRADE' in str(d), 'Missing CRYPTO_FORCE_TRADE'"
  language: system
  ...

chore(backtest): Add results from 2026-01-20 (#2258)
  data/backtests/latest_summary.json
  data/backtests/parameter_sweeps/best_params_20260120_121101.json
  data/backtests/parameter_sweeps/sweep_lesson_20260120_121101.json
  data/backtests/parameter_sweeps/sweep_results_20260120_121101.csv
  data/rag_staging/rag_ready_lessons_20260120_121104.md
Due: none

chore(data): Update system_state.json timestamps from session sync (#2259)
  data/system_state.json
Due: verify-strategy-integration

fix(lint): Remove unused imports and variables in backtest scripts (#2260)
  scripts/backtest/bull_put_spread_backtester.py
  scripts/backtest/ingest_backtest_to_rag.py
Due: smoke-tests, detect-dead-code

feat(ci): Add agent-browser web page verification workflow (#2262)
  .github/workflows/verify-web-pages.yml
  src/utils/security.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix(ci): Handle both flat and scenario-based backtest formats (#2265)
  data/system_state.json
  scripts/run_core_strategy_reference_backtest.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

fix(strategy): Align MAX_DTE with CLAUDE.md spec (60→45 days) (#2264)
  data/system_state.json
  src/trading/options_executor.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

fix(trading): Use real SPY and option prices from Alpaca API (#2270)
  scripts/iron_condor_trader.py
Due: smoke-tests, detect-dead-code

fix(strategy): Align MAX_DTE with CLAUDE.md spec (30-45 DTE) (#2269)
  data/system_state.json
  src/trading/options_executor.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

refactor: Technical debt cleanup - remove 527 lines of dead code (#2272)
  .claude/prd.json
  data/research/options_strategies_research.md
  data/system_state.json
  rag_knowledge/lessons_learned/auto_sync_failed_jan19.md
  rag_knowledge/lessons_learned/auto_sync_failed_jan19_2.md
  rag_knowledge/lessons_learned/auto_sync_failed_jan19_3.md
  src/orchestration/self_healing.py
  src/orchestrator/main.py
  src/rag/vertex_rag.py
  src/risk/trade_gateway.py
Due: test-crypto-imports, smoke-tests, detect-dead-code, verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2277)
  data/system_state.json
Due: verify-strategy-integration

fix(hooks): Fix market status octal interpretation bug (#2279)
  .claude/hooks/inject_trading_context.sh
Due: none

chore(data): Update system state sync timestamp (#2280)
  data/system_state.json
Due: verify-strategy-integration

chore: Pre-market data sync [auto] (#2281)
  data/heartbeat.json
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2282)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2283)
  data/system_state.json
Due: verify-strategy-integration

chore(data): Update system state sync timestamp (#2284)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2285)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2288)
  data/system_state.json
Due: verify-strategy-integration

fix(tests): Mark SOFI position tests as xfail until position closed (#2290)
  tests/test_claudemd_compliance.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#2291)
  data/system_state.json
Due: verify-strategy-integration

fix(trading): Add position limit check before placing iron condor orders (#2293)
  scripts/iron_condor_trader.py
Due: smoke-tests, detect-dead-code

fix(cancel-stale-orders): Use correct env var names for CI fallback (#2294)
  scripts/cancel_stale_orders.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#2295)
  data/system_state.json
Due: verify-strategy-integration

feat(scripts): Add close_sofi_position.py for manual position close (#2297)
  scripts/close_sofi_position.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#2300)
  data/system_state.json
Due: verify-strategy-integration

fix(hooks): Update backtest status parser to handle new format (#2302)
  .claude/hooks/inject_trading_context.sh
Due: none

fix(trading): Update orphan symbol (#2303)
  scripts/close_orphan_put.py
Due: smoke-tests, detect-dead-code

fix(trading): Add ticker_validator.py with SPY ONLY enforcement (#2298)
  scripts/iron_condor_trader.py
  src/utils/ticker_validator.py
Due: smoke-tests, detect-dead-code

chore(data): Update system state sync timestamp (#2304)
  data/system_state.json
Due: verify-strategy-integration

fix(backtest): Regenerate latest_summary.json with correct format (#2305)
  data/backtests/latest_summary.json
Due: none

docs(rag): Record LL-250 - Trading crisis Jan 20, 2026 (#2308)
  rag_knowledge/lessons_learned/ll_250_trading_crisis_jan20_2026.md
Due: none

docs(rag): Add LL-247 - CI failure due to legacy SOFI position (#2309)
  rag_knowledge/lessons_learned/ll_247_ci_failure_sofi_position_jan20.md
Due: none

docs(rag): Add LL-247 SOFI PDT Crisis lesson (#2310)
  data/system_state.json
  rag_knowledge/lessons_learned/ll_247_sofi_pdt_crisis_jan20.md
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2312)
  data/system_state.json
Due: verify-strategy-integration

fix(trading): Update close script to target SOFI position (#2307)
  .github/workflows/close-sofi-emergency.yml
  data/memory/lessons/lesson_20260120_sofi_crisis.json
  data/system_state.json
Due: validate-yaml-strict, validate-workflow-secrets, verify-strategy-integration

chore(data): Update system state sync timestamp (#2313)
  data/system_state.json
Due: verify-strategy-integration

fix(risk): Add automated position compliance system (#2315)
  .github/workflows/auto-position-compliance.yml
  .github/workflows/emergency-position-cleanup.yml
  rag_knowledge/lessons_learned/ll_247_system_blocked_no_auto_cleanup_jan20.md
  scripts/emergency_position_cleanup.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix(trading): Update close_orphan_put.py to target SOFI position (#2316)
  scripts/close_orphan_put.py
Due: smoke-tests, detect-dead-code

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$
