Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-workflow-secrets:
  name: Validate Workflow Secrets (Zero Tolerance)
  entry: python3 scripts/validate_workflow_secrets.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

detect-dead-code:
  name: Dead Code Detector
  entry: python3 scripts/detect_dead_code.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

verify-strategy-integration:
  name: Verify Strategy Integration (ll_012 Prevention)
  entry: python3 scripts/verify_strategy_integration.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-config-enums:
  name: Validate Config Enum Values (ll_033 Prevention)
  entry: python3 scripts/validate_config_enums.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-trading-script-syntax:
  name: Validate Critical Trading Scripts Syntax (ll_024 Prevention)
  ...

weekend-crypto-workflow-check:
  name: Weekend Crypto Workflow Validation
  entry: python3 -c "import yaml; f=open('.github/workflows/weekend-crypto-trading.yml'); d=yaml.safe_load(f); assert 'PYTHONPATH' in str(d), 'Missing PYTHONPATH'; assert 'CRYPTO_FORCE_TRADE' in str(d), 'Missing CRYPTO_FORCE_TRADE'"
  language: system
  ...

chore: Sync Alpaca state [auto]
  data/TRADING_HALTED
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  data/trades.json
  docs/data/public_status.json
  models/ml/grpo_trade_metadata.json
  models/ml/grpo_trade_policy.pt
  models/ml/trade_confidence_model.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: verify-strategy-integration

fix: skip tests gracefully when optional deps missing (974 -> 1995 passing) (#3761)
  tests/test_iron_condor_integration.py
  tests/test_openrouter_integration.py
  tests/test_orchestrator_main.py
Due: smoke-tests, detect-dead-code

fix: resolve 20 test failures — delete dead tests, fix assertions, add skip guards (#3762)
  tests/test_audit_agent.py
  tests/test_iron_condor_trader.py
  tests/test_memory_gateway_integration.py
  tests/test_north_star_guard.py
  tests/test_observability_pipeline.py
  tests/test_orchestrator_hardening.py
  tests/test_rag_query_north_star_status.py
  tests/test_rag_query_sql_analytics.py
  tests/test_rl_filter.py
  tests/test_trade_confidence.py
  tests/test_vix_mean_reversion_signal.py
Due: smoke-tests, detect-dead-code

fix: resolve 12 more test failures, down to 6 order-dependent (#3763)
  pytest.ini
  tests/test_trade_gateway.py
  tests/test_trade_lock.py
  tests/test_trading_policy_drift.py
  tests/test_validator_coverage.py
Due: smoke-tests, detect-dead-code

fix: ALL TESTS PASSING — 2225 passed, 0 failed, 46 skipped (#3764)
  pytest.ini
  tests/test_iron_condor_guardian.py
  tests/test_rag_webhook.py
  tests/unit/test_ic_simple.py
Due: smoke-tests, detect-dead-code

refactor: consolidate 13 get_alpaca_client duplicates into 1 canonical source (#3766)
  scripts/close_positions.py
  scripts/daily_verification.py
  scripts/execute_credit_spread.py
  scripts/execute_options_trade.py
  scripts/iron_condor_scanner.py
  scripts/record_account_to_rag.py
  scripts/simple_daily_trader.py
  scripts/sync_trades_from_alpaca.py
  scripts/verify_stops_in_place.py
  src/utils/calendar_validation.py
  tests/test_calendar_validation.py
Due: smoke-tests, detect-dead-code

refactor: consolidate get_iv_percentile (4→2) and get_account_info (3→1) (#3767)
  scripts/execute_credit_spread.py
  scripts/execute_options_trade.py
  scripts/simple_daily_trader.py
  tests/test_execute_options_trade.py
Due: smoke-tests, detect-dead-code

refactor: consolidate get_underlying_price (3→1) and get_trend_filter (3→1) (#3768)
  scripts/execute_credit_spread.py
  scripts/execute_options_trade.py
Due: smoke-tests, detect-dead-code

feat: harden CI runner and add e2e proof
  .github/workflows/ci.yml
  requirements-ci.txt
  scripts/ci/run_all_tests.sh
  tests/test_ci_runner_e2e.py
  tests/test_ci_runner_wiring.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: satisfy trunk formatting on ci runner
  scripts/ci/run_all_tests.sh
  tests/test_ci_runner_e2e.py
Due: smoke-tests, detect-dead-code

fix: satisfy trunk formatting on model metadata
  models/ml/trade_confidence_model.json
Due: none

fix: support older alpaca order status enums
  src/analytics/daily_scorecard.py
  tests/test_daily_scorecard.py
Due: smoke-tests, detect-dead-code

fix: use resolved interpreter for coverage gate
  scripts/ci/run_all_tests.sh
Due: none

fix: close merge-queue gaps in CI runner and webhook imports
  scripts/ci/run_all_tests.sh
  scripts/iron_condor_guardian.py
  src/agents/__init__.py
  tests/test_ci_runner_e2e.py
  tests/test_iron_condor_guardian.py
  tests/test_simple_daily_trader.py
  tests/unit/test_ic_simple.py
Due: smoke-tests, detect-dead-code

fix: align trunk formatting with merge queue
  scripts/iron_condor_guardian.py
Due: smoke-tests, detect-dead-code

feat: research agent + regime-aware Thompson Samplers + post-market analysis (#3770)
  .github/workflows/sync-alpaca-status.yml
  .trunk/trunk.yaml
  scripts/post_market_analysis.py
  scripts/research_strategies.py
  tests/test_research_and_analysis.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: unblock main post-merge verification workflows
  .github/workflows/auto-format.yml
  .github/workflows/main-head-verification.yml
  scripts/system_health_check.py
  tests/test_system_health_check.py
  tests/test_workflow_contracts.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

feat: backtest-before-deploy gate — validates parameters against history (#3772)
  scripts/backtest_gate.py
  tests/test_backtest_gate.py
Due: smoke-tests, detect-dead-code

fix: make automation workflows PR-safe
  .github/workflows/auto-format.yml
  .github/workflows/self-healing-auto-fix.yml
  tests/test_workflow_contracts.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: degrade gracefully when workflow PR creation is blocked
  .github/workflows/auto-format.yml
  .github/workflows/self-healing-auto-fix.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Sync Alpaca state [auto]
  data/TRADING_HALTED
  data/north_star_weekly_history.json
  data/post_market_analysis/plan_20260408.json
  data/rag_knowledge/lessons_learned/research_20260408.md
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  data/trades.json
  docs/data/public_status.json
  models/ml/grpo_trade_metadata.json
  models/ml/grpo_trade_policy.pt
  models/ml/trade_confidence_model.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: verify-strategy-integration

chore: Sync Alpaca state [auto]
  data/TRADING_HALTED
  data/rag_knowledge/lessons_learned/research_20260408.md
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  data/trades.json
  docs/data/public_status.json
  models/ml/grpo_trade_metadata.json
  models/ml/grpo_trade_policy.pt
  models/ml/trade_confidence_model.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: verify-strategy-integration

Refactor: centralize iron condor trading profile (#3797)
  scripts/iron_condor_guardian.py
  scripts/iron_condor_scanner.py
  scripts/iron_condor_trader.py
  scripts/manage_iron_condor_positions.py
  src/core/trading_constants.py
  src/core/trading_profiles.py
  src/markets/option_chain.py
  tests/test_iron_condor_guardian.py
  tests/test_trading_profiles.py
Due: smoke-tests, detect-dead-code

fix: format trade confidence model (#3798)
  models/ml/trade_confidence_model.json
Due: none

feat: add closed-trade setup audit (#3800)
  scripts/trade_setup_audit.py
  src/analytics/__init__.py
  src/analytics/trade_setup_audit.py
  tests/test_trade_setup_audit.py
Due: smoke-tests, detect-dead-code

fix: restore canonical alpaca verification telemetry (#3801)
  scripts/daily_verification.py
  scripts/sync_trades_from_alpaca.py
  src/analytics/local_ops_snapshot.py
  tests/test_daily_verification.py
  tests/test_local_ops_snapshot.py
  tests/test_sync_trade_state_consistency.py
Due: smoke-tests, detect-dead-code

docs: persist PR hygiene directives (#3799)
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: none

fix: trading system overhaul — 13 root causes killing 24% win rate (#3796)
  .github/workflows/ic-simple.yml
  .github/workflows/iron-condor-guardian.yml
  data/strategy_params.json
  mcp/governance/input_validation.py
  scripts/ic_simple.py
  scripts/iron_condor_guardian.py
  scripts/iron_condor_scanner.py
  scripts/iron_condor_trader.py
  src/risk/pre_trade_checklist.py
  tests/test_iron_condor_integration.py
  tests/test_iron_condor_trader.py
  tests/test_pre_trade_checklist.py
  tests/test_simple_daily_trader.py
  tests/test_ticker_validator.py
  tests/test_ticker_whitelist.py
  tests/test_validator_coverage.py
  tests/unit/test_ml_pipeline.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: align llm observability with actual routing
  .env.example
  .github/workflows/daily-trading.yml
  scripts/check_llm_observability.py
  scripts/pre_market_health_check.py
  scripts/system_health_check.py
  src/observability/__init__.py
  src/observability/llm_observability.py
  tests/test_llm_observability.py
  tests/test_system_health_check.py
  tests/test_workflow_contracts.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: align ALLOWED_TICKERS and max_concurrent_positions with CLAUDE.md
  src/core/trading_constants.py
  src/core/trading_profiles.py
  tests/test_trading_profiles.py
Due: smoke-tests, detect-dead-code

fix: remove TRADING_HALTED — system overhaul complete, restart trading
  data/TRADING_HALTED
Due: none

feat: add OpenRouter observability headers for dashboard tracking
  src/agents/base_agent.py
  src/llm/mirascope_client.py
  src/utils/llm_gateway.py
Due: smoke-tests, detect-dead-code

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$
