Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

chore: Sync Alpaca paper account status [auto] (#3101)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3102)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3104)
  data/system_state.json
Due: verify-strategy-integration

fix(test): Update day limit from 90 to 365 days
  .secrets.baseline
  data/heartbeat.json
  data/system_state.json
  docs/index.md
  tests/test_daily_blog_post.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

fix(dashboard): Align North Star with $6K/month Financial Independence goal (#3105)
  data/system_state.json
  docs/index.md
  scripts/generate_world_class_dashboard_enhanced.py
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests, detect-dead-code, verify-strategy-integration

fix(metrics): Add iron condor filter to win rate calculation (#3106)
  scripts/calculate_win_rate.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#3107)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3108)
  data/system_state.json
Due: verify-strategy-integration

fix(positions): Make position management iron-condor-aware (#3109)
  data/trades.json
  scripts/manage_positions.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#3110)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3111)
  data/system_state.json
Due: verify-strategy-integration

feat(rlhf): Add LanceDB semantic memory for true RLHF learning (#3112)
  .claude/hooks/capture_feedback.sh
  .claude/scripts/feedback/semantic-memory-v2.py
  requirements.txt
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#3113)
  data/system_state.json
Due: verify-strategy-integration

feat(blog): Upgrade to 2026 engagement standards
  docs/_posts/2026-01-27-ralph-discovery.md
  scripts/ralph_discovery_blog.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#3114)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3115)
  data/system_state.json
Due: verify-strategy-integration

feat(rag): Upgrade to 2026 ML best practices
  .claude/hooks/semantic_rag_context.sh
  .claude/scripts/feedback/semantic-memory-v2.py
  .claude/settings.json
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#3116)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3117)
  data/system_state.json
Due: verify-strategy-integration

fix(iron-condor): Use MLeg order for atomic IC close (LL-TBD)
  scripts/manage_iron_condor_positions.py
  tests/test_iron_condor_validation.py
Due: smoke-tests, detect-dead-code

test(orchestrator): Add comprehensive unit tests for gates.py and main.py
  src/safety/auto_close_bleeding.py
  tests/test_orchestrator_gates.py
  tests/test_orchestrator_main.py
Due: smoke-tests, detect-dead-code

fix(lint): Resolve ruff E741 and F841 errors (#3118)
  scripts/manage_positions.py
  tests/test_orchestrator_gates.py
Due: smoke-tests, detect-dead-code

fix(health): Add critical checks for IC completeness, feedback freshness, win rate (#3119)
  .claude/hooks/capture_feedback.sh
  .claude/hooks/github_account_switch.sh
  .claude/memory/pr-resolution-patterns.md
  .claude/scripts/feedback/semantic-memory-v2.py
  .claude/settings.json
  .github/workflows/ci.yml
  .github/workflows/sync-alpaca-status.yml
  .gitignore
  data/feedback/stats.json
  pyproject.toml
  rag_knowledge/lessons_learned/auto_sync_failed_jan27.md
  rag_knowledge/lessons_learned/ll_318_async_hooks_performance_jan27.md
  scripts/system_health_check.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix(system): Consolidate duplicates, add resilience tests, unify close scripts (#3121)
  .github/workflows/daily-trading.yml
  .github/workflows/force-close-position.yml
  data/system_state.json
  scripts/close_positions.py
  src/utils/pre_trade_validator.py
  src/utils/ticker_validator.py
  src/utils/ticker_whitelist.py
  tests/test_resilience.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration

docs(blog): Technical Debt Audit - 5K lines deleted, 48 tests added
  docs/_posts/2026-01-28-technical-debt-audit.md
Due: none

feat(skills): Add /publish-blog skill and /delegate command
  .claude/commands/delegate.md
  .claude/skills/publish-blog/SKILL.md
  .claude/skills/publish-blog/scripts/publish_blog.py
Due: smoke-tests, detect-dead-code

feat(rag): Add semantic caching and evaluation metrics
  scripts/evaluate_rag.py
  src/rag/__init__.py
  src/rag/evaluation.py
  src/rag/semantic_cache.py
  src/rag/vertex_rag.py
  tests/test_rag_evaluation.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

feat(ml): Add Lag-Llama time series forecasting for iron condor strikes
  src/ml/forecasting/__init__.py
  src/ml/forecasting/lag_llama_predictor.py
Due: smoke-tests, detect-dead-code

fix(options): Remove TimeInForce.DAY from MLeg orders
  scripts/iron_condor_trader.py
  scripts/manage_iron_condor_positions.py
Due: smoke-tests, detect-dead-code

test(safety): Add comprehensive tests for auto_close_bleeding.py
  tests/unit/test_auto_close_bleeding.py
Due: smoke-tests, detect-dead-code

test(orchestrator): Add tests for checkpoint.py and options_coordinator.py (#3122)
  tests/unit/test_checkpoint.py
  tests/unit/test_options_coordinator.py
Due: smoke-tests, detect-dead-code

test(risk): Add 31 tests for capital_efficiency.py (#3123)
  tests/unit/test_capital_efficiency.py
Due: smoke-tests, detect-dead-code

test(utils): Add 29 tests for tax_optimization.py (#3124)
  tests/unit/test_tax_optimization.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#3125)
  data/system_state.json
Due: verify-strategy-integration

chore: Pre-market data sync [auto] (#3126)
  data/heartbeat.json
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3127)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3129)
  data/system_state.json
Due: verify-strategy-integration

fix(ci): Resolve lint errors and fixture import issue (#3128)
  .claude/skills/publish-blog/scripts/publish_blog.py
  src/ml/forecasting/lag_llama_predictor.py
  src/rag/semantic_cache.py
  tests/conftest.py
  tests/unit/test_checkpoint.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#3130)
  data/system_state.json
Due: verify-strategy-integration
