Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: system
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

chore: Add large RAG files to gitignore (download on demand)
  data/rag/.gitignore
Due: none

fix: Use enhanced dashboard with tax section in weekend crypto workflow
  .github/workflows/weekend-crypto-trading.yml
Due: validate-yaml-strict

chore: Regenerate dashboard with tax optimization section
  scripts/dry_run.py
  wiki/Progress-Dashboard.md
Due: none

feat: Add RAG Knowledge Base wiki page
  .github/workflows/dashboard-auto-update.yml
  scripts/generate_rag_wiki.py
  wiki/RAG-Knowledge-Base.md
Due: validate-yaml-strict

Lint: fix whitespace in dry_run JSON fallback block
  scripts/bogleheads_ingest_once.py
  scripts/dry_run.py
Due: none

fix: Increase crypto daily amount to meet Alpaca $10 minimum
  .github/workflows/daily-trading.yml
  .github/workflows/weekend-crypto-trading.yml
  scripts/dry_run.py
Due: validate-yaml-strict

Fix crypto stop-loss handling: Don't fail trade if stop-loss fails (crypto doesn't support stop orders)
  scripts/generate_world_class_dashboard.py
  src/orchestration/elite_orchestrator.py
  src/strategies/crypto_strategy.py
  wiki/Progress-Dashboard.md
  wiki/RAG-Knowledge-Base.md
Due: test-crypto-imports, test-dashboard-metrics, test-dashboard-output

Docs: update PLAN with Bogleheads continuous learning + TLT momentum gate; README features and CLIs
  README.md
Due: none

Add automated smoke tests for crypto trade verification
  .github/workflows/weekend-crypto-trading.yml
  scripts/ingest_berkshire_letters.py
  src/rag/collectors/orchestrator.py
  src/rag/ingestion_pipeline.py
  src/rag/vector_db/chroma_client.py
  src/utils/dcf_valuation.py
  src/utils/reddit_sentiment_demo.py
  src/utils/sentiment_loader.py
  tests/test_crypto_trade_verification.py
  tests/test_smoke.py
Due: test-crypto-imports, validate-yaml-strict

Add Berkshire Hathaway letters ingestion into RAG
  scripts/ingest_berkshire_letters.py
Due: none

Add crypto trade verification metrics to Progress Dashboard
  data/rag/berkshire_letters/parsed/2010.txt
  data/rag/berkshire_letters/parsed/2011.txt
  data/rag/berkshire_letters/parsed/2012.txt
  data/rag/berkshire_letters/parsed/2013.txt
  data/rag/berkshire_letters/parsed/2014.txt
  data/rag/berkshire_letters/parsed/2015.txt
  data/rag/berkshire_letters/parsed/2016.txt
  data/rag/berkshire_letters/parsed/2017.txt
  data/rag/berkshire_letters/parsed/2018.txt
  data/rag/berkshire_letters/parsed/2019.txt
  data/rag/berkshire_letters/parsed/2020.txt
  data/rag/berkshire_letters/parsed/2021.txt
  data/rag/berkshire_letters/parsed/2022.txt
  data/rag/berkshire_letters/parsed/2023.txt
  scripts/generate_world_class_dashboard_enhanced.py
  scripts/ingest_youtube_transcripts.py
  scripts/rag_health_check.py
  src/rag/collectors/orchestrator.py
  tests/test_agents.py
  tests/test_backtest_simple.py
  tests/test_berkshire_collector.py
  wiki/Progress-Dashboard.md
Due: test-crypto-imports, test-dashboard-metrics, test-dashboard-output

Ingest YouTube transcripts and verify Stocktwits integration
  scripts/ingest_youtube_transcripts.py
Due: none

Add automated Bogleheads forum collection
  .github/workflows/dry-run-report.yml
  scripts/ci/compute_tlt_header.py
  scripts/cron_bogleheads_ingest.sh
  scripts/setup_bogleheads_cron.sh
Due: validate-yaml-strict

Optimize options trading: Lower threshold and add acceleration plan
  docs/OPTIONS_ACCELERATION_PLAN.md
  scripts/options_accumulation_plan.py
  src/strategies/options_strategy.py
Due: none

Add REIT trading status verification scripts
  docs/BONDS_TRADING_ANALYSIS.md
  docs/RAG_IMPROVEMENT_PLAN.md
  scripts/check_reit_status.py
  scripts/diagnose_bonds_trading.py
  scripts/test_bond_execution.py
  scripts/test_reit_allocation.py
Due: none

Add bonds trading diagnostic analysis and scripts
  docs/BONDS_TRADING_ANALYSIS.md
  scripts/ci/compute_tlt_header.py
  scripts/diagnose_bonds_trading.py
  scripts/generate_world_class_dashboard_enhanced.py
  scripts/ingest_external_signals.py
  scripts/ingest_youtube_transcripts.py
  scripts/test_bond_execution.py
  src/deepagents_integration/adapter.py
  src/rag/__init__.py
  src/rag/collectors/bogleheads_collector.py
  src/rag/collectors/stocktwits_collector.py
  src/rag/vector_db/chroma_client.py
  src/strategies/core_strategy.py
  src/strategies/growth_strategy.py
  src/utils/finnhub_client.py
  src/utils/self_healing.py
  tests/test_core_strategy.py
  tests/test_crypto_trading_no_rag.py
  tests/test_data_validator.py
  tests/test_deepagents_integration.py
  tests/test_elite_orchestrator_rl_integration.py
  tests/test_embedder_optional_import.py
  wiki/Progress-Dashboard.md
Due: test-crypto-imports, test-dashboard-metrics, test-dashboard-output

Implement next steps for bonds trading investigation
  .cursorrules
  docs/RAG_IMPROVEMENT_PLAN.md
  scripts/check_alpaca_minimum_orders.py
  scripts/test_bond_order_execution.py
  src/deepagents_integration/adapter.py
  src/deepagents_integration/mcp_tools.py
  src/deepagents_integration/tools.py
  src/evaluation/rag_storage.py
  src/evaluation/trading_evaluator.py
  src/ml/dqn_agent.py
  src/ml/dqn_networks.py
  src/ml/enhanced_ppo.py
  src/ml/ensemble_rl.py
  src/ml/inference.py
  src/rag/vector_db/chroma_client.py
  src/strategies/core_strategy.py
Due: test-crypto-imports

fix: Resolve linting issues in TLT monitoring code
  .github/workflows/daily-trading.yml
  requirements.txt
  scripts/automated_alerts.py
  scripts/monitor_tlt_momentum.py
  src/alerts/telegram_alerter.py
Due: validate-yaml-strict

docs: Update PLAN.md and Progress Dashboard with TLT monitoring
  docs/PLAN.md
  wiki/Progress-Dashboard.md
Due: none

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
