Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-workflow-secrets:
  name: Validate Workflow Secrets (Zero Tolerance)
  entry: python3 scripts/validate_workflow_secrets.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

detect-dead-code:
  name: Dead Code Detector
  entry: python3 scripts/detect_dead_code.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

verify-strategy-integration:
  name: Verify Strategy Integration (ll_012 Prevention)
  entry: python3 scripts/verify_strategy_integration.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-config-enums:
  name: Validate Config Enum Values (ll_033 Prevention)
  entry: python3 scripts/validate_config_enums.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-trading-script-syntax:
  name: Validate Critical Trading Scripts Syntax (ll_024 Prevention)
  ...

weekend-crypto-workflow-check:
  name: Weekend Crypto Workflow Validation
  entry: python3 -c "import yaml; f=open('.github/workflows/weekend-crypto-trading.yml'); d=yaml.safe_load(f); assert 'PYTHONPATH' in str(d), 'Missing PYTHONPATH'; assert 'CRYPTO_FORCE_TRADE' in str(d), 'Missing CRYPTO_FORCE_TRADE'"
  language: system
  ...

feat: Add session start verification protocol (LL-223) (#1950)
  .claude/hooks/inject_trading_context.sh
  rag_knowledge/lessons_learned/ll_223_session_start_verification_jan15.md
  scripts/session_start_verification.py
Due: smoke-tests, detect-dead-code

fix: Add permissions to screenshot workflow + mark T001 passed (#1951)
  .claude/prd.json
  .github/workflows/capture-trading-screenshots.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Technical debt cleanup - RAG IDs, stale files, deprecated deps (#1953)
  .claude/reports/hygiene_report_20251123_133236.txt
  .claude/reports/hygiene_report_20251123_133547.txt
  .claude/reports/hygiene_report_20251123_133643.txt
  .claude/reports/hygiene_report_20251123_134503.txt
  .github/CREATE_RECORD
  .github/DEBUG_TRADE
  .github/EMERGENCY_TRADE
  .github/EXECUTE_NOW
  .github/FORCE_TRADE
  .github/INSTANT_TRADE
  .github/SIMPLE_TRADE
  .github/TRIGGER_DAILY_TRADING
  .github/TRIGGER_TRADING_NOW
  rag_knowledge/lessons_learned/ll_224_agentic_memory_paper_evaluation_jan13.md
  rag_knowledge/lessons_learned/ll_225_dead_code_cleanup_jan13.md
  rag_knowledge/lessons_learned/ll_226_cto_directive_violations_jan14.md
  rag_knowledge/lessons_learned/ll_227_rag_failure_100k_lessons_lost_jan14.md
  rag_knowledge/lessons_learned/ll_228_sandbox_git_proxy_limitations_jan14.md
  rag_knowledge/lessons_learned/ll_229_ai_options_traders_research_jan15.md
  rag_knowledge/lessons_learned/ll_230_pr_hygiene_jan15.md
  requirements.txt
Due: none

chore: Sync Alpaca paper account status [auto] (#1954)
  data/system_state.json
Due: verify-strategy-integration

fix: Blog post generation crash - qty/price as strings (#1956)
  data/performance_log.json
  docs/_reports/2026-01-15-daily-report.md
  scripts/generate_daily_blog_post.py
Due: smoke-tests, detect-dead-code

fix: Add fail-fast error handling to blog workflow (#1958)
  .github/workflows/daily-blog-post.yml
Due: validate-yaml-strict, validate-workflow-secrets

feat: Add mandatory session start checklist with 1-sentence P/L reason
  .claude/SESSION_START_CHECKLIST.md
Due: none

feat: Jan 2026 trading improvements - 50% profit exit, RSI filter, dynamic delta
  src/analytics/trade_performance.py
  src/risk/options_risk_monitor.py
  src/strategies/rule_one_options.py
  src/trading/options_executor.py
Due: smoke-tests, detect-dead-code

fix: Correct live account documentation ($25/day, $0 start)
  Progress-Dashboard.md
  README.md
  rag_knowledge/trading_rules_2026.md
  scripts/generate_world_class_dashboard_enhanced.py
  src/core/config.py
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests, detect-dead-code

fix: Remove broken GCP_SA_KEY env var in cleanup workflow (#1960)
  .github/workflows/cleanup-vertex-rag.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Auto-create RAG corpus if missing (#1961)
  scripts/cleanup_vertex_rag.py
  scripts/query_vertex_rag.py
Due: smoke-tests, detect-dead-code

fix: Make SOFI earnings test time-agnostic (#1963)
  tests/test_trade_gateway.py
Due: smoke-tests, detect-dead-code

fix: Pass GCP_SA_KEY env var to cleanup script (#1964)
  .github/workflows/cleanup-vertex-rag.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Set GOOGLE_CLOUD_PROJECT env var in cleanup workflow (#1965)
  .github/workflows/cleanup-vertex-rag.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Flexible assertion for options risk test message (#1967)
  tests/test_options_risk_monitor.py
Due: smoke-tests, detect-dead-code

chore: Update system state metadata from session hooks
  data/system_state.json
Due: verify-strategy-integration

feat: Add brokerage account verification tasks
  .github/workflows/claude-agent-utility.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Update system state metadata from session hooks (#1971)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#1972)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#1973)
  data/system_state.json
Due: verify-strategy-integration

chore: Update prd.json - mark T002, T003, T004, T005 as passing
  .claude/prd.json
Due: none

fix: Resume trading with orphan position safeguards (#1974)
  .github/workflows/daily-trading.yml
  data/system_state.json
  scripts/execute_credit_spread.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration

fix: Use MarketOrderRequest for Alpaca API submit_order calls
  .github/workflows/execute-credit-spread.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Add write permissions to pre-market sync workflow
  .github/workflows/pre-market-sync.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Sync Alpaca paper account status [auto] (#1977)
  data/system_state.json
Due: verify-strategy-integration

feat: Add query-dialogflow task for cross-verification
  .github/workflows/claude-agent-utility.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Sync Alpaca paper account status [auto] (#1981)
  data/system_state.json
Due: verify-strategy-integration

fix: Add git pull --rebase before push in pre-market sync
  .github/workflows/pre-market-sync.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Pre-market sync to use PR instead of direct push
  .github/workflows/pre-market-sync.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Force DialogFlow webhook redeployment with Alpaca credentials (#1978)
  .claude/prd.json
  .secrets.baseline
  data/system_state.json
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

chore: Update system state from session hooks (#1979)
  data/system_state.json
Due: verify-strategy-integration

fix: Add GCP authentication for Dialogflow query task
  .github/workflows/claude-agent-utility.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Add GCP credentials to query-dialogflow task
  .github/workflows/claude-agent-utility.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Sync Alpaca paper account status [auto] (#1985)
  data/system_state.json
Due: verify-strategy-integration

docs(rag): Add LL-230 - Deep research on small account success stories
  rag_knowledge/lessons_learned/ll_230_deep_research_small_account_success_jan16.md
Due: none

chore: Sync GitHub Pages dashboard to Jan 16, 2026 (#1986)
  docs/index.md
Due: none

fix: CRITICAL - Change spread width from $5 to $3 (70% vs 88% break-even)
  .claude/CLAUDE.md
Due: none

docs(rag): Add LL-231 - Failure analysis and prevention rules
  rag_knowledge/lessons_learned/ll_231_failure_analysis_jan16.md
Due: none

docs(dashboard): Add Jan 16 daily report with correct P/L data (#1988)
  data/trades.json
  docs/_reports/2026-01-16-daily-report.md
Due: none

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$
