Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-workflow-secrets:
  name: Validate Workflow Secrets (Zero Tolerance)
  entry: python3 scripts/validate_workflow_secrets.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

detect-dead-code:
  name: Dead Code Detector
  entry: python3 scripts/detect_dead_code.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

verify-strategy-integration:
  name: Verify Strategy Integration (ll_012 Prevention)
  entry: python3 scripts/verify_strategy_integration.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-config-enums:
  name: Validate Config Enum Values (ll_033 Prevention)
  entry: python3 scripts/validate_config_enums.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-trading-script-syntax:
  name: Validate Critical Trading Scripts Syntax (ll_024 Prevention)
  ...

weekend-crypto-workflow-check:
  name: Weekend Crypto Workflow Validation
  entry: python3 -c "import yaml; f=open('.github/workflows/weekend-crypto-trading.yml'); d=yaml.safe_load(f); assert 'PYTHONPATH' in str(d), 'Missing PYTHONPATH'; assert 'CRYPTO_FORCE_TRADE' in str(d), 'Missing CRYPTO_FORCE_TRADE'"
  language: system
  ...

feat: Add PostToolUse auto-formatting and expanded permissions (#1136)
  .claude/settings.json
Due: none

chore: Research agentic metadata infrastructure analysis (#1135)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync system_state.json (#1137)
  data/system_state.json
Due: verify-strategy-integration

feat: Add trade activity monitor (zombie mode detection) (#1138)
  .github/workflows/daily-trading.yml
  scripts/monitor_trade_activity.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

chore: Research agentic metadata + fix ruff formatting (#1139)
  scripts/monitor_trade_activity.py
  src/agents/dialogflow_webhook.py
  tests/test_dialogflow_webhook.py
  tests/test_simple_daily_trader.py
Due: smoke-tests, detect-dead-code

fix: Regenerate poetry.lock to match pyproject.toml (#1140)
  poetry.lock
Due: none

fix: Dialogflow webhook - accurate market hours and trades_today (#1141)
  data/system_state.json
Due: verify-strategy-integration

fix: RAG dual-recording - sync trade lessons to ChromaDB (#1142)
  README.md
  src/observability/trade_sync.py
  src/orchestrator/anomaly_monitor.py
Due: smoke-tests, detect-dead-code

feat: Close the RLHF loop - human feedback now influences trading decisions (#1143)
  src/agents/rl_agent.py
  uv.lock
Due: smoke-tests, detect-dead-code

fix: Apply ruff formatting to pass CI (#1144)
  src/agents/rl_agent.py
  src/observability/trade_sync.py
  src/orchestrator/anomaly_monitor.py
Due: smoke-tests, detect-dead-code

fix: RLHF is for operational feedback only, NOT trading decisions (#1145)
  src/agents/rl_agent.py
Due: smoke-tests, detect-dead-code

feat: Add operational security improvements for LLM budget and failover (#1146)
  scripts/budget_burn_report.py
  scripts/health_monitor.py
  scripts/test_gemini_failover.py
Due: smoke-tests, detect-dead-code

feat: Add accumulation phase awareness to P/L sanity check (#1147)
  scripts/verify_pl_sanity.py
  tests/test_pl_sanity.py
Due: smoke-tests, detect-dead-code

fix: Apply ruff formatting to pass CI
  scripts/verify_pl_sanity.py
  tests/test_pl_sanity.py
Due: smoke-tests, detect-dead-code

fix: Major code cleanup - dead code removal, DRY fixes, critical tests
  .claude/CLAUDE.md
  README.md
  src/analytics/live_vs_backtest_tracker.py
  src/core/broker_health.py
  src/core/uncertainty_tracker.py
  src/observability/trade_evaluator.py
  src/orchestration/adaptive_orchestrator.py
  src/orchestration/elite_orchestrator.py
  src/orchestration/shared_types.py
  src/orchestrator/main.py
  src/risk/hedging.py
  src/risk/unified.py
  src/utils/benchmark_comparison.py
  src/utils/bogleheads_integration.py
  src/utils/finnhub_client.py
  src/utils/logging_config.py
  src/utils/market_hours.py
  src/utils/output_verifier.py
  src/utils/telemetry_summary.py
  src/utils/yfinance_wrapper.py
  tests/test_alpaca_executor.py
  tests/test_rag_ml_operational.py
Due: smoke-tests, detect-dead-code

feat: Add backtest matrix runner with actual trade execution (#1149)
  data/backtests/latest_summary.json
  data/backtests/matrix_core_dca/bond_bear_2022/summary.json
  data/backtests/matrix_core_dca/bond_bull_2020/summary.json
  data/backtests/matrix_core_dca/bond_steepener_2021/summary.json
  data/backtests/matrix_core_dca/bull_run_2024/summary.json
  data/backtests/matrix_core_dca/covid_whiplash_2020/summary.json
  data/backtests/matrix_core_dca/crash_2008_bottom/summary.json
  data/backtests/matrix_core_dca/crash_2008_lehman/summary.json
  data/backtests/matrix_core_dca/crash_2020_covid_march/summary.json
  data/backtests/matrix_core_dca/crash_2020_recovery/summary.json
  data/backtests/matrix_core_dca/crash_2022_fed_tightening/summary.json
  data/backtests/matrix_core_dca/credit_stress_2020/summary.json
  data/backtests/matrix_core_dca/high_vol_2022_q4/summary.json
  data/backtests/matrix_core_dca/holiday_regime_2024/summary.json
  data/backtests/matrix_core_dca/inflation_shock_2022/summary.json
  data/backtests/matrix_core_dca/mixed_asset_2024/summary.json
  data/backtests/matrix_core_dca/sideways_chop_2023/summary.json
  data/backtests/matrix_core_dca/theta_scale_2025/summary.json
  data/backtests/matrix_core_dca/weekend_proxy_2023/summary.json
  data/backtests/matrix_core_dca/yield_curve_inversion_2023/summary.json
  data/system_state.json
  scripts/run_backtest_matrix.py
  src/orchestration/elite_orchestrator.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

feat: Add trading readiness assessment to Dialogflow webhook (#1150)
  .claude/CLAUDE.md
  rag_knowledge/lessons_learned/ll_084_dialogflow_readiness_assessment_jan06.md
  src/agents/dialogflow_webhook.py
  tests/test_dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

fix: Resolve 3 ruff lint errors (#1151)
  scripts/budget_burn_report.py
  tests/test_alpaca_executor.py
  tests/test_pl_sanity.py
Due: smoke-tests, detect-dead-code

style: Apply ruff formatting (#1152)
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

feat: Add RLHF feedback patterns hook (#1153)
  .claude/hooks/surface_feedback_patterns.sh
  .claude/settings.json
  data/system_state.json
  tests/test_surface_feedback_patterns_hook.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

fix: Add Vertex AI RAG dual-recording for anomaly lessons (#1154)
  src/orchestrator/anomaly_monitor.py
Due: smoke-tests, detect-dead-code

style: Apply ruff formatting to test file (#1155)
  tests/test_surface_feedback_patterns_hook.py
Due: smoke-tests, detect-dead-code

fix: Skip tests with missing dependencies to fix CI
  tests/test_dialogflow_webhook.py
  tests/test_telemetry_summary.py
Due: smoke-tests, detect-dead-code

docs: Reorganize CLAUDE.md with categorized permanent directives
  .claude/CLAUDE.md
Due: none

fix: Update ChromaDB API for v0.6.0+ compatibility (#1159)
  scripts/system_health_check.py
Due: smoke-tests, detect-dead-code

chore: Update vectorized files after ChromaDB rebuild (760 docs) (#1160)
  data/vector_db/vectorized_files.json
Due: none

fix: Add GitHub fallback for system state in readiness assessment (#1161)
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

docs: Add End-to-End Verification Protocol after Jan 6 incident (#1162)
  .claude/CLAUDE.md
Due: none

fix: Pre-market health check using non-existent BrokerHealthMonitor (#1163)
  scripts/pre_market_health_check.py
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

fix: Remove pydantic mocking that breaks alpaca-py imports (#1164)
  tests/test_alpaca_executor.py
Due: smoke-tests, detect-dead-code

fix: Restore yfinance_wrapper.py deleted during cleanup (#1165)
  src/utils/yfinance_wrapper.py
Due: smoke-tests, detect-dead-code

fix: Restore logging_config.py + fix RAG blocking trading (#1166)
  .gitignore
  EXECUTE_NOW.md
  docs/_lessons/ll_083_model_selection_research_jan06.md
  scripts/guaranteed_trader.py
  scripts/verify_trading_health.py
  src/utils/logging_config.py
  src/utils/model_selector.py
  tests/test_model_selector.py
Due: smoke-tests, detect-dead-code

fix: Restore additional critical files deleted during cleanup (#1167)
  src/utils/bogleheads_integration.py
  src/utils/finnhub_client.py
  src/utils/telemetry_summary.py
Due: smoke-tests, detect-dead-code

test: Add 25 tests for RAG blocking fix + lesson LL-084 (#1168)
  docs/_lessons/ll_084_rag_blocking_trading_jan06.md
  tests/test_guaranteed_trader_rag.py
Due: smoke-tests, detect-dead-code

fix: Add retry logic for trading data push (#1169)
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Add auto-generated anomaly lesson from testing (#1170)
  rag_knowledge/lessons_learned/ll_anomaly_momentum_rejection_spike_20260106_161236.md
Due: none

chore: Add trades_2026-01-06.json (manual sync after workflow push failures) (#1171)
  data/trades_2026-01-06.json
Due: none

fix: Update system_state.json with Jan 6 2026 trades (#1172)
  data/system_state.json
Due: verify-strategy-integration

feat: Add self-healing data sync via GitHub API (#1173)
  .github/workflows/daily-trading.yml
  docs/_lessons/ll_085_self_healing_data_sync_jan06.md
  scripts/sync_data_to_github.py
  tests/test_sync_data_to_github.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$
