Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

fix: Use DAY time_in_force for options market orders (#2628)
  .github/workflows/emergency-close-options.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Sync Alpaca paper account status [auto] (#2631)
  data/system_state.json
Due: verify-strategy-integration

fix: Add debug logging to emergency close (#2632)
  .github/workflows/emergency-close-options.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Add debug logging and error handling to emergency close (#2633)
  data/system_state.json
  docs/index.md
Due: verify-strategy-integration

chore(data): Update system state sync timestamp (#2634)
  data/system_state.json
Due: verify-strategy-integration

fix(emergency): Add script to close excess long puts
  .github/workflows/close-excess-long-puts.yml
  scripts/close_excess_long_puts.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: Use DAY time_in_force for options (GTC not supported)
  scripts/close_excess_long_puts.py
Due: smoke-tests, detect-dead-code

fix: Use close_position() API instead of submit_order() for closing positions (#2636)
  .github/workflows/emergency-close-options.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Use close_position() API for closing orphan positions (#2637)
  .github/workflows/close-orphan-position.yml
  scripts/close_orphan_put.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

Merge main with close_position() fix for orphan position (#2638)
  CLOSE_ORPHAN.trigger
  data/system_state.json
  docs/index.md
  scripts/close_orphan_spy_puts.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

fix: Add schedule to close-excess-long-puts workflow for auto-healing (#2640)
  .github/workflows/close-excess-long-puts.yml
Due: validate-yaml-strict, validate-workflow-secrets

docs(rag): Add LL-282 - Use close_position() API for orphan positions (#2641)
  rag_knowledge/lessons_learned/ll_282_close_position_api_for_orphans_jan22.md
Due: none

chore: Sync Alpaca paper account status [auto] (#2642)
  data/system_state.json
Due: verify-strategy-integration

fix(emergency): CRISIS - Force close bleeding position (#2643)
  scripts/force_close_position.py
Due: smoke-tests, detect-dead-code

fix(emergency): Add force close workflow (#2645)
  .github/workflows/force-close-position.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix(urgent): Crisis PDT workaround - scheduled close workflow (#2647)
  .github/workflows/scheduled-close-at-market-end.yml
  scripts/close_excess_long_puts.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix(emergency): PDT bypass - close non-daytrade positions workflow (#2648)
  .github/workflows/close-non-daytrade.yml
  scripts/close_non_daytrade.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

🚨 CRISIS: Emergency cancel and close script - runs every 5 min (#2649)
  .github/workflows/force-close-position.yml
  FORCE_CLOSE.trigger
  scripts/emergency_cancel_and_close.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#2653)
  data/system_state.json
Due: verify-strategy-integration

fix: Use correct Alpaca API for get_orders() (#2654)
  scripts/close_non_daytrade.py
Due: smoke-tests, detect-dead-code

fix: Update Alpaca API call
  scripts/close_non_daytrade.py
Due: smoke-tests, detect-dead-code

fix: Use close_position API to properly close long position
  scripts/close_non_daytrade.py
Due: smoke-tests, detect-dead-code

🚨 CRISIS: Use non-daytrade script in force-close workflow (#2656)
  .github/workflows/close-non-daytrade.yml
  .github/workflows/force-close-position.yml
  CLOSE_NONDT.trigger
Due: validate-yaml-strict, validate-workflow-secrets

fix: Try multiple order approaches
  scripts/close_non_daytrade.py
Due: smoke-tests, detect-dead-code

feat(emergency): Add direct close endpoint + Jan 2026 research (#2653) (#2652)
  .github/workflows/close-position-direct.yml
  rag_knowledge/lessons_learned/ll_281_alpaca_api_close_position_bug_jan22.md
  rag_knowledge/research/january_2026_deep_research.md
  scripts/close_position_direct.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

feat(emergency): Add direct close endpoint + Jan 2026 research (#2653) (#2659)
  data/system_state.json
  docs/index.md
Due: verify-strategy-integration

fix(critical): Stop position accumulation - disable trading + fix limits (#2658)
  .github/workflows/daily-trading.yml
  data/system_state.json
  rag_knowledge/lessons_learned/LL-290_Position_Accumulation_Bug_Jan22.md
  scripts/iron_condor_trader.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration

fix(emergency): Add PDT reset workflow with multiple close methods (#2660)
  .github/workflows/emergency-pdt-reset.yml
Due: validate-yaml-strict, validate-workflow-secrets

🚨 CRISIS FIX: PDT bypass logic for close_non_daytrade.py (#2639)
  scripts/close_non_daytrade.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#2662)
  data/system_state.json
Due: verify-strategy-integration

Trigger force-close workflow - PDT bypass active (#2663)
  FORCE_CLOSE.trigger
Due: none

chore: Sync Alpaca paper account status [auto] (#2664)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#2666)
  data/system_state.json
Due: verify-strategy-integration

feat(emergency): Add scheduled position close for Jan 23 (#2667)
  .github/workflows/scheduled-position-close.yml
  rag_knowledge/lessons_learned/ll_281_alpaca_api_close_position_bug_jan22.md
Due: validate-yaml-strict, validate-workflow-secrets

feat(emergency): Add workflow to close profitable SHORT positions (#2670)
  .github/workflows/close-profitable-shorts.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix(critical): Use local trade history for PDT calculation (#2671)
  scripts/close_non_daytrade.py
Due: smoke-tests, detect-dead-code

test: Change unbalanced spread check to warning for emergency states (#2673)
  tests/test_iron_condor_validation.py
Due: smoke-tests, detect-dead-code
