Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

TEST_ACTIONS: verify GitHub Actions works
  .github/workflows/test-actions.yml
Due: validate-yaml-strict

fix(ci): uncomment CodeQL config and disable heavy autobuild
  .github/workflows/codeql-analysis.yml
  tests/test_promotion_gate.py
Due: validate-yaml-strict, smoke-tests

feat: consolidate valuable changes from stale branches
  docs/broker_api_comparison_2025.md
  rag_knowledge/lessons_learned/the_one_thing_trading.md
  rag_knowledge/youtube/insights/YhEPhRIZxUA.json
  scripts/generate_progress_dashboard.py
  scripts/youtube_channels.json
  src/risk/volatility_targeting.py
Due: test-dashboard-output, smoke-tests

fix(ci): Unblock trading + wire RAG into orchestrator (#523)
  .github/workflows/daily-trading.yml
  rag_knowledge/knowledge_index.json
  src/orchestrator/main.py
Due: validate-yaml-strict, smoke-tests

feat: Add verification framework and lessons learned for over-engineering prevention (#509)
  rag_knowledge/lessons_learned/ci_failure_blocked_trading.md
  scripts/verify_system_health.py
Due: smoke-tests

feat: Add intraday scalping for 10x trade frequency (#525)
  .github/workflows/intraday-scalping.yml
  src/strategies/intraday_scalper.py
Due: validate-yaml-strict, smoke-tests

fix(security): resolve CodeQL alerts for tarslip and untrusted-checkout
  .github/workflows/agent-pr-handler.yml
  data/trades_2025-12-11.json
  src/safety/data_backup.py
Due: validate-yaml-strict, smoke-tests

feat: Add 0DTE options scalping for 5x options frequency (#526)
  .github/workflows/options-scalping.yml
  src/strategies/zero_dte_scalper.py
Due: validate-yaml-strict, smoke-tests

fix: Make options workflow EXECUTE trades (#527)
  .github/workflows/options-scalping.yml
Due: validate-yaml-strict

fix: add missing psychology integration functions for LLM trading (#528)
  src/coaching/mental_toughness_coach.py
Due: smoke-tests

feat: add verification systems to prevent import failures (#529)
  rag_knowledge/lessons_learned/ll_011_missing_function_imports_dec11.md
  scripts/pre_merge_gate.py
  tests/test_critical_imports.py
Due: smoke-tests

feat: implement AI agent adaptation (A1/A2 modes) (#530)
  docs/ai-agent-adaptation-plan.md
  src/agents/rl_weight_updater.py
  src/orchestrator/main.py
  src/risk/position_manager.py
Due: smoke-tests

feat: implement theta pivot allocation and loosen promotion gates (#531)
  .github/workflows/ci.yml
  scripts/enforce_promotion_gate.py
  src/core/config.py
  tests/test_safety_gates.py
Due: validate-yaml-strict, smoke-tests

feat: add RAG lessons learned and enhanced verification gates (#532)
  .claude/CLAUDE.md
  rag_knowledge/knowledge_index.json
  rag_knowledge/lessons_learned/ll_011_ai_agent_adaptation_dec11.md
  scripts/pre_merge_gate.py
Due: smoke-tests

feat(opus-4.5): Add effort-based optimization and smart council (#533)
  src/agent_framework/agent_sdk_config.py
  src/core/multi_llm_analysis.py
Due: smoke-tests

feat: add RAG-based code review and ML anomaly detection (#534)
  rag_knowledge/lessons_learned/ll_011_theta_pivot_dec11.md
  src/verification/ml_anomaly_detector.py
  src/verification/rag_code_reviewer.py
Due: smoke-tests

test(opus): Add unit tests and RAG lessons for Opus 4.5 optimization (#535)
  rag_knowledge/lessons_learned/ll_011_opus_45_optimization_dec11.md
  tests/test_opus_optimization.py
Due: smoke-tests

feat: Add FACTS benchmark factuality monitoring for LLM Council (#536)
  rag_knowledge/lessons_learned/ll_011_facts_benchmark_factuality_ceiling.md
  src/core/llm_council_integration.py
  src/verification/__init__.py
  src/verification/factuality_monitor.py
  src/verification/hallucination_prevention.py
  tests/test_factuality_monitor.py
  tests/test_hallucination_prevention.py
Due: smoke-tests

feat: add Vertex AI MCP server for cloud RL management (#537)
  .claude/mcp_config.json
Due: none

feat: Add 5 additional verification measures for hallucination prevention (#538)
  src/dashboard/factuality_dashboard.py
  src/verification/__init__.py
  src/verification/hallucination_alerts.py
  src/verification/model_circuit_breaker.py
  src/verification/position_reconciler.py
  src/verification/signal_backtester.py
  tests/test_additional_verification.py
Due: smoke-tests

feat: Add volatility-adjusted safety module based on Deep Research analysis (#539)
  .claude/skills/youtube-analyzer/SKILL.md
  src/safety/pre_trade_hook.py
  src/safety/volatility_adjusted_safety.py
Due: smoke-tests

feat: Add Brain/Hands decoupled architecture and enhanced verification (#540)
  rag_knowledge/lessons_learned/ll_012_deep_research_safety_improvements_dec11.md
  scripts/pre_merge_gate.py
  src/core/regime_manager.py
Due: smoke-tests

feat: Add critical test coverage for network resilience, concurrency, and load testing (#541)
  .github/workflows/ci.yml
  tests/test_concurrency.py
  tests/test_execution_edge_cases.py
  tests/test_load.py
  tests/test_network_resilience.py
Due: validate-yaml-strict, smoke-tests

feat: Add independent kill switch monitor and zombie order cleanup (#542)
  scripts/independent_kill_switch_monitor.py
  src/safety/zombie_order_cleanup.py
Due: smoke-tests

feat: Add RAG/ML-based verification tests for lessons learned integration (#543)
  tests/test_rag_ml_verification.py
Due: smoke-tests

docs: Add lessons learned for external analysis safety gaps ll_013 (#544)
  rag_knowledge/lessons_learned/ll_013_external_analysis_safety_gaps_dec11.md
Due: none

feat: Gate safety tests, Sharpe fixes, and CI workflow repairs (#545)
  .github/workflows/always-trade.yml
  .github/workflows/debug-trade.yml
  .github/workflows/emergency-trading.yml
  .github/workflows/force-trade.yml
  .github/workflows/health-monitor.yml
  .github/workflows/instant-trade.yml
  .github/workflows/manual-trading-now.yml
  .github/workflows/simple-trade.yml
  scripts/enforce_promotion_gate.py
  scripts/gate_attribution_report.py
  src/backtesting/options_backtest_engine.py
  src/backtesting/performance_report.py
  tests/test_gates_properties.py
  tests/test_risk_invariants.py
Due: validate-yaml-strict, smoke-tests

feat: Add RAG/ML integrated verification for pre-merge safety (#546)
  src/verification/ml_pipeline_safety_checker.py
  src/verification/rag_premerge_validator.py
  tests/test_ml_pipeline_safety.py
  tests/test_rag_integrated_verification.py
Due: smoke-tests

feat: Add critical safety gap tests and post-R&D scaling architecture (#547)
  docs/post-r-and-d-scaling-architecture.md
  tests/test_critical_safety_gaps.py
Due: smoke-tests

feat: Implement 5 critical gate improvements to unblock $100/day path (#548)
  .env.example
  config/regime_gate_thresholds.yaml
  src/risk/trade_gateway.py
  src/safety/circuit_breakers.py
  src/trading/options_executor.py
Due: validate-yaml-strict, smoke-tests

feat: Add unified promotion gate and comprehensive safety tests (#549)
  .github/workflows/lint-yaml.yml
  .github/workflows/promotion-gate.yml
  scripts/fuzz_promotion_gate.py
  scripts/validate_workflows.py
  tests/README_PROMOTION_GATE_TESTS.md
  tests/test_capital_scaling.py
  tests/test_dry_run_invariants.py
  tests/test_promotion_gate_sanity.py
Due: validate-yaml-strict, smoke-tests

feat: Wire up dynamic budget scaling and theta automation (#550)
  .env.example
  docs/verified-action-plan-100-day.md
  scripts/autonomous_trader.py
Due: test-crypto-imports, smoke-tests

docs: Update README with safety testing infrastructure (#551)
  README.md
Due: none

feat: Add critical function coverage verification (#552)
  rag_knowledge/lessons_learned/ll_014_dead_code_dynamic_budget_dec11.md
  scripts/detect_dead_code.py
  tests/test_critical_function_coverage.py
Due: smoke-tests

feat: Add capital scaling enforcement and go-live readiness checker (#553)
  .github/workflows/capital-scaling-check.yml
  config/go_live_checklist.json
  docs/promotion_gate_scaling_feature.md
  scripts/check_go_live_readiness.py
  scripts/enforce_promotion_gate.py
Due: validate-yaml-strict, smoke-tests

feat: Add comprehensive safety test matrix from repo reassessment (#554)
  .github/workflows/ci.yml
  scripts/compliance_audit.py
  scripts/rollback_test.py
  scripts/shadow_live.py
  tests/test_safety_matrix.py
Due: validate-yaml-strict, smoke-tests

feat: Add RAG/ML-powered safety tests that learn from past mistakes (#555)
  .github/workflows/ci.yml
  scripts/generate_regression_tests.py
  tests/test_rag_ml_safety.py
Due: validate-yaml-strict, smoke-tests

feat: Add comprehensive safety tests and capital scaling automation (#556)
  docs/test_e2e_smoke_guide.md
  scripts/capital_scaling_policy.py
  scripts/generate_world_class_dashboard_enhanced.py
  tests/test_e2e_smoke.py
  tests/test_orchestrator_gates.py
  tests/test_pl_sanity_regression.py
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests

feat: Implement AI-friendly repo structure (Dec 2025 standards) (#557)
  AGENTS.md
  docs/ai-agent-coordination-research-2025.md
  docs/ai-coordination-quick-wins.md
  docs/ai-friendly-repo-guide.md
  llms.txt
  src/ml/AGENTS.md
  src/orchestrator/AGENTS.md
  src/safety/AGENTS.md
  src/strategies/AGENTS.md
  tests/AGENTS.md
Due: none

feat: Add RAG/ML-powered safety tests and pre-merge verification (#558)
  rag_knowledge/lessons_learned/ll_015_ai_friendly_repo_structure_dec11.md
  scripts/rag_premerge_check.py
  tests/test_auto_learn_from_failures.py
Due: smoke-tests

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
