Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-workflow-secrets:
  name: Validate Workflow Secrets (Zero Tolerance)
  entry: python3 scripts/validate_workflow_secrets.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

detect-dead-code:
  name: Dead Code Detector
  entry: python3 scripts/detect_dead_code.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

verify-strategy-integration:
  name: Verify Strategy Integration (ll_012 Prevention)
  entry: python3 scripts/verify_strategy_integration.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-config-enums:
  name: Validate Config Enum Values (ll_033 Prevention)
  entry: python3 scripts/validate_config_enums.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-trading-script-syntax:
  name: Validate Critical Trading Scripts Syntax (ll_024 Prevention)
  ...

weekend-crypto-workflow-check:
  name: Weekend Crypto Workflow Validation
  entry: python3 -c "import yaml; f=open('.github/workflows/weekend-crypto-trading.yml'); d=yaml.safe_load(f); assert 'PYTHONPATH' in str(d), 'Missing PYTHONPATH'; assert 'CRYPTO_FORCE_TRADE' in str(d), 'Missing CRYPTO_FORCE_TRADE'"
  language: system
  ...

fix: Use MLeg orders for iron condor to prevent partial fills (#3059)
  data/system_state.json
  docs/index.md
  scripts/iron_condor_trader.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

fix: Use MLeg orders for iron condor to prevent partial fills (#3060)
  FORCE_IRON_CONDOR.md
  data/system_state.json
  scripts/iron_condor_trader.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3061)
  data/system_state.json
Due: verify-strategy-integration

chore: Trigger close all orphan options [auto] (#3062)
  .github/workflows/close-orphan-position.yml
  CLOSE_ORPHAN.trigger
  data/system_state.json
  scripts/close_all_options.py
  scripts/iron_condor_trader.py
  tests/test_iron_condor_validation.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3064)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3066)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3067)
  data/system_state.json
Due: verify-strategy-integration

chore: Update feedback model [auto] (#3068)
  models/ml/feedback_model.json
Due: none

chore: Sync Alpaca paper account status [auto] (#3069)
  data/system_state.json
Due: verify-strategy-integration

fix: Use correct secret names in close-orphan workflow (#3071)
  .github/workflows/close-orphan-position.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Use correct 30K secrets in close-orphan workflow
  .github/workflows/close-orphan-position.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore(data): Update system state sync timestamp (#3070)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3073)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3075)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3076)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3077)
  data/system_state.json
Due: verify-strategy-integration

chore: Update feedback model [auto] (#3078)
  models/ml/feedback_model.json
Due: none

chore: Sync Alpaca paper account status [auto] (#3079)
  data/system_state.json
Due: verify-strategy-integration

fix(workflow): Use 30K secret names for iron condor - CRITICAL
  .github/workflows/force-iron-condor.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Sync Alpaca paper account status [auto] (#3080)
  data/system_state.json
Due: verify-strategy-integration

chore(data): Update system state sync timestamp (#3081)
  data/system_state.json
Due: verify-strategy-integration

chore(data): Update system state sync timestamp (#3082)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3084)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3085)
  data/system_state.json
Due: verify-strategy-integration

fix(hooks): Align Claude Code hooks with official documentation (#3086)
  .claude/hooks/auto_run_tests.sh
  .claude/hooks/format_python.sh
  .claude/hooks/protect_critical_files.sh
  .claude/hooks/ralph_stop_hook.sh
  .claude/settings.json
Due: none

chore: Sync Alpaca paper account status [auto] (#3087)
  data/system_state.json
Due: verify-strategy-integration

chore(rag): Add LL-318 - CTO wrong repo confusion lesson
  rag_knowledge/lessons_learned/LL-318_CTO_Wrong_Repo_Confusion_Jan26.md
Due: none

chore: Sync Alpaca paper account status [auto] (#3088)
  data/system_state.json
Due: verify-strategy-integration

chore: Pre-market data sync [auto] (#3089)
  data/heartbeat.json
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3090)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3091)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3092)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3093)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3094)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3095)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3096)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3097)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3098)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3099)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#3100)
  data/system_state.json
Due: verify-strategy-integration

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$
