Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

feat: Add Phil Town Rule #1 knowledge to RAG
  rag_knowledge/books/phil_town_rule_one.md
  rag_knowledge/youtube/insights/options_education_sources.json
Due: none

Checkpoint before follow-up message
  src/main.py
  src/orchestration/elite_orchestrator.py
  src/orchestration/mcp_trading.py
  src/orchestrator/agents.py
  src/orchestrator/failure_isolation.py
Due: smoke-tests, detect-dead-code

feat: Add Position Enforcer - closes positions that violate lessons
  src/safety/position_enforcer.py
Due: smoke-tests, detect-dead-code

fix: Delete dormant AI systems and wire in PositionEnforcer
  scripts/autonomous_trader.py
  src/agent_framework/__init__.py
  src/agent_framework/agent0_coevolution_engine.py
  src/agent_framework/agent0_curriculum_agent.py
  src/agent_framework/agent0_executor_agent.py
  src/agent_framework/agent0_integration.py
  src/agent_framework/agent_blueprints.py
  src/agent_framework/agent_sdk_config.py
  src/agent_framework/auditor.py
  src/agent_framework/base.py
  src/agent_framework/coevolution_engine.py
  src/agent_framework/context.py
  src/agent_framework/context_engine.py
  src/agent_framework/curriculum_agent.py
  src/agent_framework/executor_agent.py
  src/agent_framework/state.py
  src/agents/stirrup_market_scanner.py
  src/core/llm_council_integration.py
  src/core/multi_llm_analysis.py
  src/core/multi_llm_analysis_optimized.py
Due: test-crypto-imports, smoke-tests, detect-dead-code, verify-strategy-integration, validate-trading-script-syntax

fix: Remove broken imports from deleted agent_framework
  src/orchestrator/failure_isolation.py
Due: smoke-tests, detect-dead-code

feat: Integrate Go ADK multi-agent system into TradingOrchestrator (#761)
  src/orchestrator/main.py
Due: smoke-tests, detect-dead-code

fix: Correct syntax errors from agent_framework removal
  src/main.py
  src/orchestration/elite_orchestrator.py
  src/orchestration/mcp_trading.py
Due: smoke-tests, detect-dead-code

fix: Add agent_framework stubs to prevent import errors
  src/agent_framework_stubs.py
  src/main.py
  src/orchestration/elite_orchestrator.py
  src/orchestration/mcp_trading.py
  src/orchestrator/agents.py
  src/orchestrator/failure_isolation.py
  src/safety/position_enforcer.py
Due: smoke-tests, detect-dead-code

fix: Remove MultiLLMAnalyzer import and usage from TradingOrchestrator
  src/orchestrator/main.py
Due: smoke-tests, detect-dead-code

feat: Add ADK service startup script for pre-market launch (#762)
  scripts/start_adk_service.sh
Due: none

fix: stop silent scalping failures + fix agent-review install (#766)
  .github/workflows/agent-pr-handler.yml
  .github/workflows/intraday-scalping.yml
  .github/workflows/options-scalping.yml
  src/orchestrator/main.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: add trading diagnostic and trigger scheduler fix
  .github/TRIGGER_DAILY_TRADING
  scripts/diagnose_trading.py
Due: smoke-tests, detect-dead-code

feat: add update_system_state.py for data sync reliability
  scripts/update_system_state.py
Due: smoke-tests, detect-dead-code

fix: use PAT_TOKEN for scheduler heartbeat commits
  .github/workflows/scheduler-heartbeat.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: account-status workflow uses alpaca-py and syncs system_state
  .github/workflows/account-status.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Add trading activity monitoring and verification (#771)
  .github/workflows/verify-trading.yml
  data/backtests/latest_summary.json
  scripts/check_trading_activity.sh
Due: validate-yaml-strict, validate-workflow-secrets

fix: Comprehensive trading reliability improvements (#772)
  .github/workflows/heartbeat-alert.yml
  HEARTBEAT_SYSTEM_SUMMARY.md
  docs/heartbeat-alerting.md
  scripts/README_heartbeat.md
  scripts/diagnose_trading.py
  scripts/heartbeat_alert.py
  scripts/local_trading_cron.sh
  src/core/alpaca_trader.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: DatetimeIndex and dynamic backtest status fixes (#773)
  .claude/hooks/inject_trading_context.sh
  rag_knowledge/youtube/llm_trading_competition_research.md
  src/utils/data_hygiene.py
Due: smoke-tests, detect-dead-code

feat: hybrid LSTM-Transformer forecaster + reliability fixes (#775)
  src/ml/forecasters/__init__.py
  src/ml/forecasters/lstm_transformer.py
  src/strategies/core_strategy.py
  tests/test_lstm_transformer_forecaster.py
Due: smoke-tests, detect-dead-code

fix: Check last_trade_date not last_updated for duplicate detection (#777)
  data/system_state.json
  scripts/check_duplicate_execution.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

feat: Add daily trade verification system (#779)
  .github/workflows/daily-trading.yml
  scripts/daily_verification.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

feat: Add world's simplest learning system (~250 lines) (#780)
  src/learning/__init__.py
  src/learning/thompson_sampler.py
  src/learning/trade_memory.py
Due: smoke-tests, detect-dead-code

fix: Add stub modules for deleted dependencies (#782)
  src/agent_framework/__init__.py
  src/agent_framework/context_engine.py
  src/agent_framework_stubs.py
  src/analytics/__init__.py
  src/analytics/daily_performance_tracker.py
  src/backtesting/__init__.py
  src/backtesting/backtest_engine.py
  src/coaching/__init__.py
  src/coaching/mental_toughness_coach.py
  src/coaching/reflexion_loop.py
  src/deepagents_integration/__init__.py
  src/langchain_agents/__init__.py
  src/langchain_agents/analyst.py
  src/ml/__init__.py
  src/ml/data_processor.py
  src/ml/disco_dqn_agent.py
  src/ml/dqn_agent.py
  src/ml/ensemble_rl.py
  src/ml/inference.py
  src/ml/market_regime_detector.py
  src/ml/multi_step_learning.py
  src/ml/reward_functions.py
  src/rag/__init__.py
  src/rag/collectors/__init__.py
  src/rag/collectors/fred_collector.py
  src/rag/collectors/mcmillan_options_collector.py
  src/rag/hindsight_adapter.py
  src/rag/lessons_learned_rag.py
  src/rag/options_book_retriever.py
  src/rag/sentiment_store.py
  src/rag/vector_db/__init__.py
  src/rag/vector_db/retriever.py
  src/safety/__init__.py
  src/safety/chaos_monkey.py
  src/safety/failover_system.py
  src/safety/mandatory_trade_gate.py
  src/safety/volatility_adjusted_safety.py
  src/strategies/legacy_momentum.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

feat: Add guaranteed trading system - WILL EXECUTE (#783)
  .github/workflows/daily-trading.yml
  scripts/guaranteed_trader.py
  scripts/iron_condor_trader.py
  scripts/simple_daily_trader.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: Repair 3 critical bugs blocking all trading (#784)
  .claude/CLAUDE.md
  .claude/hooks/inject_trading_context.sh
  feature_list.json
  src/backtesting/backtest_engine.py
  src/backtesting/backtest_results.py
  src/safety/pre_trade_smoke_test.py
Due: smoke-tests, detect-dead-code

fix: Add CoreStrategy stub to fix CI import errors (#785)
  src/strategies/core_strategy.py
Due: smoke-tests, detect-dead-code

fix: Add missing macd_threshold attribute (#786)
  src/strategies/legacy_momentum.py
Due: smoke-tests, detect-dead-code

fix: Add missing stub methods (#787)
  src/agent_framework_stubs.py
  src/safety/failover_system.py
Due: smoke-tests, detect-dead-code

fix: Add missing stub methods (#788)
  src/coaching/mental_toughness_coach.py
  src/rag/lessons_learned_rag.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

fix: Add all missing ContextEngine stub methods (#789)
  src/agent_framework_stubs.py
Due: smoke-tests, detect-dead-code

feat: Activate dormant strategies + calendar awareness + SessionEnd (#792)
  .claude/hooks/inject_trading_context.sh
  .claude/settings.json
  .github/workflows/daily-trading.yml
  rag_knowledge/lessons_learned/ll_051_calendar_awareness_critical_dec19.md
  rag_knowledge/lessons_learned/ll_052_no_crypto_trading_dec19.md
  scripts/rule_one_trader.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

data: Add today's trade log (simulated iron condor) (#793)
  data/trades_2025-12-19.json
Due: none

feat: Add Phil Town knowledge ingestion pipeline (#794)
  .github/workflows/phil-town-ingestion.yml
  data/blog_cache/.gitkeep
  rag_knowledge/blogs/phil_town/.gitkeep
  rag_knowledge/podcasts/phil_town/.gitkeep
  scripts/ingest_phil_town_blog.py
  scripts/ingest_phil_town_youtube.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: Add aggressive Friday warning - TOMORROW IS SATURDAY (#795)
  .claude/hooks/inject_trading_context.sh
Due: none

feat: Integrate Sentry error monitoring with Slack alerts (#796)
  .env.example
  requirements.txt
  scripts/guaranteed_trader.py
  scripts/health_monitor.py
  scripts/iron_condor_trader.py
  scripts/rule_one_trader.py
  scripts/simple_daily_trader.py
  src/utils/error_monitoring.py
Due: smoke-tests, detect-dead-code
