Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-workflow-secrets:
  name: Validate Workflow Secrets (Zero Tolerance)
  entry: python3 scripts/validate_workflow_secrets.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

detect-dead-code:
  name: Dead Code Detector
  entry: python3 scripts/detect_dead_code.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

verify-strategy-integration:
  name: Verify Strategy Integration (ll_012 Prevention)
  entry: python3 scripts/verify_strategy_integration.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-config-enums:
  name: Validate Config Enum Values (ll_033 Prevention)
  entry: python3 scripts/validate_config_enums.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-trading-script-syntax:
  name: Validate Critical Trading Scripts Syntax (ll_024 Prevention)
  ...

weekend-crypto-workflow-check:
  name: Weekend Crypto Workflow Validation
  entry: python3 -c "import yaml; f=open('.github/workflows/weekend-crypto-trading.yml'); d=yaml.safe_load(f); assert 'PYTHONPATH' in str(d), 'Missing PYTHONPATH'; assert 'CRYPTO_FORCE_TRADE' in str(d), 'Missing CRYPTO_FORCE_TRADE'"
  language: system
  ...

docs(rag): Record lesson LL-147 - Dialogflow analytical query routing (#1579)
  rag_knowledge/lessons_learned/ll_147_dialogflow_analytical_query_routing_jan13.md
Due: none

refactor: Consolidate Alpaca client DRY violations (#1580)
  scripts/daily_verification.py
  scripts/execute_credit_spread.py
  scripts/execute_options_trade.py
  scripts/guaranteed_trader.py
  scripts/record_account_to_rag.py
  scripts/simple_daily_trader.py
  src/risk/slippage_model.py
  src/risk/target_aligned_sizing.py
  src/utils/alpaca_client.py
Due: smoke-tests, detect-dead-code

fix: Add lessons to GitHub Pages blog + fix duplicate IDs (#1581)
  docs/index.md
  docs/lessons.md
  rag_knowledge/lessons_learned/ll_148_day74_emergency_fix_jan13.md
  rag_knowledge/lessons_learned/ll_149_rag_system_analysis_jan13.md
  rag_knowledge/lessons_learned/ll_150_sandbox_vs_github_api_access_jan12.md
  rag_knowledge/lessons_learned/ll_151_safe_dead_code_cleanup_jan13.md
  rag_knowledge/lessons_learned/ll_152_zero_options_buying_power_root_cause_jan13.md
Due: none

fix: Add MIN_CAPITAL constant to PositionSizing (#1582)
  src/constants/trading_thresholds.py
Due: smoke-tests, detect-dead-code

fix(ci): Remove non-existent test file blocking ALL trades (#1583)
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict, validate-workflow-secrets

refactor: Add centralized TargetSymbols constant (#1584)
  scripts/guaranteed_trader.py
  src/constants/trading_thresholds.py
Due: smoke-tests, detect-dead-code

ci: Enforce CLAUDE.md no-markdown rule (#1585)
  .github/workflows/ci.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix(critical): Remove missing test files blocking ALL trading (#1586)
  .github/workflows/ci.yml
  rag_knowledge/lessons_learned/ll_148_missing_test_files_blocking_trading_jan13.md
Due: validate-yaml-strict, validate-workflow-secrets

feat(learning): Add Reflexion-based auto failure reflection system (#1588)
  src/execution/alpaca_executor.py
  src/learning/failure_reflection.py
Due: smoke-tests, detect-dead-code

chore: Delete 4 unnecessary markdown files (#1589)
  data/rag/berkshire_letters/README.md
  docs/404.md
  rag_knowledge/market_intel/README.md
  src/orchestrator/AGENTS.md
Due: none

docs(rag): Record lesson LL-153 - Technical debt audit findings (#1590)
  rag_knowledge/lessons_learned/ll_153_technical_debt_audit_jan13.md
Due: none

chore: Fix RAG lesson ID collisions and remove duplicates (#1591)
  rag_knowledge/lessons_learned/ll_134_options_buying_power_zero_jan12.md
  rag_knowledge/lessons_learned/ll_146_gcp_key_security_fix_jan13.md
  rag_knowledge/lessons_learned/ll_151_advanced_rag_techniques_assessment_jan13.md
  rag_knowledge/lessons_learned/ll_155_technical_debt_audit_jan13.md
  rag_knowledge/lessons_learned/ll_157_dialogflow_analytical_query_routing_jan13.md
  rag_knowledge/lessons_learned/ll_158_day74_emergency_fix_jan13.md
  rag_knowledge/lessons_learned/ll_159_safe_dead_code_cleanup_jan13.md
  rag_knowledge/lessons_learned/ll_161_zero_options_buying_power_root_cause_jan13.md
  rag_knowledge/lessons_learned/ll_162_rag_system_analysis_jan13.md
  rag_knowledge/lessons_learned/ll_163_sandbox_vs_github_api_access_jan12.md
Due: none

feat(blog): Add 6 real blog posts for discovery and SEO (#1592)
  docs/_posts/2025-11-01-day-1-starting-ai-trading-journey.md
  docs/_posts/2025-11-15-ai-trading-architecture.md
  docs/_posts/2025-12-15-building-rag-memory-system.md
  docs/_posts/2026-01-06-day-67-switching-to-5k-account.md
  docs/_posts/2026-01-12-technical-debt-cleanup.md
  docs/_posts/2026-01-13-day-74-spy-to-sofi-emergency-fix.md
  docs/index.md
  rag_knowledge/lessons_learned/ll_143_investment_strategy_audit_jan12.md
Due: none

feat: Add critical tests and DRY utilities for operational security (#1593)
  src/utils/logging_setup.py
  src/utils/options_analysis.py
  src/utils/trade_recorder.py
  tests/test_pre_trade_smoke_test.py
  tests/test_risk_manager.py
  tests/test_session_manager.py
Due: smoke-tests, detect-dead-code

fix: Add market hours check and enhance Dialogflow diagnostics (#1594)
  data/rag/lessons_learned.json
  scripts/simple_daily_trader.py
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

feat: Fix CI blocking + add trading verification (#1595)
  .github/workflows/auto-pr.yml
  .github/workflows/ci.yml
  TRIGGER_TRADE.md
  rag_knowledge/lessons_learned/ll_153_ci_missing_tests_jan13.md
  scripts/create_and_merge_pr.py
  scripts/validate_test_references.py
  scripts/verify_trading_operational.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix(critical): Enable Vertex AI in Dialogflow webhook (#1596)
  .github/workflows/deploy-dialogflow-webhook.yml
  Dockerfile.webhook
  rag_knowledge/lessons_learned/ll_166_dialogflow_vertex_ai_missing_jan13.md
Due: validate-yaml-strict, validate-workflow-secrets

fix(ci): Update agent-health-check to reference existing files (#1597)
  .github/workflows/agent-health-check.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Record tech debt audit findings in RAG (ll_154) (#1598)
  rag_knowledge/lessons_learned/ll_154_tech_debt_audit_jan13.md
Due: none

fix(ci): Handle missing .claude/skills directory gracefully (#1599)
  scripts/validate_skills.py
Due: smoke-tests, detect-dead-code

fix(dialogflow): Show warning when automation fix pending (#1600)
  data/system_state.json
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

refactor: Tech debt cleanup - remove dead code (#1601)
  src/ml/__init__.py
  src/orchestrator/gates.py
Due: smoke-tests, detect-dead-code

docs(rag): Record lesson LL-167 comprehensive tech debt audit (#1602)
  rag_knowledge/lessons_learned/ll_167_comprehensive_tech_debt_audit_jan13.md
Due: none

feat(dialogflow): Add CI status check to readiness assessment (v3.2.0) (#1603)
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

fix: Restore should_checkpoint import in gates.py
  src/orchestrator/gates.py
Due: smoke-tests, detect-dead-code

fix: Resolve CI lint error and workflow integrity check (#1604)
  .github/workflows/ci.yml
  src/orchestrator/gates.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: Add list_all() to StrategyRegistry and allow heartbeat.json (#1608)
  .gitignore
  src/strategies/registry.py
Due: smoke-tests, detect-dead-code, validate-config-enums

fix: Remove src module dependency from cancel_stale_orders.py (#1609)
  scripts/cancel_stale_orders.py
Due: smoke-tests, detect-dead-code

fix(risk): Use limit orders for options stop-loss (Alpaca limitation) (#1610)
  scripts/set_trailing_stops.py
Due: smoke-tests, detect-dead-code

docs(rag): Record lesson LL-168 Alpaca options no trailing stop (#1611)
  rag_knowledge/lessons_learned/ll_168_alpaca_options_no_trailing_stop_jan13.md
Due: none

fix: Auto-register PhilTownCSP strategy for health checks (#1612)
  src/strategies/registry.py
Due: smoke-tests, detect-dead-code, validate-config-enums

fix: Cancel ALL orders to restore buying power (#1613)
  scripts/cancel_stale_orders.py
Due: smoke-tests, detect-dead-code

fix: Add missing src/ml/__init__.py for health check (#1614)
  src/ml/__init__.py
Due: smoke-tests, detect-dead-code

fix: Address critical technical debt issues (#1615)
  rag_knowledge/lessons_learned/ll_169.md
  rag_knowledge/lessons_learned/ll_170_technical_debt_audit_jan13.md
  src/risk/trade_gateway.py
Due: smoke-tests, detect-dead-code

feat: Add trading verification + trigger trade execution (#1617)
  .github/workflows/emergency-simple-trade.yml
  .github/workflows/merge-branch.yml
  TRIGGER_TRADE.md
  data/rag/lessons_learned.json
  data/system_state.json
  data/trades_2026-01-13.json
  scripts/guaranteed_trader.py
  scripts/set_put_stop_loss.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration

fix: Use GetOrdersRequest for alpaca-py get_orders API (#1620)
  scripts/cancel_stale_orders.py
Due: smoke-tests, detect-dead-code

fix: Update test for MAX_ORDER_AGE_HOURS=0 policy (#1619)
  tests/test_cancel_stale_orders.py
Due: smoke-tests, detect-dead-code

fix(risk): Add Rule #1 protection - NEVER add to losing positions
  scripts/guaranteed_trader.py
Due: smoke-tests, detect-dead-code

chore(rag): Record Rule #1 violation lesson
  data/rag/lessons_learned.json
Due: none

fix(data): Update system_state with current positions and P/L
  data/system_state.json
Due: verify-strategy-integration

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$
