Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-workflow-secrets:
  name: Validate Workflow Secrets (Zero Tolerance)
  entry: python3 scripts/validate_workflow_secrets.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

detect-dead-code:
  name: Dead Code Detector
  entry: python3 scripts/detect_dead_code.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

verify-strategy-integration:
  name: Verify Strategy Integration (ll_012 Prevention)
  entry: python3 scripts/verify_strategy_integration.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-config-enums:
  name: Validate Config Enum Values (ll_033 Prevention)
  entry: python3 scripts/validate_config_enums.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-trading-script-syntax:
  name: Validate Critical Trading Scripts Syntax (ll_024 Prevention)
  ...

weekend-crypto-workflow-check:
  name: Weekend Crypto Workflow Validation
  entry: python3 -c "import yaml; f=open('.github/workflows/weekend-crypto-trading.yml'); d=yaml.safe_load(f); assert 'PYTHONPATH' in str(d), 'Missing PYTHONPATH'; assert 'CRYPTO_FORCE_TRADE' in str(d), 'Missing CRYPTO_FORCE_TRADE'"
  language: system
  ...

feat: ML reporting, RAG fix, and combined trading strategy (#1002)
  .claude/CLAUDE.md
  data/system_state.json
  docs/COMBINED_STRATEGY.md
  src/orchestrator/ml_report_generator.py
  tests/test_ml_report_generator.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

style: Fix lint errors in ML report generator (#1003)
  src/orchestrator/ml_report_generator.py
  tests/test_ml_report_generator.py
Due: smoke-tests, detect-dead-code

test: Add 100% test coverage for feedback training pipeline (#1005)
  docs/_lessons/ll_073_feedback_training_pipeline_jan03.md
  tests/test_feedback_pipeline.py
Due: smoke-tests, detect-dead-code

fix: RAG operational safeguards and capital protection rule (#1006)
  .claude/hooks/verify_vector_db.sh
  data/system_state.json
  data/vector_db/vectorized_files.json
  scripts/verify_rag_operational.py
  src/rag/lessons_search.py
  tests/test_rag_operational.py
Due: test-crypto-imports, smoke-tests, detect-dead-code, verify-strategy-integration

chore: Update system state sync timestamp (#1007)
  data/system_state.json
Due: verify-strategy-integration

fix: Update GitHub Pages with current portfolio data (#1008)
  docs/index.md
Due: none

style: Fix lint errors detected by Ruff linter (#1009)
  data/system_state.json
  src/learning/__init__.py
  tests/test_feedback_pipeline.py
  tests/test_rag_operational.py
  tests/test_trading_context_hook.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

style: Apply Ruff formatter to pass CI checks (#1012)
  scripts/train_from_feedback.py
  scripts/verify_rag_operational.py
  src/learning/feedback_trainer.py
  src/learning/reward_shaper.py
  tests/test_feedback_pipeline.py
  tests/test_rag_operational.py
  tests/test_trading_context_hook.py
Due: smoke-tests, detect-dead-code

fix: Reset to real brokerage trading with $10/day (#1013)
  data/performance_log.json
  scripts/generate_progress_dashboard.py
Due: test-dashboard-output, smoke-tests, detect-dead-code

fix: Make tests CI-compatible with skip conditions (#1015)
  tests/test_ml_report_generator.py
  tests/test_rag_operational.py
Due: smoke-tests, detect-dead-code

fix: Handle None values in dashboard generation to prevent TypeError (#1014)
  scripts/generate_world_class_dashboard_enhanced.py
  tests/test_dashboard_none_handling.py
Due: test-dashboard-metrics, test-dashboard-output, smoke-tests, detect-dead-code

style: Fix lint errors in test_dashboard_none_handling.py (#1016)
  tests/test_dashboard_none_handling.py
Due: smoke-tests, detect-dead-code

feat: Auto-update GitHub Pages to prevent stale data (#1011)
  .github/workflows/daily-trading.yml
  docs/_lessons/ll_074_github_pages_stale_data_jan03.md
  scripts/update_github_pages.py
  tests/test_update_github_pages.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

chore: Auto-update GitHub Pages with current portfolio data (#1017)
  docs/index.md
Due: none

chore: Add RAG lesson for dashboard None value TypeError (#1018)
  data/rag/lessons_learned.json
Due: none

fix: Update dashboard to reflect $20 portfolio reset (#1019)
  data/system_state.json
  docs/index.md
Due: verify-strategy-integration

feat: Track both paper and real brokerage accounts (#1021)
  data/system_state.json
  docs/index.md
Due: verify-strategy-integration

fix: Add blank lines before markdown tables for Jekyll rendering (#1024)
  docs/index.md
Due: none

chore: Add lesson ll_075 - API credential validation (#1025)
  rag_knowledge/lessons_learned/ll_075_api_credential_validation_jan03.md
Due: none

fix: Remove stale bond positions from system state (#1026)
  data/system_state.json
Due: verify-strategy-integration

chore: Update vectorized files after RAG rebuild (#1027)
  data/vector_db/vectorized_files.json
Due: none

feat: Add 100% transparency to blog and dashboard (#1028)
  docs/index.md
  docs/progress_dashboard.md
Due: none

docs: Simplify blog - focus on what works (#1029)
  docs/index.md
Due: none

fix: Update ChromaDB test for v0.6.0 API (#1030)
  tests/test_rag_vector_db.py
Due: smoke-tests, detect-dead-code

chore: Add lesson ll_076 - ChromaDB API breaking changes (#1031)
  data/vector_db/vectorized_files.json
  docs/_lessons/ll_076_chromadb_api_changes_jan04.md
Due: none

chore: Update system state timestamp from session sync (#1032)
  data/system_state.json
Due: verify-strategy-integration

feat: Add live trading mode support to daily-trading workflow (#1033)
  .github/workflows/daily-trading.yml
  data/system_state.json
  docs/LIVE_TRADING_SETUP.md
Due: validate-yaml-strict, validate-workflow-secrets, verify-strategy-integration

fix: Delete all hardcoded Dialogflow intents causing fake responses (#1034)
  .github/workflows/fix-vertex-ai-agent.yml
  tests/test_dialogflow_webhook.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: Fix ruff linting errors in dialogflow webhook tests (#1035)
  tests/test_dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

fix: Apply ruff formatting to dialogflow webhook tests (#1036)
  tests/test_dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

chore: Update system state timestamp from session sync (#1037)
  data/system_state.json
Due: verify-strategy-integration

fix: Add proper validation to Vertex AI fix workflow (#1039)
  .github/workflows/fix-vertex-ai-agent.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Update system state timestamps from session sync (#1040)
  data/system_state.json
Due: verify-strategy-integration

fix: Update workflows to use correct Alpaca secret names (#1041)
  .github/workflows/ci.yml
  .github/workflows/daily-blog-post.yml
  .github/workflows/daily-trading.yml
  .github/workflows/immediate-trade.yml
  .github/workflows/pre-market-sync.yml
  docs/LIVE_TRADING_SETUP.md
Due: validate-yaml-strict, validate-workflow-secrets

chore: Update system state timestamps from session sync (#1045)
  data/system_state.json
Due: verify-strategy-integration

fix: Update system_state.json with verified Alpaca data from screenshots (#1046)
  data/system_state.json
Due: verify-strategy-integration

chore: Update system state timestamp from session sync
  data/system_state.json
Due: verify-strategy-integration

feat: Show trading positions on blog + sync accounts (#1048)
  data/system_state.json
  data/vector_db/vectorized_files.json
  docs/index.md
  docs/progress_dashboard.md
  rag_knowledge/lessons_learned/ll_077_never_claim_verified_credentials_broken.md
  rag_knowledge/lessons_learned/ll_078_system_lying_trust_crisis.md
  scripts/sync_alpaca_state.py
  scripts/update_blog_positions.py
  tests/test_sync_alpaca_positions.py
  tests/test_update_blog_positions.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$
