Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-workflow-secrets:
  name: Validate Workflow Secrets (Zero Tolerance)
  entry: python3 scripts/validate_workflow_secrets.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

detect-dead-code:
  name: Dead Code Detector
  entry: python3 scripts/detect_dead_code.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

verify-strategy-integration:
  name: Verify Strategy Integration (ll_012 Prevention)
  entry: python3 scripts/verify_strategy_integration.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-config-enums:
  name: Validate Config Enum Values (ll_033 Prevention)
  entry: python3 scripts/validate_config_enums.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-trading-script-syntax:
  name: Validate Critical Trading Scripts Syntax (ll_024 Prevention)
  ...

weekend-crypto-workflow-check:
  name: Weekend Crypto Workflow Validation
  entry: python3 -c "import yaml; f=open('.github/workflows/weekend-crypto-trading.yml'); d=yaml.safe_load(f); assert 'PYTHONPATH' in str(d), 'Missing PYTHONPATH'; assert 'CRYPTO_FORCE_TRADE' in str(d), 'Missing CRYPTO_FORCE_TRADE'"
  language: system
  ...

fix(webhook): Update .dockerignore to include files needed by webhook (#1290)
  .dockerignore
Due: none

fix(dashboard): Update to show correct $5K paper balance after Jan 7 reset (#1292)
  data/system_state.json
  docs/progress_dashboard.md
Due: verify-strategy-integration

fix: Remove ChromaDB + add alpaca_client tests (#1293)
  .github/workflows/claude-agent-utility.yml
  data/system_state.json
  requirements-minimal.txt
  tests/test_alpaca_client.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration

fix(lint): Remove unused imports and fix formatting (#1296)
  tests/test_alpaca_client.py
Due: smoke-tests, detect-dead-code

fix: Correct stale dashboard data after paper account reset (#1297)
  data/system_state.json
  docs/index.md
Due: verify-strategy-integration

fix(data): Add self-healing system for data integrity (#1299)
  .github/workflows/daily-trading.yml
  data/system_state.json
  docs/index.md
  docs/progress_dashboard.md
  rag_knowledge/lessons_learned/ll_112_self_healing_data_integrity_jan08.md
  scripts/self_heal_data.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration

fix(ci): Remove remaining ChromaDB references from workflows (#1300)
  .github/workflows/phil-town-ingestion.yml
  .github/workflows/weekend-learning.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix(honesty): Stop lying about win rate and data integrity (#1301)
  .claude/hooks/inject_trading_context.sh
  data/system_state.json
  rag_knowledge/lessons_learned/ll_117_trust_audit_jan08.md
  rag_knowledge/lessons_learned/ll_118_data_integrity_lying_jan08.md
Due: verify-strategy-integration

docs(claude): Add Jan 8 lying incident to CLAUDE.md (#1303)
  .claude/CLAUDE.md
Due: none

fix(blog): Add Jekyll frontmatter to lessons missing date field (#1305)
  docs/_lessons/ll_083_model_selection_research_jan06.md
  docs/_lessons/ll_084_rag_blocking_trading_jan06.md
  docs/_lessons/ll_085_self_healing_data_sync_jan06.md
  docs/_lessons/ll_086_false_claims_incident_jan06.md
  docs/_lessons/ll_116_observability_lasagna_trace_logging_jan08.md
  docs/_lessons/ll_117_chromadb_removal_trading_gap_jan08.md
  rag_knowledge/lessons_learned/ll_117_chromadb_removal_trading_gap_jan08.md
Due: none

fix(readme): Update stale data to reflect Jan 7 paper account reset (#1306)
  .claude/CLAUDE.md
  README.md
Due: none

fix(ci): Increase validate-and-test timeout to fix paper trading (#1307)
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict, validate-workflow-secrets

feat(security): Add ask/deny permission tiers for defense in depth (#1308)
  .claude/settings.json
Due: none

fix(ci): Use correct paper trading 5K API keys in protect-existing-positions job (#1309)
  .github/workflows/daily-trading.yml
  rag_knowledge/lessons_learned/ll_119_paper_trading_api_key_mismatch_jan08.md
Due: validate-yaml-strict, validate-workflow-secrets

fix(lint): Remove f-string without placeholders
  scripts/self_heal_data.py
Due: smoke-tests, detect-dead-code

style: Add blank line after import per ruff format (#1312)
  scripts/self_heal_data.py
Due: smoke-tests, detect-dead-code

fix(hooks): Fix paper account win rate reading + auto-sync at session start (#1314)
  .claude/hooks/inject_trading_context.sh
  data/system_state.json
Due: verify-strategy-integration

fix(paper-trading): Add comprehensive diagnostics for 4-day trading outage (#1313)
  PAPER_TRADING_DIAGNOSIS_JAN09.md
  data/system_state.json
  rag_knowledge/lessons_learned/ll_120_paper_trading_broken_4_days_jan09.md
  scripts/diagnose_paper_trading.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

fix(trading): Emergency - Paper trading broken 4 days + Strategy Audit (#1315)
  TRIGGER_TRADE.md
  rag_knowledge/lessons_learned/ll_121_investment_strategy_audit_jan09.md
Due: none

docs(trust): Add LL-119 false PR merge claims prevention (#1317)
  .claude/CLAUDE.md
  rag_knowledge/lessons_learned/ll_119_false_pr_merge_claims_jan09.md
Due: none

fix(paper-trading): Add comprehensive Alpaca API diagnostics (#1318)
  ALPACA_AUTH_DIAGNOSTIC.md
  scripts/pre_market_health_check.py
  scripts/test_alpaca_credentials_local.py
Due: smoke-tests, detect-dead-code

feat(consensus): Add anonymization for peer review bias prevention (#1319)
  TRIGGER_TRADE.md
  data/system_state.json
  docs/index.md
  src/core/introspective_council.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

feat(ci): Add verify-alpaca-account and execute-paper-trade tasks (#1320)
  .github/workflows/claude-agent-utility.yml
  rag_knowledge/lessons_learned/ll_120_paper_trading_broken_trust_crisis_jan09.md
Due: validate-yaml-strict, validate-workflow-secrets

test(council): Add tests for anonymization feature (#1321)
  tests/test_introspective_council.py
Due: smoke-tests, detect-dead-code

fix(risk): Stop paper trading losses - Rule #1 compliance (#1322)
  TRIGGER_STOPS.md
  data/system_state.json
  rag_knowledge/lessons_learned/ll_121_investment_strategy_audit_jan09.md
  rag_knowledge/lessons_learned/ll_122_fix_paper_trading_losses_jan09.md
Due: verify-strategy-integration

chore: Update CLAUDE.md date and sync system state (#1323)
  .claude/CLAUDE.md
  data/system_state.json
Due: verify-strategy-integration

docs(trust): CEO Trust Audit - LL-122 (#1328)
  TRIGGER_TRADE.md
  data/system_state.json
  rag_knowledge/lessons_learned/ll_122_trust_audit_ceo_questions_jan09.md
Due: verify-strategy-integration

chore(config): Auto-sync strategy registry with new strategies (#1330)
  config/strategy_registry.json
Due: verify-strategy-integration, validate-config-enums

docs(trust): LL-123 Trust Rebuild Audit (#1331)
  rag_knowledge/lessons_learned/ll_123_trust_rebuild_audit_jan09.md
Due: none

docs(claude): Add continuous learning directive (#1332)
  .claude/CLAUDE.md
Due: none

fix(hooks): Add GitHub secrets anti-hallucination hook (#1333)
  .claude/hooks/github_secrets_reminder.sh
  .claude/settings.json
  rag_knowledge/lessons_learned/ll_124_github_secrets_are_configured_jan09.md
Due: none

fix(options): Capital-aware watchlist + data hygiene (#1334)
  data/system_state.json
  docs/diagnostics/ALPACA_AUTH_DIAGNOSTIC.md
  docs/diagnostics/DRY_RUN_READINESS_REPORT.md
  docs/diagnostics/EXECUTE_NOW.md
  docs/diagnostics/PAPER_TRADING_DIAGNOSIS_JAN09.md
  docs/diagnostics/TRIGGER_STOPS.md
  docs/diagnostics/TRIGGER_TRADE.md
  docs/index.md
  rag_knowledge/lessons_learned/ll_120_capital_aware_watchlist_jan09.md
  scripts/rule_one_trader.py
  src/strategies/rule_one_options.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

docs(claude): Add LangSmith ML directive to CLAUDE.md (#1335)
  .claude/CLAUDE.md
Due: none

fix(trust): Tighten stop loss to 50% for Rule #1 compliance (#1336)
  data/system_state.json
  docs/diagnostics/TRIGGER_TRADE.md
Due: verify-strategy-integration

fix(health): Add self-healing retry logic to Alpaca API check (#1337)
  scripts/pre_market_health_check.py
Due: smoke-tests, detect-dead-code

docs(ll-120): Add API access verification lesson learned (#1338)
  rag_knowledge/lessons_learned/ll_120_api_access_verification_jan09.md
Due: none

fix(safety): Add circuit_breakers module (#1341)
  src/safety/circuit_breakers.py
Due: smoke-tests, detect-dead-code

fix(lint): Sort imports + Add paper trading script (#1343)
  scripts/fix_paper_trading.sh
  src/safety/circuit_breakers.py
Due: smoke-tests, detect-dead-code

test(safety): Add comprehensive tests for circuit_breakers module (#1344)
  tests/test_circuit_breakers.py
Due: smoke-tests, detect-dead-code

docs(ll-125): Add comprehensive trust audit lesson learned (#1345)
  rag_knowledge/lessons_learned/ll_125_trust_audit_comprehensive_jan09.md
Due: none

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$
