Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests

.pre-commit-config.yaml:

# Pre-commit hooks for code quality (2025 standards)
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Ruff - Fast Python linter and formatter (replaces black, flake8, isort)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.2.0'
    hooks:
      - id: mypy
        args: ["--config-file", "mypy.ini"]
        additional_dependencies: [types-requests, types-PyYAML]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(data/|reports/)
      - id: end-of-file-fixer
        exclude: ^(data/|reports/)
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags but still validate syntax strictly
      - id: check-json
        exclude: ^(data/|\.vscode/)
      - id: check-toml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: debug-statements

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        args:
          [
            '-ll',
            '-ii',
            '--skip',
            'B101,B310,B113,B602,B603,B404,B614,B324,B301,B314',
          ]
        exclude: ^tests/|.pc-venv/

  # Keep the custom hygiene script if needed, but ensure it works
  - repo: local
    hooks:
      - id: file-organization
        name: Check File Organization
        entry: python3 .claude/skills/precommit_hygiene/scripts/precommit_hygiene.py check_file_organization
        language: system
        pass_filenames: false
        verbose: true

      - id: test-crypto-imports
        name: Test Crypto Trading Imports (No RAG)
        entry: bash scripts/pre_commit_test_crypto_imports.sh
        language: system
        types: [python]
        files: '(src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py)'
        pass_filenames: false

      - id: test-dashboard-metrics
        name: Test Dashboard Metrics Completeness
        entry: python3 tests/test_dashboard_metrics.py
        language: system
        types: [python]
        files: '(scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py)'
        pass_filenames: false
        verbose: true

      - id: validate-yaml-strict
        name: Strict YAML Validation
        entry: bash scripts/validate_yaml_before_commit.sh
        language: python
        additional_dependencies: [pyyaml]
        types: [yaml]
        pass_filenames: false
        verbose: true

      - id: test-dashboard-output
        name: Test Dashboard Output Completeness
        entry: python3 tests/test_dashboard_output.py
        language: system
        types: [python]
        files: '(scripts/generate.*dashboard.*\.py)'
        pass_filenames: false
        verbose: true

      - id: smoke-tests
        name: Smoke Tests - Critical Path Verification
        entry: python3 tests/test_smoke.py
        language: python
        additional_dependencies: [numpy, pyyaml]
        types: [python]
        files: '(scripts/|src/|tests/)'
        pass_filenames: false
        verbose: true
        stages: [pre-commit]

fix(options): create logs/data directories before logging config (#423)
  scripts/execute_options_trade.py
Due: smoke-tests

docs: add PR protocol instruction to use PAT immediately (#424)
  .claude/CLAUDE.md
Due: none

feat(crypto): loosen RSI filters for more trading (#425)
  src/strategies/crypto_strategy.py
Due: test-crypto-imports, smoke-tests

feat(crypto): add FORCE_TRADE filter bypass for guaranteed execution (#426)
  src/strategies/crypto_strategy.py
Due: test-crypto-imports, smoke-tests

fix(workflow): pass FORCE_TRADE env to crypto execution step (#427)
  .github/workflows/weekend-crypto-trading.yml
Due: validate-yaml-strict

docs: add CTO failure lessons to RAG knowledge base (#428)
  rag_knowledge/chunks/lessons_learned_2025.json
Due: none

fix(crypto): FORCE_TRADE now bypasses ALL analysis steps (#429)
  src/strategies/crypto_strategy.py
Due: test-crypto-imports, smoke-tests

fix(crypto): FORCE_TRADE adds price fallback and skips validation (#430)
  src/strategies/crypto_strategy.py
Due: test-crypto-imports, smoke-tests

fix(workflows): ensure trading data persists to repo after execution (#431)
  .github/workflows/daily-trading.yml
  .github/workflows/dashboard-auto-update.yml
  rag_knowledge/chunks/lessons_learned_2025.json
Due: validate-yaml-strict

fix(crypto): update system_state.json on every trade for git diff detection (#432)
  src/strategies/crypto_strategy.py
Due: test-crypto-imports, smoke-tests

feat: add MANDATORY pre-flight protocol to read RAG before claims (#433)
  .claude/CLAUDE.md
  rag_knowledge/chunks/lessons_learned_2025.json
Due: none

fix(options): add diagnostic logging for options trading (#435)
  scripts/execute_options_trade.py
Due: smoke-tests

fix(options): add workflow debug output for troubleshooting (#436)
  .github/workflows/options-trading.yml
Due: validate-yaml-strict

feat: add account status check workflow (#437)
  .github/workflows/account-status.yml
Due: validate-yaml-strict

fix(options): don't fail workflow on order errors during R&D (#438)
  scripts/execute_options_trade.py
Due: smoke-tests

feat: auto-commit account status to repo (#439)
  .github/workflows/account-status.yml
Due: validate-yaml-strict

docs(rag): add lesson ll_007 - Tradier as backup broker for options
  rag_knowledge/chunks/lessons_learned_2025.json
Due: none

feat(options): add Tradier backup broker for options trading (#441)
  .github/workflows/options-trading.yml
  scripts/execute_options_trade.py
  src/brokers/tradier_client.py
Due: validate-yaml-strict, smoke-tests

feat(options): add combined trading workflow with IV-based signals (#442)
  .github/workflows/combined-trading.yml
  src/strategies/options_executor.py
  src/strategies/options_iv_signal.py
Due: validate-yaml-strict, smoke-tests

fix(dashboard): sync daily trades from Alpaca and persist trade logs
  .gitignore
  data/performance_log.json
  data/trades_2025-12-10.json
  scripts/update_performance_log.py
Due: smoke-tests

feat(crypto): enable daily crypto DCA with FORCE_TRADE (#443)
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

feat: Major Update - VIX Monitor, Options Backtester (Engine), IV Data Provider (#410)
  .claude/CLAUDE.md
  ENHANCEMENT_SUMMARY.md
  demo_vix_monitor_mock.py
  docs/iv_data_provider_api.md
  docs/vix_monitor_integration.md
  examples/iv_data_provider_usage.py
  rag_knowledge/chunks/cboe_options_education_2025.json
  rag_knowledge/chunks/natenberg_option_volatility_pricing_2025.json
  rag_knowledge/knowledge_index.json
  src/backtesting/options_backtest_engine.py
  src/data/__init__.py
  src/data/iv_data_provider.py
  src/monitoring/vix_monitor.py
  wiki/Progress-Dashboard.md
Due: smoke-tests

feat(rag): add web-sourced options research with citations (#444)
  rag_knowledge/chunks/web_sourced_options_research_2025.json
  rag_knowledge/knowledge_index.json
Due: none

feat(options): comprehensive options trading RAG enhancement and VIX monitoring (#445)
  rag_knowledge/knowledge_index.json
  scripts/run_options_backtest.py
Due: smoke-tests

feat(ops): add trading daemon starter script (#446)
  scripts/start_trading_daemon.sh
Due: none

fix(ci): remove silent failure in git push step (#447)
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

chore(dashboard): update to Dec 10 - trades scheduled 3:55 PM ET (#448)
  dashboard.md
Due: none

fix(options): use mid price for faster order fills (#450)
  scripts/execute_options_trade.py
  src/brokers/tradier_client.py
Due: smoke-tests

feat(rag): add parallel agent research - podcasts, VIX, YouTube automation (#451)
  .claude/mcp_config.json
  docs/options_research_summary_2025-12-10.md
  docs/rss_newsletter_setup.md
  rag_knowledge/chunks/options_podcasts_insights_2025.json
  rag_knowledge/chunks/tastytrade_backtesting_gamma_pmcc_2025.json
  rag_knowledge/chunks/vix_iv_vertical_spreads_2025.json
  rag_knowledge/knowledge_index.json
  rag_knowledge/newsletters/cboe_rss.json
  rag_knowledge/newsletters/options_alpha_rss.json
  rag_knowledge/newsletters/tastytrade_rss.json
  rag_knowledge/youtube/TEST_REPORT_youtube_transcript_mcp.md
  rag_knowledge/youtube/YOUTUBE_TRANSCRIPT_STATUS.md
  rag_knowledge/youtube/transcripts/README.md
  rag_knowledge/youtube/transcripts/ingest_options_videos.sh
  rag_knowledge/youtube/transcripts/test_youtube_access.sh
  scripts/fetch_options_rss.py
Due: smoke-tests

fix(strategy): disable complex gates - simplify to Momentum + Risk only (#449)
  .github/workflows/daily-trading.yml
  src/orchestrator/main.py
Due: validate-yaml-strict, smoke-tests

docs: add Dec 10 CEO reinforcement about full agentic PR control (#452)
  .claude/CLAUDE.md
Due: none

docs: reinforce autonomous PR creation directive in CLAUDE.md (#453)
  .claude/CLAUDE.md
Due: none

chore: auto-fix lint issues from ruff (#454)
  src/agent_framework/agent_sdk_config.py
  src/agents/crypto_weekend_agent.py
  src/backtesting/__init__.py
  src/backtesting/options_backtest.py
  src/backtesting/options_backtest_engine.py
  src/brokers/tradier_client.py
  src/monitoring/vix_monitor.py
  src/options/iv_data_integration.py
  src/options/vix_monitor.py
  src/signals/options_iv_signal_generator.py
  src/strategies/options_iv_signal.py
  src/trading/rag_trade_advisor.py
Due: smoke-tests

fix(workflows): fix RAG ingestion workflow failures (#455)
  .github/workflows/sentiment_rag_ingest.yml
  .github/workflows/unified-rag-ingestion.yml
Due: validate-yaml-strict

feat(options): add POP calculator, pin risk management, and P&L attribution (#460)
  src/analytics/options_attribution_analyzer.py
  src/risk/options_risk_monitor.py
  src/strategies/credit_spreads.py
  src/utils/options_pop_calculator.py
Due: smoke-tests

fix(theta): add critical VIX filter and CRYPTO tier (#461)
  src/core/alpaca_trader.py
  src/strategies/credit_spreads.py
Due: smoke-tests

docs: update CLAUDE.md with PR capability confirmation (#463)
  .claude/CLAUDE.md
Due: none

fix(ci): Fix all lint and format errors on main
  demo_vix_monitor_mock.py
  examples/iv_analysis_demo.py
  examples/iv_data_provider_usage.py
  examples/vix_monitor_integration.py
  pyproject.toml
  scripts/autonomous_trader.py
  scripts/backtest_historic.py
  scripts/check_duplicate_execution.py
  scripts/execute_options_trade.py
  scripts/fetch_options_rss.py
  scripts/run_options_backtest.py
  scripts/test_rag_integration.py
  src/agent_framework/agent_sdk_config.py
  src/agent_framework/context_engine.py
  src/agents/crypto_weekend_agent.py
  src/agents/execution_agent.py
  src/backtesting/options_backtest.py
  src/backtesting/options_backtest_engine.py
  src/brokers/tradier_client.py
  src/monitoring/vix_monitor.py
  src/options/iv_data_integration.py
  src/options/vix_monitor.py
  src/orchestrator/main.py
  src/signals/options_iv_signal_generator.py
  src/strategies/crypto_strategy.py
  src/strategies/legacy_momentum.py
  src/strategies/options_executor.py
  src/trading/options_executor.py
  src/trading/rag_trade_advisor.py
  src/utils/unified_sentiment.py
  tests/test_iv_integration.py
  tests/test_options_backtest.py
  tests/test_rag_trade_advisor.py
  tests/test_vix_monitor.py
Due: test-crypto-imports, smoke-tests

docs: commit autonomous PR management directive to permanent memory (#464)
  .claude/CLAUDE.md
Due: none

fix(ci): Resolve PR conflicts and fix model-training.yml (#457)
  CONTRIBUTING.md
  docs/CONTRIBUTING.md
  src/agents/research_agent.py
Due: smoke-tests
