Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-workflow-secrets:
  name: Validate Workflow Secrets (Zero Tolerance)
  entry: python3 scripts/validate_workflow_secrets.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

detect-dead-code:
  name: Dead Code Detector
  entry: python3 scripts/detect_dead_code.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

verify-strategy-integration:
  name: Verify Strategy Integration (ll_012 Prevention)
  entry: python3 scripts/verify_strategy_integration.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-config-enums:
  name: Validate Config Enum Values (ll_033 Prevention)
  entry: python3 scripts/validate_config_enums.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-trading-script-syntax:
  name: Validate Critical Trading Scripts Syntax (ll_024 Prevention)
  ...

weekend-crypto-workflow-check:
  name: Weekend Crypto Workflow Validation
  entry: python3 -c "import yaml; f=open('.github/workflows/weekend-crypto-trading.yml'); d=yaml.safe_load(f); assert 'PYTHONPATH' in str(d), 'Missing PYTHONPATH'; assert 'CRYPTO_FORCE_TRADE' in str(d), 'Missing CRYPTO_FORCE_TRADE'"
  language: system
  ...

fix: Initialize mental_coach before _init_gate_pipeline() to prevent AttributeError
  .claude/hooks/ralph_stop_hook.sh
  .claude/settings.json
  .secrets.baseline
  src/orchestrator/main.py
Due: smoke-tests, detect-dead-code

chore: Update system state - 4 trades executed Jan 15, +$2.08 (#1905)
  data/system_state.json
Due: verify-strategy-integration

docs(rag): Add LL-218 dashboard $100K bug lesson (#1901)
  docs/_posts/2026-01-14-lessons-learned.md
  docs/_posts/2026-01-15-lessons-learned.md
  rag_knowledge/lessons_learned/ll_218_dashboard_100k_bug_jan15.md
  scripts/sync_alpaca_state.py
Due: smoke-tests, detect-dead-code

docs(rag): Add LL-217 crisis lesson - OptionsRiskMonitor paper arg TypeError (#1895)
  rag_knowledge/lessons_learned/ll_217_options_risk_monitor_paper_arg_crisis_jan15.md
  src/orchestrator/main.py
Due: smoke-tests, detect-dead-code

docs(rag): Add LL-219 - 9-day trading gap root cause and fix (#1906)
  data/rag/lessons/LL-219_Nine_Day_Trading_Gap_Jan2026.md
Due: none

fix(orchestrator): Use correct TradeMemory parameter name (#1907)
  src/orchestrator/gates.py
  src/orchestrator/main.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#1908)
  data/system_state.json
Due: verify-strategy-integration

docs(rag): Add LL-220 30-month North Star roadmap + update system state
  data/system_state.json
  rag_knowledge/lessons_learned/ll_220_north_star_30month_roadmap_jan15.md
Due: verify-strategy-integration

fix(orchestrator): Update GateMemory callers to use memory_path (#1909)
  src/orchestrator/main.py
  tests/test_security.py
Due: smoke-tests, detect-dead-code

fix: Update system_state.json with accurate Alpaca data
  .claude/skills/precommit_hygiene/scripts/precommit_hygiene.py
  .secrets.baseline
  data/system_state.json
  scripts/detect_placeholders.py
  scripts/verify_code_hygiene.py
  scripts/verify_strategy_integration.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#1913)
  data/system_state.json
Due: verify-strategy-integration

fix: Change options orders from DAY to GTC time_in_force (#1915)
  scripts/execute_credit_spread.py
  scripts/execute_options_trade.py
  scripts/iron_condor_trader.py
Due: smoke-tests, detect-dead-code

chore: Add current_equity to paper_account for dashboard fix (#1916)
  data/system_state.json
Due: verify-strategy-integration

CRISIS: Fix system_state.json - we lost $47 (-0.93%) (#1917)
  data/system_state.json
  rag_knowledge/lessons_learned/ll_221_orphan_put_crisis_jan15.md
Due: verify-strategy-integration

HALT: Stop all trading - orphan position crisis (Jan 15, 2026) (#1918)
  .github/workflows/daily-trading.yml
  .secrets.baseline
Due: validate-yaml-strict, validate-workflow-secrets

fix: Prevent orphan positions in credit spread execution (LL-221) (#1919)
  rag_knowledge/lessons_learned/ll_221_orphan_put_crisis_jan15.md
  scripts/execute_credit_spread.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#1920)
  data/system_state.json
Due: verify-strategy-integration

fix: Sync system_state.json with live Alpaca data (#1921)
  data/system_state.json
Due: verify-strategy-integration

fix: Add missing Path import in orchestrator/main.py (#1922)
  src/orchestrator/main.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#1923)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#1924)
  data/system_state.json
Due: verify-strategy-integration

fix: Sync system_state.json with live Alpaca data (3:09 PM ET) (#1925)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync system_state.json with actual Alpaca data (#1910)
  .github/workflows/daily-trading.yml
  data/system_state.json
  scripts/generate_world_class_dashboard_enhanced.py
  scripts/sync_trades_from_alpaca.py
  src/analyst/bias_store.py
Due: test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration

🎉 PROFIT\! Update system_state with +$6.45 (#1926)
  Progress-Dashboard.md
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#1928)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#1929)
  data/system_state.json
Due: verify-strategy-integration

fix: Regenerate dashboard with correct $5K equity (not $100K) (#1930)
  Progress-Dashboard.md
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#1931)
  data/system_state.json
Due: verify-strategy-integration

fix: Add today's trades data (5 trades on Jan 15) (#1933)
  data/system_state.json
  data/trades_2026-01-15.json
Due: verify-strategy-integration

fix: Accept ISO datetime format in trade log validation test (#1934)
  tests/integration/test_trading_pipeline.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#1935)
  data/system_state.json
Due: verify-strategy-integration

docs: Update LL-221 resolution criteria with verified fixes (#1936)
  rag_knowledge/lessons_learned/ll_221_orphan_put_crisis_jan15.md
Due: none

feat: Initialize master trades ledger for win rate tracking (#1937)
  data/trades.json
Due: none

feat: Add workflow to close orphan SPY 660 put (+$36 profit) (#1938)
  .github/workflows/close-orphan-position.yml
  Progress-Dashboard.md
  scripts/close_orphan_put.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

feat: Add Anthropic Cowork integration for trading dashboard screenshots (#1939)
  .github/workflows/capture-trading-screenshots.yml
  docs/COWORK_INTEGRATION.md
  requirements.txt
  scripts/capture_trading_screenshots.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

fix: Trigger close orphan SPY 660 put (+$36 profit) (#1940)
  .github/workflows/close-orphan-position.yml
  CLOSE_ORPHAN.trigger
Due: validate-yaml-strict, validate-workflow-secrets

docs: Mark win rate tracking as resolved in LL-221 (#1941)
  rag_knowledge/lessons_learned/ll_221_orphan_put_crisis_jan15.md
Due: none

docs: Add LL-222 plan mode video evaluation (REDUNDANT) (#1942)
  rag_knowledge/lessons_learned/ll_222_plan_mode_video_evaluation_jan15.md
Due: none

feat: Implement Ralph Wiggum technique from Matt Pocock video (#1943)
  .claude/hooks/ralph_inject_prompt.sh
  .claude/prd.json
  .claude/progress.txt
  .claude/scripts/ralph_complete_task.py
Due: smoke-tests, detect-dead-code

fix: Add PYTHONPATH to daily blog post workflow (#1946)
  .github/workflows/daily-blog-post.yml
Due: validate-yaml-strict, validate-workflow-secrets

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$
