Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: system
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

style: Apply final ruff format fixes
  src/strategies/rule_one_options.py
  tests/test_rule_one_options.py
Due: none

fix(ci): Resolve multiple CI failures (#81)
  .github/workflows/security-scan.yml
  requirements-minimal.txt
  scripts/validate_config.py
  src/strategies/rule_one_options.py
Due: validate-yaml-strict

fix: Add PYTHONPATH to daily-trading workflow to fix ModuleNotFoundError (#82)
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict

Analyze repo for options trading profit enhancement (#79)
  .env.example
  .github/workflows/agent-pr-handler.yml
  .github/workflows/codeql-analysis.yml.disabled
  .github/workflows/daily-trading.yml
  .github/workflows/security-scan.yml
  .gitignore
  README.md
  claude-progress.txt
  data/options_signals/.gitkeep
  docs/AGENT_USAGE_ANALYSIS.md
  docs/DEPENDENCY_CONFLICT_ANALYSIS.md
  docs/ENVIRONMENT_VARIABLES.md
  docs/LLM_COUNCIL_INTEGRATION.md
  docs/deepagents-integration.md
  docs/options-profit-roadmap.md
  plan.md
  pyproject.toml
  requirements-minimal.txt
  requirements.in
  requirements.txt
  scripts/options_profit_planner.py
  scripts/run_backtest_matrix.py
  scripts/validate_config.py
  src/analytics/options_profit_planner.py
  src/core/config.py
  src/core/multi_llm_analysis.py
  src/deepagents_integration/USAGE_GUIDE.md
  src/deepagents_integration/agents.py
  src/main.py
  src/strategies/rule_one_options.py
  tests/test_deepagents_integration.py
  tests/test_options_profit_planner.py
  tests/test_risk_atr.py
  tests/test_smoke.py
Due: test-crypto-imports, validate-yaml-strict

fix(ci): Remove duplicate step ID in model-training.yml (#89)
  .github/workflows/model-training.yml
Due: validate-yaml-strict

test: Add comprehensive trade gateway unit tests (#90)
  .github/workflows/ci.yml
  tests/test_trade_gateway.py
Due: validate-yaml-strict

feat: Add official Alpaca MCP server integration
  .claude/CLAUDE.md
  .claude/MCP_SETUP_INSTRUCTIONS.md
  .claude/mcp_config.json
Due: none

Upgrade ai trading system to world-class (#88)
  .gitignore
  README.md
  data/datasets/rl_transformer_sequences.npz
  docs/BACKTEST_USAGE.md
  models/ml/rl_transformer_state.pt
  scripts/run_backtest_matrix.py
  scripts/train_rl_transformer.py
  src/agents/rl_agent.py
  src/agents/rl_transformer.py
  src/agents/rl_transformer_features.py
  src/backtesting/backtest_engine.py
  src/orchestrator/__init__.py
  src/orchestrator/anomaly_monitor.py
  src/orchestrator/main.py
  src/orchestrator/telemetry.py
  tests/orchestrator/test_anomaly_monitor.py
Due: none

fix(ci): Resolve workflow failures and dependency conflicts (#86)
  pyproject.toml
  requirements.txt
  scripts/validate_yaml_before_commit.sh
Due: none

Claude/fix pr87 ci 01 ujf ke pke mbdo k eeq u qaj be (#91)
  data/evaluations/evaluations_2025-12-02.json
  scripts/train_rl_transformer.py
  src/agents/rl_agent.py
  src/agents/rl_transformer.py
  src/agents/rl_transformer_features.py
  src/backtesting/backtest_engine.py
  src/orchestrator/anomaly_monitor.py
  src/orchestrator/main.py
  src/orchestrator/telemetry.py
Due: none

feat: Add Alpaca MCP server integration (#92)
  .claude/CLAUDE.md
  .claude/MCP_SETUP_INSTRUCTIONS.md
  .claude/mcp_config.json
Due: none

Add weekend proxy coverage and RL weight updater (#94)
  config/backtest_scenarios.yaml
  requirements.in
  requirements.txt
  scripts/run_backtest_matrix.py
  scripts/update_rl_weights.py
  src/agents/momentum_agent.py
  src/agents/rl_agent.py
  src/agents/rl_weight_updater.py
  src/orchestrator/main.py
Due: validate-yaml-strict

fix: Use official alpaca-mcp-server instead of community package
  .claude/CLAUDE.md
  .claude/MCP_SETUP_INSTRUCTIONS.md
  .claude/mcp_config.json
Due: none

feat: Add official Alpaca MCP server integration (#93)
  .claude/MCP_SETUP_INSTRUCTIONS.md
Due: none

fix(deps): Resolve dependency conflicts in requirements.txt (Issue #65) (#96)
  requirements.txt
Due: none

feat: Integrate Phil Town Rule #1 Options Strategy (Gate 6) (#98)
  go/adk_trading/internal/agents/agents.go
  go/adk_trading/internal/tools/bias/bias.go
  scripts/run_backtest_now.py
  scripts/run_bias_pipeline.py
  src/analyst/__init__.py
  src/analyst/bias_store.py
  src/backtesting/backtest_engine.py
  src/backtesting/bias_replay.py
  src/orchestrator/main.py
  src/risk/kelly.py
  src/risk/risk_manager.py
  src/risk/unified.py
  src/signals/microstructure_features.py
  src/utils/regime_detector.py
Due: none

fix: Add missing run_options_strategy method body
  src/orchestrator/main.py
Due: none

fix: Options strategy uses get_account_info with fallback
  src/strategies/rule_one_options.py
Due: none

fix: Apply lint fixes to bias bus architecture
  scripts/run_bias_pipeline.py
  src/analyst/__init__.py
  src/analyst/bias_store.py
  src/backtesting/bias_replay.py
Due: none

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
