Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

fix: Parse GCP SA key from file instead of shell variable (#1482)
  .github/workflows/vertex-rag-pretrade.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Restore real VIX circuit breaker and risk manager (#1483)
  src/risk/risk_manager.py
  src/risk/vix_circuit_breaker.py
  tests/test_risk_management_restored.py
Due: smoke-tests, detect-dead-code

fix: Update brokerage equity to $60 (verified from Alpaca) (#1486)
  data/performance_log.json
  data/system_state.json
Due: verify-strategy-integration

fix: Add missing get_macro_context() to MacroeconomicAgent
  src/agents/macro_agent.py
Due: smoke-tests, detect-dead-code

fix: Add missing methods to MomentumAgent stub
  src/agents/momentum_agent.py
Due: smoke-tests, detect-dead-code

fix: Add manage_all_positions() to PositionManager stub (#1493)
  src/risk/position_manager.py
Due: smoke-tests, detect-dead-code

fix: Restore full implementations deleted in PR #1445 (#1494)
  src/agents/macro_agent.py
  src/agents/momentum_agent.py
  src/risk/position_manager.py
  src/strategies/legacy_momentum.py
Due: smoke-tests, detect-dead-code

fix: Restore full trade_gateway.py (881 lines) from PR #1445 (#1496)
  src/risk/trade_gateway.py
Due: smoke-tests, detect-dead-code

fix: Restore capital_efficiency.py and reit_strategy.py from PR #1445 (#1498)
  src/risk/capital_efficiency.py
  src/strategies/reit_strategy.py
Due: smoke-tests, detect-dead-code

fix: Add deduplication to trade verification workflow (#1499)
  .github/workflows/verify-trade-execution.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Update system_state.json with real Alpaca portfolio value (#1500)
  data/system_state.json
Due: verify-strategy-integration

docs: Update blog with real portfolio data + add RAG lesson (#1503)
  docs/index.md
  rag_knowledge/lessons_learned/ll_134_options_buying_power_zero_jan12.md
Due: none

fix: Add stale order cancellation to free buying power (#1506)
  .github/workflows/daily-trading.yml
  scripts/cancel_stale_orders.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

feat: Add Alpaca API connectivity test + trigger trade execution (#1508)
  TRIGGER_TRADE.md
  scripts/test_alpaca_connectivity.py
  tests/test_alpaca_connectivity.py
Due: smoke-tests, detect-dead-code

docs: Update MANDATORY_RULES.md with CEO directives (#1511)
  .claude/rules/MANDATORY_RULES.md
Due: none

fix: Sync options trades to RAG (root cause) (#1512)
  scripts/sync_trades_to_rag.py
Due: smoke-tests, detect-dead-code

fix: Repair corrupted system_state.json (#1514)
  data/system_state.json
Due: verify-strategy-integration

test: Add options trade format test coverage (#1516)
  tests/test_sync_trades_to_rag.py
Due: smoke-tests, detect-dead-code

fix: Lower paper trading batch threshold to $10 (#1517)
  src/risk/trade_gateway.py
Due: smoke-tests, detect-dead-code

fix: Change trading symbols from SPY to SOFI for $5K account (#1515)
  scripts/iron_condor_trader.py
  scripts/simple_daily_trader.py
Due: smoke-tests, detect-dead-code

fix: Resolve dead code detection failures (#1513)
  scripts/detect_dead_code.py
  src/agents/fallback_strategy.py
  src/agents/meta_agent.py
  src/agents/research_agent.py
  src/agents/risk_agent.py
  src/agents/signal_agent.py
  src/integrations/__init__.py
Due: smoke-tests, detect-dead-code

fix: Centralize Alpaca API credentials with get_alpaca_credentials() (#1519)
  .claude/CLAUDE.md
  scripts/cancel_stale_orders.py
  scripts/credential_health_check.py
  scripts/credit_spread_trader.py
  scripts/daily_verification.py
  scripts/execute_credit_spread.py
  scripts/execute_options_trade.py
  scripts/guaranteed_trader.py
  scripts/health_monitor.py
  scripts/iron_condor_trader.py
  scripts/liquidate_losing_positions.py
  scripts/manage_positions.py
  scripts/pre_market_health_check.py
  scripts/rule_one_trader.py
  scripts/set_trailing_stops.py
  scripts/simple_daily_trader.py
  scripts/small_capital_csp.py
  scripts/sync_alpaca_state.py
  scripts/test_alpaca_credentials_local.py
  scripts/update_performance_log.py
  scripts/verify_orders.py
  scripts/verify_pl_sanity.py
  scripts/verify_positions.py
  scripts/verify_trade_execution.py
  src/brokers/multi_broker.py
  src/core/alpaca_trader.py
  src/core/options_client.py
  src/data/iv_data_provider.py
  src/options/vix_monitor.py
  src/safety/pre_trade_smoke_test.py
  src/utils/alpaca_client.py
  src/utils/market_data.py
  src/utils/token_monitor.py
Due: smoke-tests, detect-dead-code

fix: Restore dialogflow_webhook.py deleted in PR #1445 (#1520)
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

fix: Make tests resilient to optional dependencies + update dashboard (#1521)
  docs/index.md
  rag_knowledge/lessons_learned/ll_135_investment_strategy_comprehensive_review_jan12.md
  scripts/generate_daily_blog_post.py
  scripts/rule_one_trader.py
  tests/test_gemini_failover.py
  tests/test_lancedb_feedback.py
  tests/test_options_risk_monitor.py
  tests/test_risk_manager.py
  tests/test_rlhf_storage.py
  tests/test_rule_one_options.py
  tests/test_safety_gates.py
  tests/test_vix_circuit_breaker.py
  tests/test_workflow_contracts.py
  tests/test_workflow_dependencies.py
  tests/test_workflow_integrity.py
Due: smoke-tests, detect-dead-code

fix: Reduce stale order threshold to 4h + add tests (#1523)
  scripts/cancel_stale_orders.py
  tests/test_cancel_stale_orders.py
Due: smoke-tests, detect-dead-code

docs: Record lesson ll_135 - stale order threshold fix (#1524)
  rag_knowledge/lessons_learned/ll_135_stale_order_threshold_fix_jan12.md
Due: none

fix: Remove 914 lines of dead code after pytest.skip (#1525)
  tests/test_options_risk_monitor.py
  tests/test_risk_management_restored.py
  tests/test_risk_manager.py
Due: smoke-tests, detect-dead-code

docs: Record technical debt audit findings (LL_136) (#1527)
  rag_knowledge/lessons_learned/ll_136_technical_debt_audit_jan12.md
Due: none

fix(critical): Use CONFIG symbol price for collateral calculation (#1528)
  data/rag/lessons_learned.json
  scripts/simple_daily_trader.py
Due: smoke-tests, detect-dead-code

test: Add skip decorators for sandbox-missing dependencies (#1526)
  tests/test_alpaca_connectivity.py
  tests/test_alpaca_executor.py
  tests/test_rule_one_trader.py
  tests/test_set_trailing_stops.py
  tests/test_simple_daily_trader.py
  tests/test_small_capital_csp.py
  tests/test_vix_circuit_breaker.py
Due: smoke-tests, detect-dead-code

feat: Integrate Vertex AI RAG for Dialogflow semantic search (#1530)
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

ci: Add push trigger for paper trades from claude/* branches
  .github/workflows/claude-agent-utility.yml
  TRIGGER_TRADE.md
Due: validate-yaml-strict, validate-workflow-secrets

chore: Update CLAUDE.md with permanent directives + RAG lesson
  .claude/CLAUDE.md
  data/rag/lessons_learned.json
Due: none

fix: Add workflow to cancel stale orders (#1532)
  .github/workflows/cancel-stale-orders.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Add 404 page and update lessons for GitHub Pages (#1533)
  docs/404.md
  docs/lessons.md
Due: none

docs: Record lesson ll_137 - branch and PR hygiene protocol
  rag_knowledge/lessons_learned/ll_137_branch_and_pr_hygiene_jan12.md
Due: none

docs: Record technical debt audit (LL-138) - 34% dead code, 200+ DRY violations
  rag_knowledge/lessons_learned/ll_138_technical_debt_audit_jan12.md
Due: none

fix(dialogflow): Use correct equity key from system_state.json (#1534)
  data/rag/lessons_learned.json
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

fix: Remove 404 page from navigation menu (#1535)
  docs/404.md
  docs/_config.yml
Due: validate-yaml-strict
