Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-workflow-secrets:
  name: Validate Workflow Secrets (Zero Tolerance)
  entry: python3 scripts/validate_workflow_secrets.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

detect-dead-code:
  name: Dead Code Detector
  entry: python3 scripts/detect_dead_code.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

verify-strategy-integration:
  name: Verify Strategy Integration (ll_012 Prevention)
  entry: python3 scripts/verify_strategy_integration.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-config-enums:
  name: Validate Config Enum Values (ll_033 Prevention)
  entry: python3 scripts/validate_config_enums.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-trading-script-syntax:
  name: Validate Critical Trading Scripts Syntax (ll_024 Prevention)
  ...

weekend-crypto-workflow-check:
  name: Weekend Crypto Workflow Validation
  entry: python3 -c "import yaml; f=open('.github/workflows/weekend-crypto-trading.yml'); d=yaml.safe_load(f); assert 'PYTHONPATH' in str(d), 'Missing PYTHONPATH'; assert 'CRYPTO_FORCE_TRADE' in str(d), 'Missing CRYPTO_FORCE_TRADE'"
  language: system
  ...

mandate: Add ZERO LOSS TOLERANCE directive (CEO Jan 6 2026) (#1174)
  .claude/CLAUDE.md
Due: none

fix: Sync paper account data from CEO screenshot (Jan 6 2026)
  data/system_state.json
Due: verify-strategy-integration

fix: Add missing live_vs_backtest_tracker.py for CI (#1175)
  src/analytics/live_vs_backtest_tracker.py
Due: smoke-tests, detect-dead-code

docs: Add lesson LL-086 - False claims incident report (#1176)
  docs/_lessons/ll_086_false_claims_incident_jan06.md
Due: none

test: Add 15 tests for live_vs_backtest_tracker.py (96% coverage) (#1177)
  tests/test_live_vs_backtest_tracker.py
Due: smoke-tests, detect-dead-code

feat: Scale trading parameters to hit $100/day North Star
  data/system_state.json
  scripts/simple_daily_trader.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

fix: Remove fabricated REIT_TRADES entry from trades file (#1178)
  data/trades_2026-01-06.json
Due: none

feat: Add RAG Enforcement System based on Jan 2026 research (#1179)
  src/rag/enforcer.py
  tests/test_rag_enforcer.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

fix: Critical strategy fixes for positive expectancy
  data/system_state.json
  scripts/run_backtest_matrix.py
  src/strategies/core_strategy.py
  src/utils/technical_indicators.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

docs: Add lesson LL-087 - Critical strategy fixes (Jan 6 2026)
  rag_knowledge/lessons_learned/ll_087_critical_strategy_fixes_jan06.md
Due: none

feat(blog): Add missing January 2026 daily reports (#1180)
  data/performance_log.json
  docs/_reports/2026-01-05-daily-report.md
  docs/_reports/2026-01-06-daily-report.md
  docs/index.md
Due: none

test: Add 26 tests for strategy fixes (16 core_strategy, 10 indicators)
  tests/test_core_strategy.py
  tests/test_technical_indicators_fix.py
Due: smoke-tests, detect-dead-code

fix(blog): Fix day counter stuck at Day 69 - now auto-updates (#1181)
  .github/workflows/daily-blog-post.yml
  docs/index.md
  rag_knowledge/lessons_learned/ll_088_verification_violation_jan06.md
  scripts/generate_daily_blog_post.py
  tests/test_daily_blog_post.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

docs: Add Jan 6 lessons to blog (LL-087, LL-088) (#1183)
  docs/_lessons/ll_087_critical_strategy_fixes_jan06.md
  docs/_lessons/ll_088_verification_violation_jan06.md
Due: none

fix(trade_sync): Handle None pnl/pnl_pct + ChromaDB rebuild (#1182)
  data/trades_2026-01-06.json
  data/vector_db/vectorized_files.json
  src/observability/trade_sync.py
  tests/test_trade_sync.py
Due: smoke-tests, detect-dead-code

fix(trading): Actually sell CSPs instead of buying shares (#1184)
  scripts/simple_daily_trader.py
Due: smoke-tests, detect-dead-code

docs: Add lesson LL-089 - CSP script was buying shares (#1185)
  rag_knowledge/lessons_learned/ll_089_csp_script_buying_shares_jan06.md
Due: none

feat: Implement January 2026 AI expert RAG innovations + Dashboard fix (#1186)
  scripts/generate_world_class_dashboard_enhanced.py
  src/rag/memory_persistence.py
  src/rag/memr3_router.py
  src/rag/process_rewards.py
  src/rag/rl_feedback.py
  tests/test_memory_persistence.py
  tests/test_memr3_router.py
  tests/test_process_rewards.py
  tests/test_rl_feedback.py
Due: test-crypto-imports, test-dashboard-metrics, test-dashboard-output, smoke-tests, detect-dead-code

fix: Phil Town strategy & RLHF pipeline critical fixes (#1187)
  rag_knowledge/lessons_learned/ll_089_phil_town_rlhf_broken_jan06.md
  scripts/rule_one_trader.py
  src/execution/alpaca_executor.py
  src/strategies/rule_one_options.py
Due: smoke-tests, detect-dead-code

docs(rag): Add lesson LL-089 - NOT following Phil Town Rule #1 (#1188)
  .gitignore
  rag_knowledge/lessons_learned/ll_089_not_following_phil_town_jan06.md
Due: none

chore: Update feedback stats (#1189)
  data/feedback/stats.json
Due: none

chore: Update feedback stats after session (#1190)
  data/feedback/stats.json
Due: none

fix: Phil Town strategy now EXECUTES trades + lessons LL-090, LL-091 (#1191)
  docs/_lessons/ll_089_phil_town_rlhf_broken_jan06.md
  docs/_lessons/ll_090_phil_town_not_trading_jan06.md
  docs/_lessons/ll_091_100_day_impossible_with_200_jan06.md
  rag_knowledge/lessons_learned/ll_090_phil_town_not_trading_jan06.md
  rag_knowledge/lessons_learned/ll_091_100_day_impossible_with_200_jan06.md
  scripts/rule_one_trader.py
  tests/test_rule_one_options.py
  tests/test_rule_one_trader.py
Due: smoke-tests, detect-dead-code

docs: Add self-healing system directives to CLAUDE.md (#1192)
  .claude/CLAUDE.md
Due: none

docs(rag): Add lesson LL-090 - Vertex AI sandbox SSL limitation (#1193)
  rag_knowledge/lessons_learned/ll_090_vertex_ai_sandbox_limitation_jan06.md
Due: none

feat: Implement realistic North Star targets scaled to capital (#1194)
  data/system_state.json
  rag_knowledge/lessons_learned/ll_090_north_star_capital_requirements_jan06.md
Due: verify-strategy-integration

feat: Add compounding strategy for capital growth (#1195)
  data/system_state.json
Due: verify-strategy-integration

docs(rag): Add LL-092 - MANDATORY Compounding Strategy (#1196)
  rag_knowledge/lessons_learned/ll_092_compounding_strategy_mandatory_jan06.md
Due: none

feat(claude): Add SESSION START LAW #1 - Compounding Strategy (#1197)
  .claude/CLAUDE.md
Due: none

fix(rag): Rebuild ChromaDB vector DB with 791 chunks
  data/vector_db/vectorized_files.json
Due: none

fix(strategy): Promote Phil Town Rule #1 to core strategy (#1198)
  config/strategy_registry.json
  rag_knowledge/lessons_learned/ll_093_strategy_execution_audit_jan06.md
Due: verify-strategy-integration, validate-config-enums

fix: Make chromadb optional and fix test robustness (#1199)
  src/rag/enforcer.py
  tests/integration/test_trading_pipeline.py
  tests/test_rag_enforcer.py
  tests/test_rag_ml_safety.py
  tests/test_rag_operational.py
  tests/test_rag_vector_db.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

fix: Test suite compatibility with sandbox environment (#1202)
  data/feedback/stats.json
  scripts/run_backtest_matrix.py
  tests/integration/test_trading_pipeline.py
  tests/test_rag_ml_safety.py
  tests/test_rule_one_trader.py
  tests/test_simple_daily_trader.py
  tests/test_smoke_tests.py
  tests/test_technical_indicators_fix.py
Due: smoke-tests, detect-dead-code

chore: Update feedback stats after session (#1203)
  data/feedback/stats.json
Due: none

fix(ci): Align backtest thresholds with Phil Town Rule #1 strategy
  scripts/run_core_strategy_reference_backtest.py
Due: smoke-tests, detect-dead-code

refactor: Code cleanup - remove dead code, fix stale docs (#1205)
  README.md
  config/strategy_registry.json
  docs/r-and-d-phase.md
  scripts/init.sh
  scripts/verify_trading_health.py
  src/agents/debate_agents.py
  src/agents/macro_agent.py
  src/orchestrator/main.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration, validate-config-enums

fix: Critical risk management safety improvements (#1207)
  src/rag/enforcer.py
  src/risk/position_manager.py
  src/risk/vix_circuit_breaker.py
  tests/test_kelly.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

fix: Resolve 85 ruff lint errors for CI compliance (#1208)
  scripts/generate_daily_blog_post.py
  scripts/guaranteed_trader.py
  scripts/rule_one_trader.py
  scripts/run_backtest_matrix.py
  scripts/simple_daily_trader.py
  scripts/sync_data_to_github.py
  scripts/system_health_check.py
  src/analytics/live_vs_backtest_tracker.py
  src/observability/trade_sync.py
  src/rag/enforcer.py
  src/rag/memory_persistence.py
  src/rag/memr3_router.py
  src/rag/process_rewards.py
  src/rag/rl_feedback.py
  src/risk/position_manager.py
  tests/test_core_strategy.py
  tests/test_daily_blog_post.py
  tests/test_guaranteed_trader_rag.py
  tests/test_kelly.py
  tests/test_live_vs_backtest_tracker.py
  tests/test_memory_persistence.py
  tests/test_memr3_router.py
  tests/test_model_selector.py
  tests/test_process_rewards.py
  tests/test_rag_enforcer.py
  tests/test_rag_ml_safety.py
  tests/test_rag_operational.py
  tests/test_rag_vector_db.py
  tests/test_rl_feedback.py
  tests/test_rule_one_options.py
  tests/test_rule_one_trader.py
  tests/test_smoke_tests.py
  tests/test_technical_indicators_fix.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

docs: Add lesson learned LL-094 - ChromaDB not installed critical gap
  rag_knowledge/lessons_learned/ll_094_chromadb_not_installed_jan06.md
Due: none

chore: Update system_state.json sync timestamps
  data/system_state.json
Due: verify-strategy-integration

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$
