Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: system
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

Implement NVDA-focused options accumulation strategy
  src/main.py
  src/strategies/options_accumulation_strategy.py
Due: none

Fix options accumulation execution tracking key name
  src/main.py
Due: none

Add options accumulation status monitoring script
  scripts/options_accumulation_status.py
Due: none

Add comprehensive next steps roadmap
  docs/NEXT_STEPS.md
Due: none

Add monitoring scripts and next steps roadmap
  scripts/check_trade_closure_status.py
Due: none

Add crypto position management and fix trade closure tracking
  src/main.py
  src/strategies/crypto_strategy.py
Due: test-crypto-imports

Add crypto position management to schedule
  src/main.py
Due: none

Implement ATR-based dynamic stop-losses in CoreStrategy
  src/strategies/core_strategy.py
Due: none

feat: add guardrails and trend telemetry (#48)
  claude-progress.txt
  docs/PLAN.md
  feature_list.json
  scripts/advanced_autonomous_trader.py
  scripts/autonomous_trader.py
  scripts/daily_report.py
  scripts/pre_market_health_check.py
  src/ml/forecasters/deep_momentum.py
  src/strategies/core_strategy.py
  src/utils/economic_guardrails.py
  src/utils/trend_snapshot.py
  tests/test_sentry_integration.py
  tests/test_trading_e2e.py
Due: test-crypto-imports

Analyze repo for claude success metrics (#49)
  .cursorrules
  README.md
  claude-progress.txt
  docs/define-success.md
  docs/r-and-d-phase.md
Due: none

feat: Add failure isolation and context pruning (#50)
  claude-progress.txt
  docs/MULTI_AGENT_ARCHITECTURE.md
  docs/RESILIENCE_STRATEGY.md
  src/agent_framework/context_engine.py
  src/orchestrator/failure_isolation.py
  src/orchestrator/main.py
  tests/test_failure_isolation.py
Due: none

Cursor/check claude success metrics tracking gpt 5.1 codex 3fb8 (#51)
  article_agent0.html
Due: none

feat: Enforce Claude Code Plan Mode with pre-commit hook (#53)
  .claude/CLAUDE.md
  .claude/hooks/pre-commit
  README.md
  claude-progress.txt
  docs/PLAN.md
  docs/PLAN_MODE_ENFORCEMENT.md
  plan.md
  scripts/verify_plan_mode.py
Due: none

feat: add day-trading support orchestration layer (#54)
  README.md
  claude-progress.txt
  config/day_trading_resources.yaml
  docs/day_trading_support.md
  plan.md
  requirements.in
  requirements.txt
  scripts/day_trading_support_cycle.py
  src/day_trading_support/__init__.py
  src/day_trading_support/config_loader.py
  src/day_trading_support/mentor_monitor.py
  src/day_trading_support/models.py
  src/day_trading_support/newsletter_harvester.py
  src/day_trading_support/orchestrator.py
  src/day_trading_support/reading_ingestor.py
  src/day_trading_support/resource_vault.py
  src/day_trading_support/vector_store.py
  tests/test_day_trading_support.py
Due: validate-yaml-strict

Review autonomous trading system repository (#55)
  .github/workflows/daily-trading.yml
  README.md
  config/backtest_scenarios.yaml
  dashboard/telemetry_app.py
  docs/r-and-d-phase.md
  docs/verification-protocols.md
  plan.md
  scripts/__init__.py
  scripts/enforce_promotion_gate.py
  scripts/generate_telemetry_report.py
  scripts/run_backtest_matrix.py
  src/backtesting/backtest_engine.py
  src/utils/telemetry_summary.py
  tests/fixtures/backtest_summary_sample.json
  tests/fixtures/system_state_sample.json
  tests/test_backtest_matrix_utils.py
  tests/test_promotion_gate.py
  tests/test_telemetry_summary.py
Due: validate-yaml-strict

Claude/needs assessment 011 c uo zpa ahrg x kz m76 n9 y xo (#56)
  DEPENDENCY_FIX_DOCUMENTATION.md
  DEPLOYMENT_COMPLETE.md
  DEPLOYMENT_SUMMARY.md
  GIT_PUSH_ISSUE.md
  INSTALLATION_VERIFICATION.md
  MERGE_NOW.md
  QUICK_FIX_REFERENCE.txt
  check_trading_status.sh
  docs/DEPLOYMENT.md
  docs/RL_Executive_Summary.md
  docs/RL_Quick_Start_Guide.md
  docs/RL_State_of_Art_2025_Technical_Report.md
  docs/llm_market_analysis_research_2025.md
  docs/llm_research_executive_summary.md
  docs/research_2025_ai_trading_papers.md
  fix_dependencies.sh
  src/main.py
  src/strategies/core_strategy.py
  start-trading-system.sh
  start_trading_system.sh
  status-trading-system.sh
  stop-trading-system.sh
  stop_trading_system.sh
  supervisor-trading-system.conf
  test-deployment.sh
  test_system.py
  trading-system.service
Due: none

feat: verify promotion guard and generate backtest infrastructure (#57)
  claude-progress.txt
  data/backtests/latest_summary.json
  data/backtests/matrix_core_dca/bull_run_2024/report.md
  data/backtests/matrix_core_dca/bull_run_2024/summary.json
  data/backtests/matrix_core_dca/covid_whiplash_2020/report.md
  data/backtests/matrix_core_dca/covid_whiplash_2020/summary.json
  data/backtests/matrix_core_dca/inflation_shock_2022/report.md
  data/backtests/matrix_core_dca/inflation_shock_2022/summary.json
Due: none

Claude/fix telemetry fixture 01 wyo amf8jbdfprt pqwgo w eb (#58)
  data/evaluations/evaluations_2025-12-01.json
  tests/fixtures/telemetry_sample.jsonl
Due: none

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
