Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

chore: Sync Alpaca paper account status [auto] (#1759)
  data/system_state.json
Due: verify-strategy-integration

chore(rag): Log PR hygiene session Jan 14 (#1760)
  data/rag/lessons/ll_189_pr_hygiene_jan14.json
Due: none

docs(blog): Rewrite Jan 14 post with compelling narrative and real data (#1761)
  docs/_posts/2026-01-14-cto-autonomous-decisions.md
Due: none

docs: Add Jan 14 daily report with trading psychology focus (#1762)
  docs/_reports/2026-01-14-daily-report.md
Due: none

chore: Sync Alpaca paper account status [auto] (#1764)
  data/system_state.json
Due: verify-strategy-integration

fix(trading): Emergency SOFI exit + Dialogflow data sync (#1766)
  scripts/exit_sofi_positions.py
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

chore(rag): Log PR hygiene session #2 Jan 14 (#1768)
  rag_knowledge/lessons_learned/ll_pr_hygiene_jan14_session2.md
Due: none

docs(blog): Rewrite Jan 7, 12, 13 posts with compelling narratives (#1769)
  docs/_posts/2026-01-07-the-silent-74-days.md
  docs/_posts/2026-01-12-lessons-learned.md
  docs/_posts/2026-01-13-day-74-strategy-pivot-credit-spreads.md
Due: none

docs(rag): Evaluate Systems Thinking audiobook - FLUFF verdict (#1772)
  rag_knowledge/lessons_learned/ll_191_systems_thinking_audiobook_evaluation_jan14.md
Due: none

fix(risk): Extend SOFI earnings blackout and add emergency close script (#1774)
  rag_knowledge/lessons_learned/LL-191.md
  scripts/emergency_close_sofi.py
  src/risk/trade_gateway.py
Due: smoke-tests, detect-dead-code

fix(critical): Resolve duplicate execution false positive blocking ALL trades (#1765)
  data/system_state.json
  scripts/check_duplicate_execution.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

fix(test): Fix GitHub URL assertion in portfolio status test (#1775)
  tests/test_dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

🚨 EMERGENCY: Add options close workflow for SOFI risk (#1777)
  .github/workflows/emergency-close-options.yml
  .github/workflows/run-emergency-close-sofi.yml
Due: validate-yaml-strict, validate-workflow-secrets

feat(trading): Add emergency SOFI exit workflow (#1767)
  .github/workflows/exit-sofi-emergency.yml
Due: validate-yaml-strict, validate-workflow-secrets

docs(eval): Evaluate Psychology of Money by Morgan Housel (#1771)
  data/rag/evaluations/psychology_of_money_housel_jan14.json
Due: none

docs(rag): Log SOFI earnings risk lesson LL-192 - CRITICAL (#1778)
  rag_knowledge/lessons_learned/ll_192_sofi_earnings_risk_jan14.md
Due: none

chore: Sync Alpaca paper account status [auto] (#1779)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#1781)
  data/system_state.json
Due: verify-strategy-integration

chore(rag): Log mandate violation lesson LL-193 (#1782)
  rag_knowledge/lessons_learned/ll_193_mandate_violation_manual_handoff_jan14.md
Due: none

fix(trading): Add emergency SOFI exit workflow (#1784)
  .github/workflows/emergency-sofi-exit.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix(trading): Use 30-45 DTE for credit spreads per CLAUDE.md (#1785)
  .github/workflows/execute-credit-spread.yml
Due: validate-yaml-strict, validate-workflow-secrets

chore: Sync Alpaca paper account status [auto] (#1786)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#1787)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#1788)
  data/system_state.json
Due: verify-strategy-integration

fix(blog): Fix 404 on blog posts (#1789)
  docs/_config.yml
  docs/index.md
Due: validate-yaml-strict

chore(rag): Log critical lesson LL-196 - SOFI emergency exit (#1791)
  data/rag/lessons/ll_196_sofi_emergency_exit_jan14.json
Due: none

fix(lint): Remove unused imports from emergency_close_sofi.py (#1792)
  scripts/emergency_close_sofi.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca paper account status [auto] (#1793)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#1794)
  data/system_state.json
Due: verify-strategy-integration

chore: Sync Alpaca paper account status [auto] (#1795)
  data/system_state.json
Due: verify-strategy-integration

fix(trading): Remove SOFI from tickers until Feb 1 earnings blackout (#1796)
  .github/workflows/daily-trading.yml
  scripts/execute_credit_spread.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

chore(rag): Log critical lesson LL-197 - SOFI ticker blackout violation (#1797)
  rag_knowledge/lessons_learned/ll_197_sofi_ticker_blackout_violation_jan14.md
Due: none

chore: Sync Alpaca paper account status [auto] (#1798)
  data/system_state.json
Due: verify-strategy-integration

refactor: Technical debt cleanup - remove dead code and fix data integrity (#1799)
  .github/workflows/ci.yml
  docs/_posts/2026-01-01-daily-activity.md
  docs/_posts/2026-01-02-daily-activity.md
  docs/_posts/2026-01-03-daily-activity.md
  docs/_posts/2026-01-04-daily-activity.md
  docs/_posts/2026-01-05-daily-activity.md
  docs/_posts/2026-01-06-daily-activity.md
  docs/_posts/2026-01-07-daily-activity.md
  docs/_posts/2026-01-08-daily-activity.md
  docs/_posts/2026-01-09-daily-activity.md
  docs/_posts/2026-01-10-daily-activity.md
  docs/_posts/2026-01-11-daily-activity.md
  rag_knowledge/lessons_learned/ll_185_agentic_memory_paper_evaluation_jan13.md
  rag_knowledge/lessons_learned/ll_196_trade_gateway_rule1_fix_jan13.md
  rag_knowledge/lessons_learned/ll_197_math_reality_check_jan13.md
  rag_knowledge/lessons_learned/ll_198_git_workflows_evaluation_jan13.md
  rag_knowledge/lessons_learned/ll_199_joseph_hogue_2026_outlook_evaluation_jan13.md
  rag_knowledge/lessons_learned/ll_200_semantic_caching_evaluation_jan13.md
  rag_knowledge/lessons_learned/ll_201_systems_thinking_audiobook_evaluation_jan14.md
  rag_knowledge/lessons_learned/ll_202_sofi_earnings_risk_jan14.md
  scripts/options_profit_planner.py
  src/agents/rl_agent.py
  src/analyst/__init__.py
  src/analyst/bias_store.py
  src/learning/__init__.py
  src/learning/trade_memory.py
  src/risk/options_risk_monitor.py
  src/signals/__init__.py
  src/signals/microstructure_features.py
Due: validate-yaml-strict, smoke-tests, validate-workflow-secrets, detect-dead-code

chore: Technical debt cleanup - delete 28 stale files, add stub (#1800)
  rag_knowledge/lessons_learned/ll_143_investment_strategy_audit_jan12.md
  rag_knowledge/lessons_learned/ll_154_tech_debt_audit_jan13.md
  rag_knowledge/lessons_learned/ll_155_technical_debt_audit_jan13.md
  rag_knowledge/lessons_learned/ll_177_codebase_audit_jan13.md
  rag_knowledge/lessons_learned/ll_178_ceo_qa_session_jan13.md
  rag_knowledge/lessons_learned/ll_182_resource_eval_options_audiobook_jan13.md
  rag_knowledge/lessons_learned/ll_184_graph_vs_vector_db_evaluation_jan13.md
  rag_knowledge/lessons_learned/ll_186_github_agent_hq_evaluation_jan13.md
  rag_knowledge/lessons_learned/ll_189_tradinglab_price_action_evaluation_jan13.md
  rag_knowledge/lessons_learned/ll_191_financial_minutes_3_strategies_evaluation_jan13.md
  rag_knowledge/lessons_learned/ll_192_pandrea_money_options_beginners_evaluation_jan14.md
  rag_knowledge/lessons_learned/ll_193_fabio_valentino_scalping_evaluation_jan14.md
  rag_knowledge/lessons_learned/ll_pr_hygiene_jan14_session2.md
  src/signals/options_iv_signal_generator.py
Due: smoke-tests, detect-dead-code

fix(dashboard): Update with accurate P/L (-$40.74)
  docs/index.md
Due: none
