Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$

chore: Sync Alpaca state [auto]
  data/TRADING_HALTED
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  docs/data/public_status.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: verify-strategy-integration

feat: implement high-ROI trade integrity infrastructure (fixed lint)
  src/agents/audit_agent.py
  src/agents/execution_agent.py
  src/resilience/audit_graph.py
Due: smoke-tests, detect-dead-code

feat: implement high-ROI trade integrity infrastructure
  artifacts/devloop/profit_readiness_scorecard.md
  src/agents/audit_agent.py
  src/agents/execution_agent.py
  src/resilience/audit_graph.py
  src/safety/constraint_engine.py
  src/schemas/events.py
  tests/test_audit_agent.py
Due: smoke-tests, detect-dead-code

style: fix formatting in self_healer.py [ci skip]
  src/resilience/self_healer.py
Due: smoke-tests, detect-dead-code

feat: implement verified Thursday-Only alpha gate (fixed security gate)
  artifacts/devloop/profit_readiness_scorecard.md
  data/TRADING_HALTED
  data/evaluated_resources.log
  data/runtime/autonomous_run_status_latest.json
  scripts/optimize_win_rate.py
  scripts/validate_thursday_gate.py
  src/agents/execution_agent.py
  src/safety/constraint_engine.py
Due: smoke-tests, detect-dead-code

chore: Sync Alpaca state [auto]
  data/TRADING_HALTED
  data/north_star_weekly_history.json
  data/runtime/intraday_pnl_history.json
  data/runtime/intraday_pnl_latest.json
  data/system_state.json
  docs/data/public_status.json
  wiki/Development-Engine-and-Evidence.md
  wiki/Home.md
  wiki/Progress-Dashboard.md
Due: verify-strategy-integration

feat(macro): Ingest May 2026 regime intelligence and adjust strategy
  .playwright-mcp/console-2026-05-11T18-00-23-256Z.log
  .playwright-mcp/page-2026-05-11T18-00-25-667Z.yml
  README.md
  docs/INVESTOR_PITCH.md
  docs/LIVE_STRATEGY.md
  docs/data/public_status.json
  scripts/autonomous/gate_promoter.py
  scripts/build_public_status.py
  scripts/iron_condor_trader.py
  src/agents/execution_agent.py
  src/ml/grpo_trade_learner.py
  src/safety/constraint_engine.py
  wiki/Home.md
Due: validate-yaml-strict, smoke-tests, detect-dead-code
