Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-workflow-secrets:
  name: Validate Workflow Secrets (Zero Tolerance)
  entry: python3 scripts/validate_workflow_secrets.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

detect-dead-code:
  name: Dead Code Detector
  entry: python3 scripts/detect_dead_code.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

verify-strategy-integration:
  name: Verify Strategy Integration (ll_012 Prevention)
  entry: python3 scripts/verify_strategy_integration.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-config-enums:
  name: Validate Config Enum Values (ll_033 Prevention)
  entry: python3 scripts/validate_config_enums.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-trading-script-syntax:
  name: Validate Critical Trading Scripts Syntax (ll_024 Prevention)
  ...

weekend-crypto-workflow-check:
  name: Weekend Crypto Workflow Validation
  entry: python3 -c "import yaml; f=open('.github/workflows/weekend-crypto-trading.yml'); d=yaml.safe_load(f); assert 'PYTHONPATH' in str(d), 'Missing PYTHONPATH'; assert 'CRYPTO_FORCE_TRADE' in str(d), 'Missing CRYPTO_FORCE_TRADE'"
  language: system
  ...

fix: Align trading strategy with CLAUDE.md (Day 74 Emergency) (#1537)
  data/tier2_watchlist.json
  scripts/guaranteed_trader.py
Due: smoke-tests, detect-dead-code

fix: Fix 404.html links for GitHub Pages baseurl (#1538)
  docs/404.md
Due: none

chore: Add lessons to local RAG (404 links, SPY price bug) (#1539)
  data/rag/lessons_learned.json
Due: none

fix: Remove 1396 lines of dead test code
  tests/test_gemini_failover.py
  tests/test_lancedb_feedback.py
  tests/test_rlhf_storage.py
  tests/test_telemetry_summary.py
Due: smoke-tests, detect-dead-code

chore: Record dead code cleanup lesson in RAG
  data/rag/lessons_learned.json
Due: none

fix: Relax Phil Town RAG requirements (CI fix)
  .github/workflows/enforce-phil-town-completeness.yml
Due: validate-yaml-strict, validate-workflow-secrets

docs: Add LL_135 - Steering tokens research evaluation (#1540)
  rag_knowledge/lessons_learned/ll_135_steering_tokens_not_applicable_jan12.md
Due: none

docs: Record lesson LL-139 - advanced RAG techniques assessment (#1541)
  rag_knowledge/lessons_learned/ll_139_advanced_rag_techniques_assessment_jan13.md
Due: none

docs: Record RAG analysis lesson (ll_139) (#1543)
  rag_knowledge/lessons_learned/ll_139_rag_system_analysis_jan13.md
Due: none

fix(rag): Use correct add_trade() method instead of non-existent add_document() (#1545)
  scripts/sync_trades_to_rag.py
Due: smoke-tests, detect-dead-code

fix: Make tests sandbox compatible (#1546)
  tests/integration/test_trading_pipeline.py
  tests/test_cancel_stale_orders.py
  tests/test_security.py
  tests/unit/test_budget_enforcement.py
Due: smoke-tests, detect-dead-code

docs: Add lesson LL-139 (Day 74 emergency fix)
  rag_knowledge/lessons_learned/ll_139_day74_emergency_fix_jan13.md
Due: none

fix: Replace stub modules with minimal implementations
  src/agents/rl_agent.py
  src/analyst/bias_store.py
  src/learning/trade_memory.py
  src/safety/mandatory_trade_gate.py
  src/signals/microstructure_features.py
Due: smoke-tests, detect-dead-code

chore: Record sandbox-resilient test lesson in RAG (ll_sandbox_tests) (#1548)
  data/rag/lessons_learned.json
Due: none

fix: Remove 2,325 lines of dead code (#1549)
  data/archived_posts_2025/2025-12-30-day-50-options-strategy-delivering.md
  data/archived_reports_2025/2025-12-19-daily-report.md
  data/archived_reports_2025/2025-12-20-daily-report.md
  data/archived_reports_2025/2025-12-22-daily-report.md
  data/archived_reports_2025/2025-12-30-daily-report.md
  data/archived_reports_2025/2026-01-05-daily-report.md
  data/archived_reports_2025/2026-01-06-daily-report.md
  src/core/risk_manager.py
  src/options/__init__.py
  src/options/iv_data_integration.py
Due: smoke-tests, detect-dead-code

fix: Remove 3,919 lines of unused sentiment modules
  data/memory/claims/claims_20260113_013653_92140bfb.json
  data/memory/lessons/lessons_20260113_013653_ab68df77.json
  data/memory/sessions.json
  data/memory/trades/trades_20260113_013653_41f2af3c.json
  reports/ml_signals/ml_report_2026-01-13.json
  src/utils/linkedin_sentiment.py
  src/utils/news_sentiment.py
  src/utils/reddit_sentiment.py
  src/utils/tiktok_sentiment.py
  src/utils/unified_sentiment.py
Due: smoke-tests, detect-dead-code

chore: Record 5,315 line cleanup in RAG
  data/rag/lessons_learned.json
Due: none

fix: Add predict method to RLFilter for system health check (#1553)
  rag_knowledge/lessons_learned/ll_140_safe_dead_code_cleanup_jan13.md
  src/agents/rl_agent.py
Due: smoke-tests, detect-dead-code

fix: Correct test mocking for cancel_stale_orders and memory gate (#1555)
  tests/test_cancel_stale_orders.py
  tests/test_security.py
Due: smoke-tests, detect-dead-code

chore: Remove dead code - 23 files deleted (LL-145) (#1556)
  rag_knowledge/lessons_learned/ll_138_technical_debt_audit_jan12.md
  rag_knowledge/lessons_learned/ll_143_investment_strategy_audit_jan12.md
  rag_knowledge/lessons_learned/ll_144_stale_order_threshold_fix_jan12.md
  rag_knowledge/lessons_learned/ll_145_technical_debt_cleanup_jan13.md
  scripts/__init__.py
  scripts/budget_burn_report.py
  scripts/credit_spread_trader.py
  scripts/detect_placeholders.py
  scripts/diagnose_paper_trading.py
  scripts/emergency_rollback.py
  scripts/pre_cleanup_check.py
  scripts/run_backtest_matrix.py
  scripts/small_capital_csp.py
  scripts/test_alpaca_connectivity.py
  scripts/test_alpaca_credentials_local.py
  scripts/token_usage_report.py
  scripts/train_from_feedback.py
  scripts/trigger_ci_task.py
  scripts/update_alpaca_secrets.py
  scripts/update_blog_positions.py
  scripts/verify_alpaca_credentials.py
  scripts/verify_code_hygiene.py
  src/agents/fallback_strategy.py
  src/agents/meta_agent.py
  src/agents/research_agent.py
  src/agents/risk_agent.py
  src/agents/signal_agent.py
Due: smoke-tests, detect-dead-code

chore: Remove orphaned test for deleted update_blog_positions.py (#1558)
  tests/test_update_blog_positions.py
Due: smoke-tests, detect-dead-code

chore: Technical debt cleanup - delete 2,340 lines dead code, fix bugs (#1560)
  rag_knowledge/lessons_learned/ll_136_technical_debt_audit_jan12.md
  rag_knowledge/lessons_learned/ll_139_sandbox_vs_github_api_access_jan12.md
  src/agents/execution_agent.py
  src/orchestration/elite_orchestrator.py
  src/rag/process_rewards.py
  src/rag/rl_feedback.py
  src/risk/kelly.py
  src/risk/vix_circuit_breaker.py
  src/utils/tax_optimization.py
  tests/test_risk_management_restored.py
Due: test-crypto-imports, smoke-tests, detect-dead-code

chore: Technical debt cleanup - delete dead code and stale files (#1559)
  TRIGGER_TRADE.md
  rag_knowledge/lessons_learned/ll_140_technical_debt_audit_jan13.md
Due: none

chore: Remove orphaned tests for deleted scripts (#1563)
  tests/test_credit_spread_trader.py
  tests/test_small_capital_csp.py
Due: smoke-tests, detect-dead-code

feat: Centralized trading thresholds and CSP capital fix (#1564)
  src/constants/__init__.py
  src/constants/trading_thresholds.py
  src/risk/capital_efficiency.py
Due: smoke-tests, detect-dead-code

fix: Update health check to show actual RAG lesson count (#1567)
  scripts/system_health_check.py
Due: smoke-tests, detect-dead-code

chore: Remove orphaned tests for deleted scripts (#1568)
  scripts/run_smoke.sh
  src/options/README.md
  src/orchestration/mcp_trading.py
  src/utils/self_healing.py
  tests/test_vix_circuit_breaker.py
Due: smoke-tests, detect-dead-code

fix(security): Add chmod 600 to GCP key files (LL-146) (#1569)
  .github/workflows/cleanup-vertex-rag.yml
  .github/workflows/daily-trading.yml
  .github/workflows/vertex-rag-pretrade.yml
  rag_knowledge/lessons_learned/ll_146_gcp_key_security_fix_jan13.md
Due: validate-yaml-strict, validate-workflow-secrets

docs(rag): Record CRITICAL lesson LL-146 - zero options buying power (#1570)
  rag_knowledge/lessons_learned/ll_146_zero_options_buying_power_root_cause_jan13.md
Due: none

chore: Update system state after analysis session (#1571)
  data/system_state.json
Due: verify-strategy-integration

chore: Technical debt cleanup - delete 3 orphan files, fix test imports (#1572)
  src/utils/bogleheads_integration.py
  src/utils/constants.py
  src/utils/telemetry_summary.py
  tests/test_orchestrator_main.py
  tests/test_telemetry_summary.py
Due: smoke-tests, detect-dead-code

fix: Delete dead code and duplicate RAG lessons from audit (#1573)
  .claude/REFERENCE.md
  .claude/commands.md
  .claude/hooks/README.md
  rag_knowledge/lessons_learned/ll_135_steering_tokens_not_applicable_jan12.md
  rag_knowledge/lessons_learned/ll_143_investment_strategy_audit_jan12.md
  src/core/skills_integration.py
  src/orchestration/__init__.py
  src/orchestration/adaptive_orchestrator.py
Due: smoke-tests, detect-dead-code

fix(critical): Unblock daily trading - fix hardcoded SPY price (#1575)
  data/rag/lessons_learned.json
  scripts/simple_daily_trader.py
Due: smoke-tests, detect-dead-code

fix(dialogflow): Route analytical queries (WHY) to RAG not status (#1576)
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

test: Remove placeholder tests for honesty (LL-147) (#1577)
  rag_knowledge/lessons_learned/ll_147_placeholder_tests_removed_jan13.md
  tests/test_orchestrator_main.py
  tests/test_smoke.py
Due: smoke-tests, detect-dead-code

test(dialogflow): Add tests for is_analytical_query detection (#1578)
  tests/test_dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$
