Repository YoByron/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-crypto-imports, test-dashboard-metrics, validate-yaml-strict, test-dashboard-output, smoke-tests, validate-workflow-secrets, detect-dead-code, verify-strategy-integration, validate-config-enums, validate-trading-script-syntax, weekend-crypto-workflow-check

test-crypto-imports:
  name: Test Crypto Trading Imports (No RAG)
  entry: bash scripts/pre_commit_test_crypto_imports.sh
  language: system
  pass_filenames: false

test-dashboard-metrics:
  name: Test Dashboard Metrics Completeness
  entry: python3 tests/test_dashboard_metrics.py
  language: system
  pass_filenames: false
  verbose: true

validate-yaml-strict:
  name: Strict YAML Validation
  entry: bash scripts/validate_yaml_before_commit.sh
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true

test-dashboard-output:
  name: Test Dashboard Output Completeness
  entry: python3 tests/test_dashboard_output.py
  language: system
  pass_filenames: false
  verbose: true

smoke-tests:
  name: Smoke Tests - Critical Path Verification
  entry: python3 tests/test_smoke.py
  language: python
  additional_dependencies:
  - numpy
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-workflow-secrets:
  name: Validate Workflow Secrets (Zero Tolerance)
  entry: python3 scripts/validate_workflow_secrets.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

detect-dead-code:
  name: Dead Code Detector
  entry: python3 scripts/detect_dead_code.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

verify-strategy-integration:
  name: Verify Strategy Integration (ll_012 Prevention)
  entry: python3 scripts/verify_strategy_integration.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-config-enums:
  name: Validate Config Enum Values (ll_033 Prevention)
  entry: python3 scripts/validate_config_enums.py
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

validate-trading-script-syntax:
  name: Validate Critical Trading Scripts Syntax (ll_024 Prevention)
  ...

weekend-crypto-workflow-check:
  name: Weekend Crypto Workflow Validation
  entry: python3 -c "import yaml; f=open('.github/workflows/weekend-crypto-trading.yml'); d=yaml.safe_load(f); assert 'PYTHONPATH' in str(d), 'Missing PYTHONPATH'; assert 'CRYPTO_FORCE_TRADE' in str(d), 'Missing CRYPTO_FORCE_TRADE'"
  language: system
  ...

fix: Re-enable Vertex AI RAG for pre-trade with cost optimizations (#2903)
  .github/workflows/daily-trading.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Use correct Alpaca secret names in IC workflow (#2904)
  .github/workflows/manage-iron-condor-positions.yml
Due: validate-yaml-strict, validate-workflow-secrets

fix: Dialogflow returns relevant lessons instead of random failures (#2905)
  src/agents/dialogflow_webhook.py
Due: smoke-tests, detect-dead-code

docs: Add LL-299 Iron Condor Adjustment Strategies (#2906)
  rag_knowledge/lessons_learned/LL-299_Iron_Condor_Adjustment_Strategies.md
Due: none

fix: Document RL stub and add data staleness warnings (#2907)
  scripts/session_start_verification.py
  src/agents/rl_agent.py
Due: smoke-tests, detect-dead-code

docs: Add LL-300 Dialogflow RAG Query Fix lesson (#2909)
  rag_knowledge/lessons_learned/LL-300_Dialogflow_RAG_Query_Fix_Jan23.md
Due: none

feat: Add missing train_from_feedback.py for ML learning loop (#2910)
  scripts/train_from_feedback.py
  tests/test_train_from_feedback.py
Due: smoke-tests, detect-dead-code

docs: Add LL-301 IC position management lesson (#2912)
  data/feedback/stats.json
  models/ml/feedback_model.json
  rag_knowledge/lessons_learned/LL-301_IC_Position_Management_System_Jan23.md
Due: none

docs: Add LL-301 Q1 2026 Tax Action Plan (#2913)
  rag_knowledge/lessons_learned/LL-301_Q1_2026_Tax_Action_Plan.md
Due: none

chore: Update feedback model state (#2915)
  models/ml/feedback_model.json
Due: none

chore: Update feedback model state (#2916)
  models/ml/feedback_model.json
Due: none

docs: Add LL-302 RLHF Thompson Sampling model lesson (#2919)
  rag_knowledge/lessons_learned/LL-302_RLHF_Thompson_Sampling_Model_Jan24.md
Due: none

chore: Sync dashboard data [auto] (#2923)
  data/system_state.json
  docs/_reports/2026-01-22-daily-report.md
  docs/index.md
  models/ml/feedback_model.json
  rag_knowledge/lessons_learned/LL-301_RLHF_Training_Pipeline_Complete_Jan23.md
  rag_knowledge/lessons_learned/LL-302_ML_RAG_Integration_Analysis_Jan23.md
  src/safety/mandatory_trade_gate.py
  tests/test_mandatory_trade_gate.py
Due: smoke-tests, detect-dead-code, verify-strategy-integration

docs: Humanize blog content with real stories and links (#2924)
  docs/_posts/2026-01-22-ralph-discovery.md
  docs/_posts/2026-01-23-ralph-discovery.md
  docs/_posts/2026-01-24-ralph-discovery.md
  docs/index.md
  scripts/ralph_discovery_blog.py
Due: smoke-tests, detect-dead-code

docs: Add LL-303 PR management lesson (#2925)
  data/system_state.json
  models/ml/feedback_model.json
  rag_knowledge/lessons_learned/LL-303_PR_Management_System_Hygiene_Jan24.md
Due: verify-strategy-integration

fix: Rename ambiguous variable 'l' to 'line' (E741) (#2926)
  scripts/ralph_discovery_blog.py
Due: smoke-tests, detect-dead-code

fix: Resolve E402 lint errors (import order) (#2929)
  rag_knowledge/lessons_learned/LL-304_System_Hygiene_Weekend_Jan24.md
  src/agents/dialogflow_webhook.py
  src/agents/execution_agent.py
  src/safety/mandatory_trade_gate.py
Due: smoke-tests, detect-dead-code

docs: Update LL-302 - Thompson posterior reached 0.90 target (#2931)
  data/system_state.json
  docs/index.md
  models/ml/feedback_model.json
  rag_knowledge/lessons_learned/LL-302_ML_RAG_Integration_Analysis_Jan23.md
Due: verify-strategy-integration

docs: Add LL-305 CI Lint Fix E741 lesson (#2932)
  rag_knowledge/lessons_learned/LL-305_CI_Lint_Fix_E741_Jan24.md
Due: none

chore: Update ML model - posterior=0.917 (#2937)
  data/system_state.json
  models/ml/feedback_model.json
Due: verify-strategy-integration

docs(rag): Add 5 research lessons (LL-244 to LL-248) (#2939)
  data/rag/lessons_learned.json
Due: none

chore: Update system state timestamps (#2944)
  data/evaluated_resources.log
  data/system_state.json
Due: verify-strategy-integration

chore: Update system state timestamps (#2945)
  data/system_state.json
Due: verify-strategy-integration

feat(rag): Add LL-306 lesson + Resource evaluation (AI Agents Guide) (#2947)
  data/rag/lessons/ll_306_cto_ignores_surfaced_rag_jan25.json
  data/system_state.json
  rag_knowledge/lessons_learned/LL-306_CTO_Ignores_Surfaced_RAG_Lessons_Jan25.md
Due: verify-strategy-integration

chore: Update feedback model weights (#2948)
  models/ml/feedback_model.json
Due: none

fix: Add missing DebateModerator class + LL-307 lesson (#2949)
  data/rag/lessons/ll_307_resource_evaluation_protocol_jan25.json
  models/ml/feedback_model.json
  src/agents/debate_agents.py
Due: smoke-tests, detect-dead-code

feat(rag): Add LL-308 lesson - RAG lesson application verification (#2953)
  data/rag/lessons/ll_308_rag_lesson_application_verification_jan25.json
  src/risk/trade_gateway.py
Due: smoke-tests, detect-dead-code

chore: Sync state and feedback model (#2955)
  data/system_state.json
  models/ml/feedback_model.json
Due: verify-strategy-integration

feat(ml): Add fix and trade features to feedback model (#2956)
  models/ml/feedback_model.json
Due: none

feat(rag): Add LL-309 lesson (#2957)
  data/rag/lessons/ll_309_feedback_feature_expansion_jan25.json
  data/system_state.json
Due: verify-strategy-integration

feat(rag): Add LL-309 iron condor optimal control research (#2959)
  rag_knowledge/lessons_learned/ll_309_iron_condor_optimal_control_research_jan25.md
Due: none

docs(rag): Add LL-249 PR hygiene lesson, update system state (#2960)
  data/rag/lessons_learned.json
  data/system_state.json
Due: verify-strategy-integration

chore: Update RLHF feedback model state (#2962)
  models/ml/feedback_model.json
Due: none

feat(rag): Add LL-310 VIX timing for iron condor entry (#2963)
  rag_knowledge/lessons_learned/ll_310_vix_timing_iron_condor_entry_jan25.md
Due: none

feat(rag): Add LL-310 lesson - Iteration 7 RAG learning cycle (#2966)
  data/rag/lessons/ll_310_iteration7_rag_learning_cycle_jan25.json
Due: none

docs(rag): Add LL-310 MemRL evaluation - FLUFF verdict (#2969)
  rag_knowledge/lessons_learned/LL-310_MemRL_RAG_Comparison_Evaluation_FLUFF.md
Due: none

docs: Update LL-302 + add LL-306 RAG learning synthesis (#2970)
  data/system_state.json
  models/ml/feedback_model.json
  rag_knowledge/lessons_learned/LL-302_ML_RAG_Integration_Analysis_Jan23.md
  rag_knowledge/lessons_learned/LL-306_RAG_Learning_Synthesis_Jan25.md
Due: verify-strategy-integration

Path conditions:
  test-crypto-imports: any of: (src/rag/|src/deepagents_integration/|src/strategies/crypto_strategy\.py|scripts/autonomous_trader\.py) and \.py$
  test-dashboard-metrics: any of: (scripts/dashboard_metrics\.py|scripts/enhanced_dashboard_metrics\.py|scripts/generate_world_class_dashboard.*\.py) and \.py$
  validate-yaml-strict: any of: \.(yaml|yml)$
  test-dashboard-output: any of: (scripts/generate.*dashboard.*\.py) and \.py$
  smoke-tests: any of: (scripts/|src/|tests/) and \.py$
  validate-workflow-secrets: any of: \.github/workflows/.*\.yml$ and \.(yaml|yml)$
  detect-dead-code: any of: \.py$
  verify-strategy-integration: any of: (data/system_state\.json|scripts/autonomous_trader\.py|config/strategy_registry\.json)
  validate-config-enums: any of: (config/.*\.json|src/strategies/registry\.py)
  validate-trading-script-syntax: any of: (scripts/autonomous_trader\.py|src/strategies/crypto_strategy\.py)
  weekend-crypto-workflow-check: any of: \.github/workflows/weekend-crypto-trading\.yml$
